<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/media/styles/webapp.css" />
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
<script>
function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<div class="navbar">
  <table>
    <tr>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/" style="display:block;"><i class="material-icons md-5">event_note</i>
        <br>Schedule</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitemap" style="display:block;"><i class="material-icons md-5">map</i>
        <br>Map</a></td>
      <td class="selected"><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitecatalog" style="display:block;"><i class="material-icons md-5">event</i>
        <br>Catalog</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitesurvey" style="display:block;"><i class="material-icons md-5">question_answer</i>
        <br>Survey</td>
    </tr>
  </table>
</div>

<center>
  <div class="main">
    <table class="studentschedule">
        <tbody>
            <tr>
                <th colspan="4">
                    <span>
                        <a name="top"></a>{{ program.niceName }} Course Catalog{% if timeslot %}<br><i>Viewing classes for: {{ timeslot.short_description }}</i>{% endif %}
                    </span>
                </th>
            </tr>
            <tr style="border-bottom: none">
                <td colspan="2">
                    <b>Jump to Categories</b>
                </td>
            </tr>
            {% for category in categories %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr {% if forloop.revcounter > 2 %}style="border-bottom: none"{% endif %}>{% endif %}
                <td class="header_category" valign="top" align="center">
                    <a href="#cat{{ category.id }}" title="Click to skip down to `{{ category.category }}'">
                    {{category.category}}
                    </a>
                </td>
            {% if forloop.counter|divisibleby:2 %}
            </tr>{% endif %} 
            {% endfor %}
            {% if not categories|length|divisibleby:2 %}
            <td>&nbsp;</td>
            </tr>
            {% endif %}
            
            {% for class in classes %}
                <tr style="border-bottom: none; {% ifchanged class.category_id %}border-top: 1px solid black;{% endifchanged %}">
                <td colspan="2">
                {% ifchanged class.category_id %}
                    <a name="cat{{class.category_id}}"></a>
                    <div class="category">
                        <b>{{ class.category.category }}</b>
                    </div>
                    <div class="linktop">
                        <button onclick="topFunction()">Return to Category List</button>
                    </div>
                    <br />
                {% endifchanged %}

                <!--render class here-->
                    <div class="class_title">
                        {{ class.emailcode }}: {{ class.title }}
                    </div>
                    <div class="class_teachers">
                        {% for teacher in class.get_teachers %}
                        {{ teacher.first_name }} {{teacher.last_name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                    <div class="class_content">
                        {% autoescape off %}
                            {{ class.class_info|escape|linebreaksbr }}
                        {% endautoescape %}
                        {% if class.class_style %}
                            <br /><b>Class Style:</b> <i>{{ class.class_style }}</i>
                        {% endif %}
                        {% if class.prereqs %}
                            <br /><b>Prerequisites:</b> <i>{{ class.prereqs }}</i>
                        {% endif %}
                    </div>
                    <div class="class_grades">
                        <b>Grades:</b> {{ class.grade_min }} - {{ class.grade_max }}
                    </div>
                    <div class="class_meeting_times">
                        {% if not timeslot %}
                        {% for sec in class.get_sections %}
                           {% if not sec.friendly_times|length_is:0 %}Section {{ sec.index }}: {{ sec.friendly_times|join:", "}}{% endif %}{% if sec.isFull or is_closed %}<b><font color="#990000"> (Full!)</font></b>{% endif %}<br />
                        {% endfor %}
                        {% endif %}
                    </div>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</center>

</body>