<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/media/styles/webapp.css" />
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div class="navbar">
  <table>
    <tr>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/" style="display:block;"><i class="material-icons md-5">event_note</i>
        <br>Schedule</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitemap" style="display:block;"><i class="material-icons md-5">map</i>
        <br>Map</a></td>
      <td class="selected"><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitecatalog" style="display:block;"><i class="material-icons md-5">event</i>
        <br>Catalog</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/onsitesurvey" style="display:block;"><i class="material-icons md-5">question_answer</i>
        <br>Survey</td>
    </tr>
  </table>
</div>

<center>
  <div class="main">
    <table class="studentschedule">
        <tbody>
            <tr>
                <th colspan="4">
                    <span>
                        {{ program.niceName }} Course Catalog{% if timeslot %}<br><i>Viewing classes for: {{ timeslot.short_description }}</i>{% endif %}
                    </span>
                </th>
            </tr>
            <tr style="border-bottom: none">
                <td colspan="2">
                    <a name="top"></a>Jump to Categories
                </td>
            </tr>
            {% for category in categories %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr {% if forloop.revcounter > 2 %}style="border-bottom: none"{% endif %}>{% endif %}
                <td style="width: 50%; vertical-align: top;" valign="top" align="center">
                    <a href="#cat{{ category.id }}" title="Click to skip down to `{{ category.category }}'">
                    {{category.category}}
                    </a>
                </td>
            {% if forloop.counter|divisibleby:2 %}
            </tr>{% endif %} 
            {% endfor %}
            {% if not categories|length|divisibleby:2 %}
            <td>&nbsp;</td>
            </tr>
            {% endif %}
            
            {% for class in classes %}
                <tr style="border-bottom: none">
                <td colspan="2">
                {% ifchanged class.category_id %}
                    <a name="cat{{class.category_id}}"></a>
                    <p class="category">
                        {{ class.category.category }}
                    </p>
                    <p class="linktop">
                        <a href="#top">[ Return to Category List ]</a>
                    </p> {% endifchanged %}

                <!--render class here-->
                    {{ class.title }}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</center>

</body>