{% extends "program/modules/studentonsite/webapp.html" %}


{% block body %}
<center>
  <div class="main">
    <table class="studentschedule">
        <tbody>
            <tr class="catalog">
                <th colspan="2">
                    <span>Class Conflict</span>
                </th>
            </tr>
            <tr class="class_row">
                <td colspan="2" style="padding: 20px; text-align: center;">
                    <p style="font-size: 1.2em;"><b>{{ confirm_msg }}</b></p>
                    <form method="post" action="{{ prereg_url }}" style="margin-top: 20px; display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="class_id" value="{{ class_id }}" />
                        <input type="hidden" name="section_id" value="{{ section_id }}" />
                        <input type="hidden" name="force_replace" value="true" />
                        <button type="submit" class="btn" style="background-color: #d9534f; color: white; margin-right: 10px; padding: 10px 15px; border-radius: 5px; border: none; cursor: pointer;">Yes, replace class</button>
                        <a href="{{ program.get_learn_url }}studentonsite" class="btn" style="background-color: #5bc0de; color: white; text-decoration: none; padding: 10px 15px; border-radius: 5px; border: none; display: inline-block;">Cancel</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</center>
{% endblock %}
