<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/media/styles/webapp.css" />
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<div class="navbar">
  <table>
    <tr>
      <td class="selected"><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/" style="display:block;"><i class="material-icons md-5">event_note</i>
        <br>Schedule</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/map" style="display:block;"><i class="material-icons md-5">map</i>
        <br>Map</a></td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/catalog" style="display:block;"><i class="material-icons md-5">event</i>
        <br>Catalog</td>
      <td><a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/survey" style="display:block;"><i class="material-icons md-5">question_answer</i>
        <br>Survey</td>
    </tr>
  </table>
</div>

<center>

  <div class="main">
    <table class="studentschedule">
      <tbody>
        {% for timeslot in timeslots %}
        {% ifchanged timeslot.0.start.day %}
            <tr>
                <th colspan="4"><span class="large bold">{{ timeslot.0.pretty_date }}</span></th>
            </tr>
        {% endifchanged %}
        <tr>
            {% with timeslot.1.0 as cls %}
                <td class="time">{{ timeslot.0.short_time }}</td>
                <td class="cls">
                {% if cls %}
                    <!--link to course details?-->
                    {{ cls.section.title }}{% if not cls.first_meeting_time %} <b>(continued)</b>{% endif %}
                {% else %}
                    No class
                {% endif %}
                </td>
                <td class="location">
                    <!--link to map focused on location?-->
                    {{ cls.section.prettyrooms|join:", " }}
                </td>
                <td class="edit">
                    {% if class_changes %}
                        <!--link to filtered course catalog like the fillslot page-->
                        <a class="no-dec" href="/learn/{{one}}/{{two}}/studentonsite/catalog/{{timeslot.0.id}}"><i class="material-icons md-5">{% if cls %}edit_mode{% else %}add{% endif %}</i></a>
                    {% else %}
                        <!--otherwise, grey out icon-->
                        <i class="material-icons md-5 greyed">{% if cls %}edit_mode{% else %}add{% endif %}</i>
                    {% endif %}
                </td>
            {% endwith %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
</center>

</body>