{% extends "program/modules/studentonsite/webapp.html" %}

{% block body %}

{% load modules %}

<center>
    <div class="main">
        <table>
            <tr>
                <th class="user_info">
                    <i>Self Checkin for {{user.first_name}} {{user.last_name}} - ID: {{user.id}}</i>
                </th>
            </tr>
        </table>
        {% if checked_in %}
        <table>
            <tr>
                <td>
                    You are already checked in. <a href="/learn/{{one}}/{{two}}/studentonsite">Click here</a> to go to your class schedule.
                </td>
            </tr>
        </table>
        {% elif modules or records or owes_money %}
        <table>
            <tr>
                <td>
                    <b>You must complete the following registration requirements before you can check yourself in:</b>
                </td>
            </tr>
            {% for module in modules %}
            <tr>
                <td>
                {% autoescape off %}{{ module.makeSelfCheckinLink }}{% endautoescape %}
                {% if module.required_label %}<i>{{ module.required_label }}</i>{% endif %}
                </td>
            </tr>
            {% endfor %}
            {% for record in records %}
            <tr>
                <td>{{ record.full_event }}</td>
            </tr>
            {% endfor %}
            {% if owes_money %}
            <tr>
                <td>{% if payment_url %}<a title="Pay your balance" class="vModuleLink" href="/learn/{{one}}/{{two}}/{{ payment_url }}">Pay your balance</a>{% else %}See an admin team member to pay your balance{% endif %}</td>
            </tr>
            {% endif %}
        </table>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            <table id="checkin_form">
                <tr>
                    <td colspan="2">
                        {% if mode == "code" %}
                        Enter your self checkin code below, then hit Submit to check yourself in
                        {% else %}
                        Click the Submit button to check yourself in
                        {% endif %}
                    </td>
                </tr>
                {{ form.as_table }}
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit" style="font-size: xx-large;">
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>
</center>

{% endblock %}