{% extends "program/modules/studentonsite/webapp.html" %}

{% block body %}
{% load survey %}
<center>
  <div class="main survey">
    <table>
        <tr><th>Survey for {{ program.niceName }}</th></tr>
    {% if survey_status == "completed" %}
        <tr><td>You've already filled out the survey. Thanks for responding!</td></tr>
        </table>
    {% elif survey_status == "submitted" %}
        <tr><td>Thanks for filling out the survey!</td></tr>
        </table>
    {% elif survey_status == "none" %}
        <tr><td>No survey for this program</td></tr>
        </table>
    {% else %}
        </table>
        <div id="program_form">
        <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {% for question in questions %}{{ question.render|uselist:classes }}{% endfor %}

        {% if perclass_questions %}
        {% if timeslots %}
            {% for ts in timeslots %}
                <table class="fullwidth">
                <tr>
                    <th>Questions for {{ ts.description }}</th>
                </tr>
                </table>
                <table class="fullwidth">
                <tr>
                    <td width="35%">
                        <label for="id_attendance_{{ ts.id }}"><b>Which class did you attend in this timeblock?</b></label>
                    </td>
                    <td>
                        <select name="attendance_{{ ts.id }}" id="id_attendance_{{ ts.id }}">
                            <option value="0">[None]</option>
                            {% for sec in ts.classsections %}
                                <option value="{{ sec.id }}" {% if sec.selected %}selected="selected"{% endif %}>{{ sec.parent_class.title }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </table>
                <div id="perclass_questions_{{ ts.id }}">
                {% for question in perclass_questions %}
                    {{ question.render|substitute:ts }}
                {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            {% for sec in sections %}
              <table class="fullwidth">
               <tr>
                    <th>Questions for {{ sec.emailcode }}: {{ sec.title }} ({% for tm in sec.friendly_times %}{% if forloop.counter > 1 %},{% endif %}{{ tm }}{% endfor %})</th>
                </tr>
                </table>
                {% for question in perclass_questions %}
                    {{ question.render|substitute:sec }}
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% endif %}

        <table>
            <tr>
                <th>Submit</th>
            </tr>
            <tr>
                <td align="center">
                    Click the button below to finish your survey.  Thank you so much for your time!<br /><br />
                    <input style="font-size: 3vh !important;" type="Submit" class="btn" value="Submit Survey" /><br />
                </td>
            </tr>
        </table>
        </form>
        </div>
    {% endif %}
  </div>
</center>

{% endblock %}