{% extends "program/modules/studentonsite/webapp.html" %}

{% block body %}
<center>
  <div class="main survey">
    <table>
        <tr><th>Survey for {{ program.niceName }}</th></tr>
    {% if survey_status == "completed" %}
        <tr><td>You've already filled out the survey. Thanks for responding!</td></tr>
        </table>
    {% elif survey_status == "submitted" %}
        <tr><td>Thanks for filling out the survey!</td></tr>
        </table>
    {% elif survey_status == "none" %}
        <tr><td>No survey for this program</td></tr>
        </table>
    {% else %}
        </table>
        {% include "survey/survey_form.html" %}
    {% endif %}
  </div>
</center>

{% endblock %}