<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/media/default_styles/webapp.css" />
    <title>
        {% block title %}Student Webapp for {{program.niceName}}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar">
  <a class="navbar-item{% if webapp_page == "schedule" %} selected{% endif %}" href="/learn/{{one}}/{{two}}/studentonsite/">
    <i class="material-icons md-5">event_note</i>
    <span>Schedule</span>
  </a>
  {% if map_tab %}
  <a class="navbar-item{% if webapp_page == "map" %} selected{% endif %}" href="/learn/{{one}}/{{two}}/onsitemap">
    <i class="material-icons md-5">map</i>
    <span>Map</span>
  </a>
  {% endif %}
  <a class="navbar-item{% if webapp_page == "catalog" %} selected{% endif %}" href="/learn/{{one}}/{{two}}/onsitecatalog">
    <i class="material-icons md-5">event</i>
    <span>Catalog</span>
  </a>
  {% if survey_status != "none" %}
  <a class="navbar-item{% if webapp_page == "survey" %} selected{% endif %}" href="/learn/{{one}}/{{two}}/onsitesurvey">
    <i class="material-icons md-5">question_answer</i>
    <span>Survey</span>
  </a>
  {% endif %}
</nav>
{% block body %}{% endblock %}
</body>
</html>
