{% extends "elements/html" %}

{% comment %}
Customize your title formatting here.  For example:
{% block fulltitle %}Splash at UFoo - {% block title %}{% endblock %}{% endblock %} 
{% endcomment %}
{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% comment %}
    If you would like to customize the appearance of your site beyond the possibilities of the theme editor, you may add additional stylesheets here.
    Example stylesheet inclusion tag:
    <link rel="stylesheet" href="/media/styles/main.css" type="text/css" />
    {% endcomment %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/theme/sidebar.js"></script>
{# Customize your scripts here #}
{% endblock %}

{% block body %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar%}

{% block main %}

<div class="container">
  <div class="row">
    {% block sidebar %}
    <div class="hidden" id="sidebar">
      <ul class="nav nav-list sidebar">
	{% include "sidebar/me.html" %}
	{% include "sidebar/programs.html" %}
    {% include "sidebar/admin.html" %}
      </ul>

    {% load preview %}
    {% if request.path == "/teach/index.html" %}
        {% miniblog_for_user AnonymousUser as announcements teach 3 %}
    {% else %}
        {% miniblog_for_user AnonymousUser as announcements learn 3 %}
    {% endif %}

      {% if not announcements.announcementList|length_is:0 %}
      <ul class="nav nav-list sidebar">
        <li class="nav-header"> Announcements</li>
        {% for announce in announcements.announcementList %}
        <li>
            {% if announce.makeUrl %}
            <a href="{{ announce.makeUrl }}">{{ announce.makeTitle }}</a>
            {% else %}
            {{ announce.makeTitle }}
            {% endif %}
        </li>
        {% endfor %}
        {% if announcements.overflowed %}
        <li id="divannouncemore">
              <a href="/myesp/home/">More Notices...</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    {% endblock %}

    <div id="main" class="span12 resizable">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
</div>
{% endblock %} {# end block main #}

<div class="container">
  <footer>
    <hr />
    {% block footer %}
    <div class="onsite hidden"><a href="/myesp/onsite/">On-Site Registration</a></div>
    {% endblock %}
  </footer>
</div>


{% endblock %} {# end block body #}
