{% extends "elements/html" %}

{% comment %}
Customize your title formatting here. For example:
{% block fulltitle %}Splash at UFoo - {% block title %}{% endblock %}{% endblock %}
{% endcomment %}
{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}

{% block stylesheets %}
{{ block.super }}
{% comment %}
If you would like to customize the appearance of your site beyond the possibilities of the theme editor, you may add
additional stylesheets here.
Example stylesheet inclusion tag:
<link rel="stylesheet" href="/media/styles/main.css" type="text/css" />
{% endcomment %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/theme/sidebar.js"></script>
{# Customize your scripts here #}
{% endblock %}

{% block body %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock navbar%}

{% block main %}

<div class="container">
  <div class="row">
    {% block sidebar %}
    <div class="hidden" id="sidebar">
      <ul class="nav nav-list sidebar">
        {% include "sidebar/me.html" %}
        {% include "sidebar/programs.html" %}
        {% include "sidebar/admin.html" %}
      </ul>

    </div>
    {% endblock %}

    <div id="main" class="span12 resizable">
      {% include "elements/banners" %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %} {# end block main #}

<div class="container">
  <footer>
    <hr />
    {% block footer %}
    <div class="onsite hidden"><a href="/myesp/onsite/">On-Site Registration</a></div>
    <div>
      {% load render_qsd %}
      {% inline_qsd_block "footer_text" %}
      {% end_inline_qsd_block %}
    </div>
    <div>
      <p>Copyright {{ theme.mtime.year }}, {{ settings.ORGANIZATION_SHORT_NAME }} at {{ settings.INSTITUTION_NAME }} -
        <a href="mailto:{{ settings.DEFAULT_EMAIL_ADDRESSES.default }}">Email us</a> - <a
          href="/contact/contact/">Contact Form</a></p>
    </div>
    {% endblock %}
  </footer>
</div>


{% endblock %} {# end block body #}