{% extends "outlines/theme.html" %}

{% block title %}Student Registration Closed{% endblock %}

{% block subsection_name %}{% endblock %}


{% block content %}

<h1>Student Registration Currently Unavailable</h1>

<p>
<strong>
This registration page is not currently open.  Please follow the program's tab on the left side of the <a href="/learn/index.html">students section</a> of our site for information about the schedule for this program.  Alternatively, feel free to go <a href="javascript:history.back();">back</a> to the page that you came from.<br />
</strong>
<br />

{% endblock %}
