{% extends "outlines/series-3.html" %}

{% block title %}Student Registration Closed{% endblock %}

{% block subsection_name %}{% endblock %}


{% block content %}

<h1>Student Registration Closed</h1>

<p>
<strong>
Sorry, student registration is closed. This may be because you are either too early or too late.<br />

</strong>
<br />
You can still participate in our programs, just not as a teacher. Please register for this and other programs when student registration appears!

<br />
Thank you for your understanding.
<br /><br />
<em>If you feel you are a valid teacher, and you still are getting this error message, please email us at <u>web@esp.mit.edu</u></em>.

{% endblock %}
