{% extends "main.html" %}

{% block title %}Not a Teacher!{% endblock %}


{% block content %}

<h1>Not a Teacher!</h1>

<p>
<strong>
Sorry, but according to our records, you did not register as a teacher.
</strong>
<br />
You can still participate in our programs, just not as a teacher. Please register for this and other programs when student registration appears!

<br />
Thank you for your understanding.
<br /><br />
<em>If you think you should be registered as a valid {{ settings.INSTITUTION_NAME }} {{ settings.ORGANIZATION_SHORT_NAME }}teacher,
and you still are getting this error message, please email us at <u>{{ DEFAULT_EMAIL_ADDRESSES.support }}</u></em>.
<br />
<a href="/myesp/signout/?redirect=/myesp/register/&role=Teacher" title="Create a teacher account!">Click here to create a new {{ settings.INSTITUTION_NAME }} {{ settings.ORGANIZATION_SHORT_NAME }} teacher account!</a>
{% endblock %}
