{% extends "outlines/theme.html" %}

{% block title %}{{prog.niceName }} Student Registration{% endblock %}

{% block subsection_name %}Student{% endblock %}

{% block content %}

<h1>{{prog.niceName }} Student Registration</h1>

<p>
Error &mdash; You did not register as a student. <br />
Please note: Parents should create user for <em>each</em> child. This allows us to accurately determine which students are in which classes.
<br />
<br />
<a href="/myesp/signout/?redirect=/myesp/register/&role=Student" title="Create a student account!">Click here to create a new account for an ESP Student!</a>

</p>



{% endblock %}
