{% extends "outlines/series-3.html" %}

{% block title %}{{prog.niceName }} On-Site  Registration{% endblock %}

{% block subsection_name %}Student{% endblock %}

{% block content %}

<h1>{{prog.niceName }} On-Site Registration</h1>

<p>
Unfortunately you are not authorized to access this page.
Thanks for trying to help out, though!<br />
If you are trying to help out with on-site registration, please ask someone for the proper username and password to help!
<br />
<br />
<em>Thank you for helping with ESP!</em>
</p>



{% endblock %}
