{% extends "main.html" %}

{% block title %}{{prog.niceName }} On-Site  Registration{% endblock %}

{% block content %}

<h1>{{prog.niceName }} On-Site Registration</h1>

<p>
Sorry, you are not authorized to access this page.
Thanks for trying to help out, though!<br />
If you are trying to help out with onsite registration, please ask someone for the proper username and password to help!
<br />
<br />
<em>Thank you for helping with {{ settings.ORGANIZATION_SHORT_NAME }}!</em>
</p>



{% endblock %}
