{% extends "main.html" %}

{% block title %}{{ program.niceName }} Student Registration{% endblock %}

{% block content %}

<h1>{{prog.niceName }} Student Registration Error</h1>

<p>
Not in the correct grade for this program.
<br />
<br />
<em>Sorry, you do not match the required grade range for this program. Please browse through
some of our other <a href="/learn/index.html">programs</a>, though!</em><br />
If your high school graduation year, <strong>{{yog}}</strong>, is incorrect,
please <a href="/myesp/profile" title="{{ settings.ORGANIZATION_SHORT_NAME }} Profile Editor">edit your profile</a> or <a href="mailto:{{ DEFAULT_EMAIL_ADDRESSES.default }}">contact an administrator</a> to change it.

</p>



{% endblock %}
