{% extends "outlines/theme.html" %}

{% block title %}Alumni: Get in touch with ESP{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Stay in touch"|subsection }}{% endautoescape %}
{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Staying in touch!</h1>

<p>
Thank you for coming to our survey.  We hope to maintain contact with
our alumni both through newsletters and through the ESP 50th anniversary
event, which will be held on September 14&ndash;15, 2007.
</p>
<p>
The MIT Educational Studies Program (ESP) has brought fun and affordable 
educational programs to secondary school students &mdash; through programs such
as Splash, HSSP, Delve, and SAT Prep &mdash; since 1957.  We've broadened our
outreach significantly in the last few years!  If you are interested in learning 
a bit more about ESP, please visit  
<a href="/about/alumni_intro.html">this page</a>.
</p>
<p>
Please tell us a bit about yourself in the form below, and let us know 
if you can join us for our anniversary weekend!
<br />
</p>

<div id="alumni_form">
  <form action="{{ request.path }}" method="post">{% csrf_token %}
  <table class="contact" align="center" width="500">
  
  

  <thead>
    <tr>
      <th colspan="2">
        Contact Information
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="2">
          We invite you to fill in the information below so that we can contact you regarding ESP and the 50th anniversary event.  All of this is optional.
      </td>
    </tr>
  {% if contact_form.errors or main_form.errors %}
    <tr>
      <td colspan="2">
        <div class="errors">
        There 
        {% if contact_form.errors|length_is:1 %}is an error{% else %}
        are errors{% endif %} in the below form. Please fix and resubmit.<br />
        </div>
      </td>
    </tr>
  {% endif %}

  {{ contact_form }}
  </tbody>
  <thead>
    <tr>
      <th colspan="2">
        Information for ESP 50th Anniversary
      </th>
    </tr>
  </thead>
  <tbody>
  {{ main_form }}
  </tbody>
  <tbody>
    <tr> 
      <td colspan="2" class="submit">
        When finished, click here: 
        <input class="fancybutton" type="submit"
               name="sendemail" value="Send!" />
      </td>
    </tr>
  </tbody>
  </table>
</form>
</div>
{% endblock %}
