{% extends "main.html" %}

{% block title %}Alumni: Get in touch with ESP{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Stay in touch"|subsection }}{% endautoescape %}
{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/media/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/autocomplete/autocomplete-min.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/expand_display.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/expand_display.js"></script>
{% endblock %}

{% block content %}
<div id="divmaintext">
<h2>Staying in touch: Lookup and Info Entry</h2>
<br />
{% if success %}
    <p>
    Thanks for submitting information to our alumni database.  You may look up other alumni 
    and enter more contact information below.  Or, return to the 
    <a href="/alumni/">main alumni page</a>.
    </p>
{% else %}
    <p>
    Thank you for coming.  We hope to maintain contact with
    our alumni and provide a forum for you to discuss ESP's past, present, and future.
    </p>
    <p>
    The MIT Educational Studies Program (ESP) has brought fun and affordable 
    educational programs to secondary school students &mdash; through programs such
    as Splash, HSSP, Delve, and SAT Prep &mdash; since 1957.  We've broadened our
    outreach significantly in the last few years!  If you are interested in learning 
    a bit more about ESP, please visit  
    <a href="/alumni/intro.html">this page</a>.
    </p>
    <p>
    Using the form below you can look up an old friend.  Click on the expandable section
    below to enter information for as many ESP alumni as you like.  We really appreciate
    your help in identifying ESP's alumni and recording your participation.
    <br />
    </p>
{% endif %}

<div id="alumniform">
  <form action="{{ request.path }}" method="post">
  <table class="contact" align="center" width="500">
  <thead>
    <tr>
      <th colspan="2">
        Look up fellow ESP alumni
      </th>
    </tr>
  {% if lookup_form.errors %}
    <tr>
      <td colspan="2">
        <div class="errors">
        There 
        {% if lookup_form.errors|length_is:1 %}is an error{% else %}
        are errors{% endif %} in the below form. Please fix and resubmit.<br />
        </div>
      </td>
    </tr>
  {% endif %}
  </thead>
  <tbody>
  {{ lookup_form }}
  </tbody>
  <tbody>
    <tr> 
      <td colspan="2" class="submit">
        <input type="hidden" name="method" value="lookup" /> 
        <input class="fancybutton" type="submit"
               name="sendemail" value="Search" />
      </td>
    </tr>
  </tbody>
  </table>
</form>
</div>

{% if lookup_performed %}
<div id="catalog">
<br />
<table width="600" align="center" cellpadding="0" cellspacing="0">
<tr>
    <th colspan="3" align="center">Lookup found {{ lookup_list|length }} matches</th>
</tr>
{% if not lookup_list|length_is:0 %}
    <tr>
        <th width="20%" class="materials">Name</th>
        <th width="20%" class="materials">Years</th>
        <th width="60%" class="materials">Involvement in ESP</th>
    </tr>
    </table>
    {% for lookup_result in lookup_list %}
    <table width="600" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="20%" valign="top">{{ lookup_result.contactinfo.first_name }} {{ lookup_result.contactinfo.last_name }}</td>
            <td width="20%" valign="top">{{ lookup_result.start_year }} &ndash; {{ lookup_result.end_year }}</td>
            <td width="60%" valign="top">{{ lookup_result.involvement }}</td>
        </tr>
    </table>
    {% endfor %}
{% endif %}
</table>
</div>
{% endif %}

{% if not contact_form.errors and not info_form.errors %}
<br />
<p class="dspsection">
<a href="javascript:void(0)" class="dsphead" onclick="expand_disp(this)">
   <span class="dspchar">+</span> <b>Submit Information about an Alumnus/a</b> (click to expand/contract)
</a>

<div class="dspcont">
{% endif %}

<p>
If you have an account on the ESP web site, please use the box in the first row to locate it.  If you don't have an account, please enter in your contact information along with the second part of the form.
</p>

<div id="alumniform">
  <form action="{{ request.path }}" method="post">
  <table class="contact" align="center" width="500">

  <thead>
    <tr>
      <th colspan="2">
        Contact Information
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="2">
          Please fill in the information below so that the ESP community knows about you.
      </td>
    </tr>
  {% if contact_form.errors or info_form.errors %}
    <tr>
      <td colspan="2">
        <div class="errors">
        There 
        {% if contact_form.errors|length_is:1 %}is an error{% else %}
        are errors{% endif %} in the below form. Please fix and resubmit.<br />
        </div>
      </td>
    </tr>
  {% endif %}

  {{ contact_form }}
  </tbody>
  <thead>
    <tr>
      <th colspan="2">
        Information about Your Role in ESP
      </th>
    </tr>
  </thead>
  <tbody>
  {{ info_form }}
  </tbody>
  <tbody>
    <tr> 
      <td colspan="2" class="submit">
        <input type="hidden" name="method" value="submit" />
        When finished, click here: 
        <input class="fancybutton" type="submit"
               name="sendemail" value="Send!" />
      </td>
    </tr>
  </tbody>
  </table>
</form>
</div>

{% if not contact_form.errors and not info_form.errors %}
</div>
</p>
{% endif %}

</div>

<p>
<a href="/alumni/">Click here</a> to return to the main alumni page.
</p>

{% endblock %}
