{% extends "outlines/series-3.html" %}

{% block title %}Alumni: Thanks{% endblock %}

{% load subsection %}
{% block subsection %}
{{ "Stay in touch"|subsection }}
{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block content %}
<h1>Submission Successful</h1><br />

<p>
    Thank you for contacting us!
</p>
<p>
  Please feel free to visit our <a href="/about/alumni_intro.html">alumni information page</a> and explore the rest of our web site.  Stay tuned for more news on the ESP 50th anniversary event. 
</p>
<p>
 We look forward to hearing from you more; if you have any questions, or stories about ESP you'd like to share, or you know someone who you think we should get in touch with, <a href="/contact/contact">please contact us</a>!
</p>

{% endblock %}
