<br />
<div id="catalog">
{% if not threads|length_is:0 %}
<table align="center" width="500">
<tr>
    <th align="center" colspan="2">Recent postings by ESP alumni</th>
</tr>
<tr>
    <th class="materials">Thread Name</th>
    <th class="materials">Participants</th>
</tr>
    {% for item in threads %}
    <tr>
        <td><a href="/alumni/thread/{{ item.id }}">{{ item.comment }}</a></td>
        <td>{% for p in item.participants.all %}{{ p.contactinfo.first_name }} {{ p.contactinfo.last_name }}<br />{% endfor %}</td>
    </tr>
    {% endfor %}
    </ul>
</table>
{% else %}
    <p>There are currently no postings, so you should <a href="/alumni/contact/">get one started!</a></p>
{% endif %}
</div>
