{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />

<style>

#biglink {
	font-size: x-large;
}

</style>
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }}</h1>

<br />
<br />
<br />

<p class="biglink"><a id="biglink" href="https://{{ request.META.HTTP_HOST }}/learn/{{ program.getUrlBase}}/paynow_cybersource">Proceed to Credit Card Payment</a></p>

{% endblock %}

