{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }} </h1>

<h2>Instructions for paying by credit card:</h2>
<p>
<ol>
<li>Fill out the form on the next page completely.</li>
<li>When going to the next page, you may be warned that the page's certificate<br />
 is not signed by a trusted authority. This untrusted authority is MIT. <br />To convince your computer to trust MIT, <a href="http://ca.mit.edu/mitca.crt" title="Download MIT Certificate Authority">get the MIT CA (Certificate Authority)</a>.
</ol>
</p>

<h3>What you're currently paying for:</h3>
<p>
<table>
{% for payment in itemizedcosts %}
<tr><td>{{ payment.type.label }}</td><td>${{ payment.type.value|floatformat:2 }}</td></tr>
{% endfor %}
<tr><td align="right"><b>Total:</b></td><td>${{ itemizedcosttotal|floatformat:2 }}</td></tr>

</table>
</p>

<p>When you are ready, please move on to the <a href="https://{{ current_site.domain }}/{{ tl }}/{{ one }}/{{ two }}/paynow" title="Proceed to payment form.">payment form.</a>

<p>If you would like to cancel at this time, you can <a href="/learn/{{ program.getUrlBase }}/studentreg/" title="Return to main registration page">return to the main registration page</a>.</p>

{% endblock %}

