{% extends "elements/html" %}

{% block fulltitle %}{{ theme.titlebar_prefix }} - {% block title %}Home{% endblock %}{% endblock %}

{% load main %} {# helpful functions #}
{% load modules %}

{% block stylesheets %}
{{ block.super }}
<link rel="shortcut icon" href="/media/images/favicon.ico" />
<!--[if lte IE 6]>
<style type="text/css">
* {
  margin: 0;
  padding: 0;
  border: 0;
}
#body {
  position: absolute;
  left: 0px;
  top: 40px;
}
#ie6_warning {
  color: tabcolor2;
  font-size: 0.83em;
}
#ie6_warning p {
  position: relative;
  left: 10px;
}
#search_box {
  top: -28px;
  border: 0px;
  border-bottom: 0;
  margin: 0;
}
#submenu {
  width: 600px;
}
#submenu li {
  display: inline;
}
</style>
<![endif]-->
<!--[if gt IE 6]>
<style type="text/css">
#body {
  position: absolute;
  left: 136px;
  top: 55px;
}
#tab_sidebar {
  position: absolute;
  left: 136px;
  top: 55px;
}
#submenu li {
  display: inline;
}
</style>
<![endif]-->
{% endblock %}

{% block javascript %}
{{ block.super }}
<!--[if lt IE 9]>
<script src="/media/scripts/IE9.js"></script>
<![endif]-->
{% endblock %}

{% block body %}

<div id="adminbar" class="admin hidden" style="position: fixed !important">
  <div class="title" onclick="ESP.toggleDisplay('adminbar_content');">Admin Toolbar</div>
  <div id="adminbar_content"></div>
</div>
<script type="text/javascript">
var currentPrograms = [
{% for current_program in current_programs %}
    {
        urlBase: "{{ current_program.getUrlBase }}",
        name: "{{ current_program.niceName }}",
        class_search: {% if current_program|hasModule:"ClassSearchModule" %}true{% else %}false{% endif %}
    },
{% endfor %}
]; 
</script>
<script type="text/javascript" src="/media/scripts/admin_bar.js"> </script>
    <div id="page" class="{{ request.path|extract_theme }}">
    <div id="tab_sidebar">
      <ul id="menu">
      <li id="tab_logo" class="tabcolor0" ><span class="accent">&nbsp;</span><a href="/"><img id="logo" alt="home" src="/media/images/theme/logo.png" /></a></li>
      {% with request.path|get_nav_category as category %}
      {% for item in category.links %}
      <li id="tab_{{ forloop.counter }}" class="tabcolor{{ forloop.counter }}" ><span class="accent">&nbsp;</span><a href="{{ item.link }}">{{ item.text.upper }}</a></li>
      {% endfor %}
      {% endwith %}
      <li class="admin hidden tabcolor9" ><span class="accent">&nbsp;</span><a href="/manage/programs/">MANAGE</a></li>
      <li class="unmorph hidden tabcolor9" ><span class="accent">&nbsp;</span><a href="/myesp/switchback/">UNMORPH</a><div id="unmorph_text" style="font-size: 0.7em; margin-left: 16px"></div></li>
      </ul>
  </div>
  <div id="body">
    <div class="corners"><div class="ul"></div><div class="ur"></div><div class="dl"></div><div class="dr"></div></div>
    <div id="header">

    <div id="cross_link">
    {% for category in theme.nav_structure %}
    <span class="leftedge{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% endif %}"><a href="{{ category.header_link }}"></a></span><span class="teach{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% endif %}"><a href="{{ category.header_link }}">{{ category.header }}</a></span>
    {% endfor %}
    </div>
      <div id="search_box">
      <span class="leftedge"></span>
	<form name="search_form" method="get" action="https://www.google.com/search">
	 <input type='hidden' name='sitesearch' value='{{ request.META.HTTP_HOST }}' />
	  <input type="text" id="search_field" name="q" />
	  <input type="hidden" id="search_submit" name="search_submit" value="" />
      <input type="image" src="/media/images/theme/search-icon.png" />
	</form>
      </div>
      <div id="contact_info">
        <span class="title accentcolor">{{ theme.full_group_name }}</span>
        <span class="normal">{{ theme.contact_info|linebreaksbr }}</span>
        <span class="normal">Email: <a href="mailto:{{ settings.DEFAULT_EMAIL_ADDRESSES.default }}">{{ settings.DEFAULT_EMAIL_ADDRESSES.default }}</a></span>
        <span class="normal">
          {% if theme.faq_link %}
            <a href="{{theme.faq_link}}">FAQ</a> |
          {% endif %}
          <a href="/contact.html">contact us</a>
          {% if theme.facebook_link %}
            | <a href="{{ theme.facebook_link }}">facebook</a>
          {% endif %}
        </span>
      </div>
{% block login %}
<div id="login_box">

<!-- login -->
<div class="not_logged_in">
<form name="login_form" id="login_form" method="post" action="/myesp/login/">
  <input type="hidden" name="next" value="{{ request.path }}" />
  <input type="text" id="login_user" name="username" />
  <input type="password" id="login_pswd" name="password" />
  <span id="login_arrow1"></span>
  <input type="submit" id="login_submit" name="login_submit" value="Log in" />
  <span id="login_arrow2"></span>
  <a href="/myesp/register" id="login_signup">Sign up</a>
  <a href="/myesp/loginhelp.html" id="login_help">need help?</a>
</form>
</div>
<div class="logged_in hidden">
  {% include "users/loginbox_userinfo.html" %}
  <span class="accentcolor"><a href="/myesp/signout/">Logout</a> | <a href="/myesp/accountmanage">Manage Account</a></span>
</div>

</div>
{% endblock %}
    </div>
    <div id="page_main">
      <div class="corners"><div class="ul"></div><div class="ur"></div><div class="dl"></div><div class="dr"></div></div>
{% block content_header %}
<div id="content_header">
<div class="corners"><div class="ul"></div><div class="ur"></div></div>

<h1 class="title">{% block content_title %}&nbsp;{% endblock %}</h1>
{% if request.path|equal:"/teach/index.html" or request.path|equal:"/learn/index.html" %}

{% load preview %}

{% if request.path|equal:"/teach/index.html" %}
    {% miniblog_for_user AnonymousUser as announcements teach 3 %}
{% else %}
    {% miniblog_for_user AnonymousUser as announcements learn 3 %}
{% endif %}

{% if not announcements.announcementList|length_is:0 %}

{# announcements #}
<div id="divannouncements">
<ul>


{% for announce in announcements.announcementList %}
       <li>
        {% with announceUrl=announce.get_absolute_url %}
        {% if announceUrl %}
	<a href="{{ announceUrl }}" title="{{ announce.makeTitle }}">
        {% endif %}
	  <h1>{{ announce.category|default:"" }}</h1>
          <span style="color: #CBF57F; font-size: 12pt; text-decoration: none;">
                {{ announce.makeTitle }}</span>
       {% if announceUrl %}</a>{% endif %}</li>
       {% endwith %}
{% endfor %}
     </ul>
</div>

<!-- more announcements -->
{% if announcements.overflowed %}
<div id="divannouncemore">
  <a href="/myesp/home/">more announcements...</a></div>
{% endif %}
{% endif %}
{% endif %}
</div>
{% endblock %}

{% block secondary_nav %}
{% load navbar %}
{% navbar_gen request.path None navbar_list %}
{% endblock %}

      <div id="content">
          {% if request.show_perm_info %}
          <div class="alert alert-info">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <a href="/manage/{{ one }}/{{ two }}/deadline_management/">Permission/deadline</a> required to view this page: {{ request.perm_names|join:", " }}
              <br />
              {% if request.roles_with_perm %}
                  Roles with permission to view this page: {{ request.roles_with_perm|join:", " }}
              {% else %}
                  <strong>No (non-admin) roles have permission to view this page!</strong>
              {% endif %}
          </div>
          {% endif %}
{% block content %}{% endblock %}
      </div>
      <!--[if lte IE 6]>
      <div id="ie6_warning">
<p>You're using a really old Web browser!  This site will look a lot better if you <a href="http://www.microsoft.com/windows/internet-explorer/">upgrade</a>.</p>
      </div>
      <![endif]-->
      {% with request.path|split:"/"|index:1 as split_url %}
      {% if program and split_url|notequal:"manage" %}
      <div class="admin hidden" id="admin_link">
          <a href="/manage/{{ program.getUrlBase }}/dashboard">Administer this program</a>
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div id="footer">
      &copy; {{ theme.full_group_name }}, {{ theme.mtime.year }}
      <br />
      <a href="https://www.learningu.org/about/privacy/" target="_blank">Privacy Policy</a>
    </div>
  </div>
</div>

{% endblock %}
