{% extends "main.html" %}

{% block title %}Contact Us{% endblock %}
{% load subsection %}

{% block subsection %}
{% autoescape off %}{{ "Let us know"|subsection }}{% endautoescape %}
{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Contact Us</h1>
{% load render_qsd %}

{% if contact_form.data.decline_password_recovery %}
  {% inline_qsd_block "contact_password_recovery_check" %}
  It looks like you're trying to recover your login information. If you would like, we can e-mail you a link to reset your password. The e-mail will remind you of your username.
  {% end_inline_qsd_block %}
  <form action="/myesp/passwdrecover/" method="post">
    <input type="hidden" name="email" value="{{contact_form.cleaned_data.sender}}" />
    <input type="submit" name="recoverpassword" value="Reset my password" />
  </form>
  <form action="{{ request.path }}" method="post">
    <input type="submit" name="sendanyway" value="I want to send this message anyway" />
{% else %}
  {% inline_qsd_block "contact_header_text" %}
  Fill out this form to send a quick e-mail to the {{ settings.ORGANIZATION_SHORT_NAME }} office. We will get back to you as soon as possible (usually within a day). Submitting this form does not add you to our mailing list.

  <small>(Unless of course, you, uh, ASK to be added to our mailing list.)</small>

  ## Note to Parents:

  If your child is or wants to be an {{ settings.ORGANIZATION_SHORT_NAME }} student, we'd rather hear from them directly. We really do appreciate your interest, but we're an all-volunteer organization so we sometimes take a while to respond to e-mail, and we have an obligation to answer mail from our students first. So, please have your son or daughter send us an e-mail!
  {% end_inline_qsd_block %}
{% endif %}

<h2>Contact Form</h2>
{% if contact_form.errors %}
<div class="errors">
  There
  {% if contact_form.errors|length_is:1 %}is an error{% else %}are errors{% endif %}
  in the below form. Please fix and resubmit.
</div>
{% endif %}

<form action="{{ request.path }}" method="post" class="contact-form">
  <table class="contact">
    <tbody>
      {{ contact_form }}
      <tr>
        <td></td>
        <td><input class="btn btn-primary contact-send" type="submit" name="sendemail" value="Send!" /></td>
      </tr>
    </tbody>
  </table>

</form>
{% endblock %}
