{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Missing Teachers for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />
    <link rel='stylesheet' type='text/css' href='/media/styles/flags.css' />
    <style type="text/css">
        #shortcuts-box {
            position: fixed;
            left: 10px;
            top: 150px;
            width: 200px;
            border: 1px solid gray;
            padding: 5px;
            z-index: 100;
            background-color: white
        }
        
        .not-checked-in a {
            font-weight: bold;
        }
        
        .checked-in {
            text-decoration: line-through;
        }
        
        .selected .checkin + span:after {
            content: "◀"; font-weight: bold;
        }
        
        .selected .not-checked-in, .selected .checkin-column, .selected .phone {
            background-color: #FFFF00;
        }
        
        .checkin-column {
            min-width: 90px;
        }
        
        input.found {
            background-color: #AAFFAA;
        }
        
        input.not-found {
            background-color: #FFAAAA;
        }

        .section-detail {
            display: inline-block;
            border: 1px solid #ccc;
            margin: 0px;
            width: 100%;
        }
        
        .section-detail-header {
            background-color: #c6def7;
            font-size: 1.2em;
            width: 100%;
        }

        .flag-name-list {
            display: inline-block;
            width: 470px;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="/media/scripts/flag-edit.js"></script>
    <script src="/media/scripts/onsite/teacher_checkin.js"></script>
{% endblock %}

{% block content %}
<h1>Missing Teachers for {{ program.niceName }}</h1>

<div id="shortcuts-box">
    <input type="text" />
    <p>Type to search</p>
    <p>Up/Down/PgUp/PgDown to select teacher</p>
    <p>'?' to view information about teacher</p>
    <p>'Shift-Enter' to check in teacher</p>
    <p>'Ctrl-Z' to un-check-in <span id='last_checkin'></span></p>
    <p>Click a class title for more info{% if show_flags %} and class flags{% endif %}</p>
</div>

<div id='program_form'>

<br/><a href="teachercheckin{% if when %}?when={{ url_when }}{% endif %}">&lt;&lt;Back</a>

<p style="text-align: center">

<table>
<tr>
    <th colspan="5">
        {% if start_time %}
            Missing teachers for classes starting at {{ start_time.pretty_start_time }}
        {% else %}
            Missing teachers for all classes{% if date %} on {{ date|date:"D m/d/Y" }}{% endif %}
        {% endif %}
        {% if when %} as of {{ when }} {% endif %}
    </th>
</tr>
{% if sections|length_is:0 %}
<tr>
    <td colspan="5">
        There are no class sections
        {% if start_time %} starting in this timeslot
        {% else %} scheduled for the program{% if date %} on {{ date|date:"D m/d/Y" }}{% endif %}
        {% endif %}.
    </td>
</tr>    
{% endif %}
{% for section in sections %}
<tr>
    <td rowspan="{{ section.teachers|length }}">
        {{ section.parent_class.emailcode }}: {{ section.name }}
    </td>
    <td class="room" rowspan="{{ section.teachers|length }}">
        {% if start_time %}
            {{ section.room }}
        {% else %}
            {{ section.begin_time }}
        {% endif %}
    </td>
    {% for teacher in section.teachers_list %}
        {% if teacher.id in arrived %}
        <td class="checked-in">
        {% else %}
        <td class="not-checked-in">
        {% endif %}
            <a href="/manage/userview?username={{ teacher.username }}" target="_blank">{{ teacher.name }}</a>
        </td>
        <td class="checkin-column">
            {% if teacher.id not in arrived %}
            <input id="checkin_{{ teacher.username }}" name="{{ teacher.last_name }}" 
                   class="button checkin" type="button" value="Check In" {% if when %}disabled="disabled"{% endif %} /><span />
            {% else %}
            Already checked-in
            {% endif %}
        </td>
        <td class="phone"> {{ teacher.phone }} </td>
        </tr>
        <tr>
    {% endfor %}
    <td colspan="5">
        <div class="section-detail fqr-class">
            <div class="section-detail-header"
                 onclick="$j(this).siblings('.section-detail-info').toggle('blink');">
                {{section.title}}
            </div>
            <div class="section-detail-info" style="display: none;">
                {% with section.parent_class as class %}
                    {% if show_flags %}
                        <span>
                            <button class="add-flag btn">add flag</button>
                            <div class="flag-name-list">
                                {% for flag in class.flags.all %}
                                    {% include "program/modules/classflagmodule/flag_name.html" %}
                                {% endfor %}
                            </div>
                        </span>
                    {% endif %}
                    <div>
                        {% include "program/modules/classsearchmodule/class_detail.html" %}
                    </div>
                    {% if show_flags %}
                        {% for flag in class.flags.all %}
                            {% include "program/modules/classflagmodule/flag_detail.html" %}
                        {% endfor %}
                        {% include "program/modules/classflagmodule/new_flag_form.html" %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="5"><hr/></td>
</tr>
{% endfor %}
</table>

<br/>

<table>
<tr>
    <th colspan="3">
        Teachers who have checked in
        {% if start_time %} for classes starting at {{ start_time.pretty_start_time }}
        {% else %} for classes{% if date %} on {{ date|date:"D m/d/Y" }}{% endif %}
        {% endif %}
        {% if when %} as of {{ when }} {% endif %}
    </th>
</tr>
{% if arrived|length_is:0 %}
<tr>
    <td colspan="3">
        There are no teachers yet checked in for
        {% if start_time %} this timeslot
        {% else %} the program{% if date %} on {{ date|date:"D m/d/Y" }}{% endif %}{% endif %}.
    </td>
</tr>    
{% endif %}
{% for teacher in arrived.values %}
<tr>
    <td class="checked-in">
        <a href="/manage/userview?username={{ teacher.username }}" target="_blank">{{ teacher.name }}</a>
    </td>
    <td>
        <input id="uncheckin_{{ teacher.username }}" class="button uncheckin" type="button" value="Undo Check-In"
               {% if when %}disabled="disabled"{% endif %} />
    </td>
    <td class="phone"> {{ teacher.phone }} </td>
</tr>
{% endfor %}
</table>

<br/><a href="teachercheckin{% if when %}?when={{ url_when }}{% endif %}">&lt;&lt;Back</a><br/>

<br />
{% load render_qsd %}
{% render_inline_program_qsd program "onsite:status" %}

</div>


{% endblock %}
