{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Missing Teachers for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />
    <style type="text/css">
        #shortcuts-box {
            position: fixed;
            left: 10px;
            top: 150px;
            width: 200px;
            border: 1px solid gray;
            padding: 5px;
            z-index: 100;
            background-color: white
        }
        
        .not-checked-in a { font-weight: bold; }
        .checked-in { text-decoration: line-through; }
        .selected + span:after { content: "◀"; font-weight: bold; }
        .checkin-column { min-width: 90px; }
        
        input.found { background-color: #AAFFAA; }
        input.not-found { background-color: #FFAAAA; }
        
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="/media/scripts/onsite/teacher_checkin.js"></script>
{% endblock %}

{% block content %}
<h1>Missing Teachers for {{ program.niceName }}</h1>

<div id="shortcuts-box">
    <input type="text" />
    <p>Type to search</p>
    <p>Up/Down/PgUp/PgDown to select teacher</p>
    <p>'?' to view information about teacher</p>
    <p>'Shift-Enter' to check in teacher</p>
    <p>'Ctrl-Z' to un-check-in <span id='last_checkin'></span></p>
</div>

<div id='program_form'>

<br/><a href="teachercheckin">&lt;&lt;Back</a>

<p style="text-align: center">

<table>
<tr>
    <th colspan="5">
        Missing teachers for classes starting at {{ start_time.pretty_start_time }}
    </th>
</tr>
{% for section in sections %}
<tr>
    <td rowspan="{{ section.teachers|length }}">
        {{ section.id }}: {{ section.name }}
    </td>
    <td class="room" rowspan="{{ section.teachers|length }}">{{ section.room }}</td>
    {% for teacher in section.teachers %}
        {% if teacher.arrived %}
        <td class="checked-in">
        {% else %}
        <td class="not-checked-in">
        {% endif %}
            <a href="/manage/userview?username={{ teacher.username }}" target="_blank">{{ teacher.name }}</a>
        </td>
        <td class="checkin-column">
            {% if not teacher.arrived %}
            <input id="checkin_{{ teacher.username }}" class="button checkin" type="button" name="{{ teacher.last_name }}" value="Check In" /><span />
            {% else %}
            Already checked-in
            {% endif %}
        </td>
        <td class="phone"> {{ teacher.phone }} </td>
        </tr>
        <tr>
    {% endfor %}
    <td colspan="5"><hr/></td>
</tr>
{% endfor %}
</table>

<br/>

<table>
<tr>
    <th colspan="3">
        Teachers who have checked in for classes starting at {{ start_time.pretty_start_time }}
    </th>
</tr>
{% for teacher in arrived %}
<tr>
    <td class="checked-in">
        <a href="/manage/userview?username={{ teacher.username }}" target="_blank">{{ teacher.name }}</a>
    </td>
    <td>
        <input id="uncheckin_{{ teacher.username }}" class="button uncheckin" type="button" value="Undo Check-In" />
    </td>
    <td class="phone"> {{ teacher.phone }} </td>
</tr>
{% endfor %}
</table>

<br/><a href="teachercheckin">&lt;&lt;Back</a><br/>

<br />
{% load render_qsd %}
{% render_inline_qsd program.anchor "onsite:status" %}

</div>


{% endblock %}
