{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Check-in for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />
{% endblock %}

{% block javascript %}
    {{ block.super }}
    
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<h1>Teacher Check-in &mdash; For {{ program.niceName }}</h1>

<div id='program_form'>

<p style="text-align: center">

{% if message %}
<p align="center">{{ message }}</p>
{% else %}
Welcome to teacher check-in for {{program.niceName}}.
{% endif %}

<form id="checkinform" name="checkinform" method="POST" action="{{ request.path }}">
<table>
<tr>
    <th colspan="2">
        Choose Teachers to Check In
    </th>
</tr>
<tr>
    <td>
        <table>
            {{ form }}
        </table>
    </td>
    <td align="center">
        <input class="button" type="submit" value="Check In" />
    </td>
</tr>
</table>
</form>

</div>

<ul>
{% for time in time_slots %}
<li>
    {% if time == now %}<b>{% endif %}
    <a href="missingteachers?start={{ time.id }}">View missing teachers for classes starting at {{ time.pretty_start_time }}</a>
    {% if time == now %}</b>{% endif %}
</li>
{% endfor %}
<li><a href="missingteachers">View missing teachers for all classes</a></li>
</ul>

<br />
{% load render_qsd %}
{% render_inline_qsd program.anchor "onsite:status" %}



{% endblock %}
