{% extends "main.html" %}

{% block title %}{{program.niceName}} Mailing Labels{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Mailing Labels for {{program.niceName}}</h1>

<p>
You can enter a list of zip codes with an enter between them.<br />
For example:
<pre>
02139-4030
02422-5353
01224-3555
</pre>
</p>

<form action="{{ request.path }}" method="post">
<table>
{{ form }}
<tr>
  <th colspan="2">
    <input type="submit" value="Submit" name="submit" />
  </th>
</tr>
</table>
</form>
{% endblock %}
