{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration for {{one}} Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<br>
<p>
Your class selection for {{ one }} has been saved. You may come back and change your class selections later, up until 2 days before the program begins.
</p>

<p>Please print and fill out the <a href="/media/uploaded/07_10/Medical_and_Liability_Forms.pdf">medical and liability forms</a>.  You must bring both of these forms, completed and signed by your parents, to Splash in order to participate.</p>

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.nicenames|join:"<br />" }} </td>
  <td>
	{% if timeslot.1 %}
	{{timeslot.1.title}}{% else %} <em>Nothing Selected</em> {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<br />
<br />

Please print this page for your records.

<br />
<br />
<pre>
Please Note: Class selections are subject to change up
until and on the day of the event. MIT Educational Studies
Program cannot guarantee the successful fruition of a
proposed class.
</pre>
{% endblock %}
