{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration for Splash on Wheels Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<br>

<p>
Your class selection for Splash on Wheels has been saved. You may come back and change your class selections until 8:00pm on Wednesday, Jan. 23.  You may also switch classes during Splash on Wheels, but we can only switch you into classes that are not full.
</p>

<p>Splash on Wheels is on Sunday, Jan. 27, at Fitchburg High School in Fitchburg, MA.  Please arrive 30 minutes before your first class (your schedule is shown below). {% if owe_money %} Please bring a check for ${{ itemizedcosttotal|floatformat:2 }} (made out to "MIT ESP"). {% endif %} Check-in will be in the main lobby.   We will be posting more information to the <a href="/learn/SplashOnWheels/index.html">Splash on Wheels home page</a> as it becomes available.</p>

<p>Your parents do not need to come to Splash on Wheels, and except in special circumstances, parents may not attend classes.</p>

<p>Please print and fill out the <a href="/media/uploaded/08_01/liability_medical_jan08.pdf">medical and liability forms</a>.  You must bring both of these forms, completed and signed by your parents, to Splash in order to participate.</p>

<p>
<b>Summary:</b> Please bring the following to Splash on Wheels at Fitchburg High School:
<ul>
<li>This receipt
<li>Completed and signed <a href="/media/uploaded/08_01/liability_medical_jan08.pdf">liability and medical forms</a>
{% if owe_money %}<li>${{ itemizedcosttotal|floatformat:2 }} check for "MIT ESP"{% endif %}
</ul>
</p>

<br />
<hr size="1" color="#000000" />

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.short_description }} </td>
  <td>
	{% if timeslot.1 %}
	{{ timeslot.1.title }}{% else %} <em>Nothing Selected</em> {% endif %}
  </td>
</tr>
{% endfor %}
</table>

<h3>Itemized Receipt</h3>
<table>
{% for payment in itemizedcosts %}
<tr><td>{{ payment.type.label }}</td><td>{% if payment.transaction %}PAID: {% endif %}${% if financial_aid %}{{ payment.type.financial_aid_value|floatformat:2 }}{% else %}{{ payment.type.value|floatformat:2 }}{% endif %}</td></tr>
{% endfor %}
<tr><td align="right"><b>Balance (amount still owed):</b></td><td>${{ itemizedcosttotal|floatformat:2 }}</td></tr>

</table>

<br />
<br />

Please print this page for your records.

<br />
<br />
<pre>
Note: Class selections are subject to change until the first day of the program.
The MIT Educational Studies Program cannot guarantee that all proposed classes will be taught.
</pre>
{% endblock %}
