{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration Receipt for {{program.niceName}}{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}

<p>Your registration for SATPrep Spring 2008 session has been saved. If you change your mind, you can un-register until 2 days before SATPrep begins. </p>

<p>Please note that this does not guarantee your participation in the program. A spot is being held for you, but you will need to come to the diagnostic exam on February 10th and drop off your medical and liability forms as well as $80 in cash or check if you have not paid the program fee already by credit card.  If you cannot attend the diagnostic exam, please contact the SATPrep directors at satprep@mit.edu as soon as possible.</p>

<p>Unless otherwise arranged, you must show up to the diagnostic exam on Sunday, February 10th.  Before that date, you will receive an e-mail with your room assignment for this exam.  Please check that your spam filter will allow emails from satprep@mit.edu.  This will be our primary way of communicating with you throughout the session.  If you do not receive an email by Saturday night, please let us know.  If you have questions on the day of the diagnostic, you can see us in the SATPrep office, room 144 of building 4, between 11:30am and 5:30pm.  </p>

<p><b>Payment details</b>: If you are bringing payment on the day of the diagnostic, we recommend that you pay by check (made to "MIT ESP"), although we also accept cash. The tuition cost is $80 and includes the College Board's Guide to the SAT, which is yours to keep.  The fees are non-refundable after the first 3 weeks of class; the deadline for requesting refunds is Saturday, March 8, 2007. </p>

<p><b>Paperwork</b>: To attend SATPrep classes, you'll need to fill out and turn in our medical and liability forms.  They are available at <a href="http://esp.mit.edu/media/uploaded/08_01/liability_medical_sp08.pdf">http://esp.mit.edu/media/uploaded/08_01/liability_medical_sp08.pdf</a>.  (The form must be signed by a parent or guardian.) </p>

<p><b>Summary</b>: Please bring the following to the Diagnostic exam on Sunday, February 10th: 
<ul>
<li>Completed and signed <a href="http://esp.mit.edu/media/uploaded/08_01/liability_medical_sp08.pdf">liability and medical forms</a>
<li>This receipt 
<li>Payment checks
</ul>
</p>

<br />
<hr size="1" color="#000000" />
<p>
<b>User Information:</b>
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>

{% endblock %}
