{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration Receipt for {{program.niceName}}{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<p>
Your registration for {{program.niceName}} has been saved.  You can come 
back and update your registration later, up until 2 days before 
{{one}} begins.
</p>

<p>
Please note that this does not <em>guarantee</em> enrollment in any class.
You must show up to HSSP on Sunday, June 29 to complete your registration.  Check-in will be held in the lobby of MIT building 10 at 9:00 AM.  After 10:00 AM, newly arriving students should go to the HSSP office.  Signs will lead you to both locations from the main entrance of MIT at 77 Massachusetts Ave.<br />
<br />
You must bring the <a href="http://esp.mit.edu/media/uploaded/08_02/hssp_liability_medical.pdf">HSSP medical and liability forms</a>, filled out and signed by a guardian, by June 29th in order for you to participate in the remainder of HSSP.  Some classes might require additional forms.
</p>
<p>
We would like you to have a good idea of what you can expect from us and what we can expect from you, so we've posted a <a href="http://esp.mit.edu/media/uploaded/08_02/student_agreement_sp08.pdf">student agreement form</a>.  Please carefully read it, then sign it and bring it on June 29th.
<br />
<p>
<b>Summary:</b> Please bring the following to the first day of HSSP:
<ul>
<li>Completed and signed <a href="http://esp.mit.edu/media/uploaded/08_02/hssp_liability_medical.pdf">HSSP liability and medical forms</a>
<li>Signed <a href="http://esp.mit.edu/media/uploaded/08_02/student_agreement_sp08.pdf">student agreement</a>
</ul>
</p>

<br />
<hr size="1" color="#000000" />
<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>

<br />
<br />
<pre>
Note: Class selections are subject to change until the first day of the program.
The MIT Educational Studies Program cannot guarantee that all
proposed classes will be taught.
</pre>
{% endblock %}
