{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration Receipt for {{program.niceName}}{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<p>
Your class selection for {{program.niceName}} has been saved. You can come back and change your class selection later, up until 2 days before the program begins.
</p>

<p>
Please note that this does not guarantee enrollment in any class.  A spot is being held for you, but you will need to come to registration and the first day of class.  Please e-mail the directors at <a href="mailto:delve-director@mit.edu">delve-director@mit.edu</a> if this is not possible for you.</p>

<p>
You must show up to Delve registration on Sunday, September 14 to complete your registration.  Registration will be held in the lobby of MIT building 13, between the hours of 1:00 - 3:00 PM.  Please arrive during the appropriate time window based on your last name:<br />
<center>
<table border="1" cellspacing="0" cellpadding="5">
<tr><th>Name Range</th><th>Registration Time</th>
<tr><td>A - E</td><td>1:00 - 1:30 PM</td></tr>
<tr><td>F - L</td><td>1:30 - 2:00 PM</td></tr>
<tr><td>M - R</td><td>2:00 - 2:30 PM</td></tr>
<tr><td>S - Z</td><td>2:30 - 3:00 PM</td></tr>
</table>
</center>
</p>

<p>
<b>Payment details</b>: Please pay by check (made to "MIT ESP").  The base tuition cost is $200, which can also be paid for by credit card though our web site.  Please add $150 to your payment for a textbook deposit (which will be refunded at the end of the year), and $84 for AP test registration (which will be refunded in January if you choose not to take the AP test).  The fees are non-refundable after the first 3 weeks of class; the deadline for requesting refunds is Sunday, September 30, 2007.  You must turn in the textbook deposit before you can receive a book for your class; and you must turn in the test registration fee if you would like to take the AP test.  All of these charges are subject to financial aid; we will read review your applications, and e-mail you our aid decisions by Sunday, September 7.
</p>

<p>
<b>Paperwork</b>: To attend Delve AP classes, you'll need to fill out and turn in our medical and liability forms.  They can be found at <a href="http://esp.mit.edu/media/uploaded/07_08/liability_medical.pdf">http://esp.mit.edu/media/uploaded/07_08/liability_medical.pdf</a>.  (The form has to be signed by a parent or guardian.)
</p>

<p>
<b>Summary:</b> Please bring the following to Delve registration in MIT Lobby 13 on Sunday, September 14th (at the time given above):
<ul>
<li>This receipt
<li>Completed and signed <a href="http://esp.mit.edu/media/uploaded/07_08/liability_medical.pdf">liability and medical forms</a>
<li>Payment checks
</ul>
</p>

<br />
<hr size="1" color="#000000" />
<p>
<b>User Information:</b>
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.friendly_name }} </td>
  <td>
	{% if timeslot.1 %}
	{{timeslot.1.title}}{% else %} <em>Nothing Selected</em> {% endif %}
  </td>
</tr>
{% endfor %}
</table>

<pre>
Note: Class selections are subject to change until the first day of the program.
The MIT Educational Studies Program cannot guarantee that all
proposed classes will be taught.
</pre>
{% endblock %}
