{% extends "elements/receipt.html" %}

{% block title %}Registration for {{one}} Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<br>
<p>
Your class selection for {{one}} has been saved. You can come back and change your class selections later, up until 2 days before {{one}} begins.
</p>

{% include "program/sowconfirmation.html" %}

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.friendly_name }} </td>
  <td>
	{% if timeslot.1 %}
	{{timeslot.1.title}}{% else %} <em>Nothing Selected</em> {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<br />
<br />

(Please print this out for your own records.)

<br />
<br />
<pre>
Please Note: Class selections are subject to change up
until and on the day of the event. MIT Educational Studies
Program cannot guarantee the successful fruition of a
proposed class.
{% endblock %}