{% extends "elements/receipt.html" %}

{% block title %}Registration for {{one}} Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<p>
Congratulations! Your pre-registration for {{ one }} was successful. </p>
<p>Please note you still <strong>must</strong> attend the registration on Sunday, February 11, 2007 at 10:00am on MIT campus. At the registration, we will collect $80 (cash or check) and <em>signed</em> <a href="/media/uploaded/07_01/satprep_forms.pdf">medical and liability forms</a> for each student.  Please print those forms, fill them out and bring them to registration on Feb. 11.</p>
<p>Please print this receipt for your records. </p>

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<br />
<br />

{% endblock %}