{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration for {{program.niceName}} Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<br>
<p>
Your class selection for {{program.niceName}} has been saved!
</p>
For faster registration on the day of Splash, please print and have your parents read and sign the <a target="_blank" href="/media/splashwaiver.pdf">Splash Liability form</a>.
<br/>
<br/>

You can come back and change your class selections later, up until 2 days before {{one}} begins.

<p>
Please note, that pre-registering does not <em>guarantee</em> you are enrolled for these classes.
You <u>must</u> show up to register on the day of Splash (Saturday, April 5th) to complete and confirm your registration.<br />
<br />

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.short_description }} </td>
  <td>
        {% if timeslot.4 %}
        <em>Lunch</em>
        {% else %}
	  {% if timeslot.1 %}
	    {{timeslot.1.title}}
          {% else %}
            <em>Nothing Selected</em> 
          {% endif %}
        {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<br />
<br />

(Please print this out for your own records.)

<br />
<br />
<pre>
Please Note: Class selections are subject to change up
until and on the day of the event. Stanford ESP
cannot guarantee that every proposed class will be held.
</pre>


<h3><a href="/learn/index.html">Return to Splash information</a></h3>

{% endblock %}
