{% extends "elements/receipt.html" %}

{% block title %}Pre-Registration for {{program.niceName}} Receipt{% endblock %}

{% block subsection_name %} {% endblock %}

{% block body %}
<br>
<p>
Your class selection for {{program.niceName}} has been saved. You can come back and change your class selections later, up until 2 days before {{one}} begins.
</p>

<p>
Please note, this does not <em>guarantee</em> you are enrolled for any class.
You <u>must</u> show up to HSSP on the registration day (March 3rd) to complete your registration.<br />
<br />
Also note: Please check back if you can to see if anymore classes get added! Some teachers do not register their classes until later, so you may see some after you have preregistered. You are welcome to come back and change your class selection.
<br />
<br />
In addition, the <strong>medical and liability forms</strong> must be filled out and signed by a guardian. They are available at <a href="/media/uploaded/07_02/hssp_forms.pdf">http://esp.mit.edu/media/uploaded/07_02/hssp_forms.pdf</a>.
<br />

<p>
User Information: <br />
<ul>
<li>Username: {{ request.user.username }}</li>
<li>Full Name: {{ request.user.first_name }} {{ request.user.last_name }}</li>
<li>User ID: {{ request.user.id }}</li>
</ul>
</p>
<br />
<table cellpadding="3" style="width: 5.5in; margin: auto; border: 1px solid black; border-collapse: collapse;" border=1>
<tr>
  <th colspan="2">Class Schedule for {{ request.user.first_name }} {{ request.user.last_name }}</th>
</tr>
{% for timeslot in timeslots %}
<tr>
  <td width="25%" class="timeslot" align="center"> {{ timeslot.0.friendly_name }} </td>
  <td>
	{% if timeslot.1 %}
	{{timeslot.1.title}}{% else %} <em>Nothing Selected</em> {% endif %}
  </td>
</tr>
{% endfor %}
</table>
<br />
<br />

(Please print this out for your own records.)

<br />
<br />
<pre>
Please Note: Class selections are subject to change up
until and on the day of the event. MIT Educational Studies
Program cannot guarantee the successful fruition of a
proposed class.
</pre>
{% endblock %}
