{% extends "main.html" %}
{% block fulltitle %}Paths from for {{ base_model_name }} to {{ model_name }}{% endblock %}
{% block stylesheets %}
{{ block.super }}
<style type="text/css">
ul.label {
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;
}
li.label {
    padding-bottom: 10px;
}
</style>
{% endblock %}
{% block content %}
<h1>Paths from for {{ base_model_name }} to {{ model_name }}</h1>
<ul class="label">
{% for label in labels %}
<li class="label">{{ label }}</li>
{% endfor %}
</ul>
{% endblock %}
