<style type="text/css">
#vitals table, #vitals th, #vitals td { 
     border: 1px solid black; border-collapse: collapse;
}
#vitals th { text-align: right; }
</style>

<hr />
<h2 style="text-align: center">Program Vitals</h2>
<br />
<div id="vitals">
<table style="border: 1px solid black; border-collapse: collapse;">
<tr>
  <th>Useful Links</th>
  <td>
      <a href="/learn/{{program.getUrlBase}}/studentreg">Student Reg</a><br />
      <a href="/learn/{{program.getUrlBase}}/catalog">Catalog</a><br />
      <a href="/teach/{{program.getUrlBase}}/teacherreg">Teacher Reg</a><br />
  </td>
</tr>
<tr>
  <th>Total # of Students</th>
  <td>{% for value in vitals.studentnum %}
       <strong>{{ value.0 }}</strong> &ndash; {{value.1.count}}
      {% if not forloop.last %}<br />{% endif %}
      {% endfor %}
  </td>
</tr>

<tr>
  <th>Total # of Teachers</th>
  <td{% for value in vitals.teachernum %}
       <strong>{{ value.0 }}</strong> &ndash; {{value.1.count}}
      {% if not forloop.last %}<br />{% endif %}
      {% endfor %}
  </td>
</tr>

<tr>
  <th>Total # of Classes</th>
  <td>{{ vitals.classtotal.count }}</td>
</tr>
<tr>
  <th>Total # of Classes <span style="color: #00C;">Unreviewed</span></th>
  <td>{{ vitals.classunreviewed.count }}</td>
</tr>
<tr>
  <th>Total # of Classes <span style="color: #0C0;">Approved</span></th>
  <td>{{ vitals.classapproved.count }}</td>
</tr>
<tr>
  <th>Total # of Classes <span style="color: #C00;">Rejected</span></th>
  <td>{{ vitals.classrejected.count }}</td>
</tr>
{% for timeslot in vitals.timeslots %}

<tr>
  <th>{{ timeslot.slotname }}</th>
  <td>Students: {{ timeslot.studentcount.count }}<br />
      Classes: {{ timeslot.classcount.count }}</td>
</tr>
{% endfor %}
</table>

</div>
