<div class="module_group" id="program_form">
  <div class="module_group_header">
    Program Vitals
  </div>
  <div class="module_group_body" style="padding: 10px">
    <p>
      Statistics about the program in different categories are shown below.
    </p>
    <div id="program_vitals_wrapper" style="font-size: 0.8em">
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Students <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  {% for value in vitals.studentnum %}
	  <strong>{{ value.0 }}</strong> &ndash; {{value.1.count}}
	  {% if not forloop.last %}<br />{% endif %}
	  {% endfor %}
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Teachers <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  {% for value in vitals.teachernum %}
	  <strong>{{ value.0 }}</strong> &ndash; {{value.1.count}}
	  {% if not forloop.last %}<br />{% endif %}
	  {% endfor %}
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Classes <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  <strong>Total # of Classes</strong> &ndash; {{ vitals.classtotal.count }} <br />
	  <strong>Total # of Class Sections</strong> &ndash; {{ vitals.classsections.count }} <br />
	  {% for cat in categories %}
	  {% if cat.category == "Lunch" %}
	  <strong>Total # of Lunch Classes</strong> &ndash; {{ cat.num_subjects }} <br />
	  {% endif %}
	  {% endfor %}
	  <strong>Total # of Classes <span style="color: #00C;">Unreviewed</span></strong> &ndash; {{ vitals.classunreviewed.count }} <br />
	  <strong>Total # of Classes <span style="color: #0C0;">Approved</span></strong> &ndash; {{ vitals.classapproved.count }} <br />
	  <strong>Total # of Classes <span style="color: #C00;">Rejected</span></strong> &ndash; {{ vitals.classrejected.count }} <br />
	  <strong>Total # of Classes <span style="color: #990;">Cancelled</span></strong> &ndash; {{ vitals.classcancelled.count }} <br />
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Categories <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  (Note: Totals include unreviewed classes)
	  <table>
	    <tr>
	      <th><b>Category</b></th>
	      <th class="smaller"># of subjects</th>
	      <th class="smaller"># of sections</th>
	    </tr>
	    {% for cat in categories|dictsortreversed:"num_subjects" %}
	    <tr>
	      <th class="smaller">{{ cat.category }}</th>
	      <td>{{ cat.num_subjects }}</td>
	      <td>{{ cat.num_sections }}</td>
	    </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Hours <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  <strong>Total # of Class Hours:</strong> &ndash; {{ classhours }} <br />
	  <strong>Total # of Class-Student-Hours (capacity):</strong> &ndash; {{ classpersonhours }} <br />
	  <strong>Total # of Class-Student-Hours (registered):</strong> &ndash; {{ classreghours }} <br />
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">Timeslots <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  {% for timeslot in vitals.timeslots %}
	  <strong>{{ timeslot.slotname }}</strong> &ndash; <br />
	  <p>
	    Students: {{ timeslot.studentcount.count }} / {{ timeslot.studentcount.max_count }}<br />
	    Classes: {{ timeslot.classcount }}
	  </p>
	  {% endfor %}
	</div>
      </div>
      <div class="module_group">
	<div class="module_group_header module_group_expandable">T-Shirts <span class="expand_collapse_text">(click to expand)</span></div>
	<div class="module_group_body">
	  <table>
	    <tr><th colspan="{{ shirt_sizes|length|add:1 }}">Teacher T-Shirts</th></tr>
	    <tr>
	      <td></td>
	      {% for shirt_size in shirt_sizes %}
              <th class="smaller">{{ shirt_size.1 }}</th>
	      {% endfor %}
	    </tr>
	    {% for type in shirts.teachers %}
	    <tr>
	      <th class="smaller">{{ type.type }}</th>
	      {% for count in type.distribution %}
              <td>{{ count }}</td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
