{% extends "main.html" %}
{% block title %}Themes{% endblock %}
{% block content %}

<h1>Themes - Site Appearance Customization</h1>

<div class="row-fluid">
    <div class="well">
        <center>
        <h3>Current theme: {{ theme_name }} </h3>
        <a href="/themes/select/" class="btn btn-primary">
            Step 1: Select a theme
        </a>
        <br />
        <br />
        <a href="/themes/setup/" class="btn btn-primary">
            Step 2: Set up the theme
        </a>
        </center>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="well">
        <center>
            <h3>Current logo:</h3>
            <img src="/media/images/theme/logo.png?v={{ current_logo_version }}" alt="No logo selected/uploaded" style="max-width: 80%;">
            {% if has_header %}
            <h3>Current header:</h3>
            <img src="/media/images/theme/header.png?v={{ current_header_version }}" alt="No header selected/uploaded" style="max-width: 80%;">
            {% endif %}
            <h3>Current favicon:</h3>
            <img src="/media/images/favicon.ico?v={{ current_favicon_version }}" alt="No favicon selected" style="max-width: 80%;">
            <br /><br />
            <a href="/themes/logos/" class="btn btn-large btn-primary">
                Step 3: Upload/select a logo, header, or favicon
            </a>
        </center>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="well">
        <center>
        <h3>Current customization:<br />{{ last_customization_name }} </h3>
        <a href="/themes/customize/" class="btn btn-primary">
            Step 4: Customize the theme
        </a>
        </center>
    </div>
</div>
<br />
<div class="row-fluid">
    <div class="well">
        <center>
        <a href="/themes/recompile/" class="btn btn-primary">
            Install updates for the theme
        </a>
        </center>
    </div>
</div>

{% endblock %}