include *.txt
include *.rst
recursive-include fab_deploy/config_templates *.config
include fab_deploy/config_templates/django_wsgi.py
recursive-include fab_deploy/example_reqs *.txt
recursive-include docs *
recursive-exclude docs/_build *
exclude docs/_static

recursive-include fab_deploy_tests *.py *.sh id_rsa id_rsa.pub hgrc *.config *.txt templates/*.html
recursive-include fab_deploy_tests .gitignore README
recursive-include fab_deploy_tests/test_project2/.git *
