{% extends "main.html" %}

{% block title %}Bulk Account Response{% endblock %}

{% block content %}

    <h1>Success!</h1>

    <p>Your accounts have been created with the following passwords for each prefix.<p>

    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Please save this list somewhere yourself, as the website
            does NOT save these anywhere once you navigate away from this page.
    </div>

    <br/>

    <table border="1px" cellpadding="5px">
        <tr>
            <th>Prefix</th>
            <th>Password</th>
            <th># Accounts</th>
        </tr>
        {% for prefix, data in passwords.items %}
            <tr>
                <td>{{ prefix }}</td>
                <td>{{ data.password }}</td>
                <td>{{ data.number }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include "program/modules/admincore/returnlink.html" %}

{% endblock %}