{% extends "main.html" %}

{% block title %}{{ program.niceName }} Student Application{% endblock %}

{% block subsection_name %}Student Applications{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/media/styles/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<h1>{{ program.niceName }} Student Applications</h1>

<h2>Introduction</h2>
<p>
    To complete your application for {{ program.niceName }}, please fill out the following form. While you are working on it, you can click <strong>Save Progress</strong> to save your work before leaving this page. Once you're finished, please let us know by clicking <strong>Complete</strong>.
</p>

<p>   
    Please note that everything on this page is completely optional. However, the program may become selective; please be thorough in describing yourself and addressing your teachers' questions.
</p>

{% load render_qsd %}
{% render_inline_qsd program.anchor "learn:application" request.user %}

<h2>Application Form</h2>
<br />

<div id="program_form">
<form action="{{ request.path }}" method="post" name="application_form">
<table align="center" id="appform" width="600">
{% load smartypants %}
{% load markdown %}
{% load latex %}
{% for form in forms %}
<tr>
 <th colspan="2">
    Question {{ forloop.counter }} {% if form.target.question.subject %}({{ form.target.question.subject.title }}){% endif %}
 </th>
</tr>
<tr>
 <td colspan="2">
    {% autoescape off %}{{ form.target.question.question|markdown|smartypants|teximages|safe }}{% endautoescape %}
    {% if form.target.question.directions %}<br /><br /><b>Additional directions:</b> {{ form.target.question.directions }}{% endif %}
 </td>
</tr>
{{ form }}
<tr>
 <td colspan="2">
    &nbsp;
 </td>
</tr>
{% endfor %}
<tr>
 <th colspan="2" style="text-align: center;">
    <input class="fancybutton" type="submit" name="submitform" value="Save Progress" />
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    {% if app.done %}
    <input class="fancybutton" type="submit" name="submitform" value="Mark as Unfinished" />
    {% else %}
    <input class="fancybutton" type="submit" name="submitform" value="Complete" />
    {% endif %}
 </th>
</tr>
</table>
</form>
</div>

{% endblock %}
