{% extends "main.html" %}

{% block title %}{{ program.niceName }} Student Application{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/media/styles/forms.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<h1>{{ program.niceName }} Student Applications</h1>

<h2>Introduction</h2>
<p>
    To complete your application for {{ program.niceName }}, please fill out the following form. When you're finished with a question, please let us know by clicking the <strong>Complete</strong> box, and <u>click <strong>Save Progress</strong> to save your work before leaving this page</u>.
</p>

<p>   
    Your answers to these application questions will be reviewed before you are entered into the lottery, and are required. Please be thorough in describing yourself and addressing your teachers' questions.
</p>

{% load render_qsd %}
{% render_inline_program_qsd program "learn:application" %}

<h2>Application Form</h2>
<br />

<div id="program_form">
<form action="{{ request.path }}" method="post" name="application_form">
<table align="center" id="appform" class="fullwidth">
{% load markup %}
{% for form in forms %}
<tr>
 <th colspan="2">
    Question {{ forloop.counter }} {% if form.target.question.subject %}({{ form.target.question.subject.title }}){% endif %}
 </th>
</tr>
<tr>
 <td colspan="2">
    {{ form.target.question.question|markdown }}
    {% if form.target.question.directions %}<br /><br /><b>Additional directions:</b> {{ form.target.question.directions }}{% endif %}
 </td>
</tr>
{{ form }}
<tr>
 <td colspan="2">
    &nbsp;
 </td>
</tr>
{% endfor %}
<tr>
 <th colspan="2" style="text-align: center;">
    <input class="fancybutton" type="submit" name="submitform" value="Save Applications" />
 </th>
</tr>
</table>
</form>
</div>

{% endblock %}
