# -*- python -*-
# -*- coding: us-ascii -*-
## "mailman" mailing list configuration settings
## captured on Wed Nov 11 21:52:09 2009

## General options
#
# Fundamental list characteristics, including descriptive info and basic
# behaviors.

# There are two ownership roles associated with each mailing list.  The
# list administrators are the people who have ultimate control over all
# parameters of this mailing list.  They are able to change any list
# configuration variable available through these administration web
# pages.
# 
# The list moderators have more limited permissions; they are not able
# to change any list configuration variable, but they are allowed to
# tend to pending administration requests, including approving or
# rejecting held subscription requests, and disposing of held postings.
# Of course, the list administrators can also tend to pending requests.
# 
# In order to split the list ownership duties into administrators and
# moderators, you must set a separate moderator password, and also
# provide the email addresses of the list moderators.  Note that the
# field you are changing here specifies the list administrators.
owner = ['esp-moderators@mit.edu']

# There are two ownership roles associated with each mailing list.  The
# list administrators are the people who have ultimate control over all
# parameters of this mailing list.  They are able to change any list
# configuration variable available through these administration web
# pages.
# 
# The list moderators have more limited permissions; they are not able
# to change any list configuration variable, but they are allowed to
# tend to pending administration requests, including approving or
# rejecting held subscription requests, and disposing of held postings.
# Of course, the list administrators can also tend to pending requests.
# 
# In order to split the list ownership duties into administrators and
# moderators, you must set a separate moderator password, and also
# provide the email addresses of the list moderators in this section.
# Note that the field you are changing here specifies the list
# moderators.
moderator = ['esp-moderators@mit.edu']

# This text will be prepended to subject lines of messages posted to the
# list, to distinguish mailing list messages in mailbox summaries.
# Brevity is premium here, it's ok to shorten long mailing list names to
# something more concise, as long as it still identifies the mailing
# list. You can also add a sequential number by %d substitution
# directive. eg.; [listname %d] -> [listname 123] (listname %05d) ->
# (listname 00123)
# 
subject_prefix = ''

# Hide the sender of a message, replacing it with the list address
# (Removes From, Sender and Reply-To fields)
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
anonymous_list = False

# Should any existing Reply-To: header found in the original message be
# stripped?  If so, this will be done regardless of whether an explict
# Reply-To: header is added by Mailman or not.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
first_strip_reply_to = False

# This option controls what Mailman does to the Reply-To: header in
# messages flowing through this mailing list.  When set to Poster, no
# Reply-To: header is added by Mailman, although if one is present in
# the original message, it is not stripped.  Setting this value to
# either This list or Explicit address causes Mailman to insert a
# specific Reply-To: header in all messages, overriding the header in
# the original message if necessary (Explicit address inserts the value
# of <a href="?VARHELP=general/reply_to_address">reply_to_address).
# 
# There are many reasons not to introduce or override the Reply-To:
# header.  One is that some posters depend on their own Reply-To:
# settings to convey their valid return address.  Another is that
# modifying Reply-To: makes it much more difficult to send private
# replies.  See <a
# href="http://www.unicom.com/pw/reply-to-harmful.html">`Reply-To'
# Munging Considered Harmful for a general discussion of this issue.
# See <a
# href="http://www.metasystema.net/essays/reply-to.mhtml">Reply-To
# Munging Considered Useful for a dissenting opinion.
# 
# Some mailing lists have restricted posting privileges, with a parallel
# list devoted to discussions.  Examples are `patches' or `checkin'
# lists, where software changes are posted by a revision control system,
# but discussion about the changes occurs on a developers mailing list.
# To support these types of mailing lists, select Explicit address and
# set the Reply-To: address below to point to the parallel list.
#
# legal values are:
#    0 = "Poster"
#    1 = "This list"
#    2 = "Explicit address"
reply_goes_to_list = 0

# This is the address set in the Reply-To: header when the <a
# href="?VARHELP=general/reply_goes_to_list">reply_goes_to_list option
# is set to Explicit address.
# 
# There are many reasons not to introduce or override the Reply-To:
# header.  One is that some posters depend on their own Reply-To:
# settings to convey their valid return address.  Another is that
# modifying Reply-To: makes it much more difficult to send private
# replies.  See <a
# href="http://www.unicom.com/pw/reply-to-harmful.html">`Reply-To'
# Munging Considered Harmful for a general discussion of this issue.
# See <a
# href="http://www.metasystema.net/essays/reply-to.mhtml">Reply-To
# Munging Considered Useful for a dissenting opinion.
# 
# Some mailing lists have restricted posting privileges, with a parallel
# list devoted to discussions.  Examples are `patches' or `checkin'
# lists, where software changes are posted by a revision control system,
# but discussion about the changes occurs on a developers mailing list.
# To support these types of mailing lists, specify the explicit
# Reply-To: address here.  You must also specify Explicit address in the
# reply_goes_to_list variable.
# 
# Note that if the original message contains a Reply-To: header, it will
# not be changed.
reply_to_address = ''

# Turn this off only if you plan on subscribing people manually and
# don't want them to know that you did so.  This option is most useful
# for transparently migrating lists from some other mailing list manager
# to Mailman.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
send_welcome_msg = False

# Send mail to poster when their posting is held for approval?
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
respond_to_post_requests = 0

# Maximum length in kilobytes (KB) of a message body.  Use 0 for no
# limit.
max_message_size = 0

# Discard held messages older than this number of days. Use 0 for no
# automatic discarding.
max_days_to_hold = 7

## Privacy options
#
# This section allows you to configure subscription and membership
# exposure policy.  You can also control whether this list is public or
# not.  See also the <a
# href="http://abs.mit.edu/cgi-bin/mailman/admin/mailman/archive">Archival 
# Options</a> section for separate archive-related privacy settings.

# Advertise this list when people ask what lists are on this machine?
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
advertised = False

# Confirm (*) - email confirmation required Require approval - require
# list administrator approval for subscriptions Confirm and approve -
# both confirm and approve
# 
# (*) when someone requests a subscription, Mailman sends them a notice
# with a unique subscription request number that they must reply to in
# order to subscribe. This prevents mischievous (or malicious) people
# from creating subscriptions for others without their consent.
#
# legal values are:
#    1 = "Confirm"
#    2 = "Require approval"
#    3 = "Confirm and approve"
subscribe_policy = 3

# When set, the list of subscribers is protected by member or admin
# password authentication.
#
# legal values are:
#    0 = "Anyone"
#    1 = "List members"
#    2 = "List admin only"
private_roster = 2

# Each list member has a moderation flag which says whether messages
# from the list member can be posted directly to the list, or must first
# be approved by the list moderator.  When the moderation flag is turned
# on, list member postings must be approved first.  You, the list
# administrator can decide whether a specific individual's postings will
# be moderated or not.
# 
# When a new member is subscribed, their initial moderation flag takes
# its value from this option.  Turn this option off to accept member
# postings by default.  Turn this option on to, by default, moderate
# member postings first.  You can always manually set an individual
# member's moderation bit by using the membership management screens.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
default_member_moderation = True

# Is archive file source for public or private archival?
#
# legal values are:
#    0 = "public"
#    1 = "private"
archive_private = 1
