# -*- python -*-
# -*- coding: us-ascii -*-
## "mailman" mailing list configuration settings
## captured on Sat Jan 30 02:42:24 2010

## General options
#
# Fundamental list characteristics, including descriptive info and basic
# behaviors.

# There are two ownership roles associated with each mailing list.  The
# list administrators are the people who have ultimate control over all
# parameters of this mailing list.  They are able to change any list
# configuration variable available through these administration web
# pages.
# 
# The list moderators have more limited permissions; they are not able
# to change any list configuration variable, but they are allowed to
# tend to pending administration requests, including approving or
# rejecting held subscription requests, and disposing of held postings.
# Of course, the list administrators can also tend to pending requests.
# 
# In order to split the list ownership duties into administrators and
# moderators, you must set a separate moderator password, and also
# provide the email addresses of the list moderators.  Note that the
# field you are changing here specifies the list administrators.
owner = ['esp-web@mit.edu']

# There are two ownership roles associated with each mailing list.  The
# list administrators are the people who have ultimate control over all
# parameters of this mailing list.  They are able to change any list
# configuration variable available through these administration web
# pages.
# 
# The list moderators have more limited permissions; they are not able
# to change any list configuration variable, but they are allowed to
# tend to pending administration requests, including approving or
# rejecting held subscription requests, and disposing of held postings.
# Of course, the list administrators can also tend to pending requests.
# 
# In order to split the list ownership duties into administrators and
# moderators, you must set a separate moderator password, and also
# provide the email addresses of the list moderators in this section.
# Note that the field you are changing here specifies the list
# moderators.
moderator = ['esp-moderators@mit.edu']

# This description is used when the mailing list is listed with other
# mailing lists, or in headers, and so forth.  It should be as succinct
# as you can get it, while still identifying what the list is.
description = ''

# The text will be treated as html except that newlines will be
# translated to <br> - so you can use links, preformatted text, etc, but
# don't put in carriage returns except where you mean to separate
# paragraphs.  And review your changes - bad html (like some
# unterminated HTML constructs) can prevent display of the entire
# listinfo page.
info = ''

# This text will be prepended to subject lines of messages posted to the
# list, to distinguish mailing list messages in mailbox summaries.
# Brevity is premium here, it's ok to shorten long mailing list names to
# something more concise, as long as it still identifies the mailing
# list. You can also add a sequential number by %d substitution
# directive. eg.; [listname %d] -> [listname 123] (listname %05d) ->
# (listname 00123)
# 
subject_prefix = '[ESP] '

# Turn this off only if you plan on subscribing people manually and
# don't want them to know that you did so.  This option is most useful
# for transparently migrating lists from some other mailing list manager
# to Mailman.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
send_welcome_msg = False

# Send goodbye message to members when they are unsubscribed?
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
send_goodbye_msg = False

# Confirm (*) - email confirmation required Require approval - require
# list administrator approval for subscriptions Confirm and approve -
# both confirm and approve
# 
# (*) when someone requests a subscription, Mailman sends them a notice
# with a unique subscription request number that they must reply to in
# order to subscribe. This prevents mischievous (or malicious) people
# from creating subscriptions for others without their consent.
#
# legal values are:
#    1 = "Confirm"
#    2 = "Require approval"
#    3 = "Confirm and approve"
subscribe_policy = 3

# When members want to leave a list, they will make an unsubscription
# request, either via the web or via email. Normally it is best for you
# to allow open unsubscriptions so that users can easily remove
# themselves from mailing lists (they get really upset if they can't get
# off lists!).
# 
# For some lists though, you may want to impose moderator approval
# before an unsubscription request is processed.  Examples of such lists
# include a corporate mailing list that all employees are required to be
# members of.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
unsubscribe_policy = 0

# When set, the list of subscribers is protected by member or admin
# password authentication.
#
# legal values are:
#    0 = "Anyone"
#    1 = "List members"
#    2 = "List admin only"
private_roster = 2

# Each list member has a moderation flag which says whether messages
# from the list member can be posted directly to the list, or must first
# be approved by the list moderator.  When the moderation flag is turned
# on, list member postings must be approved first.  You, the list
# administrator can decide whether a specific individual's postings will
# be moderated or not.
# 
# When a new member is subscribed, their initial moderation flag takes
# its value from this option.  Turn this option off to accept member
# postings by default.  Turn this option on to, by default, moderate
# member postings first.  You can always manually set an individual
# member's moderation bit by using the membership management screens.
#
# legal values are:
#    0 = "No"
#    1 = "Yes"
default_member_moderation = 1

# Is archive file source for public or private archival?
#
# legal values are:
#    0 = "public"
#    1 = "private"
archive_private = 1

# How often should a new archive volume be started?
#
# legal values are:
#    0 = "Yearly"
#    1 = "Monthly"
#    2 = "Quarterly"
#    3 = "Weekly"
#    4 = "Daily"
archive_volume_frequency = 1

