NameVirtualHost 127.0.0.1:{{ APACHE_PORT }}
<VirtualHost 127.0.0.1:{{ APACHE_PORT }}>
    ServerName {{ SERVER_NAME }}
    ServerAlias www.{{ SERVER_NAME }}
    ServerAdmin {{ SERVER_ADMIN }}

    WSGIDaemonProcess {{ INSTANCE_NAME }} user={{ USER }} group={{ USER }} processes={{ PROCESSES }} threads={{ THREADS }}
    WSGIProcessGroup {{ INSTANCE_NAME }}

    WSGIScriptAlias / {{ ENV_DIR }}/var/wsgi/{{ INSTANCE_NAME }}.py
    <Directory {{ ENV_DIR }}/var/wsgi/>
        Order deny,allow
        allow from all
    </Directory>

    ErrorLog /var/log/apache2/{{ INSTANCE_NAME }}-error.log
    ErrorDocument 500 {{ PROJECT_DIR }}/templates/500.html

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg
    LogLevel error
</VirtualHost>
