<li class="hidden nav-header admin">Admin</li>

<li class="admin hidden"><a href="/admin/">
    <i class="icon-tasks"></i> Administration pages
</a></li>
<li class="admin hidden"><a href="/manage/programs/">
    <i class="icon-time"></i> Manage programs
</a></li>
<li class="admin hidden"><a href="/admin/filebrowser/browse/">
    <i class="icon-film"></i> Manage media files
</a></li>
<li class="admin hidden"><a href="/themes/">
    <i class="icon-eye-open"></i> Theme settings
</a></li>
<li class="unmorph hidden"><a href="/myesp/switchback/">
    <i class="icon-user"></i> Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script>
</a></li>
<li class="onsite hidden"><a href="/myesp/onsite/">
    <i class="icon-pencil"></i> On-Site Registration
</a></li>
