[flake8]
# For now, ignore everything except the checks listed in `select` below.
ignore = E,F,W

# Currently enabled checks:
#   E101: mixed tabs and spaces
#   F82x: undefined name, local variable referenced before assignment
#   F831: duplicate arg in function definition
#   W191: indentation contains tabs
#   W29x: whitespace at end of line or on blank line
#   W601: `has_key` instead of `in`
#   W603: <> instead of !=
#   W604: backticks instead of `repr`
select = E10,E11,F401,F82,F811,F831,F841,W191,W29,W601,W603,W604

# Errors we'd like to turn on sometime soon, but which still require some
# cleanup first:
#   E11x: other indentation issues (expected indented block, unexpected
#         indent, not a multiple of four)
#   F811: redefinition of unused name
#   F841: unused name

# Ignore /env, since that's where we by default put the virtualenv, which has
# lots of code that's not ours.  Also exclude .git, for speed.
exclude = .git,__pycache__,env,useful_scripts,seltests

per-file-ignores =
    tests/*:F401,F811,F841
    **/test_*.py:F401,F811,F841
    tests.py:F401,F811,F841
    **/tests.py:F401,F811,F841
