[flake8]
# Ignore most errors by default, only enable specific checks listed in `select` below.
ignore = E,F,W

# Currently enabled checks:
#   E10: other indentation issues
#   E11: other indentation issues
#   F401: imported but unused
#   F82: undefined name
#   F811: redefinition of unused name
#   F831: duplicate argument in function definition
#   F841: unused variable
#   W191: indentation contains tabs
#   W29: whitespace issues
#   W601: `has_key` instead of `in`
#   W603: <> instead of !=
#   W604: backticks instead of `repr`
select = E10,E11,F401,F82,F811,F831,F841,W191,W29,W601,W603,W604

# Ignore /env, since that's where we by default put the virtualenv, which has
# lots of code that's not ours.  Also exclude .git, for speed.
exclude = .git,__pycache__,env,useful_scripts,seltests

per-file-ignores =
    tests/*:F401,F811,F841
    **/test_*.py:F401,F811,F841
    tests.py:F401,F811,F841
    **/tests.py:F401,F811,F841
    */program/modules/tests/__init__.py:F401
    */program/modules/tests/support/__init__.py:F401
    */utils/inclusion_tags.py:F401
    */program/modules/handlers/*:F401
    */program/models/__init__.py:F841
    */program/modules/handlers/resourcemodule.py:F841
