.gitignore
*.pyc
esp/esp/database_settings.py
esp/esp/local_settings.py
*~
*#
esp/public/media/subsection_images/*
esp/public/media/latex/*
esp/public/media/latex_media/letterhead.*
esp/public/media/email_images/*
esp/public/media/uploaded/*
esp/public/media/styles
esp/public/media/images
esp/public/media/default_images/histograms
esp/public/media/default_images/theme
esp/public/media/default_images/favicon.ico
esp/public/media/theme_editor/themes
esp/public/media/scripts/theme
esp/public/static
esp/file_db/*
esp/esp/database_settings.py.chicago
esp/esp/database_settings.py.mit
env
useful_logs
theme_compiled.css
/.vagrant/*
*_admin_thumbnail.gif
*_admin_thumbnail.jpg
*_admin_thumbnail.png
local_fabfile.py
*.sql
*.tar
*.gz
*.bak
*.orig
*.swp
.espsettings


# Mac
.DS_Store
