{% extends "main.html" %}

{% block title %}Change Account Password{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style>
.nav a {
    text-decoration: none !important;
}
.nav {
    width: 50%;
}
</style>
{% endblock %}

{% block content %}
<h1>Manage Your Account</h1>
{% load render_qsd %}
{% inline_qsd_block "contact_password_recovery_check" %}
<p>You can do the following things with your account:</p>
<center>
<ul class="nav nav-tabs nav-stacked">
<li><a href="/myesp/profile" title="Edit your profile">Edit your profile</a></li>
<li><a href="/myesp/passwd" title="Change your password">Change your password</a></li>
<li><a href="/myesp/disableaccount" title="Disable your account">Disable your account</a></li>
</ul>
</center>
<p>Please note, if you disable your account, you will no longer receive email and/or mail notifications from us.</p>
{% end_inline_qsd_block %}

<p>By creating an account, you agreed to the <a href="https://www.learningu.org/about/tos/" target="_blank">terms of service</a>
  set forth by Learning Unlimited, the umbrella organization of which we are a member.</p>
{% endblock %}
