<div id="loginbox">

  {% if login_result %}
    <div class="navbar">{{ login_result }}</div>
  {% endif %}


  <div class="logged_in hidden">
    <ul class="nav">
      <li>
          <a id="loginbox_user_name">
              Hello, <span id="user_first_name"></span>
              <span id="user_last_name"></span>!
          </a>
      </li>
      <li><form class="navbar-form form-inline" action="/myesp/signout">
        <a href="/myesp/signout"><button class="btn btn-inverse" style="margin-right:0px;">Logout</button></a>
        <span class="dropdown">
          <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="margin-left:0px;">
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <li><a href="/myesp/accountmanage/">Manage Account</a></li>
            <li><a href="/myesp/loginhelp.html">Help</a></li>
            <li><a href="https://www.learningu.org/about/privacy/" target="_blank">Privacy Policy</a></li>
          </ul>
        </span>

      </form></li>
    </ul>
  </div>




  <div class="not_logged_in hidden">
    <form name="loginform" id="loginform" method="post" action="/myesp/login/" class="navbar-form form-inline">
      <!-- input type="hidden" name="next" value={-{ request.path }}" / -->
      <input type="text" name="username" id="user" size="8" value="" placeholder="Username" maxlength="255" class="inputbox" />
      <input type="password" name="password" id="pass" size="8" value="" placeholder="Password" maxlength="255" class="inputbox" />

      <button class="btn btn-inverse" id="gologin" type="submit" style="margin-right:0px;"> Login </button>
      <span class="dropdown">
        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" style="margin-left:0px;">
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
          <li><a href="/myesp/register">Register</a></li>
          <li><a href="/myesp/passwdrecover/">Forgot Password</a></li>
          <li><a href="/myesp/loginhelp.html">Help</a></li>
          <li><a href="https://www.learningu.org/about/privacy/" target="_blank">Privacy Policy</a></li>
        </ul>
      </span>

    </form>
  </div>
</div>



