<div id="loginbox">

  {% if login_result %}
    <div class="navbar">{{ login_result }}</div>
  {% endif %}


<div class="logged_in">
  <ul class="nav">
    <li>
      <a id="loginbox_user_name" href="{% url 'myesp_profile' %}">Hello, <span id="user_first_name"></span>!</a>
    </li>

    <li>
      <form class="navbar-form form-inline" action="{% url 'signout' %}">
        <a href="{% url 'signout' %}" class="btn btn-info" style="margin-right:0px;">
          Logout
        </a>

        <span class="dropdown">
          <button
            type="button"
            class="btn btn-info dropdown-toggle"
            data-bs-toggle="dropdown"
            style="margin-left:0px;"
            aria-label="Account menu"
          >
            <span class="caret" aria-hidden="true"></span>
          </button>

          <ul class="dropdown-menu">
            <li><a href="{% url 'myesp_accountmanage' %}">Manage Account</a></li>
            <li><a href="{% url 'Login Help' %}">Help</a></li>
            <li>
              <a href="https://www.learningu.org/about/privacy/" target="_blank">
                Privacy Policy
              </a>
            </li>
          </ul>
        </span>
      </form>
    </li>
  </ul>
</div>




<div class="not_logged_in">
    <form name="loginform" id="loginform" method="post" action="{% url 'login' %}" class="navbar-form form-inline">
      <!-- input type="hidden" name="next" value={-{ request.path }}" / -->
      <label class="visually-hidden" for="user">Username</label>
      <input type="text" name="username" required id="user" size="8" value="" placeholder="Username" maxlength="255" class="inputbox" />
      <label class="visually-hidden" for="pass">Password</label>
      <input type="password" name="password" required id="pass" size="8" value="" placeholder="Password" maxlength="255" class="inputbox" />

      <button class="btn btn-primary" id="gologin" type="submit" style="margin-right:0px;"> Login </button>
      <span class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" style="margin-left:0px;" aria-label="More login options">
          <span class="caret" aria-hidden="true"></span>
        </button>

        <ul class="dropdown-menu">
          <li><a href="{% url 'esp.users.views.user_registration_phase1' %}">Register</a></li>
          <li><a href="{% url 'passwd_recover' %}">Forgot Password</a></li>
          <li><a href="{% url 'Login Help' %}">Help</a></li>
          <li><a href="https://www.learningu.org/about/privacy/" target="_blank">Privacy Policy</a></li>
        </ul>
      </span>

    </form>
  </div>
</div>

<script type="text/javascript">
  /* Fill the greeting name during parsing (before first paint) to avoid a
     flash of empty text. */
  (function () {
    try {
      if (!window.esp_user) { return; }
      var el = document.getElementById("user_first_name");
      if (el) {
        var n = ("" + (esp_user.cur_first_name || esp_user.cur_username || "Guest")).trim();
        if (n && n !== "undefined") { el.textContent = n; }
      }
    } catch (e) {}
  })();
</script>

