{% extends "main.html" %}

{% block title %}Join {{ settings.ORGANIZATION_SHORT_NAME }}!{% endblock %}

{% block content %}
<h2 style='text-align: center'>Ready to join {{ settings.INSTITUTION_NAME }} {{ settings.ORGANIZATION_SHORT_NAME }}?</h2>
<h1 style='text-align: center; margin-bottom: 0px'>Cool!</h1>
<h3 style="text-align: center; font-weight: normal; margin-top: 0px">Please begin by choosing a username and password for your account on our system.<br/>

 Your account will be your portal for all of {{ settings.ORGANIZATION_SHORT_NAME }}'s programs! </h3>

<p style="text-align: center; color: #FF0000; margin-bottom: 0px;">
 <b>NOTE: You must have cookies enabled to login to this website.<br/>
 </b>
</p>
<hr/>

<form action='login.html' method="post">
<input type='hidden' name='op' value='register'>
<table width='65%' cellpadding='2' align='center' border='0'>

<tr>
 <td style="vertical-align: top"><b>Username:</b></td>
 <td><input type='text' name='username' size='30' value=''><br/>
     <small>Username must be between 4 and 12 characters.</small>
 </td>
</tr>

<tr>
 <td></td>
 <td>

 </td>
</tr>

<tr>
 <td><b>Password:</b></td>
 <td><input type='password' name='password' size='30' value=''></td>
</tr>

<tr>
 <td></td>
 <td>

   <small>Password must be between 4 and 12<br/>characters, and is cAsE-SenSiTiVe.</small>
 </td>
</tr>

<tr>
 <td style="vertical-align: top"><b>Confirm<br/>Password:</b></td>
 <td><input type='password' name='confirm' size='30' value=''></td>
</tr>

<tr>
 <td style="vertical-align: top"><b>I want to be a(n)...</b></td>
 <td align='left' colspan=2><select size=5 style="width: 95%"" name="pos"><option value="1" selected>{{ settings.ORGANIZATION_SHORT_NAME }} Student (Grade 12 and under)</option><option value="2">Parent/Guardian Contact</option><option value="3">K-12 Teacher/Educator Contact</option><option value="4">Teacher for {{ settings.ORGANIZATION_SHORT_NAME }}</option></select></td>
</tr>
</table>

<p style="text-align: center"><input type='submit' value='-  Sign Up!  -'></p>
</form>
{% endblock %}
