{% extends "main.html" %}

{% block title %}Make admin{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/admin/base.css" type="text/css" />
{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Make admin"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}
<h1>Make admin</h1>


<form action="{{ request.path }}" method="post">

<div id="program_form">
    Please select the account to make an admin:
    <table width="550">
    {{ form.as_table }}
    <tr><td colspan="2"><input type="submit" value="Submit" name="submit" onclick="return confirm('Are you sure you want to make this user an admin?');" /></td></tr>
    </table>
</div>
</form>

{% endblock %}
