{% extends "main.html" %}

{% block title %}Make admin{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Make admin</h1>


<p>Select an account to make an administrator.</p>

<form action="{{ request.path }}" method="post">

<div id="program_form">
    <table width="550">
      <tr>
	<th align="center" colspan="2">Grant Administrator Privileges</th>
      </tr>
      {{ form.as_table }}
      <tr><td align="center" colspan="2"><button class="button" type="submit" name="submit" onclick="return confirm('Are you sure you want to make this user an admin?');">Submit</button></td></tr>
    </table>
</div>
</form>

{% endblock %}
