{% extends "main.html" %}

{% block title %}Merge accounts{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/admin/base.css" type="text/css" />
    <style>
      .errorlist {
          color: #ff0000;
          list-style: none;
          padding: 0;
          margin: 5px 0 0 0;
          font-size: 0.9em;
          display: block;
          font-weight: bold;
      }
      .errorlist + input, 
      .errorlist + select,
      td > .errorlist ~ input {
          border: 1px solid #ff0000 !important;
      }
  </style>
{% endblock %}

{% block content %}
<h1>Merge accounts</h1>


<form action="{{ request.path }}" method="post">

<div id="program_form">
  <h3>Please select two accounts to merge:</h3>
  <table width="550">
  {{ form.as_table }}
  <tr><td colspan="2"><br><br><input class="btn btn-primary" type="submit" value="Merge!" name="submit_btn" onclick="return confirm('Account merges cannot be undone. Proceed?');" /></td></tr>
  </table>
</div></form>

{% endblock %}
