{% extends "outlines/series-3.html" %}

{% block title %}Join ESP!{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
#divmaintext table td { vertical-align: top }
#divmaintext table li { list-style-image: url(/media/images/spacer.gif); }
.form_error { font-size: 80%; font-style: italic; color: #C00; }
</style>
{% endblock %}

{% block content %}
<h2 style='text-align: center'>Ready to join ESP?</h2>
<h1 style='text-align: center; margin-bottom: 0px'>Cool!</h1>
<h3 style="text-align: center; font-weight: normal; margin-top: 0px">Please begin by choosing a username and password for your account on our system.<br/>

 Your account will be your portal for all of ESP's programs! </h3>

<p style="text-align: center; color: #FF0000; margin-bottom: 0px;">
 <b>NOTE: You must have cookies enabled to login to this website.<br/>
 </b>
</p>
<hr/>
{% if form.has_errors %}
<p class="error">Hey - There was a problem with your registration.  Please try again, errors displayed below.</p>
{% endif %}
<form action='/myesp/finish/' method="post">
<input type='hidden' name='op' value='register'>
<table width='65%' cellpadding='2' align='center' border='0'>

<tr>
 <td><label for="id_first_name">First Name:</label></td>
 <td>{{ form.first_name }} {% if form.first_name.errors %}
   <br /><span class="form_error">{{ form.first_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_last_name">Last Name:</label></td>
 <td>{{ form.last_name }} {% if form.last_name.errors %}
   <br /><span class="form_error">{{ form.last_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_username">Username:</label></td>
 <td>{{ form.username }} {% if form.username.errors %}
   <br /><span class="form_error">{{ form.username.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_password">Password:</label></td>
 <td>{{ form.password }} {% if form.password.errors %}
   <br /><span class="form_error">{{ form.password.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_password_confirm">Confirm Password:</label></td>
 <td>{{ form.password_confirm }} {% if form.password_confirm.errors %}
   <br /><span class="form_error">{{ form.password_confirm.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_role">Initial Role:</label></td>
 <td>{{ form.role }} {% if form.role.errors %}
   <br /><span class="form_error">{{ form.role.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>



<tr>
 <td><label for="id_email">Email:</label></td>
 <td>{{ form.email }} {% if form.email.errors %}
   <br /><span class="form_error">{{ form.email.errors|join:", " }}</span>
   {% endif %}<br />
   <small>Please provide a valid email address. We won't spam you.</small>
 </td>
</tr>


 </td>
</tr>



</table>

<p style="text-align: center"><input type='submit' value='-  Sign Up!  -'></p>
</form>
{% endblock %}