{% extends "main.html" %}

{% block title %}Profile Editor{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style>
div.required label.control-label:after {
  content:"*";
  color:red;
}

#id_receive_txt_message {
  list-style-type: none;
  margin-left: 0px;
}

/* Improve profile form field visibility (issue #1110) */
.form-horizontal input[type="text"],
.form-horizontal input[type="url"],
.form-horizontal input[type="email"],
.form-horizontal input[type="number"],
.form-horizontal input[type="password"],
.form-horizontal input[type="tel"],
.form-horizontal input[type="file"],
.form-horizontal textarea,
.form-horizontal select {
  border: 1px solid #767676;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-horizontal input[type="text"]:focus,
.form-horizontal input[type="url"]:focus,
.form-horizontal input[type="email"]:focus,
.form-horizontal input[type="number"]:focus,
.form-horizontal input[type="password"]:focus,
.form-horizontal input[type="tel"]:focus,
.form-horizontal input[type="file"]:focus,
.form-horizontal textarea:focus,
.form-horizontal select:focus {
  border-color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  outline: 2px solid transparent;
  outline-offset: 1px;
}

@media (forced-colors: active) {
  .form-horizontal input[type="text"]:focus,
  .form-horizontal input[type="url"]:focus,
  .form-horizontal input[type="email"]:focus,
  .form-horizontal input[type="number"]:focus,
  .form-horizontal input[type="password"]:focus,
  .form-horizontal input[type="tel"]:focus,
  .form-horizontal input[type="file"]:focus,
  .form-horizontal textarea:focus,
  .form-horizontal select:focus {
    box-shadow: none;
    outline: 2px solid CanvasText;
    outline-offset: 1px;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span10">
    <h1>Your Profile Information</h1>
  </div>
  <div class="row-fluid">
    <div class="span12">
      {% load render_qsd %}
      {% inline_qsd_block "account_creation_basic_info" %}
<p>First, please tell us a bit about yourself!  The fields with red asterisks are required.  After you have filled out everything, click the "{% if new_user %}submit{% else %}update{% endif %}" button at the bottom of the page to continue.</p>

{% if not new_user %}
<p>Email addresses have a tendency to change regularly, so we are asking that you re-enter your email address each time you visit this form. Please take the time to also correct any other information that may be old or incorrect.  Thanks!</p>
{% endif %}
      {% end_inline_qsd_block %}
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span10">
      {% if form.errors %}
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Please fix the following error{{ form.errors|pluralize }} in the form.
            </div>
      <ul>
	{% for error in form.errors.items %}
	{% ifequal error.0 '__all__' %}
	{{ error.1 }}
	{% endifequal %}
	{% endfor %}
      </ul>
      <br />
      {% endif %}

    <form action="{{request.path}}" method="post" class="form-horizontal">
        <fieldset>
        <input type="hidden" name="profile_page" value="true" />
        <input type="hidden" name="current_role" value="{{ profiletype }}" />

        {% ifequal profiletype "teacher" %}
            {% include "users/profiles/usercontact.html" %}
            {% include "users/profiles/teacherinfo.html" %}
        {% else %}
        
        {% ifequal profiletype "student" %}
            {% include "users/profiles/usercontact.html" %}
            {% include "users/profiles/studentinfo.html" %}
            {% include "users/profiles/guardiancontact.html" %}
            {% include "users/profiles/emergencycontact.html" %}
        {% else %}

        {% ifequal profiletype "educator" %}
            {% include "users/profiles/usercontact.html" %}
            {% include "users/profiles/educatorinfo.html" %}
        {% else %}

        {% ifequal profiletype "guardian" %}
            {% include "users/profiles/usercontact.html" %}
            {% include "users/profiles/guardianinfo.html" %}
        {% else %}
        
        {% ifequal profiletype "volunteer" %}
            {% include "users/profiles/usercontact.html" %}
        {% else %}

        {% include "themes/bs_form.html" %}

        {% endifequal %}
        {% endifequal %}
        {% endifequal %}
        {% endifequal %}
        {% endifequal %}

        <div class="form-actions"><input type="submit" class="btn btn-primary" value="{% if new_user %}Submit{% else %}Update{% endif %} Your Information!" /></div>

        </fieldset>
    </form>
  </div>
</div>

<script>
function check_state() {
  if ($j("#id_address_state").val() == "International") {
    $j("#id_address_country").removeClass("hidden");
    if ($j("#id_address_country").val() == "US") {
      $j("#id_address_country").val("");
    }
  } else {
    $j("#id_address_country").addClass("hidden");
    $j("#id_address_country").val("US");
  }
}
function check_emerg_state() {
  if ($j("#id_emerg_address_state").val() == "International") {
    $j("#id_emerg_address_country").removeClass("hidden");
    if ($j("#id_emerg_address_country").val() == "US") {
      $j("#id_emerg_address_country").val("");
    }
  } else {
    $j("#id_emerg_address_country").addClass("hidden");
    $j("#id_emerg_address_country").val("US");
  }
}
$j(document).ready(function() {
  $j(":required").each(function() {
    $j(this).closest(".control-group").addClass("required");
  });
  
  check_state();
  check_emerg_state();
  
  $j("#id_address_state").change(function() {
    check_state();
  });
  $j("#id_emerg_address_state").change(function() {
    check_emerg_state();
  });
});
</script>

{% endblock %}
