{% extends "outlines/series-3.html" %}

{% block title %}Profile Editor{% endblock %}

{% load subsection %}
{% block subsection %}
{{ "Profile Editor"|subsection }}
{% endblock %}

{% block xtrajs %}
<script type="text/javascript" src="/media/scripts/dojo/dojo.js"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

</style>
{% endblock %}

{% block content %}
<h1>Your Profile Information</h1>
<p>Please tell us a bit about yourself!  The fields in red boxes are required.  After you have filled out everything, click the "update" button at the bottom of the page to continue.</p>

<p>E-mail addresses have a tendency to change regularly, so we are asking that you re-enter your e-mail address each time you visit this form.  Please take the time to also correct any other information that may be old or incorrect.  Thanks!</p>

{% if form.has_errors %}
<h2 style="color:red">Please fix the error{{ form.error_dict|pluralize }} in the form.</h2><br />
{% endif %}

<div id="program_form">
<form action="{{request.path}}" method="post">
<input type="hidden" name="profile_page" value="true" />
<input type="hidden" name="current_role" value="{{ profiletype }}" />
<table cellpadding="3" align="center" border="0" width="500">

{% include "users/profiles/usercontact.html" %}

{% ifequal profiletype "student" %}
  {% include "users/profiles/studentinfo.html" %}
  {% include "users/profiles/guardiancontact.html" %}
  {% include "users/profiles/emergencycontact.html" %}
{% endifequal %}

{% ifequal profiletype "teacher" %}
  {% include "users/profiles/teacherinfo.html" %}
{% endifequal %}

{% ifequal profiletype "educator" %}
  {% include "users/profiles/educatorinfo.html" %}
{% endifequal %}

{% ifequal profiletype "guardian" %}
  {% include "users/profiles/guardianinfo.html" %}
{% endifequal %}

</table>

<br />
<center><input type="submit" class="button" value="Update your Information!" /></center>

<br />
</form>
</div>

{% endblock %}