{% extends "main.html" %}

{% block title %}Profile Complete{% endblock %}

{% block subsection_name %}Completed Profile{% endblock %}

{% block content %}

<h1>Congratulations</h1>

<p>
Your profile has now been successfully completed.
</p>

{% if userrole %}
<p>
{% if progs %}
  Continue on to:<br />
  {% for prog in progs %}
  <span style="font-weight: bold;">
   <a href="/{{userrole.base}}/{{prog.getUrlBase}}/{{userrole.reg}}">{{userrole.name}} Registration for {{prog.niceName}}</a>
  </span>
  <br />
  {% endfor %}
{% endif %}
{% for bit in nextreg %}
  Registration for <span style="font-weight: bold;">{{ bit.qsc.parent.friendly_name }} {{ bit.qsc.friendly_name }}</span> will be available
  <span style="font-weight: bold;">{{ bit.startdate|date:"F j, Y \a\t P" }}</span>.
  <br />
{% endfor %}

{% endif %}
<br />
<br />
</p>

<div class="note">
{% load render_qsd %}
{% inline_qsd_block navnode account_registration_notice request.user %}<strong>Note:</strong> Registering for an account <u>does not</u> register you for a program.<br /><br />{% end_inline_qsd_block %}
{% if progs %}
  Please follow the above link to join a program.
{% else %}
  Please sign back in anytime after the above date with the username you just created to register for the program.
{% endif %}
</div>


{% endblock %}
