{% extends "outlines/theme.html" %}

{% block title %}Profile Complete{% endblock %}

{% block subsection_name %}Completed Profile{% endblock %}

{% block content %}

<h1>Congratulations</h1>

<p>
Your profile has now been successfully completed.
</p>

{% if userrole %}
<p>
Continue on to:<br />
{% for prog in progs %}
<span style="font-weight: bold;">
 <a href="/{{userrole.base}}/{{prog.getUrlBase}}/{{userrole.reg}}">{{userrole.name}} Registration for {{prog.niceName}}</a>
</span>
<br />
{% endfor %}

{% endif %}
<br />
<br />
</p>

<div class="note">
<strong>Note:</strong> Registering for an account <u>does not</u> register you for a program.<br />
Please head over to our <a href="/teach/index.html" title="Teach a class!">Teach</a> or 
<a href="/learn/index.html" title="Take a Class!">Learn</a> section to join a program.
</div>


{% endblock %}
