{% extends "main.html" %}

{% block title %}Recover your password{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Reset your password</h1>

<p>
  Forgot your password? Sorry to hear. You are welcome to use this form
to reset your password. You will need to have access to the email address
you entered when you signed up.
</p>

<style type="text/css">th { vertical-align: top; }</style>
<form action="{{ request.path }}" method="post" name="passreset_form">
<table>
<thead>
<tr>
  <th colspan="2">
    Password Reset Form <br/>
    (Enter one of the following)
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There 
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.<br />
Note: If you are experiencing difficulties, please <a href="/contact/contact/esp-web/"
title="Contact Form">contact us</a>.
</div>
</td>
</tr>
{% endif %}

{% autoescape off %}{{ form }}{% endautoescape %}
<tr>
  <td colspan="2">
   <em>Can't remember either? <a href="/contact/contact/esp-web/">Drop us a line</a> and we'll <br /> be sure to set your accounts straight.</em>
  </td>
</tr>
<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Get recovery email" name="submit" class="btn btn-primary" />
  </th>
</tr>
</tbody>
</table>
</form>

<script type="text/javascript">
<!--
  document.getElementById('id_username').focus();
//-->
</script>

{% endblock %}
