{% extends "main.html" %}

{% block title %}Recover your password{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
{% if validlink %}
<h1>Recover your password</h1>

<p>
  Welcome back! You're almost ready to sign into {{ settings.ORGANIZATION_SHORT_NAME }}! <br />
  Just enter your new password below.
</p>

<style type="text/css">th { vertical-align: top; }</style>
<form action="" method="post" name="passreset_form_complete">
{% csrf_token %}
<table>
<thead>
<tr>
  <th colspan="2">
    New Password Form
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.<br />
Note: If you are experiencing difficulties, please <a href="/contact/contact/esp-web/"
title="Contact Form">contact us</a>.
</div>
</td>
</tr>
{% endif %}

{{ form.as_table }}
<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Set password and login!" name="submit_btn" class="btn btn-primary" />
  </th>
</tr>
</tbody>
</table>
</form>
{% else %}
<h1>Invalid or expired link</h1>
<p>
   Sorry, but the password reset link is invalid or has expired.
   This can happen if the link has already been used, or if it has expired.
   Please <a href="/myesp/passwdrecover/">request a new password reset</a>.
</p>
{% endif %}

{% endblock %}
