{% extends "outlines/series-3.html" %}

{% block title %}Invalid code{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Error - Invalid code"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}
<h1>Invalid code</h1>


<p>
   Sorry, but the link is incorrect&mdash;it suggests you are trying to reset an account for
   the wrong account and/or you have the wrong code. Please consider re-checking your email
   to ensure you copied it correctly.
</p>

{% endblock %}