
<p style='font-family: arial; margin-left:10px; text-align: center'>
 <b style="text-align: center">Classes for {{request.user.first_name}} {{request.user.last_name}} - ID: {{request.user.id}}</b>

</p>

<p style="text-align: center">
<a target="_blank" href='/learn/{{one}}/{{two}}/catalog/'>
Open Full Catalog in a Separate Window
</a>
</p>
<br />  	
<br />
{% if not module.deadline_met %}


<center><div class="note">
Note: Student registration is no longer open. Please use this page to view your schedule. {% if completedAll %}You can still click `Save' to view your receipt. {% endif %}
</div></center>
<br />
{% endif %}

 <table cellpadding="3" style="width: 600px; margin: auto" border=1>
{% for timeslot in timeslots %}

<tr><td width="25%" valign="top" align="center"> {{ timeslot.0.friendly_name }} </td>
	{% if timeslot.1 %}
	<td>{{timeslot.1.title}}</td>
{% if module.deadline_met %}
        <td width='20%' align='center'>
	<a href="/learn/{{one}}/{{two}}/clearslot/{{timeslot.0.id}}">[remove]</a>
	</td>
{% endif %}
	{% else %}
   <td>Nothing Selected</td>
{% if module.deadline_met %}
  <td width='20%' align='center'>
  <a href="/learn/{{one}}/{{two}}/fillslot/{{timeslot.0.id}}">[add class]</a>
	{% endif %}	
  </td>
{% endif %}
</tr>

{% endfor %}
</table> 
<br/>
