
<p>
Below is your class schedule for {{ program.niceName }}.  Please use the links in the right-hand column to select classes to fill each time slot.  You may also
<a target="_blank" href='/learn/{{one}}/{{two}}/catalog/'>
open a full catalog in a separate window
</a>.
</p>

{% if not module.deadline_met %}
<center><div class="note">
Note: Student registration is no longer open. Please use this page to view your schedule. {% if completedAll %}You can still click `Save' to view your receipt. {% endif %}
</div></center>
<br />
{% endif %}

 <table cellpadding="3" style="width: 600px; margin: auto" border=1>
<tr>
<th colspan="3">
Classes for {{request.user.first_name}} {{request.user.last_name}} - ID: {{request.user.id}}
</th>
</tr>
{% for timeslot in timeslots %}

<tr><td width="25%" valign="top" align="center"> {{ timeslot.0.short_description }} </td>
	{% if timeslot.1 %}
	<td>{{timeslot.1.title}} 
        {% if request.user.onsite_local %}
        ({{timeslot.1.prettyrooms|join:", " }})
        {% endif %}</td>
{% if module.deadline_met %}
        <td width='20%' align='center'>
	<a href="/learn/{{one}}/{{two}}/clearslot/{{timeslot.0.id}}">[remove]</a>
	</td>
{% endif %}
	{% else %}
   <td>Nothing Selected</td>
{% if module.deadline_met %}
  <td width='20%' align='center'>
  <a href="/learn/{{one}}/{{two}}/fillslot/{{timeslot.0.id}}">[add class]</a>
	{% endif %}	
  </td>
{% endif %}
</tr>

{% endfor %}
</table> 
<br/>
