{% extends "main.html" %}

{% block title %}{{biouser.name}}{% endblock %}

{% block stylesheets %}
{{block.super}}
<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

#divmaintext hr { border: 1px solid black; }
img.biophoto { border: 1px solid black; }

</style>
{% endblock %}

{% block content %}
<h1 style="font-size: 120%;">{{ settings.ORGANIZATION_SHORT_NAME }} Biography</h1>
{% if biouser.id == request.user.id or request.user.isAdministrator %}
<a class="btn btn-primary" href="{{ bio.edit_url }}">Edit this biography</a>
{% endif %}
{% if request.user.isAdministrator %}
    <a class="btn btn-primary" href="/manage/userview?username={{biouser.username}}">Go to teacher profile</a>
    <a class="btn btn-primary" href="/myesp/morph?morph_user={{biouser.id}}">Morph into teacher</a>
    <a class="btn btn-primary" href="/admin/users/espuser/{{biouser.id}}/">View on admin panel</a>
{% endif %}
<br /><br />
<h2>{{biouser.name|upper}}, {{bio.slugbio}}</h2>
<hr />


<br />
<br />
<table cellspacing=0 cellpadding="5" border="0">
<tr>
  <td width="300">
  <strong>Major:</strong> {{biouser.getLastProfile.teacher_info.major|default:"Not available."}} <br /><br />
  <strong>College/Employer:</strong> {% if biouser.getLastProfile.teacher_info.from_here %}{{institution}}{% else %}{{biouser.getLastProfile.teacher_info.college|default:"Not available."}}{% endif %} <br /><br />
  <strong>Year of Graduation:</strong> {{biouser.getLastProfile.teacher_info.graduation_year|default:"Not available."}} <br /><br />

  </td>
  <td>
   <img src="/media/{{ bio.picture }}" title="Picture of {{biouser.name}}"  
        alt="Picture of {{biouser.name}}" align="right" class="biophoto" />
  </td>
</tr>
<tr>
  <td colspan="2">
  <h2>Brief Biographical Sketch:</h2>
  <p>
    {{bio.bio|linebreaks }}
  </p>
  <br />
  <br />
  <h2>Past Classes</h2> &nbsp;
  <span>(Clicking a class title will bring you to the course's section of the corresponding course catalog)</span>
  <br />
  <br />
  {% if classes|length_is:0 %}{% if recent_classes|length_is:0 %}
   None found.
  {% endif %}{% endif %}

  {# Archive Classes get auto-HTML-ized quite nicely; but we have to render regular classes on our own #}

  {% for cls in recent_classes %}
  <a href="{{cls.parent_program.get_learn_url}}catalog#class_{{cls.id}}"  style="color: #000000">{{cls.emailcode}}: {{ cls.title }}</a> in {{ cls.parent_program.niceName }} ({{ cls.parent_program.date_range }})
<br />
<div style="font-size: 80%; font-style: italic; margin: 0 0 0 20px;">
{{ cls.class_info }}
</div>
<br /><br />
  {% endfor %}

 
  {% autoescape off %}
  {{ classes|join:"<br /><br />" }}
  {% endautoescape %}
  </td>
  
</tr>
</table>

{% endblock %}
