{% extends "main.html" %}

{% block title %}Edit Teacher Biography{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}

<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

</style>

<h1>Edit Teacher Biography: {{ user.name }}</h1>


<p>
Please complete the form below to update your biography.  We'd appreciate a picture if you have one!  (You can upload a JPG, GIF or PNG file in the box at the bottom of the form.)
</p>

{% if form.errors %}
<h2 style="color:red">Please fix the error{{ form.errors|pluralize }} in the form.<h2>
{% endif %}

<div id="program_form">
<form enctype="multipart/form-data" action="{{request.path}}" method="post">
<table width="100%" cellpadding="2" align="center" border="0">

<tr><th colspan="2">Your Teacher Biography</th></tr>

<tr>
  <td><label for="id_hidden">Hide your teacher biography:<br />
      <small>Your major, college or employer, graduation year, biography, photo, and a list of all classes you've taught appear on your public bio. You can choose to leave some fields blank, or you can hide your bio entirely using this checkbox. Note that your name will still appear in the class catalogs of programs you've taught for.</small></label></td>
  <td>{{ form.hidden }}</td>
</tr>

<tr>
 <td><label for="id_slugbio">Description of you in 50 characters or less:<br />
       <small>(e.g. "{{ institution }} sophomore studying Architecture." or "Aspiring teacher of high school mathematics.")</small></label></td>
 <td>{{ form.slugbio }} {% if form.slugbio.errors %}
   <br /><span class="form_error">{{ form.slugbio.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_bio">Biographical Sketch:<br />
 </label></td>

 <td>{{ form.bio }} {% if form.bio.errors %}
   <br /><span class="form_error">{{ form.bio.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_picture">Picture of you:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.picture }}<br />
     {% if picture_file %}
     <img src="/media/{{ picture_file}}" title="Your current photo." alt="Your current photo" />
     {% endif %}
     {% if form.picture.errors %}
   <br /><span class="form_error">{{ form.picture.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr><td colspan="2" align="center">
<input type="hidden" name="bio_submitted" value="true" />
<input class="btn btn-primary" type='submit' value='Save your Biography' />
</td></tr>

</table>

<br />
</form>
</div>

{% endblock %}
