{% extends "outlines/series-3.html" %}

{% block title %}{{biouser.name}}{% endblock %}

{% block subsection_name %}Teacher Biography{% endblock %}

{% block stylesheets %}
{{block.super}}
<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

#divmaintext hr { border: 1px solid black; }
img.biophoto { border: 1px solid black; }

</style>
{% endblock %}

{% block content %}
<h1 style="font-size: 120%;">ESP Biography</h1>
{% ifequal user.id request.user.id %}
<a href="{{ bio.edit_url }}" title="Edit this bio!">
  Edit this biography!
</a>
{% endifequal %}
<br /><br />
<h2>{{biouser.name|upper}}, {{bio.slugbio}}</h2>
<hr />


<br />
<br />
<table cellspacing=0 cellpadding="5" border="0">
<tr>
  <td width="300">
  <strong>Major:</strong> {{biouser.getLastProfile.teacher_info.major|default:"Not available."}} <br /><br />
  <strong>College:</strong> {{biouser.getLastProfile.teacher_info.college|default:"Not available."}} <br /><br />
  <strong>Year of Graduation:</strong> {{biouser.getLastProfile.teacher_info.graduation_year|default:"Not available."}} <br /><br />
  {% load mask_email %}
  <strong>Email Address:</strong> <tt style="text-size: 130%;">{{biouser.username|mask_email_concat:"esp.mit.edu"}}</tt>
      

  </td>
  <td>
   <img src="/media/{{bio.picture}}" title="Picture of {{biouser.name}}"  
        alt="Picture of {{biouser.name}}" align="right" class="biophoto" />
  </td>
</tr>
<tr>
  <td colspan="2">
  <h2>Brief Biographical Sketch:</h2>
  <p>
    {{bio.bio|linebreaks }}
  </p>
  <br />
  <br />
  <h2>Past Classes</h2> &nbsp; 
  <small>(Look at the <a href="/archives/classes/" title="Past ESP Classes">class archive</a> for more.)</small>
  
  <br />
  <br />
  <br />
  {% if classes|length_is:0 %}
   None found.
  {% else %}
  {% autoescape off %}
  {{ classes|join:"<br /><br />" }}
  {% endautoescape %}
  {% endif %}
  <br />  <br />  <br />  <br />

  </td>
  
</tr>
</table>

{% endblock %}
