{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<h1>Select users</h1>

<p>
Please check off the users you'd like to be included in your list:
</p>

<form action="{{ request.path }}" method="post" name="checklist">

<table>
{% for user in users %}
<tr>
<td>
<input type="checkbox" name="userno{{user.id}}" value="{{user.id}}" />
{{user.first_name}} {{user.last_name}} ({{user.username}}) ({{user.id}})
</td>
</tr>
{% endfor %}
</table>
<br />
<br />

<input type="hidden" name="extra" value="{{extra}}" />
<input type="hidden" name="submit_checklist" value="true" />
<input type="submit" value="Choose these users" name="submitform" />

{% endblock %}
