{% extends "main.html" %}

{% block title %}User Information{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/tooltips.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />

<style type="text/css">
.key {
  background-color: #F2F5A9;
}

.yes {
  color: green;
}

.no {
  color: red;
}

.sortable {
  border-spacing: 5px 5px;
  border-collapse: separate;
}
</style>
{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/sorttable.js"></script>
{% endblock %}

{% block content %}

<h1>Select User</h1>

<p>Multiple users matched the criteria that you specified.  Please select one to view:</p>

<table class="sortable">
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Username</th>
  <th>Email</th>
  <th>User Type(s)</th>
  <th class="sorttable_sorted_reverse">Last Program</th>
  <th>Active?</th>
</tr>
{% for user in found_users %}
<tr>
  <td>{{ user.first_name }}</td>
  <td>{{ user.last_name }}</td>
  <td><a href="/manage/userview?username={{ user.username|urlencode }}">{{ user.username }}</a></td>
  <td>{{ user.email }}</td>
  <td>
    {% with user.getUserTypes as types %}
    {% if types %}
    {% for type in user.getUserTypes %}
    <span class="{{ type }}">{{ type }}</span>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    <span class="no_usertype">None</span>
    {% endif %}
    {% endwith %}
  </td>
  <td>{{ user.get_last_program_with_profile }}
  <td>{% if user.is_active %}<span>&#10003;</span>{% endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
