{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<h1> Search For User</h1>

<p style="text-align: center">
Please search for a user: <br />
(Yes, Regular expressions are allowed.)
</p>

{% if error %}
<p class="error">Error: No user found by that criteria.</p>
{% endif %}
<form action="{{ request.path }}" method="get">

<br />
<input type="hidden" name="extra" value="{{extra}}" />
<input type="hidden" name="op" value="usersearch" />
<label for="userid"><strong>User ID:</strong></label>
<input type="text" size="6" name="userid" id="userid" />
<br />

<br />
<label for="username"><strong>Username:</strong></label>
<input type="text" size="30" name="username" id="username" />
<br />

<br />
<label for="last_name"><strong>Last Name:</strong></label>
<input type="text" size="30" name="last_name" id="last_name" />

<br />

<br />
<label for="first_name"><strong>First Name:</strong></label>
<input type="text" size="30" name="first_name" id="first_name" />
<br />
<br />
<input type="submit" value="Search for user" name="submitform" />

</form>


{% endblock %}