{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<script type="text/javascript">
    function checkAll(checkId){
        var inputs = document.querySelectorAll(checkId);
        for (var i = 0; i < inputs.length; i++) {  
            inputs[i].checked = chk_new.checked;
        }
    }
</script>

<h1>Select users</h1>

<p>
Please check off the users you'd like to be included in your list:
</p>

<form action="{{ nextpage }}" method="post" name="checklist">

<table>
<tr>
<td>
<input type="checkbox" id="chk_new" onclick="checkAll('.chk');">
Select all users
</tr>
</td>
{% for user in users %}
<tr>
<td>
<input type="checkbox" class="chk" name="userno{{user.id}}" value="{{user.id}}" />
{{user.first_name}} {{user.last_name}} ({{user.username}}) ({{user.id}})
</td>
</tr>
{% endfor %}
</table>
<br />
<br />



<input type="hidden" name="extra" value="{{extra}}" />
<input type="hidden" name="submit_checklist" value="true" />
<input type="submit" value="Choose these users" name="submitform" class="btn btn-primary" />
</form>

{% endblock %}
