/* Google results top band colors CSS */
/* This is an extract from http://web.mit.edu/styles/mit-daily-colors.css  */
/* Here you can set a top band background color and link colors within that band */


/* top band background color */
.mithome_bg_b { 
	background-color: #F50;
}

/* top band link colors */
a.mithome:link {
	color: #FFF;
}
a.mithome:hover {
	color: #CCC;
}
a.mithome:active {
	color: #FFF;
}
a.mithome:visited {
	color: #FFF;
}

