{% extends "program/modules/teacheronsite/webapp.html" %}

{% block body %}
{% load survey %}
<center>
  <div class="main">
    {% if survey_page == "review" %}
        {% for c in perclass_data %}
            <table style="width:100%">
                <tr>
                    <th>Responses for {{ c.class.emailcode }}: {{ c.class.title }}</th>
                </tr>
            </table>
            {% for q in c.questions %}
                {% with c.class.num_students as num_participants %}
                    {% include "survey/answers.html" %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <table style="width:100%"><tr><th>Survey for {{ program.niceName }}</th></tr></table>

        <div id="program_form">
        <form method="post" action="{{ request.path }}">

        {% for question in questions %}{{ question.render|uselist:classes }}{% endfor %}
        
        {% for sec in sections %}
          <table style="width:100%">
            <tr>
                <th>Questions for {{ sec.emailcode }}: {{ sec.title }} ({% for tm in sec.friendly_times %}{% if forloop.counter > 1 %},{% endif %}{{ tm }}{% endfor %})</th>
            </tr>
            </table>
            {% for question in perclass_questions %}
                {{ question.render|substitute:sec }}
            {% endfor %}
        {% endfor %}
        
        <table style="width:100%">
            <tr>
                <th>Submit</th>
            </tr>
            <tr>
                <td align="center">
                    Click the button below to finish your survey.  Thank you so much for your time!<br /><br />
                    <input type="Submit" class="fancybutton" value="Submit Survey" /><br />
                </td>
            </tr>
        </table>

        </form>
        </div>
    {% endif %}
  <table style="height:8vh; border:none;"><tr style="border:none;"><td style="border:none;"></td></tr></table>
  </div>
</center>
<div class="navbar bottom">
  <table>
    <tr>
      <td{% if survey_page == "survey" %} class="selected"{% endif %}><a class="no-dec" href="/teach/{{one}}/{{two}}/onsitesurvey/" style="display:block;"><i class="material-icons md-5">ballot</i>
        <br>Teacher Survey</td>
      <td{% if survey_page == "review" %} class="selected"{% endif %}><a class="no-dec" href="/teach/{{one}}/{{two}}/onsitesurvey/review" style="display:block;"><i class="material-icons md-5">receipt</i>
        <br>Student Survey Results</td>
    </tr>
  </table>
</div>

{% endblock %}
