<!-- Question Type: Checkboxes -->
{% load survey %}
<table class="fullwidth">
<tr>
    <td>
    <b>{{ name }}</b>
    {% for choice in list %}
        <div class = "floatLeft">
        <input type="checkbox" name="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}"
               id="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}_{{ choice|slugify }}" value="{{ choice }}" />
        <label for="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}_{{ choice|slugify }}" class="no_float">{{ choice }}</label>
        </div>
    {% endfor %}
    </td>
</tr>
</table>
