<!-- Question Type: Multiple choice -->
{% load survey %}
<table class="fullwidth">
<tr>
    <td width="30%"><b>{{ name }}</b></td>
    <td>
    {% for choice in list %}
        <div style="padding-left:2em; text-indent:-2em;">
        <input type="radio" name="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}"
               id="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}_{{ choice|slugify }}" value="{{ choice }}" />
        <label for="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}_{{ choice|slugify }}">{{ choice }}</label>
        </div>
    {% endfor %}
    </td>
</tr>
</table>
