<!-- Question Type: Numeric Rating -->
{% load survey %}
<table class="fullwidth">
<tr>
    <b>{{ name }}</b>
    {% for i in 1|intrange:number_of_ratings %}
        <div class = "floatLeft"><input type="radio" name="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}" value="{{ i }}" /> <b>{{ i }}</b>
        {% if forloop.first %} {{ lower_text }}{% endif %}
        {% if forloop.middle %} {{ middle_text }}{% endif %}
        {% if forloop.last %} {{ upper_text }}{% endif %}
        </div>
    {% endfor %}
</tr>
</table>
