<!-- Question Type: Yes/No Response -->
{% load survey %}
<table class="fullwidth">
<tr>
    <td>
    <div style = "text-align: left; font-weight: bold;"> {{ name }} </div>
    <div style = "text-align: left;"><input type="radio" name="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}" value="Yes" /> Yes</div>
    <div style = "text-align: left;"><input type="radio" name="question_{{ id }}{% if for_class %}_{% templatetag openvariable %} id {% templatetag closevariable %}{% endif %}" value="No" /> No</div>
    </td>
</tr>
</table>
