{% extends "main.html" %}
{% block fulltitle %}{{ title }}{% endblock %}
{% block javascript %}
{{ block.super}}
<script type="text/javascript">
function showInstructions() {
    d = document.getElementById('id_instructions-div');
    if (d.style.visibility == 'hidden') {
        d.style.visibility = 'visible';
        d.style.height = '100%';
        document.getElementById('id_instructions-button').value = 'Hide';
    }
    else if (d.style.visibility == 'visible') {
        d.style.visibility = 'hidden';
        d.style.height = '0px';
        document.getElementById('id_instructions-button').value = 'Show';
    }
}
</script>
{% endblock %}
{% block content %}
{% block form_headers %}
{% block form_title %}
<h1 class='title'>{{ title }}</h1>
{% endblock %}
{% block form_step %}
<p>Step {{ step }} of {{ step_count }}</p>
{% endblock %}
{% block form_instructions %}
<div class='instructions' style="outline: thin solid black; padding: 3px; margin-bottom: 10px">
<h3 class='instructions'>Instructions: <input type='button' name='instructions-button' id='id_instructions-button' value='Show' onclick="showInstructions();return 0;" /></h3>
<div class='instructions text' name='instructions-div' id='id_instructions-div' style="left: 10px; visibility: hidden; height: 0px;">
{% for instruction in instructions %}
<p class='instructions instruction'>{{ instruction }}</p>
{% endfor %}
<p class='instructions instruction'>When you are done, press 'Submit' at the bottom.</p>
<p class='instructions instruction'>E-mail <a href="mailto:web-team@learningu.org">web-team@learningu.org</a> if you have any questions or require assistance.</p>
</div></div>
{% endblock %}
{% endblock %}
{% block form %}
<form action="." method="post" id="id_{{ step }}-form">
{% block form_begin %}{% endblock %}
{% block form_div %}<div id="id_{{ step0 }}-form_div">{% endblock %}
{% block form_as %}{{ form.as_p }}{% endblock %}
</div>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
{% block form_end %}{% endblock %}
<input type="submit" />
</form>
{% endblock %}
{% block return_to_beginning %}
<p><br /><a href="/dataviews/">Return to the beginning</a> (note: you will lose all of your current selections if you do this!)</p>
{% endblock %}
{% block after_load_scripts %}{% endblock %}
{% endblock %}
