{% extends "main.html" %}

{% block title %}Teacher Preparation Events for {{ prog.niceName }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />

<h1>Teacher Preparation Events for {{ prog.niceName }}</h1>

<div id="program_form">

<p>
Please let us know which events you will attend.
</p>

{% load render_qsd %}
{% render_inline_program_qsd prog "teach:eventsignupheader" %}

<form method="post" action="{{ request.path }}">
<table cellpadding="4" cellspacing="0" align="center" width="300">
    {{ form }}
    <tr>
        <td align="center" colspan="2"><input type="submit" class="btn btn-primary" value="Submit" /></td>
    </tr>
</table>
</form>

<br />

{% include "program/modules/teacherregcore/returnlink.html" %}

</div>

{% endblock %}
