{% for timeslot in timeslots %}
    <tr class="trs">
        <td class="desc" style="width:25%">{{ timeslot.description }}</td>
        <td style="width:18%">{{ timeslot.start|date:"D, M j f A" }}</td>
        <td style="width:7%">{{ timeslot.end|date:"f A" }}</td>
        <td style="width:45%">
            {% if timeslot.teachers %}
                {{ timeslot.teachers|join:",<br />" }}
            {% else %}
                <em>(None)</em>
            {% endif %}
        </td>
        <td style="width:5%">
            <form method="post" action="teacher_events">
            <input type="hidden" name="id" value="{{ timeslot.id }}" />
            <input type="hidden" name="command" value="delete" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </td>
    </tr>
{% endfor %}
