{% extends "main.html" %}

{% block title %}Manage Teacher Events for {{ prog.niceName }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
    <style>
    .trs:not(:last-child) {
        border-bottom: 1px dashed grey !important;
    }
    </style>
{% endblock %}

{% block content %}

<h1>Manage Teacher Events for {{ prog.niceName }}</h1>

<p>
Teacher Events include (for now) <a href="#training">teacher training</a> and <a href="#interview">teacher interviews</a>. You can view and manage the timeslots here.
</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/teacher_events">
<input type="hidden" name="command" value="add" />
<table align="center" cellpadding="0" cellspacing="0" width="450">
     <tr><th colspan="2" class="small">Add a Training or Interview</th></tr>
    {{ timeslot_form }}
    <tr><td colspan="2" align="center"><input class="btn btn-primary" type="submit" name = "submit" value="Add Training" /> <input class="btn btn-primary" type="submit" name="submit" value="Add Interview" /></td></tr>
</table>
</form>

<center>Training Session Descriptions can be edited <a href="/admin/cal/event/">here</a>.</center>
</br></br>

<table align="center" cellpadding="4" cellspacing="0"> 
    <tr><th colspan="5"><a name="interview"></a>Teacher Interviews</th></tr>
    <tr><th style="width:25%">Description</th><th style="width:18%">Start</th><th style="width:7%">End</th><th style="width:45%">Teachers</th><th style="width:5%">Delete</th></tr>
    {% with interview_times as timeslots %}
        {% include "program/modules/teachereventsmodule/event_row.html" %}
    {% endwith %}
</table>
<br><br>
<table align="center" cellpadding="4" cellspacing="0"> 
    <tr><th colspan="5"><a name="training"></a>Teacher Training</th></tr>
    <tr><th style="width:25%">Description</th><th style="width:18%">Start</th><th style="width:7%">End</th><th style="width:45%">Teachers</th><th style="width:5%">Delete</th></tr>
    {% with training_times as timeslots %}
        {% include "program/modules/teachereventsmodule/event_row.html" %}
    {% endwith %}
</table>
</div>

{% endblock %}
