{% extends "outlines/series-3.html" %}

{% block title %}Manage Teacher Events for {{ prog.niceName }}{% endblock %}

{% block subsection_name %}Teacher Events{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>Manage Teacher Events for {{ prog.niceName }}</h1>

<p>
Teacher Events include (for now) <a href="#training">teacher training</a> and <a href="#interview">teacher interviews</a>. You can view the timeslots here.
</p>

<div id="program_form">
<table align="center" cellpadding="4" cellspacing="0"> 
    <tr><th colspan="4"><a name="interviews"></a>Interviews</th></tr>
    <tr><th>Timeslot</th><th>Start</th><th>End</th><th>Teachers</th></tr>
    {% with interview_times as timeslots %}
        {% include "program/modules/teachereventsmodule/event_row.html" %}
    {% endwith %}
    <tr><th colspan="4"><a name="training"></a>Teacher Training</th></tr>
    <tr><th>Timeslot</th><th>Start</th><th>End</th><th>Teachers</th></tr>
    {% with training_times as timeslots %}
        {% include "program/modules/teachereventsmodule/event_row.html" %}
    {% endwith %}
</table>
</div>

{% endblock %}
