{% extends "elements/html" %}

{% block fulltitle %}{{ theme.titlebar_prefix }} - {% block title %}Home{% endblock %}{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/match_heights.js"></script>
    <script type="text/javascript">
    match_content = function () {
        match_heights(['chicago_main', 'navbar']);
    };
    $j(document).ready(function() {
        window.setTimeout(function() {
            match_content();
        });
    });
    </script>
{% endblock %}

{% block body %}

<div id="content">
<div id="topleft"><a href="/"><img src="/media/images/theme/splogo.gif" alt="{{ theme.titlebar_prefix }}" /></a></div>

<div id="nav_buttons">
<a href="/learn/index.html"><div id="nav_button1"></div></a>
<a href="/teach/index.html"><div id="nav_button2"></div></a>
<a href="/volunteer/index.html"><div id="nav_button3"></div></a>
<a href="/more_info/index.html"><div id="nav_button4"></div></a>
</div>

<div id="navbar">

<div id="navbar_header"><img src="/media/images/theme/news.gif" alt="RECENT NEWS" /></div>

<div id="navbar_content">

{% block loginbox %}
{% include "users/loginbox.html" %}
{% endblock %}

<div class="admin admin_hidden">
<div id="usersearchform">
<h3>Search for User</h3>
<p>
<form id="user_search_form" name="user_search_form" method="get" action="/manage/usersearch">
<input class="usersearchbox" type="text" id="user_search_field" name="userstr" />
<input class="usersearchbutton" type="submit" id="user_search_submit" name="search_submit" value="Find User"/>
</form>
</p>
</div>

<a href="/admin/miniblog/entry/">Edit Links</a>
</div>

{% load preview %}
{% miniblog_for_user None as announcements 6 %}

{% load markdown %}
{% for announce in announcements.announcementList %}
<p>
<span class="announcementlink_title{% if announce.section %} {{ announce.section }}{% endif %}">{{ announce.makeTitle }}</span><br />
<span class="announcementlink prettify">{% autoescape off %}{{ announce.content|markdown }}{% endautoescape %}</span>
</p>
{% endfor %}

<!-- more announcements -->
{% if announcements.overflowed %}
<div id="divannouncemore">
  <a href="/myesp/home/">More Notices...</a>
</div>
{% endif %}

</div>
</div>

<div id="chicago_main">

<div id="chicago_main_header">{% block welcome_message %}<!-- CSS2 doesn't allow vertical alignment without a table.  So, give it a table. --><table width="600px" height="30px"><tr><td valign="middle">{{ theme.welcome_message }}</td></tr></table>{% endblock %}</div>

<div id="chicago_main_content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>

</div>

</div>
{% endblock %}