{% extends "main.html" %}

{% block title %}Manage Resources{% endblock %}

{% block content %}

<p>
This section of the site allows you to manage the database of resources (classrooms, class supplies, projectors, and so on) used by all programs.  The resources system is still being rewritten, so if things don't work, don't hesitate to poke web support.  You can:
</p>
<ul>
  <li><a href="locations/">Manage classrooms and other class locations</a></li>
</ul>

<p>
To manage the resources that are available for each program, go to that program's manage page.
</p>

{% endblock %}
