server {

    listen 80;

    server_name {{ SERVER_NAME }};
    access_log /var/log/nginx/{{ INSTANCE_NAME }}.access.log;
    charset utf-8;
    client_max_body_size 8m;

    gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

    location /public/static {
        alias {{ PROJECT_DIR }}/esp/static;
        autoindex off;
        expires 1M;
    }

    location /media {
        alias {{ PROJECT_DIR }}/media;
        autoindex off;
        expires 1M;
    }

    location / {
        proxy_pass http://localhost:{{ APACHE_PORT }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    #error_page  404  /404.html;

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /var/www/nginx-default;
    }

}

server {
    listen 80;
    server_name www.{{ SERVER_NAME }};
    rewrite ^(.*)$ http://{{ SERVER_NAME }}$1 permanent;
}

# uncomment the following in order to deny all requests with unmatched server_name;
# for nginx >= 0.8.21 replace 'default' with 'default_server'

# server {
#     listen       80  default;
#     server_name  _;
#     return       444;
# }
