<html>
<head>
<title>Live Registration Status</title>
<script type="text/javascript" src="/media/scripts/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
<script type="text/javascript" src="/media/scripts/common.js"></script>
<script type="text/javascript">
    $j(document).ready(function() {
        $j.getScriptWithCaching("/media/scripts/csrf_init.js");
        $j.getScriptWithCaching("/media/scripts/csrf_check.js");
    });
    function set_compact_classes() {
    }
</script>
<script type="text/javascript" src="/media/scripts/onsite/hsl_colors.js"></script>
<script type="text/javascript" src="/media/scripts/onsite/ajax_status.js"></script>
<script type="text/javascript">
    var program_base_url = "/onsite/{{ program.getUrlBase }}/";
    var open_class_category = {{ open_class_category }};
    {% if initial_student %}
    set_current_student({{ initial_student }});
    {% endif %}
</script>
<style type="text/css">
    .no-profile {
        background-color: #f7d0d0;
    }
</style>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/onsite_ajax_status.css" />

</head>

<body>

<p align="center">
<table>
<tr>
<td>
    <div id="messages">
    </div>
</td>
<td>
    <div id="category_controls">
        <b>Categories to display</b>
        <div id="category_list">
            <div>
                <input id="category_show_all" class="control_button category_selector" type="button" value="Show All"/>
                <input id="category_hide_all" class="control_button category_selector" type="button" value="Hide All"/>
            </div>
        </div>
    </div>
</td>
<td>
    <div id="settings_controls">
    <!-- make sure to update onsite/ajax_status.js when changing this -->
    <div><input type="checkbox" id="hide_full_control" checked="checked"/>Show full classes</div>
    <div><input type="checkbox" id="override_control"/>Override size limits</div>
    <div><input type="checkbox" id="grade_limits_control"/>Show classes outside student's grade range</div>
    <div><input type="checkbox" id="compact_classes" checked="checked" />Display only class numbers</div>
    <div><input type="checkbox" id="show_closed_reg"/>Show sections that are closed to registration</div>
     <div><input type="checkbox" id="hide_past_time_blocks"/>Hide past timeblocks</div>
    </div>
</td>
</tr>
</table>
</p>

<p>
<div id="student_selector_area" class="ui-widget">Select a student:
<input type="text" id="student_selector"/> 
<input id="schedule_print" class="control_button" type="button" value="Print schedule"/>
<input id="status_switch" class="control_button" type="button" value="Return to status view"/>
<input id="reload_button" class="control_button" type="button" value="Refresh data" onclick="refresh_counts();"/>
<br />Select a printer:
<select id="printer_selector" class="control_button">
    <option value="">Default printer</option>
    {% for printer in printers %}
    <option value="{{ printer }}">{{ printer }}</option>
    {% endfor %}
</select>
</div>

<div id='compact-classes-body' class='compact-classes' style="z-index:-900;">
<table class="narrow bordered">
<tr>{% for timeslot in timeslots %}
    <td width="270px" valign="top"><div id="timeslot_{{ timeslot.id }}"></div></td>{% endfor %}
</tr>
</table>
</div>

<div id="space_at_bottom" style="height: 400px;">&nbsp;</div>

<a name="settings" />
<div id="dialog-confirm" title="Register Account?" class="hide">
  <div>
    This account is not registered with this program. <br />
    Would you like to proceed with registering this account?
    </div>
</div>
</body>
</html>
