
<html>
<head>
<meta http-equiv="refresh" content="{{ refresh_time }}" />
<title>Onsite Class List for {{ prog.niceName }}</title>
</head>

<body bgcolor="#FFFFFF">

<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />

<br />


{% load class_render %}

<div id="catalog">
  <table cellpadding="2" cellspacing="0" class="fullwidth">
    <tr>
        <th>Class</th>
        <th>Meeting Time</th>
        <th>Grades</th>
        <th>Enrollment</th>
	<th>Room</th>
    </tr>
    {% for class in classes %}
        {% render_class_row class %}
    {% endfor %}
</table>
</div>

{% include "program/modules/onsitecore/returnlink.html" %}

</body>
</html>
