
<html>
<head>

<script>
scroll_offset = 0;
interval_handle = -1;

function setElementStyleById(id, propertyName, propertyValue) {
    if (!document.getElementById) return;
    var el = document.getElementById(id);
    if (el) el.style[propertyName] = propertyValue;
}

function getElementStyleById(id, propertyName) {
    if (!document.getElementById) return;
    var el = document.getElementById(id);
    return el.style[propertyName];
}

function scroll() 
{
    scroll_offset -= {{ scrollspeed }};
    elt1 = document.getElementById("scroller_top");
    if (elt1.offsetHeight + scroll_offset < 0)
    {
        reset();
    }
    setElementStyleById("scroller_top", "top", scroll_offset + "px");
    setElementStyleById("scroller_bottom", "top", scroll_offset + elt1.offsetHeight + "px");
}

function reset()
{
    if (interval_handle != -1)
        clearInterval(interval_handle);
    scroll_offset = 0;
    scroll();
    setTimeout("start_scrolling();", 50);
}

function start_scrolling()
{
    interval_handle = setInterval("scroll();", 50);
}
</script>

<style type="text/css">
html, body {
    overflow:hidden;
}

#scroller_top, #scroller_bottom {
    position: absolute;
    overflow: auto;
    top: 0px;
}

.classitem {
padding-bottom: 5px;
font-size: 1.2em;
}

.materials {
font-size: 1.7em;
}
</style>

<meta http-equiv="refresh" content="{{ refresh }}" />
<title>On-site Class List for {{ prog.niceName }}</title>
</head>

<body bgcolor="#FFFFFF" onload="reset();">

<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />

<br />

{% load class_render %}

<div id="catalog">
<table width="100%">
<tr>
<td width="65%" valign="top">
  <table cellpadding="2" cellspacing="0" width="100%">
    <tr>
        <th style="font-size: 2.0em" colspan="2">{{ prog.niceName }}: Open classes for the upcoming hour:{# starting at {{ current_time.start|date:"D P" }} #}</th>
    </tr>
    <tr>
        <th style="font-size: 1.7em" class="materials">Code</th>
        <th style="font-size: 1.7em" class="materials">Class Title</th>
    </tr>
    {% for class in classes %}{% ifequal class.start_time current_time %}{% if not class.isFull %}{% render_class_current class %}{% endif %}{% endifequal %}{% endfor %}
</table>
</td>
<Td valign="top">
  <div id="scroller_top" onclick="reset();">
    {% include "program/modules/onsiteclasslist/allclass_fragment.html" %}
    </div>
    <br />
    <div id="scroller_bottom" onclick="reset();">
    {% include "program/modules/onsiteclasslist/allclass_fragment.html" %}
    </div>
</td>
</tr>
</table>
</div>

</body>
</html>
