{% extends "main.html" %}

{% block title %}{{program.niceName}}{% endblock %}

{% block xtrajs %}
<script type="text/javascript">
  var program_core_url = "{{ program.getUrlBase }}/";
  var program_base_url = "/json/" + program_core_url;
  var catalog_type = "public";
  var open_class_category_id = {{ open_class_category_id }};
  var lunch_category_id = {{ lunch_category_id }};
  var increment_grade = {{ program.incrementGrade }};
</script>

<script type="text/javascript" src="/media/scripts/knockout-min.js"></script>
<script type="text/javascript" src="/media/scripts/crypto-js.md5.js"></script>
<script type="text/javascript" src="/media/scripts/spin.min.js"></script>
<script type="text/javascript" src="/media/scripts/jquery.spin.js"></script>
<script type="text/javascript" src="/media/scripts/jquery.sticky.js"></script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>
<script type="text/javascript" src="/media/scripts/catalog-new.js"></script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/catalog-new.css" />
{% endblock %}

{% block content %}
<h1>{{ program.niceName }} Student Registration</h1>

<div id="catalog-intro">
  {% block catalog_intro %}{% endblock %}
</div>

<div id="catalog-sticky" style="">
  {% block catalog_sticky %}{% endblock %}
</div>

<div id="catalog-new" style="display: none" data-bind="visible: true">
  <!-- ko foreach: classesArray -->
  <div class="catalog-entry" data-bind="visible: $parent.showClass($data)">
    <div class="catalog-entry-header">
      <h2 class="catalog-entry-title" data-bind="text: fulltitle"></h2>
      <div class="catalog-entry-teachers" data-bind="foreach: teachers">
        <a data-bind="text: name, attr: { href: '/teach/teachers/'+username+'/bio.html',
                      title: 'The biography of '+name }">
        </a><!-- ko if: $index() != $parent.teachers().length - 1 -->, <!-- /ko -->
      </div>
    </div>
    {% block class_action %}{% endblock %}
    <div class="catalog-entry-body">
      <div class="catalog-entry-description" data-bind="text: class_info"></div>
      <dl>
        <dt>Grades</dt> <dd data-bind="text: grade_range"></dd>
        <dt>Difficulty</dt> <dd data-bind="text: difficulty"></dd>
        <!-- ko if: class_style -->
        <dt>Class Style</dt> <dd data-bind="text: class_style"></dd>
        <!-- /ko -->
        <!-- ko if: prereqs -->
        <dt>Prerequisites</dt> <dd data-bind="text: prereqs"></dd>
        <!-- /ko -->
      </dl>
      <table>
        <thead>
          <tr>
            <th>Section</th>
            <th>Meeting Time</th>
            <th>Enrollment</th>
          </tr>
        </thead>
        <tbody data-bind="foreach: sections">
          <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: time"></td>
            <td data-bind="text: enrollment"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- /ko -->
  <!-- ko if: !classesShowing() && !loading() -->
  <div class="no-match">
    <center>
    There are no classes in this timeslot that match your filter.
    </center>
  </div>
  <!-- /ko -->
  <div id="catalog-loading" data-bind="visible: loading">
    <p>Loading classes...</p>
    <div id="catalog-spinner">&nbsp;</div>
  </div>
</div>

{% endblock %}
