{% extends "program/modules/studentclassregmodule/catalog_new.html" %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/select2-3.4.3/select2.js"></script>
<script type="text/javascript" src="/media/scripts/catalog-phase2.js"></script>
<script type="text/javascript">
  // Use phase2 rendering of the catalog template
  var catalog_type = "phase2";
  var timeslot_id = "{{timeslot.id}}";
  var num_priorities = "{{num_priorities}}";
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/select2-3.4.3/select2.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/catalog-phase2.css" />
{% endblock %}

{% block catalog_sticky %}
<div style="float: left"><h2>Step 2: Rank classes starting at {{ timeslot.start }}</h2></div>
<div style="float: right">
  <form data-bind="submit: build_json_data">
    {% csrf_token %}
    <input name="json_data" type="hidden" />
    <input class="save" type="submit" value="Save and go back"/>
  </form>
</div>
<hr>
{% for pri in priorities %}
<div class="priority">
  <label>Priority {{pri}}</label>
  <select id="pri-{{pri}}" class="pri-select" data-pri="{{pri}}"
	  data-bind="options: classesArray,
		     optionsText: 'fulltitle',
		     optionsValue: 'id',
		     value: prioritySelection[{{pri}}-1],
		     optionsCaption: 'Select a class from below.'"></select>
</div>
{% endfor %}
{% endblock %}
