{% extends "program/modules/studentregtwophase/catalog_new.html" %}
{% load render_qsd %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/select2-3.4.3/select2.js"></script>
<script type="text/javascript">
  // Use phase2 rendering of the catalog template
  var catalog_type = "phase2";
  var timeslot_id = "{{timeslot.id}}";
  var num_priorities = "{{num_priorities}}";
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/select2-3.4.3/select2.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/catalog-phase2.css" />
{% endblock %}

{% block catalog_intro %}
{{ block.super }}
{% inline_program_qsd_block program "learn:studentregtwophase/phase2-intro" %}
Rank your top classes for this time block. We highly recommend you mark a class
for every priority slot to ensure a full schedule.
{% end_inline_program_qsd_block %}
{% endblock %}

{% block catalog_sticky %}
<div class="save-button">
  <form data-bind="submit: submitPriorities">
    {% csrf_token %}
    <input name="json_data" type="hidden" />
    <input class="save" type="submit" value="Save and continue"/>
  </form>
</div>
<div><h2>Step 2: Rank and star classes starting at {{ timeslot.start|date:"D g A" }}</h2></div>
<hr>
<div class="priority-box">
  {% for pri, pri_display in priorities %}
  <div class="priority">
    <label>{{pri}}.</label>
    <select id="pri-{{pri}}" class="pri-select" data-pri="{{pri}}"
            data-bind="value: prioritySelection[{{pri}}-1]"
            data-placeholder="Select a class below. ({{pri_display}})">
      <option value=""></option>
      <optgroup label="Starred" data-bind="foreach: starredClasses">
        <option data-bind="text: fulltitle, value: id"></option>
      </optgroup>
      <optgroup label="Not starred" data-bind="foreach: unstarredClasses">
        <option data-bind="text: fulltitle, value: id"></option>
      </optgroup>
    </select>
  </div>
{% endfor %}
</div>
<div class="filter-box" data-bind="visible: showFilter">
  <div class="filter-column">
    <div style="width: 14em;">
      <label>You have starred <strong data-bind="text: numStarred, style: { color: starredIndicatorColor }"></strong> classes for this timeblock.</label><br>
      <input type="checkbox" value="true"
             data-bind="checked: filterStarred"></input>
      <label>Show only starred classes</label>
    </div>
  </div>
</div>
{% endblock %}

{% block class_action %}
<div class="mark-interested">
  <a class="star" href="javascript:void(0)" title="Click the star if you're interested in this class." data-bind="click: toggle_interested">
    <i class="star-outline icon-2x icon-star-empty"></i>
    <i class="star-fill icon-2x icon-star" data-bind="visible: interested"></i>
  </a>
  <label>Click the star to mark this class as interested.</label>
  <br />
  {% for pri, pri_display in priorities %}
  <button data-bind="click: function(data) { $parent.prioritySelection[{{pri}}-1](data.id); $j('#pri-{{pri}}').trigger('change.select2'); }">Set as {{pri_display}}</button>
  {% endfor %}
</div>
{% endblock %}
