{% extends "main.html" %}
{% load render_qsd %}

{% block title %} Student Registration for {{program.niceName}} {% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<style>
.button {
  border: 2px solid #333;
  background-color: #ccf;
  color: #333;
  font-weight: bold;
  padding: 2px 5px;
  text-decoration: none;
}
</style>
{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Student Registration"|subsection }}{% endautoescape %}{% endblock %}

{% block content %}
<h1>Student Registration for {{program.niceName}}</h1>
{% inline_program_qsd_block program "learn:studentregtwophase/top" %}
Welcome to the registration lottery for {{program.niceName}}. Please complete all of the steps below to select your class preferences. You may come back to this page to update your preferences at any time before the deadline.
{% end_inline_program_qsd_block %}

<hr>

<h1>Step 1 &ndash; Mark all classes you are interested in taking</h1>
{% inline_program_qsd_block program "learn:studentregtwophase/step1" %}
<p>
Follow the link below to star classes you would consider taking for {{program.niceName}}.
These classes don't necessarily have to be your top choices. They should be anything you
would be willing to have in your schedule.
</p>
{% end_inline_program_qsd_block %}
<center><a href="/learn/{{program.getUrlBase}}/mark_classes" class="button" style="border: 2px solid #333; font-weight: bold; padding: 2px 5px; text-decoration: none">
View the classes >>
</a></center>

<br>
<hr>

<h1>Step 2 &ndash; Rank the top {{num_priority}} classes for each time</h1>
{% inline_program_qsd_block program "learn:studentregtwophase/step2" %}
<p>
Rank your preferences for each time block during {{program.niceName}}. We highly
recommend you mark a class for every priority slot to ensure a full schedule.
</p>
{% end_inline_program_qsd_block %}

<!-- Program Form Start -->

{% include program_form %}

<!-- End Program Form -->


{% endblock %}
