#battlescreen .header1 {
font-family: Times New Roman, Palatino, serif;
font-size: 15px;
font-weight: bold;
color: #FFFFCC;
}
#battlescreen  .header_dark {
font-family: Times New Roman, Palatino, serif;
font-size: 15px;
font-weight: bold;
color: #000000;
}
#battlescreen .header {
font-family: Arial;
font-size: 13px;
font-weight: bold;
color: #000000;
padding-top: 3px;
padding-bottom: 2px;
}
#battlescreen td {
font-family: Arial;
font-size: 12px;
}
#battlescreen table {
border-color: #333399;
border-style: solid;
}
#battlescreen .class_stuff {
text-indent: 20px;
font-family: Arial;
font-size: 12px;
}
#battlescreen .admin_options {
text-indent: 0px;
font-family: Arial;
font-size: 12px;
}
#battlescreen .class_title {
color: #006600;
}
#battlescreen input.button
{
   color:#000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #cccccc 1px solid;
   background-color: #cccccc;
}
#battlescreen input.button:hover
{
   color:#0000cc;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #000000 1px solid;
   background-color: #ccffcc;
}
#battlescreen input.text
{
   color:#000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   border-width: 1px;
   border-color: 000000;
   background-color: ffffff;
}