#battlescreen .header1 {
font-family: Times New Roman, Palatino, serif;
font-size: 15px;
font-weight: bold;
color: #FFFFCC;
}
#battlescreen  .header_dark {
font-family: Times New Roman, Palatino, serif;
font-size: 15px;
font-weight: bold;
color: #000000;
}
#battlescreen .header {
font-family: Arial;
font-size: 13px;
font-weight: bold;
color: #000000;
padding-top: 3px;
padding-bottom: 2px;
}

#battlescreen .class_stuff {
text-indent: 20px;
font-family: Arial;
font-size: 12px;
}
#battlescreen .admin_options {
text-indent: 0px;
font-family: Arial;
font-size: 12px;
}
#battlescreen .class_title {
color: #006600;
}
#battlescreen input.button
{
   color:#000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #cccccc 1px solid;
   background-color: #cccccc;
}
#battlescreen input.button:hover
{
   color:#0000cc;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #000000 1px solid;
   background-color: #ccffcc;
}
#battlescreen input.button:disabled
{
   color: #666;
   font-weight:normal;
   border: black 1px solid;
   background-color: #DFD;
}

#battlescreen select
{
	border: gray 1px solid;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

#battlescreen input.text
{
   color:#000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   border-width: 1px;
   border-color: 000000;
   background-color: ffffff;
}

#archives table.innertable
{
	border: 1px solid gray;
}

/* beginning of axiak work */

#battlescreen {
   font-size: 95%;
}

#battlescreen {
   font-family: Times New Roman;
}

#battlescreen .classname {
   font-family: Arial;
}

#battlescreen table {
   background-color: #FFE;
   border: 2px solid #99F;
   border-width: 0 2px 6px 2px;
}

#battlescreen table.welcomebox {
   border: 0;
}

#battlescreen th {
   padding: 5px;
   text-align: center;
   font-size: 1.1em;
   background-color: #339;
   color: #FFC;
}

#battlescreen .welcomebox th {
   background-color: #CCF;
   color: black;
}

#battlescreen .progTitle {
   font-weight: bolder;
   font-size: 110%;
}

#battlescreen a:hover {
   background: #FFF;
   text-decoration: none;
}

#battlescreen a {
   background: transparent;
   text-decoration: underline;
}

#battlescreen a.addclass {
   padding: 0 0 5px 0;
   margin: 5px;
}
#battlescreen span.addclass {
   padding: 0;
   margin: 0 0 20px 0;
   height: 20px
   
}
#battlescreen .clsright {
   text-align: right;
   font-size: 80%;
}
#battlescreen .clsleft {
   margin-left: 19px;
}

#battlescreen .borderTop {
   border: 1px groove #999; border-width: 4px 0 0 0;
}

#battlescreen .borderTopRight {
   border: 1px groove #999; border-width: 4px 0 0 0;
   text-align: right;
   font-size: 75%;
}

#battlescreen .announcementBullets {
   position: relative; left: 10px;
}