.class_error {
  background: #ccc;
}

.class_error td.info {
  background: #ccc;
}

.add_class {
  border: 1px solid #ccc;
  background: url(/media/images/add_class.jpg) no-repeat;
}

span.error {
  font-family: Arial;
  font-variant: small-caps;
  font-size: 50px;
}

#catalog table {
  padding: 0;
  margin: 0;
}