.newform, .newform td, .newform th {
    border: 0;
}

.newform td, .newform th {
    vertical-align: top;
    padding-top: 40px;
}



.newform td {
    font-style: italic;
    font-size: 90%;
}

.newform input, .newform textarea {
    font-style: normal;
    font-size:  111%;
}

.newform th {
    font-size: 80%;
    width:     1in;
}

.newform textarea {
    width: 100%;
    height: 4in;
}

.newform label {
    display: block;
    margin-top: 30px;
}
