{% extends "admin/base.html" %}
{% load i18n %}

{% comment "DO NOT DELETE THIS FILE; this customizes the admin panel." %}{% endcomment %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ settings.JQUERY_VERSION }}/jquery.min.js" integrity="{{ settings.JQUERY_HASH }}" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.{% if not settings.DEBUG %}min.{% endif %}js"></script>
<script type="text/javascript" src="/media/scripts/jquery.cookie.js"> </script>
<script type="text/javascript" src="/media/scripts/common.js"> </script>
<script type="text/javascript">
    $j(document).ready(function () {
        $j("div.raw_id_admin").hide();
    });
</script>
<script type="text/javascript" src="/media/scripts/content/user_data.js"></script>
<script type="text/javascript" src="/media/scripts/content/user_classes.js"></script>
<script type="text/javascript" src="/media/scripts/csrf_init.js"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/{{ settings.JQUERY_UI_VERSION }}/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/{{ settings.JQUERY_UI_VERSION }}/jquery-ui.js"></script>
<style type="text/css">
ul.ui-autocomplete li
{
    list-style-type: none;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
</style>
{% endblock %}

{% block title %}{{ title|escape }} | {% trans 'ESP site admin' %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}
<div class="alert alert-danger">
    You probably shouldn't be here! You should check out the <a href="/manage/programs">general management page</a> or the main management pages for individual programs before resorting to using these admin pages.
</div>
{{ block.super }}
{% endblock %}
