/* Make CheckboxSelectMultiple and FilteredSelectMultiple render sanely. */

input[name="program_module_questions"] {
  display: inline;
}
#id_program_module_questions {
    margin: 0 !important;
}
li {
    list-style-type: none;
}

li label {
    float: none !important;
    width: auto !important;
    text-indent: -18px !important;
    padding-left: 18px;
    color: #000000 !important;
}

div.form-row {
    margin-top: 8px;
    border-bottom: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #eeeeee;
    clear: both;
}

div.form-row:first-child {
    margin-top: 0px;
}

/* Control FilteredSelectMultiple widths */

div.selector, div.selector-available, div.selector-chosen {
    width: auto;
}

div.selector select {
    width: 100%;
}
