#archives td.classheading {font-family: Arial, sans-serif; font-size: 12px}
#archives td.classdesc {font-family: Arial, sans-serif; font-size: 12px}
#archives a.returntotop {font-family: Arial, sans-serif; font-size: 12px}
#archives p {font-size: 12px}
#archives h2 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
#archives h3 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: .85em;
  font-weight: bold;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}