button.fqb-delete {
    float: right;
}

select.fqb-type {
    width: 10em;
}

.fqb-assignment-details {
    padding-left: 7em;
}

.fqb-assignment-detail-select {
    width: 6em;
}

.datetime-input {
    width: 12em;
}

.bad-node {
    border: 1px solid #ff0000;
}

#content th {
    padding-top: 0;
    padding-right: 20px;
}

.fqr-class {
    margin: 5px;
    border: 1px solid lightgray;
}

.fqr-class-header {
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
}

.fqr-class-header.accepted {
    background: #def7c6;
}

.fqr-class-header.unreviewed {
    background: #c6def7;
}

.fqr-class-header.rejected {
    background: #f7c6de;
}

.fqr-class-header:not(.active):after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
}

.fqr-class-header.active:after {
    content: '\2212';
    color: black;
    font-weight: bold;
    float: right;
}

.fqr-class-assignments {
    padding: 4px;
}

.assignment-header {
    margin: 2px;
    padding: 2px;
}

.assignment-detail {
    cursor: pointer;
}

.assignment-detail div {
    padding: 2px;
}

.assignment-detail table, .assignment-detail form {
    padding-left: 3em;
    width: 100%;
}

.class-assignment-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input.assignment-submit-new {
    margin-left: auto;
    margin-right: 0px;
}

.assignment-remove:after {
    content: "\00d7";
    font-weight: 900;
}

.assignment-remove:hover {
    color: white;
}
