#battlescreen .header {
font-family: Arial;
font-size: 13px;
font-weight: bold;
color: #000000;
padding-top: 3px;
padding-bottom: 2px;
}

#battlescreen .class_stuff {
padding-left: 24px;
font-family: Arial;
font-size: 12px;
}

#battlescreen .class_title {
color: #006600;
}

#battlescreen .bordertop2
{
    border: black 1px solid;
    border-width: 1px 0 0 0;
}

#battlescreen select
{
	border: gray 1px solid;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

#battlescreen input.text
{
   color:#000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   border-width: 1px;
   border-color: #000000;
   background-color: #fefef8fff;
}

#archives table.innertable
{
	border: 1px solid gray;
}

/* beginning of axiak work */

#battlescreen .classname {
   font-family: Arial;
}

#battlescreen > table {
   background-color: #fefef8;
   border-width: 0 2px 6px 2px;
   border-radius: 5px;
   outline: 2px solid #99F;
   outline-offset: -1px;
}

#battlescreen > table > thead th {
   padding: 5px;
   text-align: center;
   font-size: 1.1em;
   background-color: #339;
   color: white;
}

#status_wrapper > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

#status_wrapper table {
   border: 1px solid #CCC;
   border-width: 1px;
   border-collapse: collapse;
}

#status_wrapper td {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding: 5px;
    border: none;
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: 12px;
}

#status_wrapper th {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
   font-weight: bold;
   background-color: #c6def7;
   color: #000;
    text-align: center;
}

#status_wrapper th.smaller {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
   font-size: 0.9em;
   /* background-color: #ffffff; */
   color: #000000;
   text-align: left;
   vertical-align: top;
}

#status_row {
    background-color: aliceblue;
}

#battlescreen a.btn {
    text-decoration: none;
}

#battlescreen a:hover {
   background: #fefef8;
   text-decoration: none;
}

#battlescreen a.addclass {
   padding: 0 0 5px 0;
   margin: 5px;
}
#battlescreen span.addclass {
   padding: 0;
   margin: 0 0 20px 0;
   height: 20px
}

#battlescreen .clsright {
   text-align: right;
   font-size: 80%;
}
#battlescreen .clsleft {
   margin-left: 19px;
}

#battlescreen h2 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: .9em;
  font-weight: bold;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
#battlescreen h3 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: .85em;
  font-weight: bold;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

#battlescreen tr {
    border-bottom: 1px dashed #bdbdbd;
}

.clsmiddle {
    vertical-align: middle;
}

.button_td .clsmiddle {
    flex-grow: 1;
    text-align: center;
}

.add-class-cell {
    text-align: center;
}

.create-class-link {
    font-size: large;
    padding: 5px;
    display: inline-block;
    background-color: inherit;
}

.create-class-link:hover {
    background-color: inherit;
}

td.button_td {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    gap: 5px;
}

@media (max-width: 700px) {
    #battlescreen .no_mobile {
        display: none !important;
    }
}

.unapproved {
    font-style: italic;
    color: #900;
}

.dashboard_red {
    font-style:italic;
    color : #FF0000;
}

.dashboard_blue {
  font-weight:bold;
  color: #3333FF;
}
