#catalog-sticky {
    width: 560px;
    border-bottom: 1px solid #333;
    padding: 0.5em 0;
    background-color: #FFF;
    z-index: 100;
}

#catalog-new {
    font-size: 13px;
}
#catalog-new .catalog-entry {
    border: 2px solid #9BF;
    margin: 1em 0;
    overflow: hidden;
}
#catalog-new .catalog-entry-header {
    padding: 0.5em;
    background-color: #CDF;
}
#catalog-new .catalog-entry-title {
    font-size: 1.15em;
    display: inline-block;
}
#catalog-new .catalog-entry-teachers {
    font-style: italic;
    display: inline-block;
    margin-left: 1em;
}
#catalog-new .mark-interested {
    padding: 0.3em 0.5em;
    background-color: #DEF;
}
#catalog-new .mark-interested label {
    vertical-align: middle;
}
#catalog-new .mark-interested .star {
    text-decoration: none !important;
    outline: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
#catalog-new .mark-interested .star-outline {
    color: #248;
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}
#catalog-new .mark-interested .star-outline:hover {
    color: #013;
}
#catalog-new .mark-interested .star-fill {
    color: #FD7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
#catalog-new .catalog-entry-body {
    padding: 0.5em;
    font-family: serif;
}
#catalog-new .catalog-entry-description {
    white-space: pre-wrap;
    margin: 0.5em 0;
}
#catalog-new .catalog-entry dl {
    display: table;
    margin: 0.5em 0;
}
#catalog-new .catalog-entry dl > dt {
    clear: left;
    float: left;
    margin: 0;
    padding: 0 0.4em 0.4em 0;
    font-weight: bold;
}
#catalog-new .catalog-entry dl > dt:after {
    content: ": ";
}
#catalog-new .catalog-entry dl > dd {
    float: left;
    margin: 0;
    padding: 0 0.4em 0.4em 0;
}
#catalog-new .catalog-entry table {
    margin: 0.5em 0;
}
#catalog-new .catalog-entry th, #catalog-new .catalog-entry td {
    text-align: center;
    padding: 0 1em;
}

#search-spinner {
    display: inline-block;
}
