div .commpanel_hidden {
    display: none;
}

label .commpanel_list_preferred {
    color: red;
}

.ui-widget select {
    width: auto;
    max-width: 100%;
}

.ui-accordion h4 {
    font-weight: bold !important;
    font-style: normal !important;
}

#tabs {
    font-size: 1.0em;
}

.ui-tabs-nav {
/*  This prevents the ::after clearfix from also clearing irrelevant
 *  floats like the tabs in the fruitsalad theme, so the tab container is not
 *  needlessly tall. */
    overflow: hidden;
}

/*  Copies for jquery-ui.css rules with greater specificity so that they
 *  override annoying #content a { ...} rules we wrote :( I don't think they
 *  are all necessary for tabs, but eh. */
#tabs .ui-state-default a {
    color: #454545;
    text-decoration: none;
}
#tabs .ui-state-hover a, #tabs .ui-state-focus a {
    color: #2b2b2b;
    text-decoration: none;
}
#tabs .ui-state-active a {
    color: #ffffff;
    text-decoration: none;
}
#tabs .ui-state-highlight a {
    color: #777620;
}
#tabs .ui-state-highlight a {
    color: #5f3f3f;
}

.ui-button {
    padding: 4px;
    margin: 6px;
}

a .ui-button {
    text-decoration: none;
}

div #recipient_type_options {
    margin-top: 10px;
}

div .ui-accordion {
    margin-bottom: 10px !important;
}

div .ui-accordion-content {
    font-size: 0.8em;
}

div .recipient_list_options li {
    list-style-type: none;
    margin-left: 0px;
}

div #combo_list_form ul {
    margin-left: 20px;
    padding-left: 0px;
}

div #combo_list_form li {
    margin-bottom: 8px;
}

#combo_list_form label.ui-button {
    margin: 0px;
    margin-left: 2px;
    padding: 2px;
}

.step_header {
    margin-bottom: 8px;
}

.step_label {
    font-weight: bold;
}

.step_instructions {
    font-size: 0.9em;
}

.step_highlight {
    background-color: #FFFF00;
}

div .combo_list_separator {
    font-weight: bold;
}

div #msgreq_info_area {
    margin-top: 10px;
    font-size: 0.9em;
}

div .email_contents {
    font-family: Courier New, monospace;
    font-size: 0.9em;
}
