#results {
	width:100%;
}

#gridContainer {
	width:100%;
	height:100%;
}

table.form_list {
	border:none;
}

table.form_list tr{
	margin:5px;
	padding:5px;
}

table.form_list td{
	margin:15px;
	padding:15px;
	margin-top:30px;
}

h1.title{
	font-size:2em;
	padding-bottom:0;
	margin-bottom:5px;
	color:#66512B;
}

em.desc{
	font-style:italic;
	padding-top:0;
	margin-top:0px;
	margin-bottom:25px;
}

#create_link{
	font-weight:bold;
}