/* Form view */
.help_text {
	font-size: 14px;
	font-style: italic;
}

ul.errorlist {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.errorlist li {
	background-color: #C40000;
	color: white;
	display: block;
	font-size: 11px;
	margin: 0 0 3px;
	padding: 4px 5px;
	opacity:0.7;
}

.form_title {
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 5px;
	color: #66512B;
}

.form_desc {
	font-style: italic;
	padding-top: 0;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 0.8em;
}

.section {
	margin: 10px;
	margin-left: 5px;
	border: 0;
}
.sect_desc {
	font-style: italic;
	margin-top: 2px;
	padding: 0;
	font-size: 1em;
}

.sect_title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	color: #652A30;
	margin-top: 10px;
}

.field_list {
	margin: 5px;
	padding: 0;
}

label.error { 
	padding-left: 16px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #EA5200;
	background: url(../default_images/unchecked.gif) no-repeat;
	font-size: 12px; 
}

table.combo_field {
	margin-top: 0;
	padding: 0;
	font-size: 0.8em;
	font-style: italic;
	width: 120px;
}

table.combo_field td.small_field{
	width: 50px;
}

table.combo_field td {
    border: none;
}

table.combo_field tr.subtext_row td {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 5px;
}

table.address_field {
    width: 500px;
}

table.address_field tr{
    width: 180px;
}

.req_text{
	font-size: 1em;
	font-style: italic;
}

.qmark{
	width: 15px;
	height: 15px;
}

.dummy_field_heading
{
    background-color: #cccccc;
    text-align: center;
    border: 2px solid black;
    padding: 2px;
    font-weight: bold;
    font-size: 1.2em;
}

.dummy_field_text
{
    vertical-align: top;
    padding: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.form_field {
	margin: 0;
	padding: 5px;
	padding-top: 0;
	margin-bottom: 15px;
}

form.form-stacked label {
	display: inline;
	margin-left: 5px;
}

form.form-stacked label input[type=checkbox],
form.form-stacked label input[type=radio] {
    /* even in form-stacked, checkboxes and radio buttons should be
       displayed on the same line as the input */
    display: inline-block;
    margin-bottom: 5px;
}

form.form_stacked fieldset{
    margin-left: 5px;
}

form input[type="text"], form input[type="url"], form input[type="email"], form input[type="number"], form input[type="password"], form textarea, form select, form .uneditable-input {
	width: auto;
}

div.required {
	background-color: rgba(0, 100, 205, 0.1);
}

ul {
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* End of Form view*/
