#userbitforms table
{
    border: 1px solid #999999;
    table-layout: fixed;
    word-break: break-word;
}

#userbitforms form input.button
{
   color:#000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #ccc 1px solid;
   background-color: #ccc;
}

#userbitforms form input.button:hover
{
   color:#00c;
   border: #000 1px solid;
   background-color: #cfc;
}
/* end of fancy button */

#userbitforms form a.abutton {
   color: #000000;
   font-family:Arial,helvetica,sans-serif;
   font-size:12px;
   font-weight:bold;
   border: #cccccc 1px solid;
   background-color: #cccccc;
   cursor: default;
   padding: 2px 5px 2px 5px;
   text-decoration: none;
}

#userbitforms form a.abutton:hover
{
   color:#0000cc;
   border: #000000 1px solid;
   background-color: #ccffcc;
}

#userbitforms form input[type=text]
{
    border: 1px solid #cccccc;
    font-size: 1.0em;
    font-family; Arial, Helvetica, sans-serif;
    width: 104px;
}

#userbitforms table
{
    font-size: 12px;
}

#userbitforms table th
{
    background-color: #BCCAF5;
    text-align: left;

}

#userbitforms img
{
    vertical-align: middle;
}

#userbitforms table th.halfwidth
{
    width: 50%;
}
#userbitforms table th.small
{
    font-size: 12px;
    font-weight: normal;
    text-align: left;
}
#userbitforms table th.is_open
{
    background-color: #bdffbd;
}
#userbitforms table th.is_closed
{
    background-color: #ffc4c4;
}

#userbitforms ul
{
    list-style-type: none;
    text-indent: -30px;
}

#userbitforms .override
{
    text-style: italic;
    color: #990000;
}

#userbitforms ul.nodelist
{
    list-style-type: square;
    text-indent: 0px;
}

#userbitforms p.bitname
{
    color: #0000666;
    font-size: 1.1em;
    text-indent: -3em;
    margin-left: 3em;
    margin-bottom: 5px;
}
#userbitforms .bituri
{
    font-size: 0.9em;
    color: #666666;
    font-style: italic;
    font-weight: normal;
}

#userbitforms ul.errorlist, #userbitforms ul.errorlist li
{
    list-style-type: none;
    margin: 0px;
    text-indent: 0px;
    font-style: italic !important;
    color: #c00 !important;
}

.hasDatepicker:disabled + .ui-datepicker-trigger {
    display: none;
}