button.fqb-delete {
    float: right;
}

select.fqb-type {
    width: 10em;
}

.fqb-flag-details {
    padding-left: 7em;
}

.fqb-flag-detail-select {
    width: 6em;
}

.datetime-input {
    width: 12em;
}

.bad-node {
    border: 1px solid #ff0000;
}

.fqr-class {
    margin: 5px;
    border: 1px solid lightgray;
}

.fqr-class-header {
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px;
}

.fqr-class-header.accepted {
    background: #def7c6;
}

.fqr-class-header.unreviewed {
    background: #c6def7;
}

.fqr-class-header.rejected {
    background: #f7c6de;
}

.fqr-class-header:not(.active):after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
}

.fqr-class-header.active:after {
    content: '\2212';
    color: black;
    font-weight: bold;
    float: right;
}

.fqr-class-flags {
    padding: 4px;
}

.flag-header {
    margin: 2px;
    padding: 2px;
    cursor: pointer;
}

.flag-header:not(.active) .flag-name:after {
    content: '\002B';
    font-weight: 900;
}

.flag-header.active .flag-name:after {
    content: '\2212';
    font-weight: 900;
}

.flag-detail {
    cursor: pointer;
}

.flag-detail div {
    padding: 2px;
}

.flag-detail table, .flag-detail form {
    padding-left: 3em;
    width: 100%;
}

.class-flag-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input.flag-submit-new {
    margin-left: auto;
    margin-right: 0px;
}

.flag-remove:after {
    content: "\00d7";
    font-weight: 900;
}

.flag-remove:hover {
    color: white;
}
