.fsSection {
  padding-bottom: 20px;
  border-bottom: 1px dotted #999;
  margin-bottom: 20px;
}

div.fsSectionText,
#content .fsSectionText p {
  font-size: 13px;
  margin-top: -15px;
  margin-bottom: 30px;
}

#content h2.fsSectionHeading {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.fsLabel {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
}

.fsLabel.hidden {
  display: none;
}

.fsField {
  margin-bottom: 1.6em;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

select, input, textarea {
  font-family: monospace;
}

input[readonly='readonly'], textarea[readonly='readonly'] {
  background-color: #ddd;
}

input.fsSubmitButton {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
}

.fsSupporting {
  color: #888;
  font-size: 0.8em;
  margin-top: -1.4em;
  margin-bottom: 1.6em;
  width: 330px;
}

.ui-datepicker-trigger {
  margin-bottom: -4px;
}

.fsError {
  font-size: 0.8em;
  margin-bottom: 1.6em;
  color: red;
  font-weight: bold;
}

.fsValidationError input,
.fsValidationError select,
.fsValidationError textarea {
  border: 1px solid #FF0000;
}

#page.yellowgreen div#content {
  border-bottom: 20px solid #88CF00;
}

#page.blue div#content {
  border-bottom: 20px solid #3DC0FF;
}

#page.purple div#content {
  border-bottom: 20px solid #7932E3;
}

#page.red div#content {
  border-bottom: 20px solid #D45437;
}

#page.orange div#content {
  border-bottom: 20px solid #FF9D00;
}

#page.yellow div#content {
  border-bottom: 20px solid #EDB600;
}

#page.lightgreen div#content {
  border-bottom: 20px solid #84BE6A;
}

#page.darkgreen div#content {
  border-bottom: 20px solid #478A00;
}

#page.grey div#content {
  border-bottom: 20px solid #666666;
}

#page.black div#content {
  border-bottom: 20px solid #231F20;
}
