/* styles for ESP home page */



/* GENERAL */

html, body {
  background-color: #e8f0f7;
  background-repeat: no-repeat;
  margin: 0px;
}
/* for div containing skip links and other content that should never be seen by visual browsers */
.offscreen {
  position: absolute;
  left: 0px; top: -9999px;
  width: 1px; height: 1px;
  overflow: hidden;
}

a,
a:link {
  color: #3366cc;
  text-decoration: none;
}
a:visited {
  color: #993399;
  text-decoration: none;
}
a:active,
a:hover {
  color: #3366cc;
  text-decoration: underline;
}

/* remove space around form */
form {
  display: inline;
  margin: 0;
  padding: 0;
}



/* SITE TITLE */

#divtitle {
  position: absolute;
  left: 119px;
  top: 100px;
  z-index: 4;
}
#divtitle h1 {
  display: inline;
  font-size: 12px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}



/* INTRO TEXT */

#divintro {
  position: absolute;
  left: 167px;
  top: 326px;
  z-index: 4;
}



/* PRIMARY NAVIGATION */

#divnav0 {
  position: absolute;
  left: 4px;
  top: 240px;
  z-index: 10;
}
#divnav1 {
  position: absolute;
  left: 98px;
  top: 240px;
  z-index: 10;
}
#divnav2 {
  position: absolute;
  left: 194px;
  top: 240px;
  z-index: 10;
}
#divnav3 {
  position: absolute;
  left: 292px;
  top: 239px;
  z-index: 10;
}
#divnav4 {
  position: absolute;
  left: 393px;
  top: 239px;
  z-index: 10;
}
#divnav5 {
  position: absolute;
  left: 517px;
  top: 240px;
  z-index: 10;
}
#divnav6 {
  position: absolute;
  left: 621px;
  top: 239px;
  z-index: 10;
}
#divnav7 {
  position: absolute;
  left: 410px;
  top: 320px;
  z-index: 10;
}
#divnav8 {
  position: absolute;
  left: 620px;
  top: 340px;
  z-index: 10;
}

/* "EXTRA" LINKS */

/* extra link hit areas (photo album, Delve, etc.) */
#divxlink1 {
  position: absolute;
  left: 86px;
  top: 306px;
  z-index: 8;
}
#divxlink2 {
  position: absolute;
  left: 197px;
  top: 457px;
  z-index: 8;
}
#divxlink3 {
  position: absolute;
  left: 331px;
  top: 450px;
  z-index: 8;
}
#divxlink4 {
  position: absolute;
  left: 443px;
  top: 451px;
  z-index: 8;
}
#divxlink5 {
  position: absolute;
  left: 492px;
  top: 451px;
  z-index: 8;
}

/* extra link mouseovers */
#divxlink1ro {
  position: absolute;
  left: 60px;
  top: 453px;
  z-index: 4;
  visibility: hidden;
}
#divxlink2ro {
  position: absolute;
  left: 159px;
  top: 496px;
  z-index: 4;
  visibility: hidden;
}
#divxlink3ro {
  position: absolute;
  left: 338px;
  top: 475px;
  z-index: 4;
  visibility: hidden;
}
#divxlink4ro {
  position: absolute;
  left: 406px;
  top: 477px;
  z-index: 4;
  visibility: hidden;
}
#divxlink5ro {
  position: absolute;
  left: 482px;
  top: 492px;
  z-index: 4;
  visibility: hidden;
}



/* SEARCH/LOGIN/LOGOUT FORMS */

/* search form */
#divsearch {
  position: absolute;
  left: 492px;
  top: 318px;
  z-index: 9;
}
/* login form */
#divlogin {
  position: absolute;
  left: 492px;
  top: 353px;
  z-index: 9;
}
/* logout form */
#divlogout {
  position: absolute;
  left: 492px;
  top: 357px;
  z-index: 9;
}

/* columns in form tables */
.divformcol1, .divformcol2, .divformcol3 {
  width: 66px;
  padding-right: 6px;
  padding-bottom: 1px;

  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #000000;
  line-height: 100%;
  margin: 0px;
  white-space: nowrap;
}
.divformcol2 {
  width: 104px;
}
.divformcol3 {
  width: 36px;
}

#divlogout p {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #000000;
  line-height: 100%;
  margin: 0px;
  white-space: nowrap;
}

#spanlogouticon {
  position: relative;
  left: 4px;
  top: 6px;
}

/* input box */
.inputbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.75em;
  width: 92px;
  border: solid 2px #000000;
}
/* select box */
.selectbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 12px;
  width: 92px;
}



/* QUICKLINKS FORM */

/* quicklinks form */
#divquicklinks {
  position: absolute;
  left: 492px;
  top: 422px;
  z-index: 9;
}



/* ANNOUNCEMENTS */

#divannounceheader {
  position: absolute;
  left: 452px;
  top: 29px;
  z-index: 4;
}
#divannouncements {
  position: absolute;
  left: 452px;
  top: 80px;
  width: 221px;
  height: 154px;
  overflow: hidden;
  z-index: 8;
}
#divannouncemore {
  position: absolute;
  left: 664px;
  top: 200px;
  z-index: 6;
}

#divannounceheader h1 {
  display: inline;
  font-size: 12px;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
}
#divannouncements ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#divannouncements li {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #000000;
  line-height: 133%;
  padding-left: 10px;
  margin-top: 0px;
  font-weight: bolder;
  margin-bottom: 6px;
/* Experimentation (-PdoX)
  border-bottom: thin solid black;
  border-left: thin solid black;
  border-right: thin solid black;
*/
  background-image: url(/media/images/home/bullet.gif);
  background-repeat: no-repeat;
  background-position: 0px 0.5em;
}



/* FOOTER */

#divfooter {
  position: absolute;
  left: 71px;
  top: 548px;
  z-index: 6;
}

#divfooter p {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.65em;
  color: #000000;
  line-height: 135%;
  margin: 0px;
  white-space: nowrap;
}

#divfooter td {
  vertical-align: top;
}
#divfootercol1 {
  position: relative;
  width: 77px;
  padding-right: 10px;
}
#divfootercol2 {
  position: relative;
  width: 141px;
  padding-right: 10px;
}
#divfootercol3 {
  position: relative;
  width: 241px;
  padding-right: 10px;
}
#divfootercol4 {
  position: relative;
  padding-right: 4px;
}
#divfootercol5 {
  position: absolute;
  top: -8px;
}
.sql { 
  border: 1px solid black;
  position: absolute;
  top: 10000em;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  font-family: courier-new, courier, monospace;
  width: 100%;
  font-size: 10pt;
  height: 700px;
  overflow: scroll;
}
