div .module_group {
    margin-bottom: 10px;
}

div .module_group_body {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

div .module_group_body ul {
    margin-top: 0px;
}

div .module_group_header, div .module_group_header_half {
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 8px;
    box-shadow: 3px 3px 5px #CCCCCC;
    border-radius: 5px;
}
.module_group_body .module_group .module_group_header {
    background-color: #737373;
}

div .button_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div.module_button {
    flex-grow: 1;
    flex-basis: 0;
}

div .module_link_large {
    width: calc(100% - 20px);
    min-width: 200px;
    margin: 10px;
    padding: 6px;
    text-align: center;
    float: left;
    min-height: 75px;
    height: auto;
    border-radius: 4px;
}

div .module_link_large_dead {
	width: calc(100% - 20px);
    min-width: 200px;
    margin: 10px;
    padding: 6px;
    text-align: center;
    float: left;
    min-height: 75px;
    height: auto;
    border-radius: 4px;
	cursor: default; 
	background-color: gray;
}

div .module_link_large_dead :hover {
	background-color: gray;
}

div .module_link_main {
    font-weight: bold;
}

div .module_link_caption {
    font-size: 0.9em;
}

div .module_group_expandable + .module_group_body {
    display: none;
}

.expand_collapse_text {
    font-weight: normal;
}

.helpbox {
    margin-right: 0px;
    width: inherit;
}

.module_group_body .info {
    display: table;
    margin: 0 auto;
}

#listclasses .module_group_body {
    padding: 10px;
    display: table;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

#dashboard_class_table {
    width: 100%;
}

@media (min-width:980px) {
    #program_vitals_wrapper .module_group_body:not(.flex) {
        columns: 2;
        
        div {
            min-width: max(200px, 40%);
        }
    }
}

#program_vitals_wrapper .module_group_body.flex {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
        
    div, table {
        flex: 1 1 0px;
        min-width: max(225px, 40%);
        max-width: 550px;
    }
}


#stats_tshirts .module_group_body {
    row-gap: 10px;
}