div .module_group {
    margin-bottom: 10px;
}

div .module_group_body {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

div .module_group_body ul {
    margin-top: 0px;
}

div .module_group_header, div .module_group_header_half {
    width: calc(100% - 20px);
    background-color: #f3ecc4;
    font-size: 0.95em;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    box-shadow: 3px 3px 5px #CCCCCC;
}

div .button_wrapper {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div .module_link_large {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 6px;
    text-align: center;
    float: left;
}

div .module_link_main {
    font-size: 1.1em;
    font-weight: bold;
}

div .module_link_caption {
    font-size: 0.7em;
}

div .module_group_expandable + .module_group_body {
    display: none;
}

.expand_collapse_text {
    font-weight: normal;
}

.helpbox {
    margin-right: 0px;
    width: inherit;
}
