body {
    font-family: Arial, Helvetica, sans-serif;
}

#side_area {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: #FFFFFF;
    z-index: 20;
    overflow: auto;
}

#main_area {
    position: relative;
    left: 240px;
}

#hide_sidebar {
    display: block;
    width: 100%;
}

#show_sidebar {
    display: none;
}

#side_area.sidebar_hidden {
    width: 40px;
}

#main_area.sidebar_hidden {
    left: 40px;
}

#side_area.sidebar_hidden table {
    display: none;
}

#side_area.sidebar_hidden #hide_sidebar {
    display: none;
}

#side_area.sidebar_hidden #show_sidebar {
    display: block;
    width: 100%;
}

#student_selector_area {
    position: relative;
}

#compact-classes-body td {
    font-size: 9pt;
}

p {
    font-size: 9pt;
}

ul {
    font-size: 10pt;
}

#compact-classes-body th {
    background-color: #cccccc;
    font-size: 10pt;
    padding-bottom: 8px;
}

td.narrow {
    padding: 0px;
    margin: 0px;
    height: 20px;
    white-space: nowrap;
//  overflow: hidden;
    text-overflow:ellipsis; 
}

tr.narrow {
    padding: 0px;
    margin: 0px;
    height: 20px;
}

.sections > td:not(.section), .schedule > td:not(.section) {
    height: 0px;
    line-height: 0;
    padding: 0px;
}

table.bordered {
    border: 1px solid #777;
    border-collapse: collapse;
}

table.narrow {
    margin: 0px;
    padding: 0px;
    table-layout:fixed;
}

.timeslot_header {
    font-weight: bold;
    text-align: center;
    background-color: #cccccc;
    border: 1px solid #777;
    min-width: 220px;
    max-width: 220px;
    padding-top: 10px;
    height: 30px;
    font-size: 1.1em;
}

.room {
    color: #666666;
}

.section {
    border: 1px solid #777;
    background-color: #ccccff;
    width: 220px;
}

.section_left_open {
    border-left: none !important;
}

.section_right_open {
    border-right: none !important;
}

.section_highlight {
    border: 1px solid #666666;
    background-color: #66FF00 !important;
}

.student_enrolled {
    border: 1px solid #000099;
    background-color: #FFFF00 !important;
}

.section_conflict {
    background-color: #FF6600 !important;
    border: 1px solid #666666;
}

.section_hidden, .section_search_hidden, .section_conflict_hidden {
    visibility: hidden;
    height: 0px;
    border: 0px;
    line-height: 0;
    padding: 0px;
    overflow: hidden;
}
.section_hidden > input, .section_search_hidden > input,
.section_conflict_hidden > input {
    display: none;
}

#student_selector_area {
    height: 100px;
}

input #student_selector {
    border: 1px solid #999999;
}

span {
    padding-left: 5px;
    padding-right: 5px;
}

.tooltip_title {
    font-weight: bold;
}

.tooltip_teachers, .teacher {
    font-style: italic;
}

.tooltip_grades {
    font-style: italic;
}

#messages, #category_controls, #settings_controls, #class_search_controls {
    text-align: left;
    background-color: #EEF3FF;
    border: 1px solid #99CCFF;
    padding: 6px;
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#messages {
    height: 200px;
    overflow: auto;
}

#student_selector {
    border: 1px solid #999999;
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
    width: 300px;
}

.control_button {
    border: 1px solid #999999;
    box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.4);
}

.control_button:hover {
    border: 1px solid #999999;
    box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0.4);
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.message_header {
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#category_controls div span {
    font-size: 0.8em;
}

#category_list {
    width: 200px;
}

.category_item {
    width: 150px;
}

.tooltip {
    position: relative; /*this is the key*/
    color: #000000 !important;
    text-decoration: none !important;
}

.tooltip span.tooltip_hover {
    display: none;
}

.tooltip:hover span.tooltip_hover { /*the span will display just on :hover state*/
    display: block;
    position: absolute;
    z-index: 25;
    top: 2em; 
    left: 2em; 
    width: 25em;
    padding: 4px;
    border: 1px solid #333399;
    background-color: #ffffff; 
    /* opacity: 0.8; */
    color: #000000;
    font-size: 12px;
    text-align: left;
}

.tooltip_wide span {
    width: 600px !important;
}

.title, .teacher {
    padding-left: 5px;
    padding-right: 5px;
}
