
.admin_hidden {
  display: none;
}
.logged_in_hidden {
  display: none;
}
.not_logged_in_hidden {
  display: none;
}
.morphed_hidden {
  display: none;
}

textarea.qsd_editor {
    width: 550px;
    overflow: auto;
    border: 1px dashed #cccccc;
    border-top: none;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

textarea.qsd_editor:focus {
    border-style: solid;
    border-top: 0px;
}

div.qsd_header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #cccccc;
    padding: 0px;
    border: 1px dashed #cccccc;
    margin: 0px;
    height: 16px;
    overflow: hidden;
    text-align: center;
}

div.qsd_edit_hidden
{
    height: 0px;
    visibility: hidden;
}

div.qsd_edit_visible
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #cccccc;
    padding: 0px;
    border: 1px dashed #cccccc;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    visibility: visible;
}

div.qsd_view_hidden
{
    height: 0px;
    visibility: hidden;
}

div.qsd_view_visible
{
    padding: 0px;
    border: 1px dashed #cccccc;
    border-top: none;
    margin: 0px;
    visibility: visible;
}

textarea.qsd_halfsize
{
    height: 200px !important;
}

textarea.qsd_fullsize
{
    height: 450px !important;
}
