table,th,td
{
    border:1px solid black;
    border-collapse: collapse;
}

.matrix-cell{
    height: 40px;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.available-cell{
    background: #222222;
}

.occupied-cell{
    background:  violet;
}

.component-div {
    overflow-y: scroll;
}

.garbage-div {
    background: grey;
    height: 40px;
}

.no-border {
    border: 0px;
}