table,th,td
{
    border:1px solid black;
    border-collapse: collapse;
}

.matrix-cell{
    height: 40px;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.disabled-cell{
    background: #222222;
}

.available-cell{
    opacity: 0.35;
}

.occupied-cell{
}

.teacher-available-cell {
    background-color: #32cd32 !important;
    opacity: 1;
}

.teacher-teaching-cell {
    background-color: yellow !important;
    opacity: 1;
}

td .selected-section {
    outline: 1px solid yellow;
}

td.matrix-cell > a {
    text-decoration: none;
    color: inherit !important;
}

td.matrix-cell > a:hover {
    text-decoration: underline;
}

.component-div {
    overflow-y: scroll;
}


#message-div {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#section-info-div {
    height: 150px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

button#unschedule {
    font-size: .7em;
}

#directory-header {
    text-align: center;
}

.no-border {
    border: 0px;
}