table { border-spacing: 0; }
td { padding: 10px; cursor: pointer; }
th { cursor: pointer; }

.scheduling-check {
     border: 1px solid black;
     padding: 10px;
     margin: 10px;
}

.scheduling-check-title {
     width: 100%;
     text-align: center;
}

.scheduling-check-title span {
     font-weight: bold;
     font-size: 14px;
}

.reset-button {
     margin-left: auto;
     float: right;
}

.refresh-button {
     margin-left: auto;
     float: right;
}

.placeholder {
     text-align: center;
}

.rowGreyed {
color: lightgray;
}

.headerSelected {
  color: blue;
}

.sortReversed {
  color: red;
}
