table,th,td
{
    border:1px solid black;
    border-collapse: collapse;
}

.matrix-cell{
    height: 40px;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
}

.disabled-cell{
    background: #222222;
}

.available-cell{
    opacity: 0.35;
}

.occupied-cell{
}

.teacher-available-cell {
    background-color: #32cd32 !important;
    opacity: 1;
}

.teacher-teaching-cell {
    background-color: yellow !important;
    opacity: 1;
}

td .selected-section {
    outline: 1px solid yellow;
}

td > a {
    text-decoration: none;
    color: inherit;
}

td > a:hover {
    text-decoration: underline;
}

.component-div {
    overflow-y: scroll;
}

.garbage-div {
    background: grey;
    height: 40px;
    width: 80px;
}

#message-div {
    margin-top: 10px;
    height: 80px;
}

#section-info-div {
    display: none;
}

.no-border {
    border: 0px;
}