table,th,td
{
    border:1px solid black;
    border-collapse: collapse;
}

.matrix-cell{
    height: 40px;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
    text-align: center;
    background: #222222;
}

.disabled-cell{
    background: #222222;
}

.available-cell{
    opacity: 0.35;
}

.occupied-cell{
}

.ghost-section {
    opacity: .7 !important;
}

.teacher-available-cell {
    background-color: #32cd32;
    opacity: .9;
}

.teacher-teaching-cell {
    background-color: yellow;
    opacity: .9;
}

.teacher-available-not-first-cell {
    background: repeating-linear-gradient(
                45deg,
                #32cd32,
                #32cd32 15px,
                #555555 15px,
                #555555 20px
    );
    opacity: .9;
}

td .selected-section {
    outline: 1px solid yellow;
}

td.matrix-cell > a {
    text-decoration: none;
    color: inherit !important;
}

td.matrix-cell > a:hover {
    text-decoration: underline;
}

.component-div {
    overflow-y: scroll;
}

input.numeric {
    width: 40px;
}

#class-search {
    margin-bottom: 20px;
}

#message-div {
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#section-info-div {
    height: 150px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    color: black;
}
button#unschedule {
    font-size: .7em;
}

#side-panel-header {
    text-align: center;
}

.no-border {
    border: 0px;
}
