.tooltip {
    position: relative; /*this is the key*/
    z-index: 24;
    text-decoration: none !important;
}

.tooltip_hover {
    background-color: #ffff99;
    z-index: 26;
}

.tooltip_popup { /*the span will display just on :hover state*/
    position: absolute;
    z-index: 25;
    top: 2em; 
    left: 2em; 
    width: 25em;
    padding: 4px;
    border: 1px solid #333399;
    background-color: #ffffff; 
    /* opacity: 0.8; */
    color: #000000;
    font-size: 12px;
    text-align: left;
}

.tooltip_wide span {
    width: 600px !important;
}

/* custom tooltip for select students page */
.custom-tooltip:hover .tooltip-content {
  display: block;
}

.tooltip-content {
  display: none;
  position: absolute;
  width: 400px;
  left: -150px;
  border-radius: 5px;
  padding: 10px;
  background-color: #444;
  color: #fff;
}