#user-sidebar {
  float: right;
  width: 44%;
}

#user-sidebar .change-program {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

#user-sidebar h2 {
  line-height: normal;
}

#user-sidebar a.sidelink:link {
  text-decoration: none;
  
  display: block;
  border: 1px solid #3366cc;
  
  padding: 7px;
  margin-right: -20px;
  padding-right: 27px;
  padding-left: 10px;
  margin-top: 5px;
}

#user-sidebar a.stripes:not(:hover) {
  background: repeating-linear-gradient(
    45deg,
    lightgrey,
    lightgrey 5px,
    transparent 5px,
    transparent 10px
  );
}

#user-sidebar a.sidelink:hover {
  color: #ffffff;
  background-color: #3366cc;
}

#content h2 {
  margin-top: 2em;
  margin-bottom: 0.25em;
}

table.dottedtable {
  border-spacing: 0;
  border-collapse: collapse;
  width: 55%;
  table-layout: fixed;
  word-wrap: break-word;
}

table.dottedtable tr {
  border-bottom: 1px dotted #444;
}

table.dottedtable td {
  padding-top: 5px;
  padding-bottom: 5px;
}

table.dottedtable .key {
  font-size: 90%;
  color: #444;
  width: 40%;
  padding-right: 20px;
  
  vertical-align: top;
}

select {
  width: auto !important;
}

.biophoto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.change-program {
  text-align: center;
}

.yes {
  color: green;
}

.no {
  color: red;
}
