.navbar {
  overflow: hidden;
  background-color: #333;
  width: calc(100vh * 9 / 16);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar .selected {
  background: #ddd;
  color: black;
}

.navbar td:hover {
  background: #ddd;
  color: black;
}

.navbar td {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 0px;
  font-size: 2vh;
  width: 25%;
}

.navbar table {
  width: 100%;
}

.main table,
th,
td {
  text-align: center;
}

.main {
  margin-top: 8vh;
  width: calc(100vh * 9 / 16);
  height: 92vh;
}

.main table {
  background-color: #82a9ff;
  border-collapse: collapse;
}

.main tbody,
tr,
th,
td {
  background: none;
}


/*.main th, td {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
}*/

.main td {
  font-size: 3vh;
  /*font-weight: bold;*/
  vertical-align: middle;
}

.main th {
  font-size: 5vh;
  height: 25%;
}

.main td, th {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.main tr {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.time {
  width: 15%;
}

.cls {
  width: 50%;
}

.location {
  width: 20%;
}

.edit {
  width: 5%;
}

.material-icons.md-5 {
  font-size: 5vh;
  width: 5vh;
}

.material-icons.md-10 {
  font-size: 10vh;
  width: 10vh;
}

.material-icons.md-15 {
  font-size: 15vh;
  width: 15vh;
}

.min-font {
  font-size: 60px !important;
}

.no-dec {
  color: inherit;
  text-decoration: none;
}