Django==1.4.20
pillow==2.2.1
South==0.8.1
argparse==1.2.1
cssutils==0.9.10
django-extensions==1.2.5
django-form-utils==0.3.1
django-reversion==1.8.0
django-selenium==0.9.6
flup==1.0.2
ipython==0.13.2
Markdown==2.3.1
numpy==1.7.1
psycopg2==2.4.1
pycurl==7.19.0
pydns==2.3.6
pylibmc==1.2.3
pyprof2calltree==1.1.0
python-dateutil==2.1
python-memcached==1.53
pytz==2013b
repoze.profile==2.0
selenium==2.33.0
simplejson==3.3.0
six==1.3.0
wsgiref==0.1.2
xlwt==0.7.5
django-debug-toolbar==1.2.1
django-grappelli==2.4.9

# 3.5.7 has bug that breaks incompatibility with Django 1.4, 1.5.
# See <https://github.com/sehmaschine/django-filebrowser/issues/241>.
# But <3.5.7 have tests that fail on django>=1.4.14.
# We don't want to disable filebrowser tests, since they have caught a
# legitimate compatibility issue.
# Instead, fork 3.5.7 and revert the offending break in compatibility, until
# they fix it.
# See the revert made in the fork, at
# <https://github.com/learning-unlimited/django-filebrowser/commit/4557e6a6>.
git+git://github.com/learning-unlimited/django-filebrowser.git

werkzeug
django-bootstrap-form==3.1
django-vanilla-views==1.0.2
django-nose==1.2
model-mommy==1.2
docutils==0.11
Pygments==1.6
twilio==3.6.5

# We are using the 2014-03-13 version of the Stripe API, which is v1.12.2.
stripe==1.12.2
