# Django
Django==1.11.29

# Django-specific packages
git+https://github.com/learning-unlimited/django-argcache.git@django-1.9 # Handles caching
django-debug-toolbar==1.5 # Provides the debug toolbar
django-extensions==1.8.1 # Provides shell_plus, runserver_plus, and other utilities
django-filebrowser-no-grappelli==3.8.0 # Provides admin panel interface for files
django-form-utils==1.0.3 # Provides BetterForm (used in customforms) and BetterModelForm (used in program creation)
django-formtools==2.1 # Used once in customforms
django-localflavor==1.1 # Provides address and phone number fields
django-reversion==1.10.0 # Handles versioning, currently for QSD and TemplateOverrides
django-selenium==0.9.8 # Runs selenium tests which probably don't work anymore
django-sendgrid-v5==0.9.0 # Provides support for using SendGrid as the EmailBackend
django-vanilla-views==1.0.4 # Provides simpler generic views, currently used only for grade change requests
git+https://github.com/learning-unlimited/django-admin-tools.git@esp # Extends Django Admin


# Non-Django-specific packages
docutils==0.12 # Needed for django.contrib.admindocs
flake8==2.5.0 # Required for linter
ipython==3.2.1 # Used for shell_plus
Markdown==2.3.1 # Used in QSD
numpy==1.16.6 # Used mainly in the lottery and class change controller
pillow==6.2.2 # Required for ImageField, which we use in teacher bios
psycopg2==2.8.6 # Talks to postgres
pycurl==7.19.5.1 # Used only in mailing labels and a formstack script which I think is outdated
pydns==2.3.6 # Used for validating email addresses; imports as "DNS", not "pydns"
Pygments==2.0.2 # django-extensions dependency
pyinotify # Makes dev servers auto-reload
pylibmc==1.5.0 # Talks to memcached
pytz==2015.4 # Required for timezone support
raven # Required for Sentry error reporting
selenium==2.44.0 # Runs selenium tests which probably don't work anymore
shortuuid==0.4.2 # django-extensions dependency
stripe==1.19.1 # Required for credit card processing
twilio==3.6.5 # Required for text messaging support
werkzeug # Required for runserver_plus (alternative to runserver provided by django-extensions)
xlwt==1.0.0 # Does form and survey exporting
