{% extends "main.html" %}
{% load users %}


{% block title %}Student application review for {{ cls }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">

.roster td, .roster th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 3px;
}
table.roster { 
  border: 2px solid black;
  border-collapse: collapse;
}
</style>
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}

    <script type="text/javascript">
    <!--
    function popup(mylink, windowname)
    {
        if (! window.focus)return true;
        var href;
        if (typeof(mylink) == 'string')
            href=mylink;
        else
            href=mylink.href;
        window.open(href, windowname, 'width=650,height=500,scrollbars=yes');
        return false;
    }
    //-->
    </script>
{% endblock %}

{% block content %}

<h1>Junction application reviews</h1>
<br />
<p>
<a href="/manage/{{ program.getUrlBase }}/dashboard">Back to the program dashboard</a> <br />
</p>
<br />
<h2>Class roster for &quot;{{class}}&quot;</h2>
<br />
<div id="program_form">
<table class="roster">
<thead>
<tr>
    <th class="smaller">Name</th>
    <th class="smaller">Grade</th>
    <th class="smaller">Date of registration</th>
    <th class="smaller">Existing reviews</th>
    <th class="smaller">Status</th>
    <th class="smaller">Review Options</th>
</tr>
</thead>
<tbody>
{% for student in students %}
  <tr>
    <td>
   {{ student.name }}
    </td>
    <td>
   {{ student|getGradeForProg:program.id }}
    </td>
    <td>
    {{student.added_class|date:"M d, Y" }}
    </td>
    <td>
    {% if student.app.reviews.all|length_is:0 %}
        No reviews yet
    {% else %}
        {% for review in student.app.reviews.all %}
        <i>{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</i>: {% if review.score %}{{ review.score }} / 10{% else %}No score{% endif %} ({{ review.date|date:"m/d/Y" }}) {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
    {% endif %}
    </td>
    <td width="80">
        {{ student.status }}
    </td>
    <td width="200">
    <a target="new" href="/manage/{{ program.getUrlBase }}/view_app/{{ class.id }}?student={{ student.id }}" onClick="return popup(this, 'notes')">View App</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="button" href="/manage/{{ program.getUrlBase }}/accept_student/{{ class.id }}?student={{ student.id }}&cls={{ class.id }}">Accept</a> &nbsp;
    <a class="button" href="/manage/{{ program.getUrlBase }}/reject_student/{{ class.id }}?student={{ student.id }}&cls={{ class.id }}">Reject</a> 
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

</div>

<br />
{% include "program/modules/admincore/returnlink.html" %}

{% endblock %}
