<li class="hidden nav-header admin"> Admin</li>	
	<li class="admin hidden"><a href="/admin/"><i class="icon-tasks"></i>Administration pages</a></li>
	<li class="admin hidden"><a href="/manage/programs/"><i class="icon-th-large"></i>Manage programs</a></li>
    <li class="admin hidden"><a href="/admin/filebrowser/browse/"><i class="icon-tasks"></i>Manage media files</a></li>
	<li class="admin hidden"><a href="/themes/"><i class="icon-pencil"></i>Theme settings</a></li>
    <li class="unmorph hidden"><a href="/myesp/switchback/">Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script></a></li>

