<li class="hidden nav-header admin"> Admin</li>	
	<li class="admin hidden"><a href="/admin/miniblog/entry/"><i class="icon-flag"></i> News</a></li>
	<li class="admin hidden"><a href="/admin/miniblog/announcementlink/"><i class="icon-bullhorn"></i> Announcement Links</a></li>
	<li class="admin hidden"><a href="/admin/web/navbarentry/"><i class="icon-list"></i> Navigation Links</a></li>
	<li class="admin hidden"><a href="/admin/web/navbarcategory/"><i class="icon-book"></i> Navigation Categories</a></li>
	<li class="admin hidden"><a href="/themes/"><i class="icon-pencil"></i> Theme Settings</a></li>
	<li class="hidden nav-header admin"> More admin</li>
	<li class="admin hidden"><a href="/admin/">Administration pages</a></li>
	<!-- div class="unmorph hidden">
	     <br /><a href="/myesp/switchback/">Unmorph to <script language="JavaScript">document.write(esp_user.cur_retTitle);</script></a><br /><div id="unmorph_text"></div></ul -->
