{% extends "main.html" %}

{% block title %}Create a new user account{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Create a new account</h1>

<p>
You have successfully registered a new account!  Before you can use
your new account, however, you will have to activate it.  An email
has been sent to your address with activation instructions.  Please
follow those instructions in order to continue with program
registration.
</p>

<p>
If you don't receive an activation email, please check your spam
filters and make sure your email service allows email through from
"server@{{ site }}".  You can have the email sent to you again via <a href="{% url 'esp.users.views.resend_activation_view' %}">here</a>.
</p>

{% endblock %}
