{% extends "main.html" %}

{% block title %}Create a new user account{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Create a new account</h1>

<p>
Warning:  It looks like other accounts already exist for this
email address.  Do you already have an account for {{ settings.INSTITUTION_NAME }} {{ settings.ORGANIZATION_SHORT_NAME }}?
If so, could you try logging in with one of the following username(s):
</p>

<ul>
  {% for u in accounts %}
  <li>{{ u.username }} (
  <form method="link" action="/myesp/login">
    <input type="submit" value="Try logging in" class="btn btn-primary" />
  </form>
  <form action="/myesp/passwdrecover" method="post">
    <input type="hidden" name="email" value="{{ u.email }}" />
    <input type="hidden" name="username" value="{{ u.username }}" />
    <input type="submit" value="I forgot my password!" class="btn btn-default" />
  </form>
  )
  </li>
  {% endfor %}
</ul>  

<div id="program_form">
<form action="{{ request.path }}" method="post" name="newuser_form">
<table>
<thead>
<tr>
  <th colspan="2">
    User Account Creation Form
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There 
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.
</div>
</td>
</tr>
{% endif %}

{{ form }}
<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Create account, proceed to profile creation" name="submit" />
  </th>
</tr>
</tbody>
</table>
</form>
</div>

<script type="text/javascript">
<!--
  document.getElementById('id_first_name').focus();
//-->
</script>

{% endblock %}
