{% extends "outlines/series-3.html" %}

{% block title %}Login!{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Welcome Back"|subsection }}{% endautoescape %}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}
<h1>Log in to ESP</h1>

<br />

<div id="login_form">
<table cellpadding="1" align="center">
<thead>
<tr><th><h2>Don't already have an account?</h2></th></tr>
<tr><td><center><font size="+2"><a href="/myesp/register/">Click here</a> to create one</font><br />
and start registering for classes!</center></td></tr>
</thead>
</table>
</div>

<br />
<br />

<div id="login_form">
<form action="{{ request.action }}" method="post">
<table cellpadding="1" align="center">
<thead>
<tr>
 <th colspan="2">Login</th>
</tr>
<tr>
 <td colspan="2">
{% if form.errors %}
<p><font color="red">Your username and password didn't match. Please try again.</font></p>
{% endif %}
</thead>
<tbody>
<tr>
 <th><label class="required" for="id_username">Username:</label></th>
 <td>
   {{ form.username }}
 </td>
</tr>

<tr>
 <th><label class="required" for="id_password">Password:</label></th>
 <td>
   {{ form.password }}
 </td>
</tr>

<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="- Login -" />
  </th>
</tr>

<tr>
  <td colspan="2">
    <p>
      Forgot your password? Head on over to the <a href="/myesp/passwdrecover/"
       title="Click for password recovery">Password Recovery Page</a>.
    </p>
  </td>
</tr>

</tbody>
</table>

<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

<script type="text/javascript">
<!--
document.getElementById('id_username').focus();
//-->
</script>
<br />

{% endblock %}
