{% extends "outlines/series-3.html" %}

{% block title %}Register for Cascade!{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Welcome Back"|subsection }}{% endautoescape %}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript">
<!--

pwform = "{{ pwform|escapejs }}";
function showPasswordEntry( e ) {
    // Check for required functionality
    if ( ! document.getElementById )
        return;
    // Check that they actually requested a student
    val = e.target.value
    if ( val == '-1' ) {
        document.getElementById('id_login_submit').value = '- Proceed to Account Creation -';
        e.target.form.action='/myesp/login/byschool/new/';
        document.getElementById('id_insert3').style.display = 'none'
        return;
    }
    document.getElementById('id_login_submit').value = '- Continue -';
    if ( val == '' ) {
        e.target.form.action='{{ action }}';
        return;
    }
    e.target.form.action='/myesp/login';
    
    insert3 = document.getElementById('id_insert3');
    insert3.innerHTML = pwform;
    insert3.style.display = 'table-row-group';
    
    document.getElementById('id_form_title').innerHTML = 'Step 3: Login';
}

function getStudents( e ) {
    // Check for required functionality
    if ( ! window.XMLHttpRequest || ! document.getElementById )
        return;
    // Check that they actually requested a school
    val = e.target.value
    if ( val == '' ) {
        return;
    }
    
    var r = new XMLHttpRequest();
    r.open( 'GET', '/myesp/login/byschool/' + val + '/?dynamic=1', false );
    r.send( '' );
    
    if ( r.status == 200 ) {
        insert2 = document.getElementById('id_insert2');
        insert2.innerHTML = r.responseText;
        insert2.style.display = 'table-row-group';
        document.getElementById('id_username').onchange = showPasswordEntry;
    }
    document.getElementById('id_form_title').innerHTML = 'Step 2: Find Your Name';
}

function preparePage() {
    // Check for required functionality
    if ( ! window.XMLHttpRequest || ! document.getElementById )
        return;
    document.getElementById('id_school').onchange = getStudents;
}

//-->
</script>
{% endblock %}


{% block content %}
<h1>Register for Cascade!</h1>

{% if next %}

<p>
You need to log in before you can access <tt>{{ next }}</tt>.<br />
Please log in below.
</p>
{% endif %}


<div id="login_form">
<form id="login_form_form" action="{{ action }}" method="post">
<table cellpadding="2" align="center">
<thead>
<tr>
 <th colspan="2" id="id_form_title">Step 1: Pick Your School</th>
</tr>
</thead>
<tbody>

{{ form }}

</tbody>
<tbody id="id_insert2" style="display:none;">
</tbody>
<tbody id="id_insert3" style="display:none;">
</tbody>
<tbody><th colspan="2" style="color: #FFFFFF;">If you don't see your school on the list, choose "Other". No matter what school you pick, make sure you pick the same option every time you log into the website.</th></tbody>
<tbody>
<tr>
  <th colspan="2" class="submit">
    <input type="submit" id="id_login_submit" value="- Continue -" />
  </th>
</tr>

</tbody>
</table>

<input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />
</form>
</div>

<script type="text/javascript">
<!--
document.getElementById('id_school').focus();
preparePage();
//-->
</script>
<br />

{% endblock %}
