{% extends "main.html" %}

{% block title %}Login!{% endblock %}

{% block content %}
<h1>Please log in</h1>

{% if next and not initiated_login %}

<p>
You need to log in before you can access <tt>{{ next }}</tt>.
</p>

{% endif %}

<div class="row-fluid">
<div class="alert span10">
Both the username and password are <b>case-sensitive</b>: capitalization matters!
</div>

<div class="well span10">

<form action="{{ request.action }}" class="form-horizontal" method="post">

<div class="control-group">
    {% if form.username.errors %}
       <ul class="errorlist">
            {{ form.username.errors|last }}
       </ul>
    {% elif wrong_user %}
       <ul class="errorlist">
            The username you entered is not valid. Keep in mind the username is case sensitive.
       </ul>
    {% endif %}

    <label class="control-label required" for="id_username">Username:</label>

    <div class="controls">
    {{ form.username }}
    </div>
</div>

<div class="control-group">
    {% if form.password.errors %}
        <ul class="errorlist">
            {% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
    {% elif wrong_pw %}
        <ul class="errorlist">
            The password you entered is not valid.
        </ul>
    {% endif %}

    <label class="control-label required" for="id_password">Password:</label>
   
    <div class="controls">
    {{ form.password }}
    </div>
    
</div>

<div class="form-actions">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" class="btn btn-primary btn-large" value="- Login -" />
</div>

</form>

<script type="text/javascript">
<!--
document.getElementById('id_username').focus();
//-->
</script>

</div>

<br />
<div class="alert alert-info span10">
Don't already have an account?  <a href="/myesp/register/">Click here to create one</a>. <br />
Forgot your password? <a href="/myesp/passwdrecover/" title="Click for account recovery">Head on over to the Account Recovery Page</a>.
</div>
</div>

{% endblock %}
