{% extends "main.html" %}

{% block title %}Create a new user account{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Create a new account</h1>

{% if accounts or awaitings%}
<p>
<b>You may already have an account:</b> Listed below are other accounts that already exist for this
email address.  If you are sure you want a new account, please click "Proceed to Account Creation" again below.
</p>

<ul>
  {% for u in accounts %}
  <li>{{ u.first_name }} {{ u.last_name }} ({{ u.username }}) <br />
  <form method="post" action="/myesp/login">
    <input type="hidden" name="username" value="{{ u.username }}" />
    <input type="hidden" name="password" value="" />
    <input type="hidden" name="next" value="/myesp/profile/" />
    <input type="submit" value="Try logging in" class="btn btn-primary" />
  </form>
  <form action="/myesp/passwdrecover/" method="post">
    <input type="hidden" name="email" value="{{ u.email }}" />
    <input type="hidden" name="username" value="{{ u.username }}" />
    <input type="submit" value="I forgot my password!" class="btn btn-default" />
  </form>
  </li>
  <br />
  {% endfor %}
  {% for u in awaitings %}
  <li>{{ u.first_name }} {{ u.last_name }} ({{ u.username }}) -- Awaiting activation <br />
  <form action="/myesp/resend/" method="post">
    <input type="hidden" name="username" value="{{ u.username }}" />
    <input type="submit" value="Resend Activation Email!" />
  </form>
  </li>
  {% endfor %}
</ul>
{% else %}
{% load render_qsd %}
{% inline_qsd_block "myesp/create_new_account_phase1_headertext" %}
<p>
  Welcome to {{ settings.ORGANIZATION_SHORT_NAME }}! To do almost anything with us, you first need to register
an account with us. After you register account, you will be allowed to register
for programs, sign up for classes, among other things.
</p>
<p>
  If you just want to receive email announcements about our programs, you can register for our <a href="/cgi-bin/mailman/listinfo/announcements">main</a> announcements list.
  If you create an account, you will be automatically subscribed to our main announcements.
</p>
{% end_inline_qsd_block %}
{% endif %}

<div id="program_form">
<form action="{{ request.path }}" method="post" name="newuser_form">
{% if accounts or awaitings %}<input type="hidden" name="do_reg_no_really" value="true" />{% endif %}
<table align="center">
<thead>
<tr>
  <th colspan="2">
    User Account Creation Email Form
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There 
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.
</div>
</td>
</tr>
{% endif %}

{{ form }}

<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Proceed to Account Creation" name="submit" class="btn btn-default" />
  </th>
</tr>
</tbody>
</table>
</form>
</div>

<script type="text/javascript">
<!--
  document.getElementById('id_email').focus();
//-->
</script>

{% endblock %}
