{% extends "main.html" %}

{% block title %}Resend Activation Email{% endblock %}

{% block stylesheets %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
<h1>Resend Activation Email</h1>

<div id="program_form">
<form action="{{ request.path }}" method="post" name="resend_form">
<table>
<thead>
<tr>
  <th colspan="2">
    Resend Activation Email
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There 
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.
</div>
</td>
</tr>
{% endif %}

{{ form }}


<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Send" name="submit" />
  </th>
</tr>
</tbody>
</table>
</form>
</div>

{% endblock %}
