<li class="unmorph hidden"><a href="/myesp/switchback/">
    <i class="glyphicon glyphicon-user"></i> Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script>
</a></li>

{% comment %} === Admin Toolbar (includes user search) === {% endcomment %}
{% load modules %}
<link rel="stylesheet" type="text/css" href="/media/default_styles/admin_bar.css">
<div id="adminbar" class="admin hidden" style="position: fixed !important">
  <div class="title" onclick="ESP.toggleDisplay('adminbar_content');">Admin Toolbar</div>
  <div id="adminbar_content"></div>
</div>
<script type="text/javascript">
var currentPrograms = [
{% for current_program in current_programs %}
    {
        urlBase: "{{ current_program.getUrlBase }}",
        name: "{{ current_program.niceName }}",
        class_search: {% if current_program|hasModule:"ClassSearchModule" %}true{% else %}false{% endif %}
    },
{% endfor %}
];
var debug = {{ settings.DEBUG|yesno:"true,false" }};
</script>
<script type="text/javascript" src="/media/scripts/admin_bar.js"> </script>
{% comment %} === End Admin Toolbar === {% endcomment %}