{% extends "main.html" %}

{% block title %}{{ entry.title|escape }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
<link rel="stylesheet" href="/media/styles/blog.css" type="text/css" />
{% endblock %}

{% block content %}

{% load render_blog %}
{% autoescape off %}
{% render_blog entry %}
{% endautoescape %}
<div id="comment_spacing">&nbsp;</div>

{% render_comments entry request.user request.path form %}

{% endblock %}
