{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block xtrajs %}
<script type="text/javascript">
<!--
// allow adding a donation
var initial_cost = {{ totalcost_cents }};
var current_cost = initial_cost;
var donation_set = false;
function check_cost()
{
    var cost_last = document.getElementById("id_totalcost_cents").value;
    var label_last = document.getElementById("id_totalcost_dollars").innerHTML;
    console.log("Checkbox clicked, donation = " + donation_set + ", initial cost = " + initial_cost + ", current cost = " + cost_last);
    donation_set = !donation_set;
    if (donation_set)
    {
        current_cost = initial_cost + 1000;
        $j("#donation_option").removeClass("hidden");
        $j("#id_donation").val("true");
    }
    else
    {
        current_cost = initial_cost;
        $j("#donation_option").addClass("hidden");
        $j("#id_donation").val("false");
    }	      
    document.getElementById("id_totalcost_cents").value = current_cost;
    document.getElementById("id_totalcost_dollars").innerHTML = "$" + (current_cost / 100.0).toFixed(2);
}
-->
</script>
{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }}</h1>

<h3>Instructions for paying by credit card:</h3>
<p><ol>
<li>Please review the costs below. If you are concerned that there is a problem, please <a href="mailto:{{ support_email }}">e-mail the webmasters</a>.<br />
<li>Click the "Pay with Card" button.  You will see a form pop up asking for your credit card information.  When you submit the form, your information is sent to a secure <a href="https://stripe.com/us/help/faq" target="_blank">third party payment processor</a>.  Then you will be redirected to a confirmation receipt.</li>
</ol></p>

{% include "program/modules/creditcardmodule_firstdata/transaction_record.html" %}

{% if itemizedcosttotal <= 0 %}
<p>You have no outstanding balance for this program.  Please <a href="/learn/{{ program.getUrlBase }}/studentreg" title="Return to main registration page">return to the main registration page</a>.</p>
{% else %}

{% if module.offer_donation %}
<input type="checkbox" onclick="check_cost();" />
Check here to support Learning Unlimited's mentoring of {{ institution }} with an additional donation of $10.  <a href="http://www.learningu.org/about" target="_blank">Learning Unlimited</a> is a 501(c)(3) nonprofit that mentored the {{ institution }} students in organizing this program and provided this Web site.
{% endif %}

<form action="/learn/{{ program.url }}/charge_payment" method="POST">
<div align="center">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ module.publishable_key }}"
    data-name="{{ institution }} Splash Payment"
    data-description="Registration for {{ program.niceName }}"
  >
  </script>

<input type="hidden" name="ponumber" value="{{ invoice_id }}" />
<input type="hidden" name="invoice_number" value="{{ identifier }}" />
<input type="hidden" name="userid" value="{{ user.id }}" />
<input type="hidden" id="id_donation" name="donation" value="false" />
<input type="hidden" id="id_totalcost_cents" name="totalcost_cents" value="{{ totalcost_cents }}" />
{% csrf_token %}
</div>

</form>

<br />
<p>If you would like to cancel at this time, you can <a href="/learn/{{ program.getUrlBase }}/studentreg" title="Return to main registration page">return to the main registration page</a>.</p>

{% endif %}

{% endblock %}

