{% extends "main.html" %}

{% block title %}{{program.niceName}} Payment Failure{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<div class="error_background">
<h1>Credit Card Payment for {{ program.niceName }} <font color="red">FAILED</font></h1>

{% load render_qsd %}

{% inline_program_qsd_block program "payment_failure" %}

<p>Your credit card transaction was not successful.
</p>
{% if error_type == "inconsistent_po" %}
<b>Inconsistent payment information.</b> Please <a href="{{ settings.DEFAULT_EMAIL_ADDRESSES['support'] }}">contact the administrators</a> with the following information.
<ul>
    <li>Payment PO number: {{ error_info.request_po }}</li>
    <li>User PO number: {{ error_info.user_po }}</li>
</ul>
{% endif %}

{% if error_type == "inconsistent_amount" %}
<b>Inconsistent payment amount.</b> Please contact the administrators with the following information.
<ul>
    <li>Charge amount (provided by Stripe): {{ error_info.amount_cents_post }}</li>
    <li>Charge amount (from internal records): {{ error_info.amount_cents_iac }}</li>
</ul>
{% endif %}

{% if error_type == "declined" %}
<b>Credit card was declined.</b>  You may have triggered fraud detection, made a typo in the credit card information, or accidentally used an expired card.
<center>The payment processor reports: {{ error_info.message }}</center>
{% endif %}

{% if error_type == "invalid" %}
<b>Invalid request.</b>  This is usually caused by a duplicate request (such as refreshing your web browser after paying).  It is possible that your payment went through successfully; <b>please return to the payment page to check</b>.
{% endif %}

{% if error_type == "auth" %}
<b>Authentication error.</b>  The site was unable to authenticate with the payment processor; please <a href="{{ settings.DEFAULT_EMAIL_ADDRESSES['support'] }}">let the administrators know</a> so they can correct the issue.
{% endif %}

{% if error_type == "api" %}
<b>API error.</b>  A software or network failure prevented us from interacting with the payment processor.
{% endif %}

{% if error_type == "generic" %}
<b>Unknown error.</b>  We received a generic error code from the payment processor.
{% endif %}

<p>
If you believe this to be due to a mistake on your part, you may return to the <a href="/learn/{{ program.getUrlBase }}/payonline">payment page</a> and try paying again.
</p>

<p>Otherwise, there may have been a problem with our website or with the credit card processor.  We apologize -- it happens once in a while.  Please contact our <a href="mailto:{{ support_email }}">technical support folks</a>, including the message(s) above in your email, and we'll try to remedy the situation.</p>

<p><a href="/learn/{{ program.getUrlBase }}/studentreg">Click here</a> to return to the main student registration page.</p>
</div>

{% end_inline_program_qsd_block %}

{% endblock %}
