{% extends "main.html" %}

{% block title %}{{program.niceName}} Payment Received{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }}</h1>

{% load render_qsd %}

{% inline_program_qsd_block program "payment_success" %}

<h3>Success!</h3>

<p>We have received your credit card payment of ${{ amount_paid|floatformat:2 }}. The charge may show up on your statement as "{{ statement_descriptor }}" or "Learning Unlimited." {% if can_confirm %} <a href="/learn/{{ program.getUrlBase }}/confirmreg" target="_blank">Click here</a> to print your registration receipt.{% endif %}</p>

<p><a href="/learn/{{ program.getUrlBase }}/studentreg">Click here</a> to return to the main student registration page.</p>

{% end_inline_program_qsd_block %}

{% comment %}
<p>Received data:
<ul>
{% for key, value in postdata.items %}
<li><b>{{ key }}</b> = {{ value }}</li>
{% endfor %}
</ul>
</p>
{% endcomment %}

{% endblock %}
