{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />

<h1>Select your user</h1>

<p style="text-align: center">
Please select the user from the list below:
</p>

<br />
<table border="1" style="border: 1px solid black; border-collapse: collapsed;" cellspacing="0">
<tr>
  <th>Username</th>
  <th>Name</th>
  <th>D.O.B</th>
  <th>Phone #s</th>
  <th>ID</th>
  <th>Select!</th>
</tr>

{% for user in users %}
<tr>
 <td>{{user.username }}</td>
 <td>{{user.name }}</td>
 <td>{{user.getLastProfile.student_info.dob|date:"m/d/Y" }}</td>
 <td>{{user.getLastProfile.contact_user.phone_cell}}/{{user.getLastProfile.contact_user.phone_day}}</td>
 <td>{{user.id}}</td>
 <td><a href="{{request.path}}?userid={{user.id}}" 
      title="Click to select {{user.username}}">Select User</a>
  </td>
</tr>
{% endfor %}
</table>

{% include "program/modules/onsitecore/returnlink.html" %}

{% endblock %}
