{% extends "users/usersearch/support.html" %}

{% block title %}User List Generator{% endblock %}

{% block content %}

<br /><br />
<h1>Generate Lists for {{ program.niceName }}</h1>

<p>
You can use this to get a list of users for a specific purpose.
First, select a group of users to query using the form below.
Then you will select which information to display about each user and generate an output file in HTML or CSV format.
</p>

<p><a href="/manage/{{ program.getUrlBase }}/selectList_old">Click here</a> to use the old style user list selector instead.</p>

{% include "users/usersearch/list_selector.html" %}

{% include "program/modules/admincore/returnlink.html" %}

{% endblock %}
