{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Student Registration"|subsection }}{% endautoescape %}{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Student registration for {{program.niceName}} </h1>
{% if not request.user.onsite_local %}
    <div id="catalog">
    {% if program.isFull %}
    {% if not canRegToFullProgram %}
    <div class="errormsg">
    This program is now full!  You can no longer register for it; you may only use this page to update currently-existing registrations.</div>
    {% endif %}
    {% endif %}
    <p>
    Please complete the following steps to register for {{ program.niceName }}.
    When each step is completed, the corresponding box in the right-hand column will
    be &#8220;checked off&#8221;. <!-- After finishing all the steps, click the &#8220;Confirm&#8221;
    button at the bottom of the page. -->
    </p>

{% load render_qsd %}
{% render_inline_qsd program.anchor "learn:studentregheader" request.user %}
    <center><div class="note">
    <b>Parents:</b> You should not be at this page!  Please let your kids fill out the registration forms.
    </div></center>

    <table style="text-align: center" align="center" width="400">
    <tr><th>Steps for Registration</th><th>Done?</th></tr>
    {% for module in modules %}
    {% if module.isStep %}
    <tr>
    <td>{% if module.useTemplate %}
    <a href="#module-{{ module.id }}" title="{{ module.module.link_title }}">
        {{ module.module.link_title }}
        </a> <em>(below)</em>
    {% else %}
        {% autoescape off %}{{ module.makeLink }}{% endautoescape %}
    {% endif %}
    {% if not module.module.required %}{% if not module.hideNotRequired %} <em>(not required)</em> {% endif %}{% endif %}
    </td>
    <td>{% if not module.useTemplate %}
    <a href="{{ module.get_full_path }}">
    {% else %}
    <a href="#module-{{ module.id }}">
    {% endif %}
    {% with module.isCompleted as moduleCompleted %}
    <img src="/media/images/{% if not moduleCompleted %}no{% endif %}checkmark.gif"
        {% if moduleCompleted %}title="Done!" alt="Done!"{% else %}
        title="Not Done" alt="Not Done"{% endif %} class="nocheckmark" />
    </a>
    {% endwith %}
    </td>
    </tr>
    {% endif %}
    {% endfor %}
    </table>

{% endif %}

<br />

{% load render_qsd %}
{% render_inline_qsd program.anchor "learn:studentreg" request.user %}

{% for module in modules %}
{% if module.useTemplate %}
<a name="module-{{module.id}}"></a>
<br />
{% include module.getTemplate %}
{% endif %}
{% endfor %}
</div>
<br />

{% if not request.user.onsite_local and not isConfirmed and coremodule.deadline_met %}
<center>


{% if program.isFull %}{% if not canRegToFullProgram %}
<div class="errormsg">This program is now full!  You can no longer register for it; you may only use this page to update currently-existing registrations.</div>
{% endif %}{% else %}
{% endif %}

</center>
{% endif %}

{% load render_qsd %}
{% render_inline_qsd program.anchor "learn:studentregfooter" request.user %}

{% if not request.user.onsite_local %}
    <center>
    <a name="confirmreg"></a>

    <form action="/learn/{{one}}/{{two}}/confirmreg" method="post">
    <input class="button" type="submit" value="{% if not isConfirmed %}Confirm Registration, View Receipt{% else %}Registration Confirmed!  View Receipt{% endif %}" {% if not completedAll %}disabled{% endif %} {% if program.isFull %}{% if not canRegToFullProgram %}disabled{% endif %}{% endif %}/></form>
    {% if isConfirmed %}{% if not have_paid %}

    <form action="/learn/{{one}}/{{two}}/cancelreg" method="get">
    <input class="button" type="submit" value="Cancel Registration" />
    {% endif %}{% endif %}
    </center>
{% endif %}
{% endblock %}

