{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Student registration for {{program.niceName}} </h1>

<p style="text-align: center">Please complete the following steps so that you are fully pre-registered for {{program.niceName}}.</p>

<center>
<table style="text-align: center" align="center">
<tr><th>What to do?</th><th>Done?</th></tr>
{% for module in modules %}
{% if module.isStep %}
 <tr>
  <td>{% if module.useTemplate %}
    {{ module.module.link_title }} <em>(below)</em>
   {% else %}
    {{ module.makeLink }}
   {% endif %}
  </td>
  <td>{% if not module.useTemplate %}
   <a href="{{ module.get_full_path }}">
   {% endif %}
   <img src="/media/images/{% if not module.isCompleted %}no{% endif %}checkmark.gif" 
     {% if module.isCompleted %}title="Done!" alt="Done!"{% else %}
       title="Not Done" alt="Not Done"{% endif %} class="nocheckmark" />
   {% if not module.useTemplate %}
   </a>
   {% endif %}
  </td>
</tr>
{% endif %}
{% endfor %}
 <tr>
  <td>Confirm Pre-Registration <em>(below)</em>
  </td>
  <td>
   <img src="/media/images/{% if not isConfirmed %}no{% endif %}checkmark.gif" class="nocheckmark" />
  </td>
 </tr>   
</table>

</center>
<br />
{% for module in modules %}
{% if module.useTemplate %}
<br />
 {% include module.getTemplate %}

{% endif %}
{% endfor %}
<br />

{% if not request.user.onsite_local and not isConfirmed and coremodule.deadline_met %}
<center>


<div class="errormsg">
{% if not completedAll %}
Please finish the required steps listed above (they will be checked off when they are completed). THEN, click on the <em>Save</em> button below (it will be active at this point).
{% else %}
Please click <em>Save</em> below to confirm your registration into {{program.niceName}}.<br />
Upon clicking this you will be given a receipt with further instructions!
{% endif %}

</div>
</center>
{% endif %}
<center>
<p style="text-align: center">
<form action="/learn/{{one}}/{{two}}/confirmreg" method="post">
<input type="submit" value="{% if isConfirmed %}View Receipt{% else %}Save!{% endif %}" {% if not completedAll %}disabled{% endif %}/><br />
</form>{% if not completedAll %}<em>(Please complete the above steps first!)</em>{% endif %}
{% if isConfirmed %}
<form action="/learn/{{one}}/{{two}}/cancelreg" method="get">
<input type="submit" value="Cancel Registration" />
{% endif %}
</p>
</center>

<br />
<p style="text-align: center;">
<em>
  Please note that you can come back and change your preregistration up until 2 days before {{program.niceName}} begins!
</em>
</p>

{% endblock %}