{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block xtrajs %}
<script type="text/javascript">
<!--
  function submit_cancel() {
     // prereg for a class
     {% if scrmi.cancel_button_dereg %}
     var confirm_note = 'Are you sure you want to cancel your registration and remove yourself from any classes you have signed up for?';
     {% else %}
     var confirm_note = 'Are you sure you want to cancel your registration?';
     {% endif %}
     if (confirm(confirm_note)) {
        return true;
     }
     return false;
  }
//-->
</script>
{% endblock %}

{% block content %}
<br /><br />
<h1>Student registration for {{program.niceName}} </h1>
{% if not request.user.onsite_local %}
{% if not request.user.onsite_local and not isConfirmed and coremodule.deadline_met %}
{% if program.isFull %}{% if program.program_allow_waitlist %}
<div class="errormsg">This program is now full!  Click below to add yourself to the waitlist.</div>
{% else %}{% if not canRegToFullProgram %}
<div class="errormsg">This program is now full!  You can no longer register for it; you may only use this page to update currently-existing registrations.</div>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% load render_qsd %}
{% inline_program_qsd_block program "registration_steps" %}
<p>
    Please complete the following steps to register for {{ program.niceName }}.
    When each step is completed, the corresponding box in the right-hand column will
    be &#8220;checked off&#8221;. <!-- After finishing all the steps, click the &#8220;Confirm&#8221;
    button at the bottom of the page. -->
</p>
{% end_inline_program_qsd_block %}

{% render_inline_program_qsd program "learn:studentregheader" %}
<div class="alert alert-block">
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
<big><b>Parents:</b> You should not be at this page!  Please let your kids fill out the registration forms.</big>
</div>
    
{% ifequal scrmi.progress_mode 1 %}
    {% include "program/modules/checkboxes.html" %}
{% endifequal %}
{% ifequal scrmi.progress_mode 2 %}
    {% include "program/modules/progressbar.html" %}
{% endifequal %}

{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:studentreg" %}

<form action="/learn/{{one}}/{{two}}/confirmreg" method="post">

{% for module in modules %}
{% if module.useTemplate %}
<a name="module-{{module.id}}"></a>
{% include module.getTemplate %}
{% endif %}
{% endfor %}

{% if not request.user.onsite_local and not isConfirmed and coremodule.deadline_met %}
<center>

{% if program.isFull %}{% if program.program_allow_waitlist %}
<div class="errormsg">This program is now full!  Click below to add yourself to the waitlist.</div>
{% else %}{% if not canRegToFullProgram %}
<div class="errormsg">This program is now full!  You can no longer register for it; you may only use this page to update currently-existing registrations.</div>
{% endif %}
{% endif %}
{% endif %}

</center>
{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:studentregfooter" %}

{% if not request.user.onsite_local and not no_confirm %}
    <center>
    <a name="confirmreg"></a>
    {% if program.isFull and program.program_allow_waitlist and not isConfirmed %}
        </form>
        <form action="/learn/{{one}}/{{two}}/waitlist_subscribe" method="post">
        <input class="button" type="submit" value="Join Waiting List"/>
        </form>
    {% else %}
        {% if can_confirm %}
            {# disable if (you haven't completed all requirements) OR (you can't register for the program because it's full) #}
            {% if not completedAll or program.isFull and not canRegToFullProgram and not isConfirmed %}
                <button id="confirmbutton" type="submit"
                        class="btn btn-default btn-large"
                        disabled="disabled" />
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    {{ scrmi.confirm_button_text }}
                </button>
            {% else %}
                <button id="confirmbutton" type="submit"
                        class="btn btn-primary btn-large" />
                    {% if isConfirmed %}
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        {{ scrmi.view_button_text }}
                    {% else %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {{ scrmi.confirm_button_text }}
                    {% endif %}
                </button>
            {% endif %}
        </form>
            {% if isConfirmed or scrmi.cancel_button_dereg %}{% if not have_paid %}
                <form action="/learn/{{one}}/{{two}}/cancelreg" method="get" onsubmit="return submit_cancel();" >
                    <button type="submit" id="cancelbutton" class="btn btn-danger btn-large">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {{ scrmi.cancel_button_text }}
                    </button>
                </form>
            {% endif %}{% endif %}
        {% endif %}
    {% endif %}
    </center>
{% endif %}
{% endblock %}

