{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Waitlist for {{program.niceName}} </h1>

{% if already_on_list %}
<p>You have <b>already been added</b> to the waitlist.  Your spot in the list will continue to be held.</p>
{% else %}
<p>You have been added to the waitlist!</p>
{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:waitlist" %}

{% endblock %}

