$login-field-radius: 8px;
$login-field-border: 1px solid rgba(0,0,0,.185);

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-loading-spinner;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('note2');
@include pictos-iconmask('user3');

.bold {
    font-weight: bold;
}

/*
 * Login
 */

.loginForm {
//    background: transparent;           // TODO: replace with background-image
}

.loginContainer {
    top: 10%;
    background: transparent;
    
    .field {
        width: 230px;
    }
}

.login .logo {
    background-color: rgba(0,0,0,0.2);   // TODO: replace with image
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.field {
    border-left: $login-field-border;
    border-right: $login-field-border;
    border-top: $login-field-border;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 14px;
}

.field.first {
    border-top-left-radius: $login-field-radius;
    border-top-right-radius: $login-field-radius;
}

.field.last {
    border-bottom-left-radius: $login-field-radius;
    border-bottom-right-radius: $login-field-radius;
    border-bottom: $login-field-border !important;
}

.separator {
    margin: 15px 0 15px;
}

.line {
    height: 1px;
    background-color: #a7a7a7;
}

/*
 * Program
 */

.program-list {
    .description {
        text-align: center;
    }

    // add top border for the first list cell
    .x-list-item:first-child .x-list-item-label {
        border-top: 1px solid #dedede !important;
    }
}

/*
 * Classes
 */

$gray-color: #7d7d7d;

.classList .classes, .scheduleList .classes {
    @include display-box;
    .title {
        @include box-flex(1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .code {
        font-style: italic;
        color: $gray-color;
        font-size: 80%;
    }
}

.classInfo, .scheduleInfo {
    .title {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.26em;
        margin-bottom: 0.51em;
        padding: 6.9px 11px 0 11px;
    }

    .code {
        display: inline;
        font-size: 0.84em;
        font-weight: normal;
        font-style: italic;
        color: $gray-color;
    }

    .description {
        font-size: 0.9em;
        line-height: 1.26em;
        margin-bottom: 0.51em;
        padding: 4.9px 11px 11px 11px;
    }
}

/*
 * Students
 */

.studentList {
    .x-clear-icon {
        margin-right: 1.6em;
    }

    .students {
        @include display-box;
        ol {
            @include box-flex(1);
            .email {
                color: $gray-color;
                font-size: 80%;
            }
        }

        .username {
            font-style: italic;
            font-size: 75%;
            padding-right: 1.2em;
        }
    }
}

.studentProfile {
    .user-panel {
        .namecard {
            .name {
                font-size: 1.4em;
                font-weight: bold;
                line-height: 1.26em;
            }

            .account {
                font-size: 0.84em;
            }
        }

        .check-in-btn {
            margin-left: 0.9em;
        }
    }

    .x-form-fieldset-title {
        margin: 0em 0.7em 0.5em;
    }

    .contact, .student {
        margin-bottom: 0.7em;
    }

    .label {
        font-size: .9em;
        color: #4E6E91;
        text-align: right;
        background-color: #fff;
        text-overflow: clip;
        white-space: normal;
        word-break: hyphenate;
    }

    input, textarea {
        font-size: .8em;
    }

    input {
        padding-top: .5em;
    }
}

.studentSchedule .classes {
    @include display-box;
    ol {
        @include box-flex(4);
        .header {
            .code {
                float: left;
                font-size: 0.9em;
                font-weight: bold;
            }
            .enrolled {
                float: left;
                margin-left: 0.9em;
                margin-top: 0.1em;
                background-color: #7ed17e;
                font-size: 0.6em;
                padding: 0.25em 0.8em 0.25em;
                border-radius: 0.4em;
            }
        }

        .room {
            font-size: 0.8em;
            clear: both;
        }
    }

    .right {
        @include display-box;
        @include box-flex(1);
        @include box-orient(vertical);
        @include box-align(end);
        .stats {
            @include box-flex(1);
            font-size: 0.8em;
        }

        .arrow {
            @include box-flex(1);
            // theme_image is found in sdk/resources/themes/lib/theme_images.rb
            -webkit-mask-image: theme_image('default', 'pictos/code3.png');
            -webkit-mask-size: 1em;
            width: 1em;
            height: 1em;
            background-color: #6e6e6e;
        }
    }
}
