$login-field-radius: 8px;
$login-field-border: 1px solid rgba(0,0,0,.185);

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
//@include sencha-sheet;
//@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
//@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-loading-spinner;
@include sencha-form;
@include sencha-msgbox;

/*
 * Login
 */

.loginForm {
//    background: transparent;           // TODO: replace with background-image
}

.loginContainer {
    top: 10%;
    background: transparent;
    
    .field {
        width: 230px;
    }
}

.login .logo {
    background-color: rgba(0,0,0,0.2);   // TODO: replace with image
    text-align: center;
    display: block;
    vertical-align: middle;
    width: 180px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
}

.field {
    border-left: $login-field-border;
    border-right: $login-field-border;
    border-top: $login-field-border;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 14px;
}

.field.first {
    border-top-left-radius: $login-field-radius;
    border-top-right-radius: $login-field-radius;
}

.field.last {
    border-bottom-left-radius: $login-field-radius;
    border-bottom-right-radius: $login-field-radius;
    border-bottom: $login-field-border !important;
}

.separator {
    margin: 15px 0 15px;
}

/*
 * Program
 */

.program-list {
    .description {
        text-align: center;
    }

    // add top border for the first list cell
    .x-list-item:first-child .x-list-item-label {
        border-top: 1px solid #dedede !important;
    }
}

/*
 * Classes
 */

$class-code-color: #7d7d7d;

.classList .classes {
    @include display-box;
    .title {
        @include box-flex(1);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .code {
        font-style: italic;
        color: $class-code-color;
        font-size: 80%;
    }
}

.classInfo {
    .title {
        font-weight: bold;
        font-size: 1.4em;
        line-height: 1.26em;
        margin-bottom: 0.51em;
        padding: 6.9px 11px 0 11px;
    }

    .code {
        display: inline;
        font-size: 0.84em;
        font-weight: normal;
        font-style: italic;
        color: $class-code-color;
    }

    .description {
        font-size: 0.9em;
        line-height: 1.26em;
        margin-bottom: 0.51em;
        padding: 4.9px 11px 11px 11px;
    }
}
