{% load markup %}

<div class="qsd_bits hidden">
    <div class="qsd_header qsd_bits hidden" id="inline_edit_msg_{{ qsdrec.edit_id }}" onclick="qsd_inline_edit('{{ qsdrec.url }}', '{{ qsdrec.edit_id }}');">
        {% if qsdrec.id %}
            This is editable text.
        {% else %}
            This is a placeholder for editable text that has not yet been added.
        {% endif %}
        Click here to edit the text.
    </div>
    <div class="hidden" id="inline_edit_{{ qsdrec.edit_id }}">
        <button type="button" class="btn btn-success" onclick="qsd_inline_finish('{{ qsdrec.url }}', '{{ qsdrec.edit_id }}', true);">Save changes</button> <button type="button" class="btn btn-danger" onclick="qsd_inline_finish('{{ qsdrec.url }}', '{{ qsdrec.edit_id }}', false);">Cancel</button>
        <textarea rows="8" cols="80" id="qsd_content_{{ qsdrec.edit_id }}"
                  class="qsd_editor {% if not inline %}qsd_fullsize{% endif %} qsd_bits hidden {% if inline and not qsdrec.id %}qsd_halfsize{% endif %}"
                  name="qsd_content">{% autoescape on %}{{ qsdrec.content }}{% endautoescape %}</textarea>
        {% comment %}
        Avoid extra whitespace between <textarea> and </textarea>, or it'll
        get accidentally added to the content with each edit!
        {% endcomment %}
    </div>
</div>
<div class="qsd_view_visible prettify" id="inline_qsd_{{ qsdrec.edit_id }}">
    {% autoescape off %}{{ qsdrec.content|markdown }}{% endautoescape %}
</div>

<script type="text/javascript">
$j(document).ready(function() {
  if (esp_user.cur_admin != "1") {
    $j(".qsd_view_visible").removeClass("qsd_view_visible");
  }
});
</script>
<br />
{% if not inline %}
<br />
<div {% if display_date_author == 0 %}class="qsd_bits hidden" {% endif %}id="divmainqsddatetimestamp">
  <p class="attribution">Last modified {% if display_date_author == 1 %}<span class="qsd_bits hidden">{% endif %}by {{ qsdrec.author }} {% if display_date_author == 1 %}</span>{% endif %}on {{ qsdrec.create_date|date:"N d, Y \a\t h:i a" }}</p>
</div>
{% endif %}
