{% load markup %}

<div class="qsd_bits hidden">
	<div class="qsd_header qsd_bits hidden" onclick="qsd_inline_edit('{{ qsdrec.url }}', '{{ qsdrec.edit_id }}');">This is editable text.  Click here to edit the text; click outside the box to save changes.</div>
	<div class="hidden qsd_bits qsd_default_hidden" id="inline_edit_{{ qsdrec.edit_id }}">
		<textarea rows="8" cols="80" id="qsd_content_{{ qsdrec.edit_id }}" onblur="qsd_inline_upload('{{ qsdrec.url }}', '{{ qsdrec.edit_id }}');" name="qsd_content" class="qsd_editor qsd_fullsize qsd_bits hidden">{% autoescape on %}{{ qsdrec.content }}{% endautoescape %}</textarea>
	</div>
</div>

<div class="qsd_view_visible prettify" id="inline_qsd_{{ qsdrec.edit_id }}">
    {% autoescape off %}{{ qsdrec.content|markdown }}{% endautoescape %}
</div>

<script type="text/javascript">
$j(document).ready(function() {
  if (esp_user.cur_admin != "1") {
    $j(".qsd_view_visible").removeClass("qsd_view_visible");
  }
});
</script>

<br /><br />
<div {% if display_date_author == 0 %}class="qsd_bits hidden" {% endif %}id="divmainqsddatetimestamp">
  <p class="attribution">Last modified {% if display_date_author == 1 %}<span class="qsd_bits hidden">{% endif %}by {{ qsdrec.author }} {% if display_date_author == 1 %}</span>{% endif %}on {{ qsdrec.create_date|date:"N d, Y \a\t h:i a" }}</p>
</div>
