{% load smartypants %}
{% load markdown %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/qsd.css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/json2.js"></script>
    <script type="text/javascript" src="/media/scripts/qsd.js"></script>
{% endblock %}

{% if qsdrec %}
    {% if edit_bits %}
        <div class="qsd_header" onclick="qsd_inline_edit({{ qsdrec.id }});">This is quasi-static content.  Click here to edit the text; click outside the box to save changes.</div>
        <div class="qsd_edit_hidden" id="inline_edit_{{ qsdrec.id }}">
        <textarea rows="8" cols="80" id="qsd_content_{{ qsdrec.id }}" onblur="qsd_inline_upload({{ qsdrec.id }});" name="qsd_content" class="qsd_editor">
            {% autoescape off %}{{ qsdrec.content }}{% endautoescape %}
        </textarea>
        </div>
        <div class="qsd_view_visible" id="inline_qsd_{{ qsdrec.id }}">
        {% autoescape off %}{{ qsdrec.content|markdown|smartypants|teximages }}{% endautoescape %}
        </div>
    {% else %}
        {% autoescape off %}{{ qsdrec.content|markdown|smartypants|teximages }}{% endautoescape %}
    {% endif %}
{% else %}
{% if edit_bits %}
    <div class="qsd_header" onclick="qsd_inline_edit('{{ qsdname }}');">This is a placeholder for quasi-static content that has not yet been added.  Click here to edit the text; click outside the box to save changes.</div>
        <div class="qsd_edit_hidden" id="inline_edit_{{ qsdname }}">
        <textarea rows="8" cols="80" id="qsd_content_{{ qsdname }}" onblur="qsd_inline_create('{{ qsdname }}', {{ anchor_id }});" name="qsd_content" class="qsd_editor qsd_halfsize"></textarea>
        </div>
        <div class="qsd_view_visible" id="inline_qsd_{{ qsdname }}">
        </div>
    {% endif %}
{% endif %}
<br />
