{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block content %}

<h1>Teacher registration for {{program.niceName}}</h1>

{% load render_qsd %}
{% inline_program_qsd_block program "teach:teacherreg" %}
<p>
Please complete the following steps to teach for {{ program.niceName }}.  When each step is completed, the corresponding box in the right-hand column will be "checked off."  If you have any questions, please <a href="mailto:{{ program.director_email}}">contact the program directors</a>.
</p>
{% end_inline_program_qsd_block %}

{% ifequal options.progress_mode 1 %}
    {% include "program/modules/checkboxes.html" %}
{% endifequal %}
{% ifequal options.progress_mode 2 %}
    {% include "program/modules/progressbar.html" %}
{% endifequal %}
<br />

{% for module in modules %}
{% if module.useTemplate or module.getTemplate %}
    <a name="module-{{module.id}}"></a>
    <br />
    {% include module.getTemplate %}
{% endif %}
{% endfor %}

{% endblock %}
