<ul class="nav flex-column sidebar" id="nav_sidebar">
    {% for section in theme.nav_structure %}
    {% if section.header %}
    <li class="nav-header">
        {# links on headers are optional #}
        {% if section.header_link %}
        <a href="{{section.header_link}}">
        {% endif %}
            {{section.header}}
        {% if section.header_link %}
        </a>
        {% endif %}
    </li>
    {% endif %}

    {% for item in section.links %}
    {# TODO(benkraft): allow adding classes to items so we can do logged-in only #}
    <li>
        <a href="{{item.link}}">
            {% if item.icon %}
            <i class="bi bi-{{item.icon}}"></i>
            {% endif %}
            {{item.text}}
        </a>
    </li>
    {% endfor %}
    {% endfor %}
</ul>

<div class="accordion sidebar" id="nav_accordion">
    <div class="card">
        <div class="card-header">
            <a data-toggle="collapse" data-parent="#nav_accordion" href="#collapseOne">
                <i class="bi bi-list"></i> Navigation
            </a>
        </div>
        <div id="collapseOne" class="collapse">
            <ul class="nav flex-column sidebar">
            {% for section in theme.nav_structure %}
            {% if section.header %}
            <li class="nav-header">
                {# links on headers are optional #}
                {% if section.header_link %}
                <a href="{{section.header_link}}">
                {% endif %}
                    {{section.header}}
                {% if section.header_link %}
                </a>
                {% endif %}
            </li>
            {% endif %}

            {% for item in section.links %}
            {# TODO(benkraft): allow adding classes to items so we can do logged-in only #}
            <li>
                <a href="{{item.link}}">
                    {% if item.icon %}
                    <i class="bi bi-{{item.icon}}"></i>
                    {% endif %}
                    {{item.text}}
                </a>
            </li>
            {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
