{% for section in theme.nav_structure %}
{% if section.header %}
<li class="nav-header">
    {# links on headers are optional #}
    {% if section.header_link %}
    <a href="{{section.header_link}}">
    {% endif %}
        {{section.header}}
    {% if section.header_link %}
    </a>
    {% endif %}
</li>
{% endif %}

{% for item in section.links %}
{# TODO(benkraft): allow adding classes to items so we can do logged-in only #}
<li>
    <a href="{{item.link}}">
        {% if item.icon %}
        <i class="glyphicon glyphicon-{{item.icon}}"></i>
        {% endif %}
        {{item.text}}
    </a>
</li>
{% endfor %}
{% endfor %}
