{% extends "main.html" %}

{% block title %}Teacher Registration{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}

<h1>{{ addoredit }} a class for {{ program.niceName }}!</h1>

<p>
Thank you for teaching for {{ one }}. Please fill out/update the form below.
</p>
<br />
<br />

{% if form.has_errors %}
<h2 style="color:red">Please fix the error{{ form.error_dict|pluralize }} in the form.</h2>
{% endif %}

<form action="{{request.path}}" name="clsform" method="post">

<label for="id_title" class="header">
Course Title:
</label>
<br />
{% if form.title.errors %}
<br />
<span class="form_error">{{ form.title.errors|join:", " }}</span>
<br />
{% endif %}
{{ form.title }} 
<br />
<br />

{% comment %}
<label for="id_url" class="header">
Course Slug:
</label>
<br />
<small>(Used for the URL: http://esp.mit.edu/learn/{{program.getUrlBase}}/[SLUG]/index.html)</small>
{% if form.url.errors %}
<br />
<span class="form_error">{{ form.url.errors|join:", " }}</span>
{% endif %}
{{ form.url }} 
<br />
<br />
{% endcomment %}

<label for="id_class_info" class="header">
Course Description:
</label>
<br />
{% if form.class_info.errors %}
   <br /><span class="form_error">{{ form.class_info.errors|join:", " }}</span>
   <br />
{% endif %}
{{ form.class_info }}

<br />
<br />
<table border="0" cellpadding="0" width="300px">

  <tr>
    <td>
      <label for="id_category" class="header">
      Course Category:
      </label>
    </td>
    <td>
    {% if form.category.errors %}
       <span class="form_error">{{ form.category.errors|join:", " }}</span><br />
    {% endif %}
    {{ form.category }}
    </td>
  </tr>

  <tr>
    <th colspan="2">Course Information:</th>
  </tr>

  <tr>
    <td>
      <label for="id_grade_min">
      Minimum Grade Level:
      </label>
    </td>
    <td>
    {% if form.grade_min.errors %}
       <span class="form_error">{{ form.grade_min.errors|join:", " }}</span><br />
    {% endif %}
    {{ form.grade_min }}
    </td>
  </tr>

  <tr>
    <td>
      <label for="id_grade_max">
      Maximum Grade Level:
      </label>
    </td>
    <td>
    {% if form.grade_max.errors %}
       <span class="form_error">{{ form.grade_max.errors|join:", " }}</span><br />
    {% endif %}
    {{ form.grade_max }}
    </td>
  </tr>

  <tr>
    <td>
      <label for="id_class_size_min">
      Minimum Size:
      </label>
    </td>
    <td>
    {% if form.class_size_min.errors %}
       <span class="form_error">{{ form.class_size_min.errors|join:", " }}</span><br />
    {% endif %}
    {{ form.class_size_min }}
    </td>
  </tr>

  <tr>
    <td>
      <label for="id_class_size_max">
      Maximum Size:
      </label>
    </td>
    <td>
    {% if form.class_size_max.errors %}
       <span class="form_error">{{ form.class_size_max.errors|join:", " }}</span><br />
    {% endif %}
    {{ form.class_size_max }}
    </td>
  </tr>
</table>
<br />
<br />
{% if durations %}
{% if form.duration %}
<label for="id_duration" class="header">
Preferred Duration (hours:minutes):
</label>
<br />
{% if form.duration.errors %}
   <br /><span class="form_error">{{ form.duration.errors|join:", " }}</span><br />
{% endif %}
{{ form.duration }}

<br />
<br />
{% endif %}
{% endif %}

{% if form.viable_times %}
<label class="header">
Acceptable Course Times (check all that apply):
</label>
<br />
{% if form.viable_times.errors %}
   <br /><span class="form_error">{{ form.viable_times.errors|join:", " }}</span><br />
{% endif %}
{{ form.viable_times }}

<br />
<br />
{% endif %}


<label class="header">
Resources Required (check all that apply):
</label>
<br />
{% if form.resources.errors %}
   <br /><span class="form_error">{{ form.resources.errors|join:", " }}</span><br />
{% endif %}
{{ form.resources }}

<br />
<br />

<label for="id_message_for_directors" class="header">
Message for Director
</label>
<br />
{% if form.message_for_directors.errors %}
   <br /><span class="form_error">{{ form.message_for_directors.errors|join:", " }}</span><br />
{% endif %}
{{ form.message_for_directors }}

<br />
<br />

<center>

{% if module.meets_deadline %}
<button type="submit" class="btn btn-primary btn-large">
{% if class.id %}
<span class="glyphicon glyphicon-floppy-saved"></span>
Save course!
{% else %}
<span class="glyphicon glyphicon-education"></span>
Teach for {{one}}!
{% endif %}
</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}
<input class="button" type="button"
  onclick="history.go(-1);" value="{% if module.deadline_met %}Cancel{% else %}Go back{% endif %}" />

</center>

{% if class.id %}
<input type="hidden" name="class_id" value="{{ class.id }}" />
{% endif %}
<input type="hidden" name="class_reg_page" value="" />
</form></div>

{% endblock %}
