{% extends "main.html" %}

{% block title %}{{prog.niceName }} Teacher Management{% endblock %}

{% block subsection_name %}Teacher{% endblock %}

{% block xtrajs %}
<script type="text/javascript" src="/media/scripts/jquery-ui-sc/jquery.sexy-combo.js"></script>
<script type="text/javascript">
  // Define a function to convert the string to a username if applicable
  var cleanTeacherSubmit = function(form) {
    var input = $j("#stateInput")
    if (input.data("sc:autoFilled") == "yes") {
      input.val(input.data("sc:autoFilledValue"));
    }
  };



  $j(document).ready(function() {
    // Make our input a "sexyCombo" input
    $j("#stateInput").sexyCombo({
      emptyText: "Enter a teacher's name",
      initEventsCallback: function() {
        this.input.val('');
      },
      listItemSelectedCallback: function(item) {
        $j("#stateInput").data("sc:autoFilled", "yes");
        $j("#stateInput").data("sc:autoFilledEvent", "yes");
        $j("#stateInput").data("sc:autoFilledText", item.text());
        $j("#stateInput").data("sc:autoFilledValue", item.attr("value"));
      },
      textChangeCallback: function() {
        if($j("#stateInput").data("sc:autoFilled") == "yes") {
          var text = $j("#stateInput").data("sc:autoFilledText");
          if (text != this.input.val()) {
            $j("#stateInput").data("sc:autoFilled", "no");
          }
        }
        if($j("#stateInput").data("sc:autoFilledEvent") == "yes") {
          $j("#stateInput").data("sc:autoFilledEvent", "no");
          return;
        }
        $j.ajax({
          url: "/manage/{{ program.getUrlBase }}/teacherlookup/",
          data: {name: this.input.val()},
          async: false,
          dataType: "json",
          success: function(data) {
            $j("#stateInput option").remove();
            $j.each(data, function(index, val) {
              $j("#stateInput").append("<option value='"+val.id+"'>"+val.name+"</option>");
            });
            //$j.sexyCombo.changeOptions($j("#stateInput"));
            //Do it by hand instead, because changeOptions doesn't quite do what we want
            $select = $j("#stateInput");
            $select.each(function() {
                if ("SELECT" != this.tagName.toUpperCase()) {
                    return;     
                }
                        
                var $this = $j(this);
                var $wrapper  = $this.parent();
                var $listWrapper = $wrapper.find("ul").parent();

                $wrapper.data("sc:optionsChanged", "yes");
            });
            this.filter();
            this.highlightSelected();

          }.bind(this)
        });
     }
    });
  });
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/sexy-combo.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/sexy/sexy.css" />
{% endblock %}

{% block content %}

<h1>Setting Teachers for &quot;<u>{{ class|escape }}</u>&quot;</h1>

<p>Please list all teachers that will be helping teach this class.  They will need to create accounts and mark their available times through the teacher registration page (for scheduling purposes).</p>

{% if conflicts|length %}
    <p style="color:red; font-weight: bold;">
    The following teachers have conflicting schedules:<br />
    {{ conflicts|join:"<br />" }}
    </p>
{% endif %}

{% if error %}
<p style="color:red; font-weight: bold;">
{{ error }}
</p>
{% endif %}
<div id="program_form">
{% if not coteachers|length %}
There are currently no teachers associated with this class.
{% else %}
<form action="{{request.path}}" method="post" name="manage_coteachers">
<table align="center" width="400">
    <tr>
        <th colspan="2">Current Teachers</th>
    </tr>
    <tr>
        <td width="50%">
            <input type="hidden" name="op" value="del" />
            <input type="hidden" name="clsid" value="{{ class.id }}" />
            <input type="hidden" name="coteachers" value="{{ txtTeachers }}" />

            <select id="current_coteachers"
                    class="coteachers" name="delete_coteachers" 
                    size="5" multiple="multiple">
            {% for teacher in coteachers %}
                <option value="{{teacher.id}}">{{teacher.last_name }}, 
                    {{teacher.first_name}} ({{teacher.username}})</option>
            {% endfor %}
            </select>
            <br />
            
        </td>
        <td>
            <input type="submit" class="button" value="Delete Selected" /><br />
        </td>
    </tr>
</table>
</form>
{% endif %}
<form action="{{request.path}}" method="post" name="addteacher" onsubmit="cleanTeacherSubmit($j(this))">
<table align="center" width="400">
    <tr>
        <th colspan="2">Add More Teachers</th>
    </tr>
    <tr>
        <td colspan="2">Begin typing the teacher's name in `Last, First' format to find them.</td>
    </tr>
    <tr>
        <td width="50%">
            <input type="hidden" name="clsid" value="{{ class.id }}" />
            <input type="hidden" name="op" value="add" />
            <input type="hidden" name="coteachers" value="{{ txtTeachers }}" />
            </div>
	    <select value="" name="teacher_selected" id="stateInput">
	      <option value="hithere">Hi there!</option>
	    </select>
        </td>
        <td>
            <input type="submit" class="button" value="Add Teacher" />
        </td>
    </tr>
</table>
</form>
<table align="center" width="400">
    <tr>
        <td align="center" colspan="2">When you are done, click the button below to return to the program management page.</td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <form action="{{request.path}}" method="post" name="submit">
            <input type="hidden" name="op" value="save" />
            <input type="hidden" name="clsid" value="{{ class.id }}" />
            <input type="hidden" name="coteachers" value="{{ txtTeachers }}" />
            <input type="submit" class="button" value="Save and Continue" /><br />
            </form>
        </td>
    </tr>
</table>
</div>

{% endblock %}
