{% extends "main.html" %}

{% block title %}{{prog.niceName }} Program Administration{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}

<h1>Deleting a class section from {{ program.niceName }}</h1>

<div id="program_form">
<p>
<table width="500">
    <tr>
        <th colspan="5">Details</th>
    </tr>
    <tr>
        <td colspan="5">You have chosen to delete the following section of class <b>{{ sec.parent_class }}</b>.</td>
    </tr>
    <tr>
        <td class="clsleft" valign="top"><i>Section {{ sec.index }}</i><br />
            Status: {% if sec.isReviewed %}{% if sec.isAccepted %}
            <span style="font-weight: bold; color: #0C0;">Accepted</span>
            {% else %}
            <span style="font-weight: bold; color: #C00;">Rejected</span>
            {% endif %}
            {% else %}
            <span style="font-weight: bold; color: #00C;">Unreviewed</span>
            {% endif %}
        </td>
        <td class="clsmiddle" valign="top" colspan="3">Room: {% if sec.initial_rooms %}{% for r in sec.initial_rooms %}{{ r.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Unassigned{% endif %} <br />Time: {% if sec.friendly_times|length_is:0 %}Unassigned{% else %}{% for f in sec.friendly_times %}{{ f }}{% endfor %}{% endif %}</td>
        <td class="clsmiddle" valign="top">{{ sec.num_students }} / {{ sec.capacity }} students</td>
    </tr>
    <tr>
        <td colspan="5">Please <a href="mailto:{{ sec.emailcode }}-students@{{ request.META.HTTP_HOST }}">email the students</a> first, as this action will alter their schedules (and you won't be able to contact them after the section is deleted).</td>
    </tr>
    <tr>
        <td colspan="1">&nbsp;</td>
        <td>
            <form action="/manage/{{ module.program.getUrlBase }}/deletesection/{{ sec.parent_class.id }}?sec_id={{ sec.id }}" method="post">
                <input type="hidden" name="sure" value="False" />
                <input class="fancybutton" type="submit" value="Cancel" />
            </form>
        </td>
        <td>
            <form action="/manage/{{ module.program.getUrlBase }}/deletesection/{{ sec.parent_class.id }}?sec_id={{ sec.id }}" method="post">
                <input type="hidden" name="sure" value="True" />
                <input class="fancybutton" type="submit" value="Confirm Deletion" />
            </form>
        </td>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>
</p>
</div>

{% endblock %}
