{% block xtrajs %}

<script type="text/javascript">
// Initialize the json_data holder
json_data = {};
</script>

<script type="text/javascript" src="/media/scripts/program/modules/adminclass.js"></script>

<script type="text/javascript">
/* <![CDATA[ */

  // Create the class description popup for the Status button
  class_desc_popup = $j('<div></div>').attr('id', "class_status_popup")
    .dialog({
      autoOpen: false,
      minWidth: 400,
      minHeight: 300,
      modal: true
    });

  // Set up sorting control
  $j(document).ready(setup_sort_control);

  // Start the AJAX request to get the class data and display it
  json_fetch(["sections", "class_subjects"], fillClasses, json_data, function() { alert("Error loading class data"); });

/* ]]> */
</script>

{% endblock %}

<link rel="stylesheet" href="/media/styles/battlescreen.css" type="text/css" />
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />

<style type="text/css">
.unapproved {
  font-style: italic;
  color: #900;
}
.dashboard_red
{
font-style:italic;
color : #FF0000;
}
.dashboard_blue
{
font-weight:bold;
color: #3333FF;
}
</style>

<hr />

<div class="module_group" id="listclasses">
  <div class="module_group_header">
    Manage Classes -- {{program.niceName}}
  </div>
  <div class="module_group_body" style="padding: 10px">
    <div class="info" style="margin-left: 0; margin-right: 0">
      If you need to email a class, students, or teachers, just use its code!<br />
      For instance, if the code is M100:<br />
      <tt>M100-students@{{ EMAIL_HOST_SENDER }}</tt> will email the students,<br />
      <tt>M100-teachers@{{ EMAIL_HOST_SENDER }}</tt> will email the teachers,<br />
      and <tt>M100-class@{{ EMAIL_HOST_SENDER }}</tt> will email everyone in the class.
    </div>

    <p>Notes: 
      <ul>
	<li><span class="unapproved dashboard_blue">Blue</span> stands for unreviewed classes and <span class="dashboard_red">Red</span> for rejected classes.</li>
	<li>You may click on the column headers to sort the classes in ascending or descending order. <br />
    Select a sorting option for the leftmost column: 
    <select id="dashboard_sort_control">
        <option value="id">ID</option>
        <option value="category">Category</option>
        <option value="name">Class Name</option>
        <option value="status">Status</option>
        <option value="size">Size</option>
        <option value="special">Special Requests</option>
    </select>
    </li>
      </ul>
    </p>

    <div id="battlescreen">

      <table id="dashboard_class_table" cellpadding="4px" cellspacing="0" class="sortable">
	{% if noclasses %}
	<tr>
	  <td class="clsleft classname">
	    <em>(None available)</em>
	  </td>
	</tr>
	{% endif %}
	<thead>
	  <tr id="header-row">
	    <th class="dashboard_colheader"><div style="cursor: pointer; display: inline;">Class Code/Title</div></th>
	    <th class="dashboard_colheader"><div style="cursor: pointer; display: inline;">Teachers</div></th>
	    <th class="dashboard_colheader sorttable_nosort" colspan="4">Management Options</th>
	  </tr>
	</thead>
	<tbody id="classes_anchor">
	  <tr>
        <td colspan="7">Loading classes...</td>
      </tr>
	</tbody>
      </table>
    </div>

  </div>
</div>


<div id="classmanager">
<div class="hd"><!--Please enter your information--></div>
  <div class="bd">
    <form method="POST" action="../assets/post.php">
    </form>
  </div>
</div>
