{% block xtrajs %}

{# These includes are not consistent with our local copy of the yahoo apis, but it doesn't seem to break anything yet... -ageng 2008-11-01 #}
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo/yahoo-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/event/event-min.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js"></script>
<script type="text/javascript"> var base_url = "{{ program.getUrlBase }}" </script>
<script type="text/javascript"> var program_base_url = "/json/"+base_url+"/"; </script>
<script type="text/javascript" src="/media/scripts/jquery-ui.js"></script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>

<script type="text/javascript">
/* <![CDATA[ */

$j(document).ready(function() {
  // Check if rapid approval is enabled
  {% load tagdict %}
  if ("{% getProgramTag 'use_rapid_approval' program%}" == "True")
  {
    $j(".rapid_approval_button").show();
    // Create the class description popup for the Status button
    class_desc_popup = $j('<div></div>').attr('id', "class_status_popup")
      .dialog({
        autoOpen: false,
        minWidth: 400,
        minHeight: 300,
        modal: true,
      });
  }
});

function deleteClass() {
    if (confirm('Are you sure you would like to delete this class? \n Since you are an admin, you can delete this class with students. \n Deleting is hard to undo, so consider instead marking it unreviewed or rejected.')) {
       return true;
    }
    return false;
}
function assignRoom(clsid){
    form = document.getElementById('assignroom-'+clsid)
    form.submit();
}

var checks = {
{% for check in program.checkitems_all_cached %}
     "{{ check.id|addslashes }}": "{{check.title|addslashes}}",
{% endfor %}
};

function clickCheckMark(clsid,check,id) {

  var callback = {
      failure:function(o){},
      success:function(o){
        if (o.responseText == 'On') {
          off = ''; offTitle = '';
        } else {
          off = 'no'; offTitle = 'Not ';
        }

        document.getElementById(id).innerHTML = '<img src="{{MEDIA_URL}}images/'+off+'checkmark.gif" title="'+offTitle+checks[check]+'" />';
      }
  };

  var url='/manage/{{program.getUrlBase}}/alter_checkmark/';
  var post='class_id='+clsid+'&check_id='+check;

  /* make the ajax call */
  YAHOO.util.Connect.asyncRequest('POST', url, callback, post);

}


   var handleSubmit = function () { this.submit(); }
   var handleCancel = function () { this.cancel(); }

var manage_container;

function dialog_init() {
   YAHOO.namespace("example.container");

  var handleSuccess = function(o) {
       var response = o.responseText;
       alert(response);
  }
  var handleFailure = function(o) {}
     var buttons_list = [
          { text:"Submit", handler:handleSubmit, isDefault:true },
          { text:"Cancel", handler:handleCancel }
     ];
    
     manage_container = new YAHOO.widget.Dialog("classmanager",
	{ width : "600px",
/*          fixedcenter : true,*/
          visible : false,
          modal:    true,
/*          constraintoviewport : true,*/
          buttons : buttons_list });

     manage_container.callback  = { success: handleSuccess,
	                   failure: handleFailure };

     /*      YAHOO.util.Event.addListener("hide", "click", YAHOO.example.container.dialog1.hide, YAHOO.example.container.dialog1, true);*/
}

YAHOO.util.Event.addListener(window, "load", dialog_init);


function manage_class(clsid) {
  var callback = {
      failure:function(o){},
      success:function(o){
         document.getElementById('classmanager').innerHTML = o.responseText;
         manage_container.render();
         manage_container.show();
         document.getElementById('classmanager_c').style.top = '0px';
      }
  };

  var url='/manage/{{program.getUrlBase}}/manageclass/?ajax=true';
  var post='clsid='+clsid+'&ajax=true';

  /* make the ajax call */
  YAHOO.util.Connect.asyncRequest('POST', url, callback, post);

}

function show_loading_class_popup() {
  class_desc_popup
    .dialog('option', 'title', 'Loading')
    .dialog('option', 'width', 400)
    .dialog('option', 'height', 200)
    .dialog('option', 'position', 'center')
    .dialog('option', 'buttons', [])
    .html('Loading class info...')
    .dialog('open');
}

function show_saving_popup() {
  class_desc_popup
    .dialog('option', 'title', 'Saving')
    .html('Saving the class status...')
    .dialog('option', 'buttons', [])
    .dialog('open');
}

function fill_class_popup(clsid, classes_data) {
  var class_info = classes_data.classes[clsid];
  var status_string;
  switch(class_info.status)
  {
    case -20:
      status_string = "Cancelled";
      break;
    case -10:
      status_string = "Rejected";
      break;
    case 0:
      status_string = "Unreviewed";
      break;
    case 5:
      status_string = "Accepted but hidden";
      break;
    case 10:
      status_string = "Accepted";
      break;
  }

  class_desc_popup
    .dialog('option', 'title', class_info.title)
    .dialog('option', 'width', 600)
    .dialog('option', 'height', 400)
    .dialog('option', 'position', 'center')
    .dialog('option', 'buttons', [
      {
        text: "Approve (all sections)",
        click: function() {
          approve_class($j(this).attr('clsid'));
        },
      },
      {
        text: "Unreview",
        click: function() {
          unreview_class($j(this).attr('clsid'));
        },
      },
      {
        text: "Reject (all sections)",
        click: function() {
          reject_class($j(this).attr('clsid'));
        },
      }])
    .html('')
    .append("<p><b>Status:</b> " + status_string + "</p>")
    .append("<p><b>Sections:</b> " + class_info.sections.length + "</p>")
    .append("<p><b>Max Size:</b> " + class_info.class_size_max + "</p>")
    .append("<p><b>Category:</b> " + class_info.category + "</p>")
    //.append("<p>Difficulty: " + class_info.difficulty + "</p>")
    .append("<p><b>Prereqs:</b> " + class_info.prereqs + "</p>")
    .append("<p><b>Description:</b> " + class_info.class_info + "</p>")
    .attr('clsid', clsid);
}

function show_approve_class_popup(clsid) {
  // Show an intermediate screen while we load class data
  show_loading_class_popup();

  // Load the class data and fill the popup using it
  json_get('class_info', {'class_id': clsid},
    function(data) {
       fill_class_popup(clsid, data);
    },
    function(jqXHR, status, errorThrown) {
      if (errorThrown == "NOT FOUND") {
        class_desc_popup.dialog('option', 'title', 'Error');
        class_desc_popup.html("Error: JSON view not found.<br/>Possible fix: Enable the JSON Data Module.");
        class_desc_popup.dialog('option', 'buttons', [{
          text: "Ok",
          click: function() {
            $j(this).dialog("close");
          }
        }]);
      }
    });
}

function approve_class(clsid) {
  // Show a popup while saving to avoid a "laggy" feeling
  show_saving_popup();

  // Make the AJAX request to actually set the class status
  $j.ajax({
    url: "/manage/{{ program.url }}/reviewClass",
    type: "post",
    data: {
      class_id: clsid,
      review_status: "ACCEPT",
      csrfmiddlewaretoken: csrf_token()
    },
    complete: function() {
      class_desc_popup.dialog("close");
    }
  });

  // Set the appropriate styling
  $j("#"+clsid+"-row").find(".unapproved")
      .removeClass("unapproved")
      .addClass("approved");
}

function unreview_class(clsid) {
  // Show a popup while saving to avoid a "laggy" feeling
  show_saving_popup();

  // Make the AJAX request to actually set the class status
  $j.ajax({
    url: "/manage/{{ program.url }}/reviewClass",
    type: "post",
    data: {
      class_id: clsid,
      review_status: "UNREVIEW",
      csrfmiddlewaretoken: csrf_token()
    },
    complete: function() {
      class_desc_popup.dialog("close");
    }
  });

  // Set the appropriate styling
  $j("#"+clsid+"-row").find(".approved")
      .removeClass("approved")
      .addClass("unapproved");
}

function reject_class(clsid) {
  // Show a popup while saving to avoid a "laggy" feeling
  show_saving_popup();

  // Make the AJAX request to actually set the class status
  $j.ajax({
    url: "/manage/{{ program.url }}/reviewClass",
    type: "post",
    data: {
      class_id: clsid,
      review_status: "REJECT",
      csrfmiddlewaretoken: csrf_token()
    },
    complete: function() {
      class_desc_popup.dialog("close");
    }
  });  

  // Set the appropriate styling
  $j("#"+clsid+"-row").find(".approved")
      .removeClass("approved")
      .addClass("unapproved");
}

/* ]]> */
</script>

{% endblock %}

<link rel="stylesheet" href="/media/styles/battlescreen.css" type="text/css" />
<link rel="stylesheet" href="/media/styles/jquery-ui/jquery-ui.css" type="text/css" />
<style type="text/css">
  .unapproved { 
      font-style: italic;
      color: #900;
   }
   .dashboard_red
   {
   	font-style:italic;
   	color : #FF0000;
   }
   .dashboard_blue
   {
   	font-weight:bold;
   	color: #3333FF; 
   }
   
.class_checkitem { 
   padding:0 !important;
   margin: 0 !important;
}

.checkmark img {
   border: 1px solid #999;
   margin: 2px !important;
}

.class_checkitem a:hover img {
   border: 1px solid black !important;
}

#classmanager {
   z-index: 10000;
   position: absolute;
   display: block;
}

.yui-panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.yui-panel-container.focused {
}


.yui-panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.yui-panel-container.matte .underlay {
	display:none;
}

.yui-panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.yui-panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#000;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
    -moz-opacity: 0.12;
    opacity:.12;
    filter:alpha(opacity=12);
	zoom:1;
}

.yui-panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:#FFF;
	border:1px solid #000;
	z-index:1;
	overflow:hidden;
}

.yui-panel .hd {

	font-size:100%;
	line-height:100%;
	border:1px solid #FFF;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}

.yui-panel .bd {
	overflow:hidden;
	padding:4px;
}

.yui-panel .bd p {
	margin:0 0 1em;
}

.yui-panel .container-close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:0px;
	padding:0px;
	background:url(close12_1.gif) no-repeat;
	cursor:pointer;
	visibility:inherit;
}

.yui-panel .ft {
	padding:4px;
	overflow:hidden;
}

.yui-simple-dialog .bd .yui-icon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.yui-dialog .ft, 
.yui-simple-dialog .ft {
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

.yui-dialog form, 
.yui-simple-dialog form {
	margin:0;
}

.viable {
  color: black;
  background: #9f9;
}

.notviable {
  color: #ccc;
}
</style>
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />

<hr />

<center>
<br />
<div class="info">If you need to email a class, students, or teachers, just use its code!<br />
For instance, if the code is M100:<br />
<tt>M100-students@{{ EMAIL_HOST }}</tt> will email the students,<br />
<tt>M100-teachers@{{ EMAIL_HOST }}</tt> will email the teachers,<br />
and <tt>M100-class@{{ EMAIL_HOST }}</tt> will email everyone in the class.
</div>
<br />
</center>

<p>To update class attendees, please go <a href="attendees">here</a>.</p>

<div id="battlescreen">
<table cellpadding="4px" cellspacing="0" align="center">
  <tr>
    <th colspan="10">
       Manage the classes of {{program.niceName}}
    </th>
  </tr>
  {% if noclasses %}
  <tr>
  <tr>
    <td class="clsleft classname">
      <em>(None available)</em>
    </td>
{% for check in program.checkitems_all_cached %}<td>&nbsp;</td>{% endfor %}
   </tr>
  {% endif %}
  <tr><td class="clsleft classname" colspan="6">
    Note: <span class="unapproved dashboard_blue">Blue</span> stands for unreviewed classes and <span class="dashboard_red">Red</span> for rejected classes
  </td></tr>
{% load class_manage_row %}
  {% for cls in classes %}
  <tr id="{{cls.id}}-row">
   {% render_class_teacher_list_row cls %}
   </tr>
   {% endfor %}
</table>
</div>

<div id="classmanager">
<div class="hd"><!--Please enter your information--></div>
  <div class="bd">
    <form method="POST" action="../assets/post.php">
    </form>
  </div>
</div>
