<tr>
    <th class="smaller">Teachers:</th>
	<td>{% for teacher in class.get_teachers %}<a href="/manage/userview?username={{ teacher.username|urlencode }}">{{ teacher.nonblank_name }}</a> (<a href="mailto:{{teacher.email}}" target="_blank">{{teacher.email}}</a>)<br/>{% endfor %}
	<br />
    <a href="/manage/{{ program.getUrlBase }}/coteachers?clsid={{ class.id }}">
    Edit Teacher List</a>
    <br />
    <a href="/manage/{{ program.getUrlBase }}/classavailability/{{ class.id }}">
    Check Class Availability</a>
    </td>
</tr>
<tr>
    <th class="smaller">Reviewing Status:<br />
        (Unreviewed, Accepted, Cancelled, or Rejected)
    </th>
    <td>
        {% if class.isReviewed %}
            {% if class.isAccepted %}
            <span class="class-status" style="font-weight: bold; color: #0C0;">Accepted{% if class.isHidden %} (Hidden){% endif %}</span>
            {% elif class.isCancelled %}
            <span class="class-status" style="font-weight: bold; color: #C00;">Cancelled</span>
            {% else %}
            <span class="class-status" style="font-weight: bold; color: #C00;">Rejected</span>
            {% endif %}
        {% else %}
        <span class="class-status" style="font-weight: bold; color: #00C;">Unreviewed<span class="manage-approve-link"> (<a href="/manage/{{ program.getUrlBase }}/approveclass/{{ class.id }}">Approve Now</a>)</span></span>
        {% endif %}
    </td>
</tr>
<tr>
    <th class="smaller">Course Description:</th>
    <td>
        {{ class.class_info }}
    </td>
</tr>
<tr>
    <th class="smaller">Prerequisites:</th>
    <td>
        {{ class.prereqs }}
    </td>
</tr>
{% if class.class_style %}
<tr>
    <th class="smaller">Class Format:</th>
    <td>
        {{ class.class_style }}
    </td>
</tr>
{% endif %}
<tr>
    <th class="smaller">Room Request:</th>
    <td>
        {{ class.requested_room }}
    </td>
</tr>
<tr>
    <th class="smaller">Planned Purchases:</th>
    <td>
        {{ class.purchase_requests }}
    </td>
</tr>
<tr>
    <th class="smaller">Comments for Directors:</th>
    <td>
        {{ class.message_for_directors }}
    </td>
</tr>
<tr>
    <th class="smaller">Resource Requests:</th>
        <td>
	    {% for r in class.sections.all.0.resourcerequest_set.all %}
	    {{ r.res_type.name }}: {{ r.desired_value }}<br/>
	    {% endfor %}
    </td>
</tr>