{% extends "customforms/form_base.html" %}

{% block stylesheets %}
    {{ block.super }}

{% endblock %}  

{% block title %}{{ form_title }}{% endblock title %}

{% block content %}
    <h1 class="form_title">{{ form_title }}</h1>
    <p class="form_desc">{{ form_description }}</p>
    <em class="step_count">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</em>
    <em class="req_text">(Fields in blue are required)</em>

    <form action="." method="post" enctype="multipart/form-data" id="cstform" class="form-stacked">
    {% include "customforms/single_form_fragment.html" %}
    
    <br/>
    {% if wizard.steps.prev %}
        <button name="wizard_prev_step" value="{{ wizard.steps.first }}">first step</button>
        <button name="wizard_prev_step" value="{{ wizard.steps.prev }}">prev step</button>
    {% endif %}
    <br/>
    <input type="submit" class="btn primary">
    </form>
{% endblock %}

