{% extends "elements/html" %}

{% block fulltitle %}Custom Forms{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/default_styles/customforms-style.css">
{% endblock %}

{% block js1 %}
    {{ block.super }}
    <script src="/media/scripts/json2.js"></script>
    <script src="/media/scripts/custom_form.js"></script>
    <script>
        var edit_form = {% if edit %}{{ edit }}{% else %}-1{% endif %};
    </script>
{% endblock %}

{% block body %}
<input type="hidden" id="base_form_id" value="{{ base_form_id }}"/>
<div class="wrapper">
    <div class="preview_area">
        <h2 id='form_title'>Form Title</h2>
        <p id='form_description' class="field_text"></p>
        <hr />
        <div class="pages">
            <div class="form_preview page_selected" id="page_0">
                <div class="outline section_selected ui-sortable-handle">
                    <h2 class="section_header">Section</h2>
                    <p class="field_text section_text">Enter a short description about the section</p>
                    <hr>
                    <div id="section_0" class="section"></div><input type="button" value="X" class="section_button wrapper_button">
                </div>
                <input type="button" value="X" class="wrapper_button preview_button">
            </div>
        </div>
    </div>
        
    <div id="form_toolbox">
        <h3 id="header_information"><a href='#'>Form information</a></h3>
        <div id="form_information">
            <p>Form Title</p> <input type='text' id='input_form_title' size='30' value='Form Title'/>
            <p>Description</p>
            <textarea rows='3' cols='30' id='input_form_description'></textarea>
            <p>Message on Success</p>
            <textarea rows='3' cols='30' id='input_form_sucmsg'></textarea>
            <p>Redirect URL for successful completion</p>
            <input type="text" id="input_suc_url" size="30"/>
            <p>Anonymous Form <input type='checkbox' id='id_anonymous'/></p>
            <p id="create_text">Create from existing form:</p>
            <select id="base_form">
                <option value="-1">None</option>
                {% for form in form_list %}
                    <option value="{{form.id}}">{{form.title}}</option>
                {% endfor %}	
            </select>
            <button type="button" id="create_from_base" hidden type="button" onclick="createFromBase()">Create from previous form</button>
            <p id="create_from_base_error" hidden style="color: red;"></p>
            <div id="id_modify_wrapper" hidden><p>Modify this form <input type="checkbox" id="id_modify"/></p>
            <p>(Please check this off <b>only</b> if you want to modify this form. If you just want to create a form that
                resembles this one, leave this unchecked.)</p>
            </div> 		
        </div>
            
        <h3 id="header_fields"><a href='#'>Fields</a></h3>
        <div id="toolbox_content">
        
            <div id="field_selector">
                <br/>
                <table border="0">
                    <tr>
                        <td>
                            <p>Field Category</p>
                        </td>
                        <td>
                            <select id="cat_selector">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Field</p>
                        </td>
                        <td>
                            <select id="elem_selector">
                            </select>
                        </td>
                    </tr>		
                </table>
                <br/>
                <div id="cat_spec_options">
                    <p>Fields marked with a '**' must be <b>required</b> if included in the form.</p>
                    <p>These fields will modify existing values in the database, or create new ones. Please select how you want
                        this to happen.
                    </p>
                    <select id="main_cat_spec">
                        <option value="automatic">Automatic</option>
                        <option value="particular">Choose particular instance to modify</option>
                    </select>
                    <br/>
                    <select id="cat_instance_sel">
                    </select>
                    <br/>				
                </div>
                                        
            </div>
            
            <div id="field_properties">
                
                <p class="toolboxText">Field label</p>
                <textarea name="question" id="id_question" rows=4 cols=30 maxlength=200></textarea>
                <p class="toolboxText">Instructions for user</p>
                <textarea name="instructions" id="id_instructions" rows=4 cols=30></textarea>
                <p class="toolboxText">Required&nbsp;
                    <input type="checkbox" id="id_required" name="required" /><br/><br/></p>
                <form id="elem_properties">
                    <div id="multi_options"></div>
                </form>
                <div id="other_options"></div>		
                <button type="button" id="button_add" value="Add to Form"/>Add Field to Form</button>
            </div>
            
        </div>
        <h3><a href='#'>Form Permissions</a></h3>
        <div>
            <p>Restrict to -
            <select id="id_main_perm">
                <option value="none">None</option>
                <option value="Teacher">Teachers</option>
                <option value="Student">Students</option>
            </select></p>
            <p><input type="checkbox" id="id_prog_belong" /><label for="id_prog_belong"> Belonging to program</label></p>
            <select id="id_perm_program">
                <option value="-1">None</option>
                {% for prog in prog_list %}
                    <option value="{{ prog.id }}">{{ prog.niceName }}</option>
                {% endfor %}
            </select>
            <br/>	
            <div>
                <p>Filter</p>
                <select id="id_sub_perm">
                </select>		
            </div>
        </div>
        
        <h3><a href='#'>Links</a></h3>
        <div>
            <p>Link to -
            <select id="links_id_main">	
            </select>
            </p>
            
            <p>Specify -
            <select id="links_id_specify">
                <option value="userdef">Let user pick</option>
                <option value="particular">Particular Instance</option>
            </select>
            </p>
            
            <p>Pick -
            <select id="links_id_pick">
            </select>
            </p>

            <p>User type -
            <select id="links_id_tl">
                <option value="learn">Students</option>
                <option value="teach">Teachers</option>
            </select>
            </p>

            <p>Module -
            <select id="links_id_module">
            </select>
            </p>
            <p id="links_id_module_help_text" hidden style="color: red;"></p>
        </div>	
            
        <input type="button" id="submit" value="Create Form"/>
        <p id="submit_error" hidden style="color: red;"></p>
    </div>
</div>
{% endblock %}

