{% extends "main.html" %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/default_styles/customforms-landing.css" />
{% endblock %}  

{% block content %}
    <h1 class="title">Your Forms</h1>
    <em class="desc">You can play around with your existing forms below, or <a href="/customforms/create/" id="create_link">click here to create</a> new ones.</em>
    <hr/><br/><br/>
    <table class="form_list">
        {% for form in form_list %}
            <tr>
                <td>{{form.title}}</td> 
                <td><a href="/customforms/view/{{ form.id }}/">Fill</a></td>
                <td><a href="/customforms/responses/{{ form.id }}/">View Responses</a></td>
            </tr>   
        {% endfor %}    
    </table>
    <br/><br/>
{% endblock %}
