<html>
	<head>
		<title>Custom Forms</title>
		<link rel="stylesheet" type="text/css" href="/media/default_styles/customforms-landing.css">
	</head>
	
	<body>
		<div class="content">
			<h2>Your Forms</h2>
			<table class="form_list">
				{% for form in form_list %}
					<tr>
						<td>{{form.title}}</td> 
						<td><a href="/customforms/view/{{form.id}}/">Fill</a></td>
						<td><a href="/customforms/responses/{{form.id}}/">View Responses</a></td>
					</tr>	
				{% endfor %}	
			</table>
			<br/><br/>
			<a href="/customforms/create/">Create a Form</a>	
		</div>	
	</body>		
</html>