<html>
	<head>
		<title>Custom Forms Example</title>
		
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">
	</head>
	
	<body>
		<div class="wrapper">
			
			<div class="form_preview">
				<h2>Created Forms</h2>
				<hr />
				<p class="help_text">Pick a form to fill out</p>
				<br />
				{% for form in forms %}
					{% if form.active %}
					<a href='/display/{{form.id}}/'>{{form.title}}</a>
					<br/>
					{% endif %}
				{% endfor %}	
				
			</div>
			
		</div>	
	</body>
</html>			