{% extends "main.html" %}

{% block title %}Sign up to volunteer{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}    

{% block xtrajs %}
<script type="text/javascript">
function confirm_cancellation() {
    $j("input[name=clear_requests]").val("True");
    $j("#confirm_cancellation_dialog").dialog("close");
    $j("#volunteer_shift_form").submit();
}

function decline_cancellation() {
    $j("#confirm_cancellation_dialog").dialog("close");
}

$j(document).ready(function () {
    $j("#confirm_cancellation_dialog").dialog({
        autoOpen: false,
        buttons: [ { text: "Confirm", click: confirm_cancellation }, {text: "Cancel", click: decline_cancellation} ]
    });
    $j("#volunteer_form_submit").click(function (event) {   
        //  Check if the user has previous requests and is asking to clear all of them
        var checkboxes_checked = $j("input[name=requests]:checked");
        if (($j("input[name=has_previous_requests]").val() == "True") &&
            (checkboxes_checked.size() == 0)) {
            //  If so, prevent the form from being submitted - we want a confirmation
            event.preventDefault();
            
            //  Show the confirmation dialog
            $j("#confirm_cancellation_dialog").dialog("open");
        }
        else {
            //  They are not cancelling all shifts; submit the form normally
            $j("#volunteer_shift_form").submit();
        }
    });
});
</script>
{% endblock %}

{% block content %}

{% load render_qsd %}
{% render_inline_program_qsd program "volunteer_signup" %}

{% if complete %}
<h3>Thanks!</h3>
<p>
Thank you, {{ complete_name }}, for volunteering! You will receive reminder emails on {{ complete_email }} as the program nears. (And, we have your phone number, {{ complete_phone }}, in case there are any emergencies or we need to contact you ugrently.)
</p>
<p>If you would like to change your volunteer commitments, please fill out the form below again.</p>
{% load render_qsd %}
{% render_inline_program_qsd program "volunteer_complete" %}
{% endif %}
{% if cancelled %}
<h3>Volunteer Shifts Cancelled</h3>
<p>
The directors have been notified that you are no longer able to volunteer at {{ program.name }}.
</p>
{% load render_qsd %}
{% render_inline_program_qsd program "volunteer_cancelled" %}
{% endif %}

<div id="program_form">
<form method="POST" id="volunteer_shift_form" action="{{ request.path }}">
<center>
<table width="500">
<tr>
    <th colspan="2">Volunteer for {{ program.niceName }}</th>
</tr>
<tr>
    <td colspan="2">{% if request.user.email %}Since you are logged in, your information is pre-filled but you can change it for the purposes of contacting you about volunteering.{% else %}If you have an account, please <a href="/myesp/login?next={{ request.path }}">click here</a> to log in and return to this page.{% endif %}</td>
</tr>
{% if form.errors %}
<tr>
    <td colspan="2"><span style="color: red;">Please correct the errors in the form.</span></td>
</tr>
{% endif %}
    {{ form }}
<tr>   
    <td colspan="2" align="center"><input id="volunteer_form_submit" type="submit" value="Submit" /></td>
</tr>
</table>
</center>
</form>
</div>
<div id="confirm_cancellation_dialog" title="Confirm Cancellation">You have unchecked all volunteer shifts.  If you must cancel your volunteer commitments, please click "Confirm" to notify the directors.  Otherwise, click "Cancel".</div>
{% endblock %}
