{% if login_result %}
  <div class="navbar-text text-light w-100 px-3">{{ login_result }}</div>
{% endif %}

<ul class="navbar-nav logged_in hidden">
  <li class="nav-item dropdown">
    <a class="nav-link navbar-item-label" id="loginbox_user_name" href="/myesp/profile/">
      Hello, <span id="user_first_name"></span>!
    </a>
    <a class="nav-link dropdown-toggle caret-wrapper" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Account menu"><b class="caret"></b></a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/myesp/accountmanage/">Manage Account</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/myesp/signout">
      <button class="btn btn-secondary btn-sm" type="button">Logout</button>
    </a>
  </li>
</ul>

<ul class="navbar-nav not_logged_in">
  <li class="nav-item d-flex align-items-center flex-wrap">
    <form name="loginform" id="loginform" method="post" action="/myesp/login/" class="form-inline navbar-form my-1">
      <label class="visually-hidden" for="user">Username</label>
      <input type="text" name="username" id="user" size="8" value="" placeholder="Username" maxlength="255" class="form-control form-control-sm inputbox me-1" />
      <label class="visually-hidden" for="pass">Password</label>
      <input type="password" name="password" id="pass" size="8" value="" placeholder="Password" maxlength="255" class="form-control form-control-sm inputbox me-1" />
      <button class="btn btn-secondary btn-sm" id="gologin" type="submit">Login</button>
    </form>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link navbar-item-label">Account</a>
    <a class="nav-link dropdown-toggle caret-wrapper" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Account menu"><b class="caret"></b></a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/myesp/register">Register</a></li>
      <li><a class="dropdown-item" href="/myesp/passwdrecover/">Forgot Password</a></li>
      <li><a class="dropdown-item" href="/myesp/loginhelp.html">Help</a></li>
    </ul>
  </li>
</ul>
