{% comment %}
<li class="nav-header">Navigation</li>

<li class="hidden"><a href="/myesp/profile/">
    <i class="icon-user"></i> My Profile
</a></li>
{% endcomment %}
<li><a href="/">
    <i class="icon-home"></i> Home
</a></li>
{% comment %}
<li><a href="/about/index.html">
    <i class="icon-info-sign"></i> Learn!
</a></li>
<li><a href="/about/index.html">
    <i class="icon-info-sign"></i> Teach!
</a></li>
<li><a href="/about/index.html">
    <i class="icon-info-sign"></i> Volunteer!
</a></li>
<li><a href="/about/index.html">
    <i class="icon-info-sign"></i> About Splash
</a></li>
{% endcomment %}
<li><a href="/contact/contact/">
    <i class="icon-question-sign"></i> Contact Us
</a></li>
