{% load resources %}
{% load scheduling %}


<h2>Scheduling Grid</h2>

<br />

<p>This is a grid of the program's time slots (columns) and resources (rows).  Each class should occupy a series of time slots for a particular room.</p>

<table cellpadding="0" cellspacing="0" align="center">
<tr>
    <th class="small">&nbsp;</th>
    <th colspan="{{ prog.getTimeSlots|length }}">Scheduling Matrix for {{ prog.niceName }}</th>
</tr>
<tr>
    <th class="small">Room</th>
    {% for slot in prog.getTimeSlots %}
        <td style="background-color: #CCCCCC">
            {{ slot.pretty_start_time }} <br />
            {{ slot.num_classes_assigned }} / {{ slot.num_classes }}
        </td>
    {% endfor %}
</tr>
{% for room in prog.groupedClassrooms %}
    {% scheduling_matrix_row room prog %}
{% endfor %}
</table>

<br />