{% extends "main.html" %}

{% block title %}{{program.niceName}} Accounting{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />

<style type="text/css">
table {
    table-layout: fixed;
    width: 100%;
}
#id_target_user {
    width: calc(100% - 10px);
}
</style>
{% endblock %}

{% block content %}
<h2>Accounting{% if target_user %} for {{ target_user.name }} ({{ target_user.username }} / {{ target_user.id }}){% endif %} for {{ program.niceName }}</h2>
<div id="program_form">
<form id="accountingsearchform" name="accountingsearchform" method="POST" action="/manage/{{ program.getUrlBase }}/accounting">
<table>
    <col width="85%">
    <col width="15%">
    <tr>
        <th colspan="2">
            Choose Individual Student for Accounting
        </th>
    </tr>
    <tr>
        <td>
            <table>
                <col width="20%">
                <col width="80%">
                {{ form }}
            </table>
        </td>
        <td align="center">
            <input class="button" type="submit" value="Select" />
        </td>
    </tr>
</table>
</form>
</div>
{% if target_user %}
<h3>Transfers</h3>
<table class="table">
    <tr><th>Type</th><th>Line Item</th><th>Amount</th></tr>
    {% for transfer in transfers %}
    <tr>
        <td>{{ transfer.type }}</td>
        <td>{{ transfer.transfer.line_item }}</td>
        <td>${{ transfer.transfer.amount|floatformat:"-2" }}</td>
    </tr>
    {% endfor %}
</table>
<p><code>{{ identifier }}</code></p>
<h3>Financial Aid Grant</h3>
{% if grant %}
<table class="table">
    <tr><th>Amount</th>
        <td>
            {% if grant.amount_max_dec %}
            ${{ grant.amount_max_dec|floatformat:"-2" }}
            {% else %}
            (none)
            {% endif %}
        </td>
    </tr>
    <tr><th>Percent</th>
        <td>
            {% if grant.percent %}
            {{ grant.percent|floatformat:"-2" }}%
            {% else %}
            (none)
            {% endif %}
        </td>
    </tr>
</table>
{% else %}
No grant
{% endif %}
<h3>Summary</h3>
<table class="table">
    <tr><th>Category</th><th>Amount</th></tr>
    <tr><td>Requested</td><td>${{ requested|floatformat:"-2" }}</td></tr>
    <tr><td>Financial Aid</td><td>${{ finaid|floatformat:"-2" }}</td></tr>
    <tr><td>Sibling Discount</td><td>${{ siblingdiscount|floatformat:"-2" }}</td></tr>
    <tr><td><em>Paid</em></td><td><em>${{ paid|floatformat:"-2" }}</em></td></tr>
    <tr><td><strong>Owed</strong></td><td><strong>${{ due|floatformat:"-2" }}</strong></td></tr>
</table>
{% endif %}
{% endblock %}
