{% extends "main.html" %}

{% block title %}{{prog.niceName }} Teacher Registration{% endblock %}

{% block content %}

<h1>Cannot edit class for {{program.niceName }}</h1>

<p>
Sorry, either this class does not exist, or you do not have privileges to edit this class.
<br />
Reasons for this include:<br />
<ul>
<li>Not being a teacher of this class.</li>
<li>It being too late in the registration process (class edits have been frozen by the director).</li>
<li>A mistake on the webmasters part.</li>
</ul>
</p>



{% endblock %}
