{% extends "main.html" %}

{% block title %}Teacher Registration{% endblock %}

{% block subsection_name %}Teach for {{one}} <br>{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    {% include "load_ajax_scripts.html" %}
{% endblock %}

{% block content %}

<h1>{{ addoredit }}ing a class for {{ program.niceName }}</h1>

<p>
Thank you for your interest in teaching for {{ one }}!  Please ensure that you are available to teach your class at any of the times you have <a href="/teach/{{ program.url }}/availability">specified that you are available</a>.  If there is any chance that your plans may change and you won't be able to teach, please do not fill out this form; <a href="mailto:{{ program.director_email }}">contact the program directors</a>.<p>

<p>Please fill out or update the form below.  (The required fields are bordered in red.)  If you would like to co-teach this class with others, please click the "Modify Coteachers" button next to the appropriate class at the teacher registration page afterwards.</p>

<p align="center"><div class="info">If you would like to teach multiple
sections of the
same class, <b>do not submit this form multiple times.</b>  Instead, select the desired number of sections next to "Number of Sections" (the second field from the top).</div>
</p>

<form action="{{request.path}}" id="clsform" name="clsform" method="post">

<div id="program_form">
<center>
<table width="550">
    <tr><th colspan="2">Course Creation/Editing Form</th></tr>
    {{ form }}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">Classroom Requests</th>
    </tr>
    <!--
    <tr>
        <td colspan="2">Please specify your classroom needs by building a list of requests.  You may submit more than one request per category (for example, you would need separate A/V requests for both DVD player and speakers).  If you are providing your own space for this class, please remove all requests.</td>
    </tr>
    -->
    <tr>
        <td width="30%">
            <b>Click to add requests:</b>
            <noscript>(Note: Please enable Javascript.)</noscript>
        </td>
        <td>
            {% for rt in resource_types %}<a id="add_request_{{ rt.id }}" href="/teach/{{ program.getUrlBase }}/makeaclass">{{ rt.name }}</a>{% if not forloop.last %} | {% endif %}{% endfor %} | <a id="add_restype" href="/teach/{{ program.getUrlBase }}/makeaclass">Other</a>
        </td>
    </tr>
</table>
<script type="text/javascript">
<!--
    register_fragment({id: "request_forms_html", url: ""});
    register_fragment({id: "restype_forms_html", url: ""});
    {% for rt in resource_types %}
    register_link({id: "add_request_{{ rt.id }}", url: "/teach/{{ program.getUrlBase }}/ajax_requests", content: {action: "add", restype: "{{ rt.id }}"}, post_form: "clsform"});{% endfor %}
    register_link({id: "add_restype", url: "/teach/{{ program.getUrlBase }}/ajax_restypes", content: {action: "add"}, post_form: "clsform"});
-->
</script>
<div id="request_forms">
{% include "program/modules/teacherclassregmodule/requests_form_fragment.html" %}
</div>
<div id="restype_forms">
{% with restype_formset as formset %}
{% include "program/modules/teacherclassregmodule/restype_form_fragment.html" %}
{% endwith %}
</div>
<table width="550">
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">Submit</th>
    </tr>
    <tr>
        <th colspan="2" class="smaller"><p>
        Please review the above information carefully, then click "Teach for {{ one }}!" to submit your class.  You will be contacted shortly by the directors about any special requests or concerns.  To return to the previous page, click "Cancel."
        </p></th>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <br />
            {% if class.id %}
                <input type="hidden" name="class_id" value="{{ class.id }}" />
            {% endif %}
            <input type="hidden" name="class_reg_page" value="" />

            {% if module.deadline_met %}
                <input class="button" type="submit"
                {% if class.id %}
                    value="Save course!" />
                {% else %}
                    value="Teach for {{ one }}!" />
                {% endif %}
            {% endif %}
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp;
            <input class="button" type="button" onclick="history.go(-1);" value="{% if module.deadline_met %}Cancel{% else %}Go back{% endif %}" />
            <br /><br />
        </td>
    </tr>
</table>
</center>
</form>
</div>

{% endblock %}
