{% extends "outlines/series-3.html" %}

{% block title %}Class Status for {{cls.title }}{% endblock %}

{% block subsection_name %}Class Status{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}


<h1>Registration Summary for <u>{{ cls.title }}</u></h1>

<p>
Here are your class' students.  Only those who have enrolled will show up on your attendance sheet.
<br />
</p>
<div class="info">
  Note: You can email your students using <tt style="font-size: 130%;">{{ cls.emailcode }}-students@{{ request.META.HTTP_HOST }}</tt>
</div>

<div id="program_form">
<br />
<table align="center" width="400px">
<thead>
<tr>
 <th>
   #
 </th>
 <th>
  Student Name
 </th>
 <th>
  Student Grade
 </th>
</tr>
</thead>
<tbody>
{% for kv in cls.students_dict.flatten %}
    <tr>
        <th colspan="3" class="small">Registration status: {{ kv.key }}</th>
    </tr>
    {% for student in kv.value %}
    <tr>
        <th class="small">{{ forloop.counter }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.getGrade }}</td>
    </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>

</div>

{% endblock %}
