{% extends "outlines/series-3.html" %}

{% block title %}Teacher Registration{% endblock %}

{% block subsection_name %}Teach for {{one}} <br>{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}

<h1>{{ addoredit }}ing a class for {{ program.niceName }}</h1>

<p>
Thank you for teaching for {{ one }}. Please fill out/update the form below.   The required fields are bordered in red.
</p>

<p>If you would like to co-teach this class with others, please click the "Coteachers" button next to the appropriate class at the teacher registration page after you submit this form.</p>

<form action="{{request.path}}" name="clsform" method="post">

<div id="program_form">
<center>
<div class="info">
<b>Teachers:</b> Please ensure that you are available to teach your class at any of the times you have specified that you are available.  If there is any chance that your plans may change and you won't be able to teach, please hold off on this form and <a href="mailto:{{ program.director_email }}">contact the program directors</a>.  We're just trying to minimize the number of classes that have to be cancelled after registration begins.
<br />
<br />
To specify when you are available, go <a href="javascript:history.go(-1);">back to the main page</a> and click on "Indicate Your Availability".
</div>
<table width="500">
    <tr><th colspan="2">Course Creation/Editing Form</th></tr>
    {% if form.has_errors %}
    <tr>
        <td colspan="2">
            <h2 style="color:red">Please fix the error{{ form.error_dict|pluralize }} in the form.</h2>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <label for="id_title" class="header">Course Title:</label>
            {% if form.title.errors %}
                <br />
                <span class="form_error">{{ form.title.errors|join:", " }}</span>
                <br />
            {% endif %}
        </td>
        <td>
            {{ form.title }} 
        </td>
    </tr>

    {% comment %}
        <label for="id_url" class="header">
        Course Slug:
        </label>
        <br />
        <small>(Used for the URL: http://esp.mit.edu/learn/{{program.getUrlBase}}/[SLUG]/index.html)</small>
        {% if form.url.errors %}
        <br />
        <span class="form_error">{{ form.url.errors|join:", " }}</span>
        {% endif %}
        {{ form.url }} 
        <br />
        <br />
    {% endcomment %}
    
    <tr>
        <td>
            <label for="id_class_info" class="header">
            Course Description:
            </label>
            {% if form.class_info.errors %}
            <br /><span class="form_error">{{ form.class_info.errors|join:", " }}</span>
            <br />
            {% endif %}
        </td>
        <td>
            {{ form.class_info }}
        </td>
    </tr>
    <tr><th colspan="2" class="small"><p><b>Tip</b>: Want to enter math? Use <tt>$$ Your-LaTeX-code-here $$</tt>. (e.g. use $$\pi$$ to mention &quot;pi&quot;)</p></th></tr>

    {% if form.prereqs %}
    <tr>
        <td>
            <label for="id_prereqs" class="header">
            Course Prerequisites:
            </label>
            {% if form.prereqs.errors %}
            <br /><span class="form_error">{{ form.prereqs.errors|join:", " }}</span>
            <br />
            {% endif %}
        </td>
        <td>
        {{ form.prereqs }}
        </td>
    </tr>
    {% endif %}
    
    <tr>
        <td>
        <label for="id_category" class="header">
        Course Category:
        </label>
        </td>
        <td>
        {% if form.category.errors %}
        <span class="form_error">{{ form.category.errors|join:", " }}</span><br />
        {% endif %}
        {{ form.category }}
        </td>
    </tr>
    
    <tr>
        <th colspan="2">Course Information</th>
    </tr>
    
    <tr>
        <td>
        <label for="id_grade_min">
        Minimum Grade Level:
        </label>
        </td>
        <td>
        {% if form.grade_min.errors %}
        <span class="form_error">{{ form.grade_min.errors|join:", " }}</span><br />
        {% endif %}
        {{ form.grade_min }}
        </td>
    </tr>
    
    <tr>
        <td>
        <label for="id_grade_max">
        Maximum Grade Level:
        </label>
        </td>
        <td>
        {% if form.grade_max.errors %}
        <span class="form_error">{{ form.grade_max.errors|join:", " }}</span><br />
        {% endif %}
        {{ form.grade_max }}
        </td>
    </tr>
    
    <tr>
        <td>
        <label for="id_class_size_min">
        Minimum Size:
        </label>
        </td>
        <td>
        {% if form.class_size_min.errors %}
        <span class="form_error">{{ form.class_size_min.errors|join:", " }}</span><br />
        {% endif %}
        {{ form.class_size_min }}
        </td>
    </tr>
    
    <tr>
        <td>
        <label for="id_class_size_max">
        Maximum Size:
        </label>
        </td>
        <td>
        {% if form.class_size_max.errors %}
        <span class="form_error">{{ form.class_size_max.errors|join:", " }}</span><br />
        {% endif %}
        {{ form.class_size_max }}
        </td>
    </tr>
    
    <tr><th colspan="2"><p><b>Note</b>: The above class-size and grade-range values are <strong>absolute</strong>, not the &#8220;optimum&#8221; nor &#8220;recommended&#8221; amounts.  We will not allow any more students than you specify, nor allow any students in grades outside the range you specify.  So, be very careful to set your ranges correctly!</p></th></tr>

    {% if durations %}
    {% if form.duration %}
    <tr>
        <td>
            <label for="id_duration" class="header">
            Preferred Duration (hours:minutes):
            </label>

            {% if form.duration.errors %}
            <br /><span class="form_error">{{ form.duration.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ form.duration }}
        </td>
    </tr>
    {% endif %}
    {% endif %}
    
    {% if form.viable_times %}
    <tr>
        <td>
            <label class="header">
            Acceptable Course Times (check all that apply):
            </label>

            {% if form.viable_times.errors %}
            <br /><span class="form_error">{{ form.viable_times.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ form.viable_times }}
        </td>
    </tr>
    {% endif %}
    
    <tr>
        <td>
            <label class="header">
            Resources Required (check all that apply):
            </label>
            {% if form.resources.errors %}
            <br /><span class="form_error">{{ form.resources.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ form.resources }}
        </td>
    </tr>

    <tr>
        <td>
            <label for="id_message_for_directors" class="header">
            Message for Director

            <br />
	    <br />

	    <i>(Please include any special equipment requests.  Remember that you can be reimbursed for up to $30, more if you ask, for class equipment if you have an itemized receipt.)</i>

            </label>

            {% if form.message_for_directors.errors %}
            <br /><span class="form_error">{{ form.message_for_directors.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ form.message_for_directors }}
        </td>
    </tr>
    
    <!--This block can be removed after HSSP Spring 2008 teacher reg.-->
    {% ifequal program.niceName "HSSP Spring 2008" %}<tr><th colspan="2"><p><b>Note:</b> This year we're running a new program, Spark, on the first day of HSSP. Students will use the day to preview HSSP classes and also attend a few one-time classes like those at Splash! When you register a new class, we show you a Section Wizard to help you create your preview sessions. You may edit them and add Splash-style classes at <a href="/teach/Spark/2008_Spring/teacherreg">Spark! teacher registration</a>. The more sessions you create, the more students will be able to preview it, so please consider offering as many as you can.</p></th></tr><tr><td colspan="2">&nbsp;</td></tr>{% endifequal %}
    
    {% if subprograms %}
    {% for subprogram in subprograms %}
    <tr>
        <th colspan="2">Section Wizard for Subprogram: {{ subprogram.name }}</th>
    </tr>
    <tr>
        <td>
            <label for="id_section_count_{{ subprogram.id_string }}">
                Number of Sections to Create
            </label>
            {% if subprogram.section_count_field.errors %}
            <br /><span class="form_error">{{ subprogram.section_count_field.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ subprogram.section_count_field }}
        </td>
    </tr>
    <!--Later this should be made more versatile-->
    <tr>
        <td>
            <label for="id_section_duration_{{ subprogram.id_string }}">
                Preferred Duration of Sections
            </label>
            {% if subprogram.section_duration_field.errors %}
            <br /><span class="form_error">{{ subprogram.section_duration_field.errors|join:", " }}</span><br />
            {% endif %}
        </td>
        <td>
            {{ subprogram.section_duration_field }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    
    <tr>
        <td align="center" colspan="2">
    
            {% if class.id %}
                <input type="hidden" name="class_id" value="{{ class.id }}" />
            {% endif %}
            <input type="hidden" name="class_reg_page" value="" />
    
            {% if module.deadline_met %}
                <input class="button" type="submit"
                {% if class.id %}
                    value="Save course!" />
                {% else %}
                    value="Teach for {{ one }}!" />
                {% endif %}
            {% endif %}
            &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; 
            <input class="button" type="button" onclick="history.go(-1);" value="{% if module.deadline_met %}Cancel{% else %}Go back{% endif %}" />
        </td>
    </tr>    
</table>
</center>
</form>
</div>

{% endblock %}
