{% extends "main.html" %}
{% load users %}
{% load getTag %}

{% block title %}Class Status for {{cls.title }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}


<h1>Registration Summary for <u>{{ cls.title }}</u></h1>

{% load render_qsd %}
{% inline_program_qsd_block program "teach:class_students_top" %}
<p>
Here are your class' students.  Only those who have enrolled will show up on your attendance sheet.
<br />
</p>
{% end_inline_program_qsd_block %}

<div class="info">
  Note: You can email your students using <tt style="font-size: 130%;">{{ cls.emailcode }}-students@{{ EMAIL_HOST_SENDER }}</tt>
</div>

<div id="program_form">
<br />
<table align="center" width="400px">
<thead>
<tr>
 <th>
   #
 </th>
 <th>
  Student Name
 </th>
  {% if "student_profile_pronoun_field"|getBooleanTag %}
    <th>Pronouns</th>
  {% endif %}
 <th>
  Student Grade
 </th>
  <th>
  School
 </th>
</tr>
</thead>
<tbody>
{% for reg, students in cls.students_dict.items %}
    <tr>
        {% if "student_profile_pronoun_field"|getBooleanTag %}
            <th colspan="5" class="small">
        {% else %}
            <th colspan="4" class="small">
        {% endif %}
        Registration status: {{ reg }}</th>
    </tr>
    {% for student in students %}
    <tr>
        <th class="small">{{ forloop.counter }}</th>
        <td>{{ student.name }}</td>
        {% if "student_profile_pronoun_field"|getBooleanTag %}
            <td>{{ student.getLastProfile.student_info.pronoun }}</td>
        {% endif %}
        <td>{{ student|getGradeForProg:program.id }}</td>
        <td>{{ student.getLastProfile.student_info.getSchool }}</td>
    </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>

</div>

{% endblock %}
