{% extends "main.html" %}

{% block title %}Class Status for {{cls.title }}{% endblock %}

{% block content %}
<style type="text/css">
#divmaintext .mainstats, #divmaintext .mainstats th, #divmaintext .mainstats td
  { border: 1px solid black; border-collapse: collapse; 
    vertical-align: baseline;}
#divmaintext .blogentry { border: 2px solid black; }
#divmaintext .blogentry .heading { background-color: #d7eeff; padding: 5px; }
#divmaintext .blogentry .title { font-weight: bolder; }
#divmaintext .blogentry .date { font-style: italic; margin: 0 5px 0 0;  }
#divmaintext .blogentry .contents { margin: 0 0 0 30px; }
</style>

<h1>Class Status For {{ cls.title }}</h1>

<p>
Here is some important information regarding your class:<br />
</p>

<table class="mainstats">
<tr>
 <th colspan="2" style="text-align: center;">
   Major Statistics for {{cls.emailcode}}&mdash;{{cls.title }}
 </th>
</tr>
<tr>
 <th>Class Title:</th>
 <td>&quot;{{cls.title|escape }}&quot;</td>
</tr>
<tr>
 <th>Teachers:</th>
 <td>{{cls.getTeacherNames|join:", "}}</td>
</tr>
<tr>
 <th>Reviewing Status:<br />
  <small>(Not reviewed, Accepted, or Rejected)</small>
</th>
 <td>{% if cls.isReviewed %}{% if cls.isAccepted %}
   <span style="font-size: 120%; font-weight: bold; color: #0C0;">Accepted!</span>
   {% else %}
   <span style="font-size: 120%; font-weight: bold; color: #C00;">Rejected</span>
   {% endif %}
   {% else %}
   <span style="font-size: 120%; font-weight: bold; color: #00C;">Not Reviewed</span>
   {% endif %}
</td>
</tr>
<tr>
  <th>Number of Students: </th>
  <td>{{cls.num_students }}</td>
</tr>
<tr>
  <th>Email Addresses: </th>
  <td>Whole Class: {{cls.emailcode}}-class@{{ EMAIL_HOST_SENDER }}<br />
Teachers: {{cls.emailcode}}-teachers@{{ EMAIL_HOST_SENDER }}<br />
Students: {{cls.emailcode}}-students@{{ EMAIL_HOST_SENDER }}
  </td>
</tr>
<tr>
  <th>Time Blocks (if assigned): </th>
  <td>{{ cls.prettyblocks|join:"<br />" }}</td>
</tr>
<tr>
  <th>Directors' Emails (if available)</th>
  <td>{{ module.program.director_email }}</td>
</tr>
</table>

<br />
<br />

{% endblock %}
