{% extends "main.html" %}

{% load render_qsd %}

{% block title %}Teacher Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/flags.css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    {% include "load_ajax_scripts.html" %}
    <script type="text/javascript" src="/media/scripts/program/modules/teacherclassregmodule.js"></script>
    <script type="text/javascript" src="/media/scripts/program/modules/flag-edit.js"></script>
{% endblock %}

{% block content %}

<h1>{{ addoredit }}ing a {{ classtype }} for {{ program.niceName }}</h1>

{% if manage %}
    <p>
    <a href="/manage/{{ program.getUrlBase }}/dashboard">Return to the {{ program.niceName }} dashboard</a><br />
    <a href="/manage/{{ program.getUrlBase }}/main">Return to the {{ program.niceName }} admin portal</a><br />
    </p>
{% else %}
    {% inline_program_qsd_block program qsd_name %}
        <p>
        Thank you for your interest in teaching a {{ classtype }} for {{ one }}!  Please ensure that you are available to teach your class at any of the times you have <a href="/teach/{{ program.url }}/availability">specified that you are available</a>.  If there is any chance that your plans may change and you won't be able to teach, please do not fill out this form; <a href="mailto:{{ program.director_email }}">contact the program directors</a>.</p>

        <p>Please fill out or update the form below.  (The required fields are bordered in red.)  If you would like to co-teach this class with others, please click the "Modify Coteachers" button next to the appropriate class at the teacher registration page afterwards.</p>

        <p align="center"><div class="info">If you would like to teach multiple sections of the same class, <b>do not submit this form multiple times.</b>  Instead, select the desired number of sections next to "Number of Sections" (the second field from the top).</div></p>
    {% end_inline_program_qsd_block %}

    {% if otherclass.reg_open and addoredit == 'Add' %}
    <p style="font-weight:bold;">This page is for registering a {{ classtype }} <span style="text-decoration:underline;">only</span>. If you are trying to register a {{ otherclass.type }}, <a href="/teach/{{ program.url }}/{{ otherclass.link }}">click here</a>.</p>
    {% endif %}
{% endif %}

<div id="program_form">
<form action="{{request.path}}" id="clsform" name="clsform" method="post" class="form-inline"{% if grade_range_popup %} onSubmit="check_grade_range(this)"{% endif %}">

{% if form.errors %}
<p align="center">
<font color="red" size="+1">Please fix the errors in the form below.</font>
</p>
{% endif %}


<center>
<table width="100%">
    <tr><th colspan="2">{{ classtype|title }} Creation/Editing Form</th></tr>
    <tr>
        <td colspan="2">
        {% render_inline_program_qsd program "classroom_form_advisories" %}
        </td>
    </tr>
    {{ form }}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    {% if not isopenclass and not formset.forms|length_is:0 %}
    <tr>
        <th colspan="2">Classroom Requests</th>
    </tr>
    <tr>
        <td colspan="2">
        {% render_inline_program_qsd program "classroom_requests_advisories" %}
        </td>
    </tr>
    <!--
    <tr>
        <td colspan="2">Please specify your classroom needs by building a list of requests.  You may submit more than one request per category (for example, you would need separate A/V requests for both DVD player and speakers).  If you are providing your own space for this class, please remove all requests.</td>
    </tr>
    -->
{% include "program/modules/teacherclassregmodule/requests_form_fragment.html" %}
    {% endif %}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <th colspan="2">Submit</th>
    </tr>
    <tr>
        <td colspan="2" class="smaller"><p>
        Please review the above information carefully, then click "Teach for {{ one }}!" to submit your class.  You will be contacted shortly by the directors about any special requests or concerns.  To return to the previous page, click "Cancel."
        </p></td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <br />
            {% if class.id %}
                <input type="hidden" name="class_id" value="{{ class.id }}" />
            {% endif %}
            <input type="hidden" name="class_reg_page" value="" />
            
            {% if manage %}
                <input type="hidden" name="manage" value="manage" />
                <button class="button" type="submit" name="manage_submit" value="reload">Save, then reload this page</button><br />
                <button class="button" type="submit" name="manage_submit" value="manageclass">Save, then load the Manage Class page</button><br />
                <button class="button" type="submit" name="manage_submit" value="dashboard">Save, then load the {{ program.niceName }} dashboard</button><br />
                <button class="button" type="submit" name="manage_submit" value="main">Save, then load the {{ program.niceName }} admin portal</button><br />
            {% else %}
                {% if module.deadline_met %}
                    <button type="submit" class="btn btn-primary btn-large">
                    {% if class.id %}
                        <span class="glyphicon glyphicon-floppy-saved"></span>
                        Save course!
                    {% else %}
                        <span class="glyphicon glyphicon-education"></span>
                        Teach for {{one}}!
                    {% endif %}
                    </button><br />
                {% endif %}
            {% endif %}
            <input class="btn btn-default" type="button" onclick="history.go(-1);" value="{% if module.deadline_met %}Cancel{% else %}Go back{% endif %}" />
            <br /><br />
        </td>
    </tr>    
</table>
</center>
</form>
{% if show_flags %}
    {% include "program/modules/classflagmodule/class_flag_list.html" %}
{% endif %}
</div> <!-- div#program_form -->

{% endblock %}
