
{% block xtrajs %}
<script type="text/javascript">
<!--

function deleteClass() {
    if (confirm('Are you sure you would like to delete this class?')) {
       return true;
    }
    return false;
}

//-->
</script>
{% endblock %}

<link rel="stylesheet" href="/media/styles/battlescreen.css" type="text/css" />

<br />
<br />

{% if not module.deadline_met %}
<div class="note">Note: Class registration is closed. 
You are welcome to use this page to view your classes' status.

{% if module.classRegInfo.director_email %}<br />
If you have any questions regarding the program, <br /> please email the 
<a href="mailto:{{module.classRegInfo.director_email }}" title="{{program.niceName }} director(s)">program directors</a> (<span class="monospace">{{module.classRegInfo.director_email }}</span>).
{% endif %}
</div>
{% endif %}

<div id="battlescreen">

<table cellpadding="4" cellspacing="0" align="center">
  <tr>
    <th colspan="7">
       Manage Your Classes
    </th>
  </tr>
  {% if teacherclsmodule.noclasses %}
  <tr>
    <td class="clsleft classname">
      <em>(None available)</em>
    </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
    <td> &nbsp; </td>
   </tr>
  {% endif %}

  {% for cls in teacherclsmodule.clslist %}
  <tr>
    <td class="clsleft classname">
      <span title="{{cls}}">
      {{ cls|truncatewords:6 }}
      </span>
    </td>
    <td class="clsmiddle">
       <form method="post" action="./deleteclass/{{cls.id }}" onsubmit="return deleteClass();">
         <input class="button" type="submit" value="Delete" {% if cls.num_students or not module.deadline_met %}disabled {% endif %} />
       </form>
    </td>
    <td class="clsmiddle">
       <form method="post" action="./editclass/{{cls.id }}">
         <input type="hidden" name="command" value="edit_class_{{cls.id}}">
{% if module.deadline_met %}
         <input class="button" type="submit" value="Edit">
{% else %}
         <input class="button" type="submit" value="View">
{% endif %}
       </form>
    </td>
{% if teacherclsmodule.classRegInfo.allow_coteach and module.deadline_met %}
   <td class="clsmiddle">
       <form method="post" action="./coteachers">
         <input type="hidden" name="command" value="edit_class_{{cls.id}}" />
	 <input type="hidden" name="clsid"   value="{{cls.id }}" />
         <input class="button" type="submit" value="Coteaching">
       </form>
    </td>
{% endif %}
   <td class="clsmiddle">
      <form method="get" action="./class_status/{{cls.id}}">
         <input class="button" type="submit" value="View Status" />
      </form>
   </td>
   <td class="clsmiddle">
      <a href="/teach/{{program.getUrlBase}}/class_students/{{cls.id}}" 
        title="View Class' Students" class="abutton">
       Students
      </a>
   </td>
   <td class="clsright">
      {% if cls.pageExists %}
      <a href="/learn/{{cls.getUrlBase}}/index.html"
         title="{{ cls }}...">Visit web page</a>
      {% else %}
      <a href="/learn/{{cls.getUrlBase}}/index.edit.html"
	 title="Create `{{ cls }}'...">Create web page</a>
      {% endif %}
     </td>
   </tr>
   <tr>
    <td class="clsmiddle" colspan="3">
	There are {{ cls.anchor.media_set.count }} documents associated with this class.
    </td>
    </td>
{% if teacherclsmodule.classRegInfo.allow_coteach and module.deadline_met %}
   <td class="clsmiddle">
	&nbsp;
   </td>
{% endif %}
   <td class="clsright" colspan="2">
	<a href="./class_docs/{{cls.id}}" title="Upload/manage files" class="abutton">Manage Documents</a>
     </td>
   </tr>
   {% endfor %}
   {% if module.deadline_met %}
   <tr>
   <td colspan="4">
     <a href="/teach/{{ one }}/{{ two }}/makeaclass" title="Teach for ESP!">
       Add a new class for {{ program.niceName }}!
     </a>
   </td>
   </tr>
   {% endif %}
</table>
