{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/battlescreen.css" type="text/css" />
{% endblock %}

{% block content %}
<a href="{{ program.get_teach_url}}teacherreg">Go back to the main teacher registration page</a>

<br /><br />

{% load render_qsd %}
{% render_inline_program_qsd program "teacher_class_import_description" %}

<div id="battlescreen">

<table cellpadding="4" cellspacing="0" align="center" style="border-collapse: separate !important">
  <tr>
    <th colspan="7">
      Choose a class to import
    </th>
  </tr>
  <tr>
    <td colspan="7">Below is a summary of the classes you have registered to teach for all programs.  Choose a class below to import for {{ program.niceName }}. This will allow you to create a modified copy of the class which will be registered under {{ program.niceName }}. </td>
  </tr>
  {% if noclasses %}
  <tr>
    <td class="clsleft classname">
      <em>(None available)</em>
    </td>
    <td class="clsright" colspan="6"> &nbsp; </td>
  </tr>
  {% endif %}
  {% load class_render_row %}
  {% for cls in all_class_list %}
    {% render_class_copy_row cls %}
  {% endfor %}

</table>
</div> <!-- div#battlescreen -->
<br /><br/ >

<a href="{{ program.get_teach_url}}teacherreg">Go back to the main teacher registration page</a>
{% endblock %}
