{% extends "main.html" %}

{% block title %}Student selection for {{ sec }}{% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Teacher Panel"|subsection }}{% endautoescape %}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/tooltips.css" />
<style type="text/css">

.roster td, .roster th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 3px;
}
table.roster {
  border: 2px solid black;
  border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}

<h1>Review your students: {{ sec }}</h1>
<br />
<p>
<a href="/teach/{{ program.getUrlBase }}/teacherreg">
Back to teacher reg
</a>
</p>
<p>
<b>About your class:</b>
<ul>
<li><b>Room</b>: {% if sec.initial_rooms %}{% for r in sec.initial_rooms %}{{ r.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Unassigned{% endif %}
<li><b>Time</b>: {% if sec.friendly_times|length_is:0 %}Unassigned{% else %}{% for f in sec.friendly_times %}{{ f }}{% endfor %}{% endif %}
<li><b>Capacity</b>: {{ sec.num_students }} / {{ sec.capacity }} students
<li><b>Student applications:</b> <a href="/teach/{{ program.getUrlBase }}/review_students/{{ sec.parent_class.id }}">Click here</a> to review your students (if applicable).
</ul>
</p>
<p>
<b>In the table below:</b>
<ul>
<li>Hover over the student's name to see their enrollment status for other classes.  
<li>Click a student's name to see their application.
<li>Hover over an application score to see comments left by the reviewer.
</ul>
</p>
<div id="program_form">
<form method="POST" action="/teach/{{ prog.getUrlBase }}/select_students/{{ sec.id }}">
<table class="roster">
<thead>
<tr>
  <th class="small">Name</th>
  <th class="small">Grade</th>
  <th class="small">Registration Status</th>
  <th class="small">Time signed up</th>
  <th class="small">Review[s] (if any)</th>
  <th class="small">Accept</th>
  <th class="small">Reject</th>
  <th class="small">Leave unchanged</th>
</tr>
</thead>
<tbody>
{% for student in students_list %}
  <tr>
    <td>
  <a class="tooltip tooltip_wide" href="/teach/{{ program.getUrlBase }}/review_student/{{ sec.parent_class.id }}/?student={{ student.id }}"> {{ student.name }}
  <span>
    {% if not student.other_classes|length_is:0 %}
    {% for cls in student.other_classes %}
    <b>{{ cls.0.title }}</b> ({{ cls.0.emailcode }}, 
    {% for ts in cls.0.friendly_times %}
       {{ ts }}{% if not forloop.last %}, {% endif %}{% endfor %}): 
    {% for uri in cls.1 %} {{ uri }}{% if not forloop.last %}, {% endif %}{% endfor %} <br />
    {% endfor %}
    {% else %}
    [No other classes]
    {% endif %}
  </span>
</a>
</td>
    <td>
   {{ student.getGrade }}
    </td>
    <td>
    {% for bit in student.bits %}
       {{ bit }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </td>
    <td>
    {{ student.added_class|date:"M d, Y h:i:s" }}
    </td>
    <td>
      {% for review in student.app.reviews.all %}
      <a class="tooltip">
      {{ review.score }} -- {{ review.reviewer.first_name }} {{ review.reviewer.last_name}}
      <span>
	{% if not review.comments|length_is:0 %}
	{{ review.comments }}
	{% else %}
	[No comments]
	{% endif %}
      </span>
      </a> <br />
      {% endfor %}
    </td>
    <td>
        <input type="radio" name="regstatus_{{ student.id }}_{{ sec.id }}" value="enroll" {% if student.enrolled %}checked{% endif %}/>
    </td>
    <td>
        <input type="radio" name="regstatus_{{ student.id }}_{{ sec.id }}" value="reject" {% if student.rejected %}checked{% endif %}/>
    </td>
    <td>
        <input type="radio" name="regstatus_{{ student.id }}_{{ sec.id }}" value="undecided" {% if not student.enrolled %}{% if not student.rejected %}checked{% endif %}{% endif %}/>
    </td>
  </tr>
{% endfor %}
<tr>
<th colspan="8" align="center">
    <input class="fancybutton" type="submit" value="Submit" />
</th>
</tr>

</tbody>
</table>
</form>
</div>

{% endblock %}
