{% extends "main.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<h1>Error 404</h1>
<p>
   This page does not exist.
   Please try to fix the URL and try again.
   <br />
   If you think this page should exist, please email us at 
     <pre>{{ DEFAULT_EMAIL_ADDRESSES.support }}</pre>
   explaining to us how you got this message, and we'll try to fix it.
   <br />
   <br />
   <br />
   <em>Thank you and sorry for the inconvenience!
    <br />
     - Web Team</em>
</p>
{% endblock %}
