{% extends "main.html" %}

{% block title %}Error{% endblock %}

{% block subsection_name %}Content does not exist{% endblock %}

{% block content %}

<h1>Whoops!</h1>
<p>
   It appears the server just made an error.
   <br />
   This probably means we messed up. Please email us at
     <pre>web@esp.mit.edu</pre>
   explaining to us how you got this message, and we'll try to fix it.
   <br />
   <br />
   <br />
   <em>Thank you and sorry for the inconvenience!
     <br />
     -ESP Web Team
   </em>
</p>


{{ error }}

{% endblock %}
