{% extends "main.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<h1>Whoops!</h1>
<p>
   It appears the server just made an error.
   <br />
   This probably means we messed up. Please email us at
     <pre>{{ DEFAULT_EMAIL_ADDRESSES.support }}</pre>
   explaining to us how you got this message, and we'll try to fix it.

   {% if request.sentry %}
   <br />
   <br />
   Please include the following error ID:
     <pre>{{ request.sentry.id }}</pre>
   {% endif %}

   <br />
   <br />
   <br />
   <em>Thank you and sorry for the inconvenience!
     <br />
     - Web Team
   </em>
</p>
{% endblock %}
