{% extends "main.html" %}

{% block title %}Contact Us{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block content %}
{% load render_qsd %}

{% if contact_form.data.decline_password_recovery %}
  {% inline_qsd_block "contact_password_recovery_check" %}
  # Contact Us

  It looks like you're trying to recover your login information.
  If you would like, we can email you a link to reset your password.
  The email will remind you of your username.
  {% end_inline_qsd_block %}
  <form action="/myesp/passwdrecover/" method="post">
    <input type="hidden" name="email" value="{{contact_form.cleaned_data.sender}}" />
    <input type="submit" name="recoverpassword" value="Reset my password" />
  </form>
  <form action="{{ request.path }}" method="post" class="contact-form">
    <input type="submit" name="sendanyway" value="I want to send this message anyway" />
{% else %}
  {% inline_qsd_block "contact_header_text" %}
  # Contact Us

  Fill out this form to send a quick email to {{ settings.ORGANIZATION_SHORT_NAME }}.
  We will get back to you as soon as possible (usually within a day).
  Submitting this form does not add you to our mailing list.

  ## Note to Parents:

  If your child is or wants to be a student at one of our programs, while we do appreciate your interest, we'd rather hear from the child directly.
  We're an all-volunteer organization, so we sometimes take a while to respond to email, and we have an obligation to answer mail from our students first.
  {% end_inline_qsd_block %}
  <form action="{{ request.path }}" method="post" class="contact-form">
{% endif %}

<h2>Contact Form</h2>
{% if contact_form.errors %}
<div class="errors">
  There
  {% if contact_form.errors|length_is:1 %}is an error{% else %}are errors{% endif %}
  in the below form. Please fix and resubmit.
</div>
{% endif %}

  <table class="contact">
    <tbody>
      {{ contact_form }}
      <tr>
        <td></td>
        <td><input type="submit" name="sendemail" value="Send!" class="btn btn-primary contact-send" /></td>
      </tr>
    </tbody>
  </table>

</form>
{% endblock %}
