{% extends "outlines/series-3.html" %}

{% block title %}Contact ESP{% endblock %}

{% block subsection_name %}Welcome{% endblock %}

{% block content %}
<h1 style="text-align:center">Contact ESP</h1><br>

<p>Fill out this form to send a quick e-mail to the ESP office. We will get back to you as soon as possible (usually within a day). Submitting this form does not add you to our mailing list.</p>

<p>
<form>
<table>

<tr><th><label for="name">Name:</label></th>
    <td><input name="name" length="40" /></td></tr>
<tr><th><label for="email">E-Mail address:</label></th>
    <td><input name="email" length="40" /></td></tr>
<tr><th><label for="relation">I am a:</label></th>
<td>
<select name="relation">
<option value="student">Student</option>
<option value="parent">Parent</option>
<option value="teacher">Teacher for ESP</option>
<option value="educator">K-12 Educator</option>
<option value="other">Other</option>
</select>
</td></tr>

<tr><th><label for="publicity">How did you hear about us?</label></th>
<td>
<select name="publicity">
<option value="school">School</option>
<option value="posters">Posters</option>
<option value="friend">Friend</option>
<option value="website">Website</option>
<option value="other">Other</option>
</select>
</td></tr>

<tr><th><label for="program">Program of Interest:</label></th>
<td>
<select name="program">
</select>
</td></tr>
<th colspan="2"><label for="comment">
Enter your questions or comments here!
</th></tr>
<tr><td colspan="2">
<textarea name="comment" cols="80" rows="12">
</textarea>
</td></tr>
<td></td>
<td style="text-align:right">
<input type="submit" value="Send!" />
</td>
</table>
</form>
</p>
{% endblock %}
