{% extends "main_static.html" %}

{% block title %}Error{% endblock %}

{% block subsection %}
{% load subsection %}
{% autoescape off %}{{ "Error"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}

<h1>Whoops! &ndash; An error has occured!</h1>

<p>
{{ error }}

<br />
<br />
<br />
Please feel free to <a href="javascript:history.go(-1);" title="Go back!">go back</a> where you came from</a>.
<br />
<br />
<br /><br />
<br />
<br />


Sorry for the inconvenience.  If you have any questions, feel free to contact us at <a href="mailto:web@esp.mit.edu">web@esp.mit.edu</a>.
</p>

{% endblock %}
