{% extends "main.html" %}

{% block title %}Error{% endblock %}

{% block content %}

<h1>Whoops! &ndash; An error has occurred!</h1>

<p>
{% autoescape off %}
{{ error }}
{% endautoescape %}

<br />
<br />
<br />
Please feel free to <a href="javascript:history.go(-1);" title="Go back!">go back</a> where you came from.
<br />
<br />
<br /><br />
<br />
<br />


Sorry for the inconvenience.  If you have any questions, feel free to contact us at <a href="mailto:{{ DEFAULT_EMAIL_ADDRESSES.support }}">{{ DEFAULT_EMAIL_ADDRESSES.support }}</a>.
</p>

{% endblock %}
