{% extends "main.html" %}

{% block title %}FAQs{% endblock %}
{% block content_title %}FAQs{% endblock %}

{% block content %}

{% load render_qsd %}

{% inline_qsd_block "faq" %}

<h1>Frequently Asked Questions About {{ settings.ORGANIZATION_SHORT_NAME }}</h1>

{% if faq_categories %}
<div class="accordion" id="faqAccordion">
  {% for category in faq_categories %}
  <h3 style="margin-top: 20px;">{{ category.name }}</h3>
  {% for question in category.questions.all %}
  <div class="accordion-group">
    <div class="accordion-heading" style="background-color: #f9f9f9;">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#collapse_{{ question.id }}">
        <i class="icon-chevron-right"></i> <strong>{{ question.question }}</strong>
      </a>
    </div>
    <div id="collapse_{{ question.id }}" class="accordion-body collapse">
      <div class="accordion-inner">
        <p align="justify">{{ question.answer|safe }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
{% else %}
<p>Check back later for more FAQs!</p>
{% endif %}

{% end_inline_qsd_block %}
{% endblock %}