{% extends "elements/html" %}

{% block tite %}Home{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/media/styles/home.css" type="text/css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script language="JavaScript" type="text/javascript">
<!--
//
// random backgrounds
//
var randbkgs = new Array(
  "/media/images/home/pagebkg1.jpg",
  "/media/images/home/pagebkg2.jpg",
  "/media/images/home/pagebkg3.jpg"
);
var nbkg = Math.floor(Math.random()*randbkgs.length);    // pick one at random

// write CSS for background
document.writeln("<style type='text/css'>");

document.writeln("html, body { background-image: url("+randbkgs[nbkg]+") }");

document.writeln("</style>");

// -->
</script>
{% endblock %}

{% block body %}

<!-- skip link -->
<div class="offscreen">
<a href="#startcontent" accesskey="x"><img src="/media/images/spacer.gif" width="1" height="1" border="0" alt="Skip to announcements" /></a>
</div>

<!-- title -->
<div id="divtitle">
  <h1><img src="/media/images/home/sitetitle.gif" width="100" height="56" border="0" alt="Educational Studies Program" title="" /></h1></div>

<!-- intro -->
<div id="divintro">
  <img src="/media/images/home/intro.gif" width="187" height="100" border="0" alt="Through an extensive offering of academic and nonacademic classes, the MIT Educational Studies Program (ESP) provides a unique, affordable educational experience for motivated middle and high school students." title="" /></div>


<div id="divnav0">


<a href="/about/index.html" onmouseover="MM_swapImage('discoveresp','','/media/images/home/nav/discoveresp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/discoveresp.gif" border="0" alt="Discover ESP" title="" name="discoveresp" id="discoveresp" />
</a>
</div>

</div>
<div id="divnav1">


<a href="/learn/index.html" onmouseover="MM_swapImage('takeaclass','','/media/images/home/nav/takeaclass_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/takeaclass.gif" border="0" alt="Take a Class" title="" name="takeaclass" id="takeaclass" />
</a>
</div>

</div>
<div id="divnav2">


<a href="/teach/index.html" onmouseover="MM_swapImage('volunteertoteach','','/media/images/home/nav/volunteertoteach_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/volunteertoteach.gif" border="0" alt="Volunteer To Teach" title="" name="volunteertoteach" id="volunteertoteach" />
</a>
</div>

</div>
<div id="divnav3">


<a href="/myesp/getinvolved/" onmouseover="MM_swapImage('getinvolved','','/media/images/home/nav/getinvolved_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/getinvolved.gif" border="0" alt="Get Involved" title="" name="getinvolved" id="getinvolved" />
</a>
</div>

</div>
<div id="divnav4">


<a href="/myesp/archivesresources/" onmouseover="MM_swapImage('archivesresources','','/media/images/home/nav/archivesresources_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/archivesresources.gif" border="0" alt="Archives / Resources" title="" name="archivesresources" id="archivesresources" />
</a>
</div>

</div>
<div id="divnav5">


<a href="/myesp/home/" onmouseover="MM_swapImage('myesp','','/media/images/home/nav/myesp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/myesp.gif" border="0" alt="myESP" title="" name="myesp" id="myesp" />
</a>
</div>

</div>
<div id="divnav6">


<a href="/myesp/contactinfo/" onmouseover="MM_swapImage('contactinfo','','/media/images/home/nav/contactinfo_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/home/nav/contactinfo.gif" border="0" alt="Contact Info" title="" name="contactinfo" id="contactinfo" />
</a>
</div>

</div>

<!-- extra link hit areas -->
<div id="divxlink1">
 <a href="/about/photos.html" onmouseover="MM_showHideLayers('divxlink1ro','','show')" onmouseout="MM_showHideLayers('divxlink1ro','','hide')"><img
     src="/media/images/spacer.gif" width="26" height="147" border="0" alt="Check out our photo album!" title="" /></a></div>
<div id="divxlink2">
  <a href="/learn/delve/index.html" onmouseover="MM_showHideLayers('divxlink2ro','','show')" onmouseout="MM_showHideLayers('divxlink2ro','','hide')"><img
     src="/media/images/spacer.gif" width="45" height="39" border="0" alt="Check out Delve!" title="" /></a></div>
<div id="divxlink3">
  <a href="/learn/HSSP/index.html" onmouseover="MM_showHideLayers('divxlink3ro','','show')" onmouseout="MM_showHideLayers('divxlink3ro','','hide')"><img
     src="/media/images/spacer.gif" width="45" height="25" border="0" alt="Check out HSSP!" title="" /></a></div>
<div id="divxlink4">
  <a href="/learn/Splash/index.html" onmouseover="MM_showHideLayers('divxlink4ro','','show')" onmouseout="MM_showHideLayers('divxlink4ro','','hide')"><img
     src="/media/images/spacer.gif" width="44" height="26" border="0" alt="Check out Splash!" title="" /></a></div>
<div id="divxlink5">
  <a href="/learn/satprep/index.html" onmouseover="MM_showHideLayers('divxlink5ro','','show')" onmouseout="MM_showHideLayers('divxlink5ro','','hide')"><img
     src="/media/images/spacer.gif" width="42" height="24" border="0" alt="Check out SAT preparation program!" title="" /></a></div>

<!-- extra link mouseovers -->
<div id="divxlink1ro">
  <img src="/media/images/home/photoalbum_ro.gif" width="83" height="81" alt="" title="" /></div>
<div id="divxlink2ro">
  <img src="/media/images/home/delve_ro.gif" width="62" height="37" alt="" title="" /></div>
<div id="divxlink3ro">
  <img src="/media/images/home/hssp_ro.gif" width="60" height="37" alt="" title="" /></div>
<div id="divxlink4ro">
  <img src="/media/images/home/splash_ro.gif" width="62" height="41" alt="" title="" /></div>
<div id="divxlink5ro">
  <img src="/media/images/home/satp_ro.gif" width="95" height="43" alt="" title="" /></div>

{% block search %}
<!-- search -->
<div id="divsearch">
  <form name="searchform" id="searchform" method="get" action="http://gb-server.mit.edu/search">
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
	 <input type='hidden' name='site' value='mit' />
	 <input type='hidden' name='client' value='mit' />
	 <input type='hidden' name='proxystylesheet' value='http://web.mit.edu/xsl/google-mit.xsl' />
	 <input type='hidden' name='output' value='xml_no_dtd' />
	 <input type='hidden' name='as_dt' value='i' />
	 <input type='hidden' name='as_sitesearch' value='esp.mit.edu' />
      <tr>
						<td><div class="divformcol1"><label for="q">Search:</label></div></td>
				<td><div class="divformcol2"><input type="text" name="q" id="q" size="8" value="" maxlength="255" class="inputbox" accesskey="s" /></div></td>
				<td><div class="divformcol3"><input type="image" name="gosearch" id="gosearch" src="/media/images/home/go.gif" class="gobutton" alt="Go" title="" /></div></td>
		      </tr>
    </table>
  </form>
</div>
{% endblock %}

{% block login %}
<div id="divlogin">
<form name="loginform" id="loginform" method="post" action="/myesp/logfin/">
<input type="hidden" name="op" value="login" />
<table border="0" cellpadding="0" cellspacing="0" summary=" ">
  {% if not logged_in %}
  <tr>
    <td><div class="divformcol1"><label for="user">Login:</label></div></td>
    <td><div class="divformcol2"><input type="text" name="user" id="user" size="8" value="" maxlength="255" class="inputbox" /></div></td>
    <td><div class="divformcol3">&nbsp;</div></td>
  </tr>
  <tr>
    <td><div class="divformcol1"><label for="pass">Password:</label></div></td>
    <td><div class="divformcol2"><input type="password" name="password" id="pass" size="8" value="" maxlength="255" class="inputbox" /></div></td>
    <td><div class="divformcol3"><input type="image" name="gologin" id="gologin" src="/media/images/home/go.gif" class="gobutton" alt="Go" title="" /></div></td>
  </tr>
  {% endif %}
  <tr>
    <td>
    		{% if logged_in %}
		<div class="divformcol1" style="text-align:left"><a href="/myesp/manage/">Manage Subscriptions</a></div>
		{% else %}
		<div class="divformcol1" style="text-align:left"><a href="/myesp/register/">Join ESP!</a></div>
		{% endif %}
		</td>
		<td colspan="2">							  
<br /> <br />
	{% if logged_in %}
		    <div class="divformcol2" style="text-align:left"><a href="/myesp/signout/">Sign Out</a></div>
	{% else %}
		    <div class="divformcol2" style="text-align:left"><a href="/myesp/emaillist/">Join our mailing list</a></div>
	{% endif %}
		</td>
  </tr>

</table>
</form>
</div>
{% endblock %}

<!-- announcements header -->
<div id="divannounceheader">
  <a name="startcontent" id="startcontent"></a>
  <h1><img src="/media/images/home/announcements.gif" width="220" height="40" alt="Announcements" title="" /></h1></div>

<!-- announcements -->
<div id="divannouncements">
    <!-- keep this page to
no more than 3-4 
announcements so it looks
nice!!!! -->
Welcome to the ESP Usability test!
</div>

<!-- more announcements -->
<!--<div id="divannouncemore">
  <a href="announcements.html"><img src="/web/img/home/more.gif" width="45" height="34" border="0" alt="More Announcements" title="" /></a></div>
-->

<!-- footer -->
<div id="divfooter">
  <table border="0" cellpadding="0" cellspacing="0" summary=" ">
    <tr>
      <td><!-- mit logo -->
        <div id="divfootercol1">
          <a href="http://web.mit.edu/" accesskey="m"><img src="/media/images/mit.gif" width="42" height="24" border="0" alt="MIT home" title="MIT home" /></a></div>
      </td>
      <td><!-- mit -->
        <div id="divfootercol2">
          <p>Massachusetts<br />Institute<br />of Technology</p></div>
      </td>
      <td><!-- address -->
        <div id="divfootercol3">
          <p>84 Massachusetts Avenue,<br />
          Room W20-467, Cambridge, MA 02139<br />
          Tel: 617-253-4882</p></div>
      </td>
      <td><!-- email -->
        <div id="divfootercol4">
          <p><a href="mailto:esp@mit.edu">ESP's Email</a></p></div>
      </td>
      <td><!-- email bubble -->
        <div id="divfootercol5">
          <img src="/media/images/emailbubble.gif" width="25" height="21" border="0" alt="" /></div>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
