{% extends "elements/html" %}

{% block title %}Splash! Chicago{% endblock %}

{% block stylesheets %}
<STYLE type="text/css"><!--
A:link,A:visited {color:#99BBEE; text-decoration:none;}
A:active,A:hover {color:#EEEE22; text-decoration:none;}
BODY {background-color:#000000; font-family:helvetica; color:#EEEEEE; font-size:10pt;}
H2 {font-size:14pt; text-align:center;}
H3 {font-size:12pt; text-align:center;}
P { text-align:center; }

#divlogin { 
margin:0 auto; 
width:220px; 
text-align:center; 
margin-top:20px; 
margin-bottom:20px; 
}

#divintro {
margin:0 auto; 
width:270px; 
text-align:center; 
margin-top:45px; 
margin-bottom:45px; 
font-family:hevletica; 
color:#EEEEEE; 
font-size:14pt; 
}

#divannounceheader {
margin:0 auto; 
width:270px; 
text-align:center; 
margin-top:45px; 
margin-bottom:10px; 
font-family:hevletica; 
color:#7777FF; 
font-size:16pt; 
}

#divannouncements, divannouncemore {
margin:0 auto; 
width:270px; 
text-align:left; 
margin-top:10px; 
margin-bottom:10px; 
font-family:hevletica; 
color:#EEEEEE; 
font-size:14pt; 
}

#divnav7, #divnav8 {
margin:0 auto; 
width:270px; 
text-align:center; 
margin-top:4px; 
margin-bottom:10px; 
font-family:hevletica; 
font-size:16pt; 
}

#divnav8 a:link, #divnav8 a:visited, #divnav7 a:link, #divnav7 a:visited {
color: #FF7777;
}

#divnav8 a:hover, #divnav8 a:active, #divnav7 a:active, #divnav7 a:hover {
color: #EEEE22;
}

//--></STYLE>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block body %}

<!-- skip link -->
<div class="offscreen">
</div>

<!-- title -->
<div id="divtitle">
<p><img src="/media/images/uchicago-splotch.gif" /></p>
</div>

{% block login %}
<!-- quicklinks -->
<div id="divquicklinks">
<!--
  <form name="quicklinkform" id="quicklinkform" method="get" action="{{request.path}}" onsubmit="return false;">
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
      <tr>
        <td><div class="divformcol1">&nbsp;</div></td>
        <td><div class="divformcol2">
          <select name="quicklinks" id="quicklinks" class="selectbox">
            <option value="#">Quick Links</option>
          </select>
        </div></td>
        <td><div class="divformcol3"><input type="image" name="goquick" id="goquick" src="/media/images/home/go.gif" class="gobutton" alt="Go" onclick="MM_jumpMenuGo('quicklinks','parent',0)" /></div></td>
      </tr>
    </table>
  </form>
-->
</div>



<!-- login -->
{% if request.user.is_authenticated %}
<!-- logout -->
<div id="divlogout">
  <p>
    Hello, {{ request.user.first_name }} {{ request.user.last_name }}!<br />
    (<a href="/myesp/signout/">Logout</a>)
<!-- <span id="spanlogouticon"><img src="/media/images/home/logouticon.gif" width="23" height="23" alt="" /></span> -->
  </p>
</div>
{% endif %}
{% endblock %}

<!-- intro -->
<div id="divintro">
{% load render_qsd %}
{% render_inline_qsd "Q/Web" "homepage_qsdpart" %}
</div>


<div id="divnav0">
</div>

<div id="divnav1">
</div>

<div id="divnav2">
</div>

<div id="divnav3">
</div>

<div id="divnav4">
</div>

<div id="divnav5">
</div>

<div id="divnav6">
</div>

{% if request.user.get_profile.prof.isAdministrator %}
<div id="divnav7">
<a href="/myesp/admin">Administer Splash! Chicago</a>
</div>
{% endif %}

{% if request.user.get_profile.prof.isOnsite %}
<div id="divnav8">
<a href="/myesp/onsite/">On-Site Registration</a>
</div>
{% endif %}

{% block search %}
<!-- search -->
<div id="divsearch">
</div>
{% endblock %}

{% load preview %}
{% miniblog_for_user request.user as announcements 4 %}

<!-- Announcements disabled at Luke's request.
    - Michael Price 9/5/07 -->

{% comment %}
<!-- announcements header -->
<div id="divannounceheader">
{% if announcements.announcementList %}Check out the links below for more information!{% endif %}
</div>


<!-- announcements -->
<div id="divannouncements">
<ul>
{% for announce in announcements.announcementList %}
       <li> <a href="{{ announce.get_absolute_url }}" title="{{ announce.makeTitle }}">
                {{ announce.makeTitle|truncatewords:6 }}
       </a></li>
{% endfor %}
     </ul>
</div>

<!-- more announcements -->
{% if announcements.overflowed %}
<div id="divannouncemore">
  <a href="/myesp/home/">More Announcements</a>
</div>
{% endif %}

{% endcomment %}



<!-- footer -->
<div id="divfooter">
</div>
{% endblock %}
