<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
{% block stylesheets %}
    <link href="{{ MEDIA_URL }}styles/main.css" rel="stylesheet" type="text/css">
    <link href="{{ MEDIA_URL }}styles/stanford.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascript %}

{% endblock %}
<title>Stanford ESP - {% block title %}{% endblock %}</title>
</head>
<body>
	
<div id="container">

<!--TOP LINKS-->
{% block links_top %}
{% include "navbar.html" %}
{% endblock %}
<!--END TOP LINKS-->


<div id="top"></div>

<!--LOGIN-->

<div id="login">
{% block loginbox %}
{% include "users/loginbox_ajax.html" %}
{% endblock %}
</div>

<!--END LOGIN-->

<!--NAV BAR-->
{% block navigation_main %}
<div id="main_nav" class="top_nav" style="background-image: url('{{ MEDIA_URL }}images/blue.png'); margin-left: 17px;">
<div class="text_padding" style="padding: 3px 6px 0px 10px;">
<h1>I want to</h1>
<h2><a href="/learn/index.html">Learn</a></h2>
</div>
</div>
<div id="main_nav" class="top_nav" style="background-image: url('{{ MEDIA_URL }}images/green.png');  margin-left: 10px;">
<div class="text_padding" style="padding: 3px 6px 0px 10px;">
<h1>I want to</h1>
<h2><a href="/teach/index.html">Teach</a></h2>	
</div>
</div>
<div id="main_nav" class="top_nav" style="background-image: url('{{ MEDIA_URL }}images/red.png'); margin: 0px 0px 0px 10px;">
<div class="text_padding" style="padding: 3px 6px 0px 10px;">
<h1>I want to</h1>
<h2><a href="/volunteer/index.html">Volunteer</a></h2>
</div>
</div>
{% endblock %}
<!--END NAV BAR-->


<!--LEFT MENU-->
<div id="left_menu_container">
{% block navbar_left %}
    {% load navbar %}
    {% navbar_gen "yellow" %}
{% endblock %}

<div id="spacer" style="height: 20px; clear: left;">&nbsp;</div>

{% block menu_left %}

{% endblock %}

</div>
<!--END LEFT MENU-->

<!--CONTENT-->

<div id="content">
{% block content %}
<!-- Example content format:
<h1>This is a Title Header Booyah</h1>
<img src="{{ MEDIA_URL }}/images/purple.png"><br>
<p>This is some text that <a href="booya.com">is placed</a> in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here This is some text that is placed in here</p> 
<br><br>
-->
{% endblock %}
</div>

<!--CONTENT-->


<div id="bottom"></div>

<!--BOTTOM LINKS-->
{% block links_bottom %}
{% include "navbar.html" %}
{% endblock %}
<!--END BOTTOM LINKS-->


{% block footer %}
<div id="special_thanks">
<img src="{{ MEDIA_URL }}images/su.gif">
<img src="{{ MEDIA_URL }}images/assu.gif">
<img src="{{ MEDIA_URL }}images/gsc.gif">
</div>
{% endblock %}

</div>

</body>
</html>