{% extends "elements/html" %}

{% block fulltitle %}{% block title %}{% endblock %}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {#  Default stylesheets, no customization   #}
    <link rel="stylesheet" type="text/css" href="/media/theme_editor/bootstrap_initial.css"/>
{% endblock %}

{% block body %}

{% block main %}

<div class="container">
  <div class="row">
    {% block sidebar %}
    {% endblock %}

    <div id="main" class="span12">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
</div>
{% endblock %} {# end block main #}

{% endblock %} {# end block body #}
