{% extends "main_general.html" %}


{% block main %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <ul class="nav nav-list well">
	<li class="nav-header">My ESP</li>
	<li class="active"><a href='#'><i class="icon-home"></i> Home</a></li>
	<li><a href='#'><i class="icon-th"></i> Dashboard</a></li>
	<li><a href='#'><i class="icon-cog"></i> Settings</a></li>
	<li><a href='#'><i class="icon-envelope"></i> Contact Us</a></li>
	
	<div class="admin admin_hidden">
	  <li class="nav-header admin admin_hidden"> Admin</li>	
	  <li><a href="/admin/miniblog/entry/"><i class="icon-flag"></i> News</a></li>
	  <li><a href="/admin/miniblog/announcementlink/"><i class="icon-bullhorn"></i> Announcement Links</a></li>
	  <li><a href="/admin/web/navbarentry/"><i class="icon-list"></i> Navigation Links</a></li>
	  <li><a href="/admin/web/navbarcategory/"><i class="icon-book"></i> Navigation Categories</a></li>
	</div>
	<div class="admin admin_hidden">
	  <li class="nav-header admin admin_hidden"> More admin</li>
	  <li><a href="/admin/">Administration pages</a></li>
	  <li><a href="/manage/programs/">Manage Programs</a></li>
	<!-- div class="unmorph unmorph_hidden">
	     <br /><a href="/myesp/switchback/">Unmorph to <script language="JavaScript">document.write(esp_user.cur_retTitle);</script></a><br /><div id="unmorph_text"></div></ul -->
	</div>
	
      </ul>
    </div>
    
    <div class="span9">

{% comment %}
{% block navbar %}
{{ block.super }} 

<div id="navbar">
    <div id="navbar_content">
    <span class="announcementlink_title">Relevant Links</span>
    {% load navbar %}
    {% navbar_gen request.path None navbar_list %} 
    </div>

    <div id="navbar_content">

    {% load smartypants %}
    {% load markdown %}
    {% for announce in announcements.announcementList %}
        <p>
        <span class="announcementlink_title{% if announce.section %}{{ announce.section }}{% endif %}">
        {% if announce.makeUrl %}
            <a href="{{ announce.makeUrl }}">{{ announce.makeTitle }}</a>
        {% else %}
            {{ announce.makeTitle }}
        {% endif %}
        </span><br />
        <span class="announcementlink">{% autoescape off %}{{ announce.content|markdown|smartypants }}{% endautoescape %}</span>
        </p>
    {% endfor %}

    <!-- more announcements -->
    {% if announcements.overflowed %}
    <div id="divannouncemore">
        <a href="/myesp/home/">More Notices...</a>
    </div>
    {% endif %}
    </div>
    
    <div id="navbar_content">
    <br />
    {% include "users/loginbox.html" %}
    <br />

    <div class="admin admin_hidden">
        <a href="/admin/miniblog/entry/">Edit News</a> <br />
        <a href="/admin/miniblog/announcementlink/">Edit Announcement/Links</a> <br />
        <a href="/admin/web/navbarentry/">Edit Navigation Links</a> <br />
        <a href="/admin/web/navbarcategory/">Edit Navigation Categories</a>
    </div>

    </div>

</div>

{% endblock %}
{% endcomment %}


    {% block content %}
    

    {% endblock %}

    </div>
  </div>
</div>


{% endblock %}



