{% extends "main.html" %}

{% block title %}{{ settings.INSTITUTION_NAME }} {{ settings.ORGANIZATION_SHORT_NAME }} Blog{% endblock %}

{% block content %}

<h1><font color='red'>{{ extramsg }}</font></h1>

{% for entry in entries %}
<h1>{{ entry.title }}</h1>
<h3>Posted: {{ entry.timestamp }}</h3>
<p>{{ entry.html }}</p>
<p></p>
{% endfor %}

{% if canpost %}
<form action='/blog/{{ webnode }}/post.scm' method='post'>
<form method="POST" action="the-plan.html">
  <h1>Title</h1>
  <input type="text" name="title" value="New Blog Entry" size="64" /><br><br>
  <h1>Content</h1>
  <textarea name="content" rows="20" cols="75"></textarea>
  <input type="submit" name="post_edit" value="Submit!" />
</form>
{% endif %}

{% endblock %}
