<p>{{ num_users }} users were matched by the query.</p>
<h2>Class Registration Stats</h2>
<p>The number of classes that were registered by teachers for each program are shown below (using several metrics).</p>
<table>
<tr>
<th rowspan="2"></th>
{% for stat_category in stat_categories %}
<th colspan="{{ stats_per_category }}">{{ stat_category }}</th>
{% endfor %}
</tr>
<tr>
{% for stat in stat_names %}
<th>{{ stat }}</th>
{% endfor %}
</tr>
{% for prog, stats in prog_data %}
<tr>
    <td>{{ prog }}</td>
    {% for stat in stats %}
    <td>{{ stat }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

{% include "program/modules/bigboardmodule/bigboard_graph.html" %}
