#header { 
    display: none;
}

#main_banner {
    display: none;
}

#top_banner {
    display: none;
}

#divtitle {
    display: none;
}

#secondarynav {
    display: none;
}

#divsectionname {
    display: none;
}

#divsubsectionname {
    display: none;
}

#divlogin {
    display: none;
}

#divsearch {
    display: none;
}

#divmain {
    top: 0;
    left: 0;
}

#tableheader {
    display: none;
}

.notmaintd {
    display: none;
}

#archives h3 {
    font-size: 1em;
}

#archives table.innertable {
    margin-top: .25in;
}

#divmain { 
    text-align: center;
}

body {
    text-align: center;
}

#maintable {
    display: inline;
}

#divmain {
    display: inline;
}

#archives table.innertable, #archives .innertable tr, #archives .innertable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.sql {
    display: none;
}