#catalog table {
   border: 1px solid #CCC;
   border-width: 1px;
   border-collapse: collapse;
}

#catalog th {
   font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 15px;
   background-color: #c6def7;
   color: #000;
}

#catalog th.materials {
   font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 12px;
   font-weight: normal;
   background-color: #c6def7;
   color: #000;
}

#catalog td {
   font-family: serif;
   font-size: 14px;
   background-color: #ffffff;
   color: #000;
}

#catalog td.info {
    padding: 5px;
}

.doclist {
   font-family: sans-serif;
   text-indent: 20px;
   font-size: 12px;
   color: #000;
}

p.category {
   font-family: arial;
   font-size: 2em;
   text-align: center;
   margin-bottom: 0;
   font-weight: bold;
}

.linktop {
   font-family: serif;
   font-size: 12px;
   text-align: center;
}
.show_class table {
   text-align: center;
   margin: auto;
   width: 620px;
}
.show_class th {
   background-color: #a6cedf;
   text-align: left;
}
.teachers {
   font-size: 13px;
   font-family: serif;
   font-style: italic;
   font-weight: normal;
   text-align: right;
}
.show_class td {
   text-align: center;
   vertical-align: top;
}
.show_class td.info {
   text-align: left;
}

.add_class td {
   text-align: center;
   vertical-align: top;
   color: #bccaf5;
   background-color: #00003C;
   padding: 0px;
   margin: 0px;
}

#divmaintext h1 {
  font-size: 22pt;
  color: black;
  font-family: arial;
  text-align: center;
  width: 100%;
}

.big {
    font-size: 1.5em;
}

.classtitle {
  color: black;
}

a.classtitle:hover {
  text-decoration: none;
}

input.button {
    background-color: #c6def7;
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

input.button:hover {
    background-color: #333399;
    color: #c6def7;
}
