
div .show_class {
    padding: 0px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

div .class_title {
    background-color: #D9EDF7;
    color: #004466;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.6em;
}

div .class_title a:hover {
  text-decoration: none;
}

div .class_subtitle_row {
    border: 1px solid #cccccc;
    background-color: white;
    min-height: 1.5em;
    margin: -1px;
    padding: 2px;
}

div .class_difficulty {
    text-align: center;
    width: 50%;
    float: left;
}

div .class_teachers {
    text-align: center;
    width: 50%;
    overflow: auto;
}

div .class_content {
    padding: 8px;
}

div .class_meeting_times {
    text-align: center;
}

div .class_grades {
    text-align: center;
}

div .class_doclist {
   font-size: 0.9em;
   color: #000000;
   padding-left: 4px;
}

div .class_appquestions_list {
   font-size: 0.9em;
   color: #000000;
   padding-left: 4px;
}

div .class_footer_row {
    border: 1px solid #cccccc;
    background-color: white;
    margin: -1px;
    padding: 2px;
}

div .class_buttons {
    background-color: white;
    margin: -1px;
    border: 1px solid #CCCCCC;
}

div .add_class {
   text-align: center;
   vertical-align: top;
   color: #bccaf5;
   background-color: #00003C;
   padding: 0px;
   margin: 0px;
}

div .addbutton_error {
    text-align: center;
    padding: 2px;
    font-style: italic;
    background-color: #F2DEDE;
}

input.button {
    background-color: #c6def7;
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

input.button:hover {
    background-color: #333399;
    color: #c6def7;
}

input.addbutton_hidden {
    display: none;
}

input.addbutton_added {
    color: #ffffff;
    background-color: #990000;
}

img.LaTeX {
    vertical-align: middle;
}

input.addbutton {
    background-color: #D9EDF7;
    color: #000000;
    border: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 1.2em;
    padding: 8px;
    margin-bottom: 0px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 0px;
    display: none;
}

.btn.addbutton {
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
}

input.addbutton:hover {
    background-image: -moz-linear-gradient(center top , #D9EDF7, #DFF0D8);
}

input.addbutton_added {
    color: #ffffff;
    background-color: #990000;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton_disabled {
    color: #000000;
    background-color: #ffcccc;
    border: 0px solid black;
    font-weight: bold;
    font-size: 1.0em;
    padding: 3px;
    margin: 0px !important;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 0px;
}

input .addbutton_error {
    background-color: #ffcccc;
    color: #000000;
    border: 0px;
    font-weight: normal;
    font-size: 1.0em;
    padding: 3px;
    margin: 0px !important;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 0px;
}
