#catalog table {
   border-collapse: collapse;
}

#catalog th {
   ////font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 15px;
   background-color: #141414;
   color: #FFFFFF;
}

#catalog th.materials {
   ////font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 12px;
   font-weight: normal;
   background-color: #00003C;
   color: #ffffff;
}

#catalog td {
   ////font-family: serif;
   font-size: 14px;
   background-color: #BCCAF5;
}

#catalog td.info {
    padding: 5px;
}

#catalog td.info {
    padding: 5px;
}

.addbutton_error {
    background-color: #ffcccc;
    color: #000000;
    border: 0px;
    font-weight: normal;
    font-size: 1.0em;
    padding: 3px;
    margin: 0px !important;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.doclist {
   ////font-family: sans-serif;
   text-indent: 20px;
   font-size: 12px;
   color: #000;
}

p.category {
   ////font-family: arial;
   font-size: 2em;
   text-align: center;
   margin-bottom: 0;
   font-weight: bold;
}

.linktop {
   ////font-family: serif;
   font-size: 12px;
   text-align: center;
}
.show_class table {
   text-align: center;
   margin: auto;
   width: 580px;
}
.show_class th {
   background-color: #a6cedf;
   text-align: left;
}
.teachers {
   font-size: 13px;
   ////font-family: serif;
   font-style: italic;
   font-weight: normal;
   text-align: right;
}
.show_class td {
   text-align: center;
   vertical-align: top;
}
.show_class td.info {
   text-align: left;
}

.add_class td {
   text-align: center;
   vertical-align: top;
   color: #bccaf5;
   background-color: #00003C;
   padding: 0px;
   margin: 0px;
}

#divmaintext h1 {
  font-size: 22pt;
  color: white;
  ////font-family: arial;
  text-align: center;
  width: 100%;
}

.big {
    font-size: 1.5em;
}

.classtitle {
  color: black;
}

a.classtitle:hover {
  text-decoration: none;
}

input.button {
    background-color: #BCCAF5;
    border: 0px solid black;
    font-weight: bold;
    font-size: 13px;
    padding: 3px;
    font-family: Helvetica, Arial, sans-serif;
}

input.button:hover {
    background-color: #00003C;
    color: #BCCAF5;
}

input.addbutton_added {
    color: #ffffff;
    background-color: #990000;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

img.LaTeX {
    vertical-align: middle;
}
