#catalog table {
   border: 1px solid #CCC;
   border-width: 1px;
   border-collapse: collapse;
}

#catalog th {
   font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 1.15em;
   background-color: #cccccc;
   color: #000;
   text-align: center;
}

#catalog th.materials {
   font-family: Arial, sans-serif;
   padding: 5px;
   font-size: 0.9em;
   font-weight: normal;
   color: #000;
}

#catalog td {
   font-size: 1.0em;
   background-color: #ffffff;
   color: #000;
}

#catalog td.info {
    padding: 5px;
}

.addbutton_error {
    background-color: #ffcccc;
    color: #000000;
    border: 0px;
    font-weight: normal;
    font-size: 1.0em;
    padding: 3px;
    margin: 0px !important;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.doclist {
   font-family: sans-serif;
   text-indent: 20px;
   font-size: 0.9em;
   color: #000;
}

p.category {
   font-family: arial;
   font-size: 2em;
   text-align: center;
   margin-bottom: 0;
   font-weight: bold;
}

.linktop {
   font-family: serif;
   font-size: 12px;
   text-align: center;
}
.show_class table {
   text-align: center;
   margin: auto;
   width: 600px;
}
.show_class th {
   text-align: left;
}
.teachers {
   font-size: 13px;
   font-family: serif;
   font-style: italic;
   font-weight: normal;
   text-align: right;
}
.show_class td {
   text-align: center;
   vertical-align: top;
}
.show_class td.info {
   text-align: left;
}

.add_class td {
   text-align: center;
   vertical-align: top;
   color: #bccaf5;
   background-color: #00003C;
   padding: 0px;
   margin: 0px;
}

#divmaintext h1 {
  font-size: 22pt;
  color: black;
  font-family: arial;
  text-align: center;
  width: 100%;
}

.big {
    font-size: 1.5em;
}

.classtitle {
  color: black;
}

a.classtitle:hover {
  text-decoration: none;
}

a.abutton {
    background-color: #e8f0f7;
    color: #000000;
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 10px;
}

a.abutton:hover {
    background-color: #333399;
    color: #00ccff;
    padding: 1px 10px;
}

input.button {
    background-color: #e8f0f7;
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

input.button:hover {
    background-color: #333399;
    color: #00ccff;
}

#catalog .clsright {
   text-align: right;
}

#catalog .clsleft {
   margin-left: 19px;
}

#catalog tr.bordertop{
    border-top: 1px solid #cccccc;
}

#catalog tr.bordertopdashed {
    border-top: 1px dashed #cccccc;
}

input.addbutton {
    background-color: #c6def7;
    color: #000000;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton:hover {
    background-color: #333399;
    color: #c6def7;
}

input.addbutton_disabled {
    color: #ffffff;
    background-color: #ed1c24;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

img.LaTeX {
    vertical-align: middle;
}
