.dsphead {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
}

.dsphead.small {
    font-size: 12px;
    padding: 10px 15px;
}

.dsphead:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.dsphead.active, .dsphead:hover {
    background-color: #555;
}

.dsphead.active:after {
    content: "\2212";
}

.dspcont {
    margin: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s linear;
}
