.class_error {
  background: #ccc;
}

.class_error td.info {
  background: #ccc;
}

.add_class {
  border: 1px solid #ccc;
}

span.error {
  font-family: Arial;
  font-variant: small-caps;
  font-size: 50px;
}

input.addbutton {
    background-color: #c6def7;
    color: #000000;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton:hover {
    background-color: #333399;
    color: #c6def7;
}

input.addbutton_disabled {
    color: #ffffff;
    background-color: #ed1c24;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
