.class_error {
  background: #ccc;
}

.class_error td.info {
  background: #ccc;
}

span.error {
  //font-family: Arial;
  font-variant: small-caps;
  font-size: 50px;
}

#catalog table {
  padding: 0;
  margin: 0;
}

input.addbutton {
    background-color: #00003C;
    color: #ffffff;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

input.addbutton:hover {
    background-color: #497CCA;
}

input.addbutton_disabled {
    color: #ffffff;
    background-color: #ed1c24;
    border: 0px solid black;
    font-weight: bold;
    font-size: 0.9em;
    padding: 3px;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
