.class_error {
  background: #ccc;
}

.class_error td.info {
  background: #ccc;
}

.add_class {
  border: 1px solid #ccc;
}

span.error {
  //font-family: Arial;
  font-variant: small-caps;
  font-size: 50px;
}

#catalog table {
  padding: 0;
  margin: 0;
}

input.addbutton {
    background-color: #BCCAF5;
    border: 1px solid black;
    font-weight: bold;
    font-size: 0.9em;
    //font-family: Arial, Helvetica, sans-serif;
}

input.addbutton:hover {
    background-color: #333399;
    color: #BCCAF5;
}