/* styles for ESP levels 2 and 3 */
/* for home page see home.css */



/* GENERAL */

html, body {
  background-color: #000000;
  margin: 0px;
  font-family:heletica;
  color:#EEEEEE;
  font-size:10pt;
}
/* for div containing skip links and other content that should never be seen by visual browsers */
.offscreen {
  position: absolute;
  left: 0px; top: -9999px;
  width: 1px; height: 1px;
  overflow: hidden;
}

/* default link characteristics */
a,
a:link {
  color: #99BBEE;
  text-decoration: none;
}
a:visited {
  color: #99BBEE;
  text-decoration: none;
}
a:active,
a:hover {
  color:#EEEE22;
  text-decoration: none;
}


/* remove space around forms */
form {
  display: inline;
  margin: 0;
  padding: 0;
}


.paper {
  background-color: #303030;
  color:#FFFFFF;
}
.rightalign {
  text-align: right;
}


/* BACKGROUNDS AT TOP OF PAGE */

/* SITE TITLE */

#divtitle {
  position: absolute;
  left: 10px;
  top: 24px;
  z-index: 6;
}



/* PRIMARY NAVIGATION */

#divnavh {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}


/* SECTION NAME */

#divsectionname {
  position: absolute;
  left: 82px;
  top: 5px;
  z-index: 6;
}



/* SECONDARY NAVIGATION */

#secondarynav {
  width: 199px;
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: 10;
  margin: 10px 0 0 0;
  border-collapse: collapse;
  list-style-type: none;
  padding: 0 10px 0 0;
}

/* secondary navigation link */
.divsecondarynavlink {
  background-image: url(/media/images/dashedline.gif);
  background-repeat: no-repeat;
  padding: 6px 20px 5px 15px;
/*  padding: 0;*/
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 133%;
  margin: 0px;
  color:#EEEEEE;
}
/* outdent 'bullet' in secondary nav */
.divsecondarynavlink .bullet {
  margin-left: 1px;
  text-decoration: none;
}

.divsecondarynavlink .bullet:hover {
  text-decoration: none;
}


/* link characteristics */
#secondarynav a,
#secondarynav a:link {
  font-weight: bold;
  display: block;
/*  color: #3366cc; */
  color: #EEEEEE;
  width: 100%;
  text-decoration: none;
}

#secondarynav .movable {
  /*border: 1px solid #009;
  border-width: 0 4px 0 0;*/
  cursor: move;
}

#secondarynav li.movable:hover {
    border: 1px solid #aaa;
/*  background: #ddefff;*/

}

#secondarynav .movable a {
  display: inline;
}

#secondarynav .indent {
  padding-top: 0px;
  background-image: none;
  font-size: 75%;
  padding-left: 30px;
}

#secondarynav a:visited {
  font-weight: bold;
/*  color: #993399; */
  color: #AAA;
  text-decoration: none;
}
#secondarynav a:active,
#secondarynav a:hover,
#secondarynav a:focus {
  font-weight: bold;
/*  color: #3366cc; */
  color: #FFF;
  text-decoration: underline;
}

/* nav to current page */
#divsecondarynav p.current,
#divsecondarynav p.current a,
#divsecondarynav p.current a:link,
#divsecondarynav p.current a:visited,
#divsecondarynav p.current a:active,
#divsecondarynav p.current a:hover,
#divsecondarynav p.current a:focus,
#divsecondarynav .divtertiarynav li.current a,
#divsecondarynav .divtertiarynav li.current a:link,
#divsecondarynav .divtertiarynav li.current a:visited,
#divsecondarynav .divtertiarynav li.current a:active,
#divsecondarynav .divtertiarynav li.current a:hover,
#divsecondarynav .divtertiarynav li.current a:focus {
  color: #666666;
}



/* SEARCH/LOGIN/LOGOUT FORMS */

#divsearch {
  position: absolute;
  left: 380px;
  top: 54px;
  z-index: 8;
  width: 360px;
}

#divlogin {
  position: absolute;
  left: 380px;
  top: 10px;
  z-index: 8;
  width: 360px;
  color: #FFFFFF;
}

#divlogout {
  position: absolute;
  left: 344px;
  top: 194px;
  z-index: 8;
}

/* columns in form tables */
.divformcol1, .divformcol2, .divformcol3, .divformcol4, .divformcol5 {
  padding: 0px 6px 10px 0px;

  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: .85em;
  color: #EEEEEE;
  line-height: 100%;
  margin: 0px;
  white-space: nowrap;
}
#divlogout p {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.75em;
  color: #EEEEEE;
  line-height: 100%;
  margin: 0px;
  white-space: nowrap;
}

/* input box */
.inputbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.75em;
  width: 92px;
  border: solid 2px #000000;
  margin: 0px;
  padding: 1px;
}
/* select box */
.selectbox {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 12px;
  width: 92px;
}



/* QUICKLINKS FORM */

#divquicklinks {
  position: absolute;
  left: 580px;
  top: 190px;
  z-index: 9;
  width: 160px;
}



/* SUBSECTION NAME */

#divsubsectionname {
  position: absolute;
  left: 210px;
  top: 235px;
  z-index: 6;
}


#divmaintext .error {
  font-size: 100%;
  text-align: center;
  color: #F00;
  font-weight: bold;
  text-decoration: underline;
}

#divmaintext .formerror {
  font-size: 80%;
  font-weight: bold;
  position: relative;
  left: 10px;
  text-decoration: underline;
  color: #EEEEEE;
}

/* MAIN CONTENT AREA */

/* skip row 1 - no longer needed */
#divmain {
  position: absolute;
  left: 0px;
  top: 60px;
  z-index: 2;
  color: #EEEEEE;
}

/* struts for main table */
#maintable div.row1 {
  height: 152px;
}
#maintable div.row2 {
  height: 16px;
}
#maintable div.row3 {
  height: 370px;
}
#maintable div.row4 {
  height: 100px;
}
#maintable div.col1 {
  width: 199px;
}
#maintable div.col2 {
  width: 0px;
}
#maintable div.col3 {
  width: 485px;
}
#maintable div.col4 {
  width: 154px;
}
#maintable div.col5 {
  width: 10px;
}



/* MAIN TEXT */

#divmaintext {
  padding: 0px 6px 20px 0px;
}
#divmainqsddatetimestamp {
  font-size: 0.90em;
}
#divmaintext p, #divmaintext li {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 160%;
  color: #EEEEEE;
  margin-top: 0px;
}
#divmaintext pre {
  font-size: 1.1em;
}
#divmaintext h1 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: #3366cc;
  margin-top: 0px;
}
#divmaintext h2 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #B0F0F0;
  margin-top: 0px;
  margin-bottom: 0px;
}
#divmaintext h3 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
}
#divmaintext h4 {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  font-style: italic;
  color: #EEEEEE;
  margin-top: 0px;
  margin-bottom: 0px;
}
#divmaintext a,
#divmaintext a:link {
  color: #3366cc;
  text-decoration: underline;
}
#divmaintext a:visited {
  color: #993399;
  text-decoration: underline;
}
#divmaintext a:active,
#divmaintext a:hover,
#divmaintext a:focus {
  color: #3366cc;
  text-decoration: underline;
}

/* forms within content area */
/*#divmaintext form {
  display: block;
  margin-bottom: 1em;
}
#divmaintext form table {
  border: solid 0px #ffffff;
  margin-bottom: 1em;
}
#divmaintext form table td {
  padding-bottom: 0.5em;
  padding-right: 2.0em;
  text-align: left;
  vertical-align: top;
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  color: #EEEEEE;
  white-space: nowrap;
}
#divmaintext form table td input.textfield,
#divmaintext form table td textarea {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  width: 100%;
  color: #EEEEEE;
}*/
/*#divmaintext form table td textarea {
  height: 6.0em;
}*/



/* QUOTES */

#divquotelarge {
  width: 154px;
  height: 370px;
  background-image: url(/media/images/quote/large/top.gif);
  background-repeat: no-repeat;
}
#divquotelarge td {
  height: 370px;
  vertical-align: bottom;
}
#divquotelargebot {
  width: 154px;
  height: 100px;
  background-image: url(/media/images/quote/large/bot.gif);
  background-repeat: no-repeat;
}
#divquotemedium {
  width: 154px;
  height: 370px;
  background-image: url(/media/images/quote/medium/top.gif);
  background-repeat: no-repeat;
}
#divquotemedium td {
  height: 370px;
  vertical-align: bottom;
}
#divquotemediumbot {
  width: 154px;
  height: 100px;
  background-image: url(/media/images/quote/medium/bot.gif);
  background-repeat: no-repeat;
}
#divquotesmall {
  width: 154px;
  height: 370px;
  background-image: url(/media/images/quote/small/top.gif);
  background-repeat: no-repeat;
}
#divquotesmall td {
  height: 370px;
  vertical-align: bottom;
}
#divquotesmallbot {
  width: 154px;
  height: 100px;
  background-image: url(/media/images/quote/small/bot.gif);
  background-repeat: no-repeat;
}
#divquotenone {
  width: 154px;
  height: 370px;
}
#divquotenone {
  width: 154px;
  height: 100px;
}

#divquotetext {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 1.0em;
  line-height: 125%;
  font-weight: bold;
  margin: 0px;
  color: #ff5500;
  padding: 0px 44px 0px 6px;
/*  position: absolute;
  top: 150px;*/
}
#divquotetext .quoteauthor {
  font-size: 0.85em;
  font-weight: normal;
  color: #666666;
}



/* FOOTER */

#divfooter {
  width: 772px;
  height: 100px;
  background-image: url(/media/images/bandaid3.gif);
  background-repeat: no-repeat;
}
#divfooter table {
  margin: 30px 0px 20px 170px;
}
#divfooter p {
  font-family: Arial, Lucida, Helvetica, sans-serif;
  font-size: 0.80em;
  color: #000000;
  line-height: 135%;
  margin: 0px;
  white-space: nowrap;
}

#divfooter td {
  vertical-align: top;
}
#divfootercol1 {
  position: relative;
  width: 77px;
  padding-right: 10px;
}
#divfootercol2 {
  position: relative;
  width: 141px;
  padding-right: 10px;
}
#divfootercol3 {
  position: relative;
  width: 241px;
  padding-right: 10px;
}
#divfootercol4 {
  position: relative;
  padding-right: 6px;
}
#divfootercol5 {
  position: relative;
  top: -8px;
}

table.pdoxtable {
	border: 1px solid black;
}

table.pdoxtable td {
        border: 1px solid black;
}

table.pdoxtable th {
        border: 1px solid black;
}

table.plaintable {
	border: 0px;
}

table.plaintable td {
	border: 0px;
}
table.plaintable th {
	border: 0px;
}


.statistics { font-family: arial; font-size: .6em; font-style: italic; text-align: center; color: #999; }

/* prettier forms */
#divmaintext th { padding-top: 10px; color: #000000; }
#divmaintext label.header { font-weight: bold; }
#divmaintext select, input[type=text], input[type=file], input[type=password], textarea { border: 1px solid #b7b7b7; }
#divmaintext select.required, input[type=text].required, input[type=password].required, input[type=file].required, textarea.required { border: 1px solid #FFb7b7; }
#divmaintext select:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus { border: 1px solid black; }
#divmaintext select:focus.required, input[type=text]:focus.required, input[type=password]:focus.required, textarea:focus.required { border: 1px solid #F00; }
.form_error { font-size: 80%; font-style: italic; color: #C00; }
.dojoComboBoxOptions { color: #333; }
.dojoComboBoxItemHighlight { color: #eee; }

/* pretty form stuff */

div.note, div.info, div.errormsg, div.question { 
  text-align: left;
  font-size: 1.0em;
  font-style: italic;
  font-family: arial;
  padding: 5px 0px 5px 38px;
  border: 3px groove #999;
  margin: 10px;
  overflow: visible;
  width: 450px;
}
div.note {
  background: #555 url('/media/images/note.gif') no-repeat 4px 50%;
}
div.info {
  background: #555 url('/media/images/information.gif') no-repeat 4px 10%;
}
div.errormsg {
  background: #555 url('/media/images/error.gif') no-repeat 4px 50%;
}
div.question {
  background: #555 url('/media/images/questionmark.gif') no-repeat 4px 50%;
}

.monospace {
  font-style: normal;
  font-weight: normal;
  font-family: courier-new, courier, monospace;
  text-decoration: none; 
}
  
.sql { 
  border: 1px solid black;
  position: absolute;
  top: 10000em;
  font-style: normal;
  font-weight: normal;
  background-color: white;
  font-family: courier-new, courier, monospace;
  width: 100%;
  font-size: 10pt;
  height: 700px;
  overflow: scroll;
}

.helpbox {
  border: 1px solid #f8e403;
  padding: 13px 6px 7px 6px;
  width: 300px;
  margin-top: 6px; margin-bottom: 10px;
  position: relative;
  text-align: left;
}

.helpbox h4 {
  position: absolute;
  top: -10px; margin: 0 0 0 -7px;
  left: 100px;
  background: white;
  color: #f8e403;
  padding: 0 7px 0 7px;

} 
.helpbox h4 span {
     color: #d8c303;
     font-size: 1.2em	
}
