table.progressbar {
    border-width: 0em !important;
}

table.progressbar td {
    padding: 0px !important;
    text-align: center;
    vertical-align: top;
}

/* Feel free to clobber; fixed in cdf66edf7586e1a0805081bb6023d0a3124c7027 */
table.progressbar td.progress {
    background-image: url( '/media/images/progress/bar.gif' );
    background-repeat: repeat-x;
}

table.progressbar td.progress_fill {
    background-image: url( '/media/images/progress/bar_fill.gif' );
    background-repeat: repeat-x;
}
