table.progressbar {
    border-width: 0em !important;
}

table.progressbar td {
    padding: 0px !important;
    text-align: center;
    vertical-align: top;
}

table.progressbar td.progress {
    background-image: url( '/media/images/progress/bar.png' );
    background-repeat: repeat-x;
}

table.progressbar td.progress_fill {
    background-image: url( '/media/images/progress/bar_fill.png' );
    background-repeat: repeat-x;
}
