body { padding: 0px; margin: 0; }
table { border-spacing: 0; }

/*
 * Utilities
 */
.float-right { float: right; }
.float-left  { float: left;  }

.loading-overlay {
background: #eee url(loading2.gif) no-repeat scroll 50% 50%; opacity: .9;
position: absolute; z-index: 1000;
}

#statusbar-wrapper {
position: absolute; top: 15px; height: 30px; left: 0; right: 0;
text-align: center;
}

#statusbar {
padding: 5px 30px; margin: 0 auto;
background: #eee;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
#statusbar.red { background: #faa; }
#statusbar.green { background: #afa; }
#statusbar.yellow { background: #ffa; }


#body {
position: absolute;
top: 50px; bottom: 10px; right: 10px; left: 10px;
}

#matrix-target {
height: 62%; max-height: 62%; /*overflow: auto;*/
padding-bottom: 5px; /*border: 1px solid black;*/
position: relative;
}
#directory-target {
height: 38%; max-height: 38%; /*overflow: auto;*/
padding-top: 5px; /*border: 1px solid black;*/
position: relative;
}


/*
 * the Matrix
 */
.matrix {
font-family: Arial, Helvetica, sans-serif; font-size: 0.9em;
border: 2px solid black;
position: absolute; top: 0; bottom: 0; right: 0; left: 0;
}

.matrix-header {
display: block;
position: absolute; top: 0px; left: 0px; right: 0px; height: 50px;
}
.matrix-corner-box {
display: block; z-index: 100;
position: absolute; left: 0; width: 123px; top: 0; bottom: 0;
border-right: 2px solid #000; background: #eee;
}
.matrix-column-header-box {
display: block; overflow: hidden;
position: absolute; left: 125px; right: 0; top: 0; height: 50px;
background: #eee;
}
      .matrix-column-header-box tbody {
	  position: relative; display: block;
      }
      .matrix-column-header-box tr {
	  height: 50px;
      }
      .matrix-column-header-box td {
	  border-right: 1px solid #666; font-size: smaller;
      }

.matrix-body {
display: block; overflow: hidden;
position: absolute; top: 50px; left: 0px; right: 0px; bottom: 0px;
border-top: 2px solid #000;
}
.matrix-row-header-box {
display: block;
position: absolute; left: 0; width: 123px; top: 0; bottom: 0;
border-right: 2px solid #000; background: #eee;
}
      .matrix-row-header-box td {
	  width: 100%; max-width: none; min-width: none;
	  border-bottom: 1px solid #666; font-size: smaller;
      }

.matrix-cell-body {
display: block; overflow: auto;
position: absolute; left: 125px; right: 0; top: 0; bottom: 0;
}

.matrix-body tr {
height: 34px; vertical-align: middle;
}


.matrix-cell {
width: 50px; max-width: 50px; min-width: 50px;
margin: 0px; padding: 0 2px;
vertical-align: middle; text-align: center;
font-size: 0.9em;
}
.matrix .invalid-cell, .matrix .inactive { background-color: #ccc; }
.matrix .data-cell.active { background-color: #cfc; }
.matrix .data-cell.filled { background-color: #ccf; }

.matrix .matrix-cell.non-sequential { border-right: 2px solid #666;}
/*.matrix .non-sequential:last-child { border-right-width: 0px; }*/
.matrix-cell-body .matrix-cell { border: 0px solid #666; border-width: 0px 1px 1px 0px; }


.matrix-cell .tooltip {
/*display: block; width: 100%; height: 100%;
position: absolute; top:0; bottom:0; left:0; right:0;*/
}

/* DD_proxy */
.class-dd-proxy {
width: 50px; text-align: center;
height: 50px; line-height: 50px;
background: #ccc; border: 2px solid #999;
opacity: .6;
}
.matrix .data-cell.active.dd-hover { background-color: #0f0; }
.matrix .data-cell.dd-highlight { background-color: #6f6; }


/*
 * the Directory
 */
.directory-table-wrapper {
position: absolute;
top: 50px; left: 0px; right: 0px; bottom: 10px;
border: 1px solid black;
}

.directory {
position: relative; height: 100%; width: 100%;
border: 1px solid black;
border-spacing: 0px; border-collapse: collapse;
}
.directory .header td { height: auto; }
.directory span { float: left; padding-right: 15px; margin-right: 10px; }
.directory .sort-by.desc span { background: url(media/down_arrow.png) no-repeat right center; }
.directory .sort-by.asc span { background: url(media/up_arrow.png) no-repeat right center; }

.directory tr { width: 100%; display: block; }
.directory tr {
border-bottom: 1px solid #999;	
}

.directory td {
text-align: center; vertical-align: top;
padding: 10px; height: 40px;
}

.directory td + td { border-left: 1px dotted #666; }

.directory tr.assigned {
background-color: #cfc;
}

.directory thead {
background-color: #eee; border-bottom: 1px solid black;
position: absolute;
top: 0; height: 40px; left: 0; right: 0;
}

.directory tbody {
overflow: auto;
position: absolute;
top: 41px; bottom: 0; left: 0; right: 0;
}

.searchbox {
position: absolute;
left: 10px; top: 20px;
right: 10px; height: 20px;
}

.searchbox input {
width: 300px;
margin-bottom: 20px;
}

.garbage {
width: 30px;
height: 30px;
background: grey;
border: 1px solid black;
margin-right: 200px;
}

.garbage.dd-highlight {
background: yellow;
}

.garbage.dd-hover {
background: red !important;
}
