#main p {
  color: #141414;
  font-family: georgia;
  font-size: 11pt;
  line-height: 125%;
}

a img {
  border: 0;
}

a:link {
  color: #497CCA;
  text-decoration: none;
}

a:visited {
  color: #497CCA
}

a:hover {
  color: #CC66FF
}

a:active {
  color: #497CCA
}

h1 {
  font-size: 18pt;
  color: #00003C;
  font-family: georgia;
  font-style: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: georgia, serif;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #141414;
}

#topleft {
  background: #141414;
  width: 200px;
  height: 180px;
  float: left;
}

#nav_buttons {
  background: #00003C;
  float: none;
}

#nav_button1 {
  width: 165px;
  height: 180px;
  background-image: url(/media/images/linkf_01.gif); 
  float: left;
}
  
#nav_button1:hover {
  background-image: url(/media/images/linkr_01.gif);
}
  
#nav_button2 {
  width: 137px;
  height: 180px;
  background-image: url(/media/images/linkf_02.gif); 
  float: left;
}
  
#nav_button2:hover {
  background-image: url(/media/images/linkr_02.gif);
}
  
#nav_button3 {
  width: 137px;
  height: 180px;
  background-image: url(/media/images/linkf_03.gif); 
  float: left;
}
  
#nav_button3:hover {
  background-image: url(/media/images/linkr_03.gif);
}
  
#nav_button4 {
  width: 161px;
  height: 180px;
  background-image: url(/media/images/linkf_04.gif); 
  float: right;
}
  
#nav_button4:hover {
  background-image: url(/media/images/linkr_04.gif);
}
  
#navbar_header {
  background: #BCCAF5;
  float: left;
  width: 200px;
  height: 30px;
}

#main_header {
  background: #497CCA;
  float: right;
  width: 600px;
  min-height: 30px;
  color: #FFFFFF;
  font-family: georgia;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

#navbar {
  float: left;  
  width: 200px;
  background: #141414;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#navbar_content {
  margin: 15px;
}

#main {
  background: white;
  float: right;
  width: 600px;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#main_content {
  margin: 15px;
}

.announcementlink_title {
  color: #BCCAF5;
  font-size: 11pt;
  line-height: 140%;
  font-weight: bold;
}

#navbar {
  color: #FFFFFF;
  font-size: 80%;
  line-height: 130%;
}

#navbar p {
  color: #FFFFFF;
  margin: 0pt;
//  margin-bottom: pt;
}

#navbar a:link {
  color: #BCCAF5;
  text-decoration: none;
}

#navbar a:visited {
  color: #BCCAF5;
}

#navbar a:hover {
  color: #497CCA;
}

#navbar a:active {
  color: #BCCAF5;
}

.learn {
  color: #4DCE3D;
}

.teach {
  color: #FCD221;
}

.volunteer {
  color: #ED1C24;
}

.more_info {
  color: #CC66FF;
}

div .emailwarning
{
  text-align: left;
  font-size: 1.0em;
  padding: 10px 10px 10px 10px;
  border: none;
  margin: 5px;
  overflow: visible;
  width: 540px;
  background-color: #ed1c24;
  color: #FFFFFF;
}
