#main p {
  color: #141414;
  font-family: georgia;
  font-size: 11pt;
  line-height: 125%;
}

a img {
  border: 0;
}

a:link {
  color: #497CCA;
  text-decoration: none;
}

a:visited {
  color: #497CCA
}

a:hover {
  color: #CC66FF
}

a:active {
  color: #497CCA
}

h1 {
  font-size: 18pt;
  color: #00003C;
  font-family: georgia;
  font-style: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: georgia, serif;
}

#content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background: #141414;
  overflow: hidden;
}

#topleft {
  background: #141414;
  width: 200px;
  height: 180px;
  float: left;
}

#nav_buttons {
  background: #00003C;
  width: 600px;
  height: 180px;
  float: right;
}

#navbar_header {
  background: #BCCAF5;
  float: left;
  width: 200px;
  height: 30px;
}

#main_header {
  background: #497CCA;
  float: right;
  width: 600px;
  min-height: 30px;
  color: #FFFFFF;
  font-family: georgia;
  font-style: italic;
  font-size: 11pt;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

#navbar {
  float: left;  
  width: 200px;
  background: #141414;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#navbar_content {
  margin: 15px;
}

#main {
  background: white;
  float: right;
  width: 600px;
  margin-bottom: -250cm;
  padding-bottom: 250cm;
}

#main_content {
  margin: 15px;
}

.announcementlink_title {
  color: #BCCAF5;
  font-size: 11pt;
  line-height: 140%;
  font-weight: bold;
}

#navbar {
  color: #FFFFFF;
  font-size: 80%;
  line-height: 130%;
}

#navbar p {
  color: #FFFFFF;
  margin: 0pt;
//  margin-bottom: pt;
}

#navbar a:link {
  color: #BCCAF5;
  text-decoration: none;
}

#navbar a:visited {
  color: #BCCAF5;
}

#navbar a:hover {
  color: #497CCA;
}

#navbar a:active {
  color: #BCCAF5;
}

.learn {
  color: #4DCE3D;
}

.teach {
  color: #FCD221;
}

.volunteer {
  color: #ED1C24;
}

.more_info {
  color: #CC66FF;
}

