
/* WARNING: This set of CSS themes (along with accompanying JavaScript)
 * lets you set things to be visible only for certain types of users.
 * This is *not secure*!  Users can always just do "View Source" to see it.
 * So only use it as a UI convenience; where you don't really care all
 * that much if people see text meant for another user type but you
 * don't want users to have to think about that text if they don't want to.
 *
 * Current recognized UserRoles:
 * Administrator
 * Educator
 * Guardian
 * Student
 * Teacher
 */

.Administrator_hidden {
  display: none;
}
.Educator_hidden {
  display: none;
}
.Guardian_hidden {
  display: none;
}
.Student_hidden {
  display: none;
}
.Teacher_hidden {
  display: none;
}

/* To provide greater specificity compared to Bootstrap's default .hidden */
 .nav .hidden {
  display: none;
  visibility: hidden;
}


