{% extends "main.html" %}

{% block title %}Static Page Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>Move a block of static pages</h1>

<p>The URL of a static page is a string without the domain name, so, for example, you would
    write <tt>/about/oobleck.html</tt> for the page <tt>https://yoursite.learningu.org/about/oobleck.html</tt>.
</p>

<p>
With the form below, you can reassign those components in order to move the page.
</p>

<div id="program_form">
<form method="post" action="{{ request.path }}?cmd=bulk_move">
<input type="hidden" name="confirm" value="True" />
<table align="center" cellpadding="0" cellspacing="0" width="450"> 
    <tr><th colspan="2">Options for bulk move</th></tr>
    <tr><th colspan="2" class="small">Pages to be moved</th></tr>
    {% for qsd in qsd_list %}
        <tr><td colspan="2">{{ qsd.url }}</td></tr>
    {% endfor %}
    <tr><th colspan="2" class="small">Common tree anchor: {{ common_path }}</th></tr>
    {{ form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Pages" /></td></tr>
</table>
</form>
</div>

<br />

{% endblock %}
