{% extends "main.html" %}

{% block title %}Static Page Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>Static Page Management</h1>

<div id="program_form">
<form method="post" action="{{ request.path }}?cmd=move&id={{ qsd.id }}">
<table align="center" cellpadding="0" cellspacing="0" width="450"> 
    <tr><th colspan="2">Options for {{ qsd.url }}</th></tr>
    {{ form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Page" /></td></tr>
</table>
</form>
</div>

<br />

{% endblock %}
