{% extends "outlines/series-3.html" %}
{% load subsection %}

{% block title %}{{ title }}{% endblock %}

{% block keywords %}{{ qsdrec.keywords|default_if_none:"esp,mit esp,mit,education,educational studies program,learn,teach,high school"|escape }}{% endblock %}
{% block description %}{{ qsdrec.description|default_if_none:""|escape }}{% endblock %}

{% block subsection %}{% autoescape off %}{{ title|subsection }}{% endautoescape %}{% endblock %}

{% block content_color %}{% ifequal qsdrec.description "learn" %}#4DCE3D{% else %}{% ifequal qsdrec.description "teach" %}#FCD221{% else %}{% ifequal qsdrec.description "volunteer" %}#ED1C24{% else %}{% ifequal qsdrec.description "more_info" %}#CC66FF{% else %}#FFFFFF{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endblock %}

{% block content %}

{% load render_qsd %}
{% autoescape off %}{% render_qsd qsdrec request.user %}{% endautoescape %}

{% if have_edit %}<a href="{{ edit_url }}">Edit this page</a>{% endif %}{% endblock %}
