{% extends "outlines/theme.html" %}

{% block title %}{{ title }} - EDIT{% endblock %}

{% block subsection_name %}QSD Editor{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
.wikitoolbar {
   min-width: 233px;
   border: 1px solid #333;
   float: left;
}

.wikitoolbar a {
   padding: 0;
   margin: 0;
}

.wikitoolbar a img {
   border: 2px solid #ccc;
}

.wikitoolbar a:hover img {
   border: 2px solid #cc9;
}
</style>
{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/markdown.js"></script>
{% endblock %}


{% block content %}
<form method="post" action="{{ request.path }}" enctype="multipart/form-data">

<h1>Static Page Editing</h1>
<p>Current URL path: <tt>{{ qsdrec.url }}</tt> <br />
<a href="{{ return_to_view }}">Back to Page View</a></p>

  <h2>Title</h2>
  <input type="text" name="title" value="{{ title|escape }}" size="64" />
  <br /><br />

  <h2>Metadata</h2>
  <p>
    <strong>Keywords</strong><input type="text" name="keywords" value="{{ keywords|default_if_none:""|escape }}" size="128" /> <br />
    <strong>Description</strong><br />
    <textarea name="description" rows="5" cols="85">{{ description|default_if_none:""|escape }}</textarea><br />
    <strong>Navigation Category: </strong>
    <select name="nav_category" value="{{ nav_category }}"/>
    {% for category in nav_categories %}
        <option value="{{ category.id }}" {% ifequal category.id nav_category.id %}selected{% endifequal %}>{{ category.name }} - {{ category.long_explanation|truncatewords:8 }}</option>
    {% endfor %}
    </select> <br />
  </p>

  <h2>Content</h2>
  <p>Please use <a href="http://daringfireball.net/projects/markdown/syntax">
     Markdown</a> whenever possible. (Although HTML will work.)
  </p>
  <p><textarea name="content" class="markdown" rows="50" cols="85">{{ content|escape }}</textarea></p>
  {% for file in missing_files %}
  <p><label target="{{ file }}">File: {{ file }}</label> &nbsp; <input type="file" name="{{ file }}" /></p>
  {% endfor %}
  <p><input type="submit" name="post_edit" value="Save Changes!" /> &nbsp;| <a href="{{ target_url }}">Cancel</a> | <a href="{{ return_to_view }}">Back to Page View</a></p>
</form>
<div id="divmainqsddatetimestamp">
  <p>Last modified by {{ qsdrec.author }} on {{ qsdrec.create_date }}</p>
</div>
{% endblock %}
