{% extends "main.html" %}

{% block title %}{{program.niceName}} Morphing Features{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Admin morph for {{ program.niceName }}</h1>

<p>
From this page you can access any student or teacher account to update their registration information.
Select your target group below; you will be presented with a search page where you can put in a name, ID, or anything else to help find the person you're looking for.
Searching within your program is fastest, but sometimes you need to morph into someone who is not already a student or teacher.
If you have any other ideas for saved groups, ask the webmasters.
</p>

<h3>Possibilities</h3>
<ul>
<li><a href="/manage/{{ program.getUrlBase }}/admin_morph/student" title="Students only">Morph into a student</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/admin_morph/teacher" title="Teachers only">Morph into a teacher</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/admin_morph/volunteer" title="Volunteers only">Morph into a volunteer</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/admin_morph/program" title="Program participants only">Morph into a program participant (student or teacher or volunteer)</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/admin_morph/all" title="Program participants only">Morph into anyone in the database</a></li>
</ul>

{% include "program/modules/admincore/returnlink.html" %}

{% endblock %}
