    <tr>
        <td>
            <b>{{ class.emailcode }}: {{ class.title|escape }}</b>
        </td>
        <td>
       <span class="teachers">
       {% for teacher in class.teachers %}
       <a href="/teach/teachers/{{ teacher.last_name|urlencode }}/{{ teacher.first_name|urlencode }}{{ teacher.getUserNum }}/bio.html" 
          title="Click for the biography of {{teacher.first_name }} {{teacher.last_name }}">
          {{ teacher.first_name }} {{teacher.last_name }}
       </a>{% if not forloop.last %}<br />{% endif %}{% endfor %}
       </span>
        </td>
        <td>
            {{ class.class_info }}
        </td>
        <td>
            {{ class.grade_min }}--{{ class.grade_max }}
        </td>
    </tr>
