{% extends "inclusion/program/class_teacher_list_row.html" %}

{% block cls_title %}
  <td class="clsleft classname bordertop2" colspan="5">
    <span title="{{cls}}">
      {{ cls.parent_program.niceName }} -- 
      {{ cls|truncatewords:6 }}
      <a title="Catalog Preview" href="{{ cls.parent_program.get_teach_url }}catalogpreview/{{ cls.id }}">&raquo;</a>
    </span>
  </td>
{% endblock %}

{% block cls_row_1_buttons %}
  <td class="clsmiddle bordertop2" colspan="1">
    <a class="abutton" href="{{ prog.get_teach_url }}copyaclass?cls={{ cls.id }}"
       title="Duplicate {{ cls }}">Duplicate</a>
  </td>

  <td class="clsright bordertop2">
    {% if cls.pageExists %}
    <a class="abutton" href="/learn/{{cls.getUrlBase}}/index.html"
       title="{{ cls }}...">Visit web page</a>
    {% endif %}
  </td>
{% endblock %}

{% block cls_row_2_buttons %}{% endblock %}

{% block cls_row_3_buttons %}{% endblock %}

{% block cls_row_4_buttons %}
  {% if cls_manageable %}
  <td class="clsright">
    <form method="post" action="/teach/{{program.getUrlBase}}/coteachers">
      <input type="hidden" name="command" value="edit_class_{{cls.id}}" />
      <input type="hidden" name="clsid"   value="{{cls.id }}" />
      <input class="button" type="submit" value="Modify Coteachers">
    </form>
  </td>
  {% endif %}
{% endblock %}

{% block cls_row_5_buttons %}{% endblock %}
