{% load latex %}
{% load smartypants %}
    <tr onclick="swap_visible('{{ class.id }}_details');swap_visible('{{ class.id }}_content');swap_visible('{{ class.id }}_regbuttons');" style="cursor: pointer;">
      <th colspan="2" style="padding: 5px; width: 70%;{{ colorstring }}">
          {% if class.got_index_qsd %}
           <a href="Classes/{{ class.emailcode }}/index.html">{% if show_emailcodes %}{{ class.emailcode }}: {% endif %}{{ class.title|escape|teximages:150|smartypants }}</a>
          {% else %}
           {% if show_emailcodes %}{{ class.emailcode }}: {% endif %}{{ class.title|escape|teximages:150|smartypants }} {% if class.isFull %}<font color="#990000" style="font-size: 14px">Full!</font>{% endif %}
          {% endif %}
	 
	 {% ifnotequal class.hardness_rating "Normal"  %} <br />
	   <font style="font-size:10px">Difficulty:
	   {% ifequal class.hardness_rating "Hard" %}
	     Hard - This class may be exceptionally difficult
	   {% endifequal %}
	   {% ifequal class.hardness_rating "Easy" %}
	     Easy - Even an elementary school student could take this class
	   {% endifequal %}
	   </font>
	 {% endifnotequal %}

      </th>
      <th style="padding: 5px; width: 30%;{{ colorstring }}">
       <span class="teachers">
       {% for teacher in class.teachers %}
       <a href="/teach/teachers/{{ teacher.username|urlencode }}/bio.html"
          title="The biography of {{teacher.first_name }} {{teacher.last_name }}">{{ teacher.first_name }} {{teacher.last_name }}</a>{% if not forloop.last %},{% endif %}
       {% endfor %}
       </span>
       </th>
     </tr>
     <tr id="{{ class.id }}_content" class="classcontent">
       <td colspan="3" class="info">
        {% autoescape off %}
         {{ class.class_info|escape|teximages:120|smartypants|linebreaksbr }}<br />
        {% endautoescape %}
       {% if class.prereqs %}
       <br /><br />
       <em>*Prerequisites*</em><br />
       <span style="font-style:italic;">
         {{ class.prereqs }}
       </span>
       {% endif %}
       </td>
     </tr>
    <tr id="{{ class.id }}_details" class="classdetails">
      <td style="width: 50%;" valign="top">
        {% if show_meeting_times %}
        <strong>Meeting Time{{ class.friendly_times|pluralize }}</strong>
        <br />
	  {% for sec in class.get_sections %}
           {% if not sec.friendly_times|length_is:0 %}Section {{ sec.index }}: {{ sec.friendly_times|join:", "|smartypants }} <br />{% endif %}
          {% endfor %}
        <br />
        {% endif %}
      </td>

      <td style="width: 50%;" colspan="2">
         <strong>Grades:</strong>
           <span class="gradelisting grademin" id="{{ class.id }}_grade_min">{{ class.grade_min }}</span>-<span class="gradelisting grademax" id="{{ class.id }}_grade_max">{{ class.grade_max }}</span><br />
         {% if show_enrollment %} 
         <strong>Enrollment</strong><br />
           {% for sec in class.get_sections %}
              {% with sec.isRegClosed as is_closed %}
              {% if is_closed %}<font color="#999999">(Closed) {% endif %}
              {% if not sec.friendly_times|length_is:0 %}Section {{ sec.index }}: {% if sec.isFull or is_closed %}<strong><font color="#990000">Full!</font></strong>{% else %}{{ sec.num_students }}{% if sec.num_apps %} ({{ sec.num_apps }} applied){% endif %}{% endif %} (max {{ sec.capacity }})<br />{% endif %} 
              {% if is_closed %}</font>{% endif %}
              {% endwith %}
           {% endfor %}
        {% endif %}
        <br />
      </td>
    </tr>
    {% if class.media_count %}
    <tr id="{{ cls.id }}_media" class="classmedia">
      <th colspan="3" class="materials">
       <b>Materials for this class include:</b>
	<span class="doclist">
	{% for doc in class.docs_summary %}
	<a href="{{ doc.get_target_file_url}}">{{ doc.friendly_name }}</a>{% if not forloop.last %},{% endif %}
	{% endfor %}
	</span>
	<br /><b><a href="{{ class.parent_program.get_learn_url }}class_docs/{{ class.id }}">Click here to view all {{ class.media_count }} documents for {{ class.title }}</a></b>
      </th>
     </tr>
    {% endif %}

    {% with class.numStudentAppQuestions as num_questions %}
    {% if num_questions %}
    <tr>
      <th colspan="3" class="materials">
       This class has {{ num_questions }} application question{{ num_questions|pluralize }}.
      </th>
     </tr>
    {% endif %}
    {% endwith %}

{% if class.isFull %}
<!-- This class is already full; start it off as invisible -->
<script language="JavaScript">
swap_visible('{{ class.id }}_details');
swap_visible('{{ class.id }}_content');
</script>
{% endif %}

