{# expects program, class, and teacherclsmodule (ClassRegModuleInfo) #}
<tr>
  {% block cls_title %}
  <td class="clsleft classname bordertop2" colspan="2">
    <span title="{{cls}}">
      {{ cls|truncatewords:6 }}
      <a title="Catalog Preview" href="{{ cls.parent_program.get_teach_url }}catalogpreview/{{ cls.id }}">&raquo;</a>
    </span>
  </td>
  {% endblock %}
  {% block cls_row_1_buttons %}
  <td class="clsmiddle bordertop2">
    <form method="post" action="/teach/{{program.getUrlBase}}/deleteclass/{{cls.id }}" onsubmit="return deleteClass();">
      <input class="button" type="submit" value="Delete" {% if cls.num_students or not module.deadline_met %}disabled {% endif %} />
    </form>
  </td>
  <td class="clsmiddle bordertop2">
    <form method="post" action="/teach/{{program.getUrlBase}}/editclass/{{cls.id }}">
      <input type="hidden" name="command" value="edit_class_{{cls.id}}">
      {% if can_edit %}
      <input class="button" type="submit" value="Edit">
      {% else %}
      <input class="button" type="submit" value="View">
      {% endif %}
    </form>
  </td>
  <td class="clsmiddle bordertop2">
    <form method="get" action="/teach/{{program.getUrlBase}}/class_status/{{cls.id}}">
      <input class="button" type="submit" value="Detailed Status" />
    </form>
  </td>

  <td class="clsright bordertop2">
    {% if cls.pageExists %}
    <a class="abutton" href="/learn/{{cls.getUrlBase}}/index.html"
       title="{{ cls }}...">Visit web page</a>
    {% else %}
    <a class="abutton" href="/learn/{{cls.getUrlBase}}/index.edit.html"
       title="Create `{{ cls }}'...">Create web page</a>
    {% endif %}
  </td>
  {% endblock %}
</tr>

<tr>
  <td class="clsleft" colspan="5">
    <b>Directors' review status</b>: {% if cls.isReviewed %}{% if cls.isAccepted %}
    <span style="font-weight: bold; color: #0C0;">Accepted</span>
    {% else %}
    <span style="font-weight: bold; color: #C00;">Rejected</span>
    {% endif %}
    {% else %}
    <span style="font-weight: bold; color: #00C;">Unreviewed</span>
    {% endif %}
  </td>
  {% block cls_row_2_buttons %}
  <td class="clsright" colspan="1">
    <a href="/teach/{{program.getUrlBase}}/class_students/{{cls.id}}" 
       title="View Class' Students" class="abutton">
      View Students
    </a>
  </td>
  {% endblock %}
</tr>

<tr>
  <td class="clsleft" colspan="5">
    <b>Document uploads</b>: There are {{ cls.anchor.media_set.count }} documents associated with this class.
  </td>
  {% block cls_row_3_buttons %}
  <td class="clsright" colspan="1">
    <a href="/teach/{{ program.getUrlBase }}/class_docs/{{cls.id}}" title="Upload/manage files" class="abutton">Manage Documents</a>
  </td>
  {% endblock %}
</tr>

{% if teacherclsmodule.allow_coteach %}
<tr>
  <td class="clsleft"><b>(Co-)Teachers: </b></td>
  <td class="clsmiddle" colspan="4">{% for t in cls.teachers %}{% ifnotequal t request.user %}{{ t.first_name }} {{ t.last_name }}{% if not forloop.last %}, {% endif %}{% endifnotequal %}{% endfor %}</td>
  {% block cls_row_4_buttons %}
  <td class="clsright">
    <form method="post" action="/teach/{{program.getUrlBase}}/coteachers">
      <input type="hidden" name="command" value="edit_class_{{cls.id}}" />
      <input type="hidden" name="clsid"   value="{{cls.id }}" />
      <input class="button" type="submit" value="Modify Coteachers">
    </form>
  </td>
  {% endblock %}
</tr>
{% endif %}

{% for sec in cls.sections.all %}
<tr>
  <td class="clsleft" valign="top"><i>Section {{ sec.index }}</i> <br />
    Status: {% if sec.isReviewed %}{% if sec.isAccepted %}
    <span style="font-weight: bold; color: #0C0;">Accepted</span>
    {% else %}
    <span style="font-weight: bold; color: #C00;">Rejected</span>
    {% endif %}
    {% else %}
    <span style="font-weight: bold; color: #00C;">Unreviewed</span>
    {% endif %}
  </td>
  <td class="clsmiddle" valign="top" colspan="3">Room: {% if sec.initial_rooms %}{% for r in sec.initial_rooms %}{{ r.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Unassigned{% endif %} <br />Time: {% if sec.friendly_times|length_is:0 %}Unassigned{% else %}{% if friendly_times_with_date %}{% for f in sec.friendly_times_with_date %}{{ f }}{% endfor %}{% else %}{% for f in sec.friendly_times %}{{ f }}{% endfor %}{% endif%}{% endif %}</td>
  <td class="clsmiddle" valign="top">{{ sec.num_students }} / {{ sec.capacity }} students
    <br />(<a href="/teach/{{ program.getUrlBase }}/section_students/{{ sec.id }}">view list</a>) 
  </td>
  {% block cls_row_5_buttons %}
  <td class="clsright" valign="top"><a class="abutton" href="mailto:{{ sec.emailcode }}-students@{{ email_host }}">E-mail students</a></td>
  {% endblock %}
</tr>
{% endfor %}
