{% if show_class %}
    {% load latex %}
    {% load smartypants %}
    {% load class_render %}

    <div class="show_class">
    <table cellpadding="0" cellspacing="0" {% if errormsg %}style="background: #ccc;" class="class_error"{% endif %}>
    {% render_class_core class %}
    {% if prereg_url %}
        <tr>
        <td colspan="3" align="center" valign="center" class="add_class">
        {% if errormsg %}
            <span class="error" style="font-size: 16px;">{{ errormsg }}</span> 
            {% if user.onsite_local %}
                <br />
                <form name="prereg_{{ section.id }}" onsubmit="return submit_override_prereg('{{ section.id }}');" method="post" action="{{ prereg_url }}">
                    <input type="hidden" name="class_id" value="{{ class.id }}" />
                    <input type="hidden" name="section_id" value="{{ section.id }}" />
                    <input type="submit" class="addbutton" name="action" value="Add this class anyway!"
                                 id="submitbutton{{ section.id }}" />
                </form>
            {% endif %}
        {% else %}
            {% if section %}
                {% if not section.isRegClosed %}
                <form id="prereg_{{ section.id }}" name="prereg_{{ section.id }}" method="post" action="{{ prereg_url }}">
                  <input type="hidden" name="class_id" value="{{ class.id }}" />
                      <input type="hidden" name="section_id" value="{{ section.id }}" />
                      {% if not section.isFull %}
                      <div id="addbutton_fillslot_sec{{ section.id }}"><input type="submit" class="addbutton" name="action" value="Add this class" id="submitbutton{{ class.id }}" /></div>
<!--                      <div id="addbutton_fillslot_sec{{ section.id }}"><input type="submit" class="addbutton" name="action" value="Add this class" onclick="return submit_prereg({{ class.id }});" id="submitbutton{{ class.id }}" /></div>  -->
                      {% else %}
                      <input type="submit" class="addbutton_disabled" name="action" value="{{ temp_full_message }}" id="submitbutton{{ sec.id }}" disabled />
                      {% endif %}
                </form>
                {% endif %}
            {% else %}
                {% for sec in class.get_sections %}
                    {% if not sec.isRegClosed and sec.isAccepted and not sec.friendly_times|length_is:0 %}
                    <form id="prereg_{{ sec.id }}" name="prereg_{{ sec.id }}" method="post" action="{{ prereg_url }}">
                      <input type="hidden" name="class_id" value="{{ class.id }}" />
                      <input type="hidden" name="section_id" value="{{ sec.id }}" />
                      <div id="addbutton_catalog_sec{{ sec.id }}">
                      <input type="submit" class="addbutton" name="action" value="Register for section {{ sec.index }}" />
<!--                      <input type="submit" class="addbutton" name="action" value="Register for section {{ sec.index }}" onclick="return submit_prereg({{ sec.id }});" id="submitbutton{{ sec.id }}" /> -->
                      </div>
                    </form>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        </td>
        </tr>
    {% endif %}
    </table>
    </div>
    {% if ajax_prereg_url %}
    <script type="text/javascript">
    function initialize_prereg_{{ class.id }}() 
    {
        {% if section %}
    // Section provided
        {% comment %} This code would allow fillslot pages to use Ajax too.  But we don't want that yet.  -Michael P 
            {% if not section.isRegClosed %}
        register_form({id: "prereg_{{ section.id }}", url: "/learn/{{ class.parent_program.getUrlBase }}/ajax_addclass"});
        register_fragment({id: "addbutton_fillslot_sec{{ section.id }}_html", url: ""});
            {% endif %}
        {% endcomment %}
        {% else %}
            {% for sec in class.sections.all %}
// Hi! {{ sec }}
                {% if not sec.isRegClosed and sec.isAccepted and not sec.friendly_times|length_is:0 %}
        register_form({id: "prereg_{{ sec.id }}", url: "/learn/{{ class.parent_program.getUrlBase }}/ajax_addclass"});
        register_fragment({id: "addbutton_catalog_sec{{ sec.id }}_html", url: ""});
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    initialize_prereg_{{ class.id }}();
    </script>
    {% endif %}
    
{% endif %}
