{% load latex %}
{% load smartypants %}
    <tr>
      <th colspan="2" style="width: 70%;{{ colorstring }}">
	{% if class.got_qsd %}<a href="Classes/{{ class.emailcode }}/index.html">{% endif %}{{ class.emailcode }}: {{ class.title|escape|teximages:150|smartypants }}{% if class.got_qsd %}</a>{% endif %}
      </th>
      <th style="width: 30%;{{ colorstring }}">
       <span class="teachers">
       {% for teacher in class.teachers %}
       <a href="/teach/teachers/{{ teacher.username|urlencode }}/bio.html" 
          title="Click for the biography of {{teacher.first_name }} {{teacher.last_name }}">
          {{ teacher.first_name }} {{teacher.last_name }}
       </a>{% if not forloop.last %},{% endif %}{% endfor %}
       </span>
       </th>
     </tr>
     <tr>
       <td colspan="3" class="info">
        {% autoescape off %}
         {{ class.class_info|escape|teximages:120|smartypants|linebreaksbr }}<br />
        {% endautoescape %}
       {% if class.prereqs %}
       <br /><br />
       <em>*Prerequisites*</em>
       <p style="padding-left: 10px; font-style:italic;">
         {{ class.prereqs }}
       </p>
       {% endif %}
       </td>
     </tr>
    <tr>
      <td style="width: 50%;" valign="top">
        <strong>Meeting Time{{ class.friendly_times|pluralize }}</strong>
        <br />
	  {% for sec in class.sections.all %}
           Section {{ sec.index }}: {% if not sec.friendly_times|length_is:0 %}{{ sec.friendly_times|join:", " }}{% else %}Unassigned{% endif %} <br />
          {% endfor %}
        <br />
      </td>
 
      <td style="width: 50%;" colspan="2">
         <strong>Grades:</strong>
           {{ class.grade_min }}--{{ class.grade_max }} 
         {% if show_enrollment %} <br />
         <strong>Enrollment: {% if isfull %}<font color="#990000">Class is full!</font></strong>{% else %}</strong>{{ class.num_students }}{% endif %}
           (max {{ class.class_size_max }})
        {% endif %}
      </td>
    </tr>
    {% if class.media_count %}
    <tr>
      <th colspan="3" class="materials">
       <b>Materials for this class include:</b> 
	<span class="doclist">
	{% for doc in class.docs_summary %}
	<a href="{{ doc.get_target_file_url}}">{{ doc.friendly_name }}</a>{% if not forloop.last %},{% endif %} 
	{% endfor %}
	</span>
	<br /><b><a href="{{ class.parent_program.get_learn_url }}class_docs/{{ class.id }}">Click here to view all {{ class.media_count }} documents for {{ class.title }}</a></b>
      </th>
     </tr>
    {% endif %}
