{# expects program, class, can_req_cancel, survey_results, crmi (ClassRegModuleInfo), user #}

{% load users %}

<tr{% if not cls.isReviewed %} style="color: gray"{% endif %}{% if cls.isRejected or cls.isCancelled %} style="color: red"{% endif %}>
  {% block cls_title %}
  <td class="clsleft classname bordertop2" colspan="7">
    <span title="{{cls}}">
      {{ cls|truncatewords:6 }}
    </span>
  </td>
  {% endblock %}
</tr>

<tr>
    <td class="clsleft" colspan="5">
        <b>Directors' review status</b>:
        {% if cls.isReviewed %}
            {% if cls.isAccepted %}
            <span style="font-weight: bold; color: #0C0;">Accepted{% if cls.isHidden %} (Hidden){% endif %}</span>
            {% elif cls.isCancelled %}
            <span style="font-weight: bold; color: #C00;">Cancelled</span>
            {% else %}
            <span style="font-weight: bold; color: #C00;">Rejected</span>
            {% endif %}
        {% else %}
        <span style="font-weight: bold; color: #00C;">Unreviewed</span>
        {% endif %}
    </td>
    {% block cls_row_1_buttons %}
    <td>
        <div class="btn-group" id="manage_links">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Manage options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/teach/{{program.getUrlBase}}/editclass/{{cls.id }}" title="View/edit class" target="_blank">View/Edit</a></li>
                <li><a href="/teach/{{program.getUrlBase}}/coteachers?clsid={{cls.id}}" title="Add/remove coteachers" target="_blank">Modify Coteachers</a></li>
                <li><a href="/teach/{{program.getUrlBase}}/class_status/{{cls.id}}" title="View detailed status" target="_blank">Detailed Status</a></li>
                <li><a href="{{ cls.parent_program.get_teach_url }}catalogpreview/{{ cls.id }}" title="Catalog preview" target="_blank">Catalog Preview</a></li>
                <li><a href="/teach/{{ program.getUrlBase }}/class_docs/{{cls.id}}" title="Upload/manage files" target="_blank">Manage Documents</a></li>
                {% if not cls.isRejected and not cls.isCancelled %}
                <li>
                    {% if cls.got_index_qsd %}
                    <a href="/learn/{{ cls.url }}/index.html"
                       title="{{ cls }}..." target="_blank">Visit web page</a>
                    {% else %}
                    <a href="/learn/{{ cls.url }}/index.edit.html"
                       title="Create `{{ cls }}'..." target="_blank">Create Web Page</a>
                    {% endif %}
                </li>
                {% if survey_results %}
                <li><a href="/teach/{{ program.getUrlBase }}/survey/review?classsubject_id={{ cls.id }}"
                   title="Review results from student survey" target="_blank">Student Survey Results</a></li>
                {% endif %}
                {% endif %}
            </ul>
        </div>
    </td>
    {% if cls.isAccepted %}
    <td>
        <div class="btn-group" id="student_links">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Student list options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu multi-level">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Class</a>
                    <ul class="dropdown-menu">
                      <li><a href="/teach/{{program.getUrlBase}}/class_students/{{cls.id}}" 
                        title="View students enrolled in any section" target="_blank">View Class' Students</a></li>
                      <li><a href="mailto:{{ cls.emailcode }}-students@{{ email_host_sender }}"
                        title="Email students enrolled in any section" target="_blank">Email Class' Students</a></li>
                    </ul>
                </li>
                {% for sec in cls.sections.all %}
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Section {{ sec.index }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="/teach/{{ program.getUrlBase }}/section_students/{{ sec.id }}"
                        title="View students enrolled in section {{ sec.index }}" target="_blank">View Section {{ sec.index }}'s Students</a></li>
                        <li><a href="mailto:{{ sec.emailcode }}-students@{{ email_host_sender }}"
                         title="Email students enrolled in section {{ sec.index }}" target="_blank">Email Section {{ sec.index }}'s Students</a></li>
                        {% if sec.meeting_times.count > 0 %}
                            <li><a href="/teach/{{ program.getUrlBase }}/section_attendance/{{ sec.id }}"
                            title="Take attendance for section {{ sec.index }}" target="_blank">Section {{ sec.index }} Attendance</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% endblock %}
</tr>

<tr>
  <td class="clsleft" colspan="6">
    <b>Document uploads</b>: There are {{ cls.documents.count }} documents associated with this class.
  </td>
  <td class="clsmiddle">
    {% if can_req_cancel %}
        <button class="btn btn-info" onclick="requestCancel({{cls.id}})">Request Cancellation</button>
    {% endif %}
  </td>
</tr>



{% if crmi.allow_coteach %}
<tr>
  <td class="clsleft"><b>Coteachers (<a href="mailto:{{ cls.emailcode }}-teachers@{{ email_host_sender }}">email</a>): </b></td>
  <td class="clsmiddle" colspan="5">{% for t in cls.teachers.all|remove_from_qs:user %}{{ t.first_name }} {{ t.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
{% endif %}



{% if cls.isAccepted %}
{% for sec in cls.sections.all %}
<tr>
  <td class="clsleft" valign="top"><i>Section {{ sec.index }}</i> <br />
    Status:
    {% if sec.isReviewed %}
        {% if sec.isAccepted %}
        <span style="font-weight: bold; color: #0C0;">Accepted{% if sec.isHidden %} (Hidden){% endif %}</span>
        {% elif sec.isCancelled %}
        <span style="font-weight: bold; color: #C00;">Cancelled</span>
        {% else %}
        <span style="font-weight: bold; color: #C00;">Rejected</span>
        {% endif %}
    {% else %}
    <span style="font-weight: bold; color: #00C;">Unreviewed</span>
    {% endif %}
  </td>
  <td class="clsmiddle" valign="top" colspan="4">
    Room: {% if sec.initial_rooms %}{% for r in sec.initial_rooms %}{{ r.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}Unassigned{% endif %} <br />
    Time: {% if sec.friendly_times|length_is:0 %}Unassigned{% else %}{% if friendly_times_with_date %}{% for f in sec.friendly_times_with_date %}{{ f }}{% endfor %}{% else %}{% for f in sec.friendly_times %}{{ f }}{% endfor %}{% endif%}{% endif %}<br />
  </td>
  <td class="clsmiddle" valign="top" colspan="3">
    {{ sec.num_students }} / {{ sec.capacity }} students <br />
    {% if sec.get_moderators %}{{ program.getModeratorTitle }}s: {% for m in sec.get_moderators %}<a href="mailto:{{ m.email }}">{{ m.first_name }} {{ m.last_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}
  </td>
</tr>
{% endfor %}
{% endif %}