{% load latex %}
{% load smartypants %}
    <tr onclick="swap_visible('{{ class.id }}_details');swap_visible('{{ class.id }}_content');" style="cursor: pointer;">
      <th colspan="2" style="width: 70%;{{ colorstring }}">
          {% if class.got_index_qsd %}
           <a href="Classes/{{ class.emailcode }}/index.html">{{ class.emailcode }}: {{ class.title|escape|teximages:150|smartypants }}</a>
          {% else %}
           {{ class.emailcode }}: {{ class.title|escape|teximages:150|smartypants }} {% if class.isFull %}<font color="#990000" style="font-size: 14px">Full!</font>{% endif %}
          {% endif %}
      </th>
      <th style="width: 30%;{{ colorstring }}">
       <span class="teachers">
       {% for teacher in class.teachers %}
       <a href="/teach/teachers/{{ teacher.username|urlencode }}/bio.html" 
          title="The biography of {{teacher.first_name }} {{teacher.last_name }}">{{ teacher.first_name }} {{teacher.last_name }}</a>{% if not forloop.last %},{% endif %}
       {% endfor %}
       </span>
       </th>
     </tr>
     <tr id="{{ class.id }}_content">
       <td colspan="3" class="info">
        {% autoescape off %}
         {{ class.class_info|escape|teximages:120|smartypants|linebreaksbr }}<br />
        {% endautoescape %}
       {% if class.prereqs %}
       <br /><br />
       <em>*Prerequisites*</em>
       <p style="padding-left: 10px; font-style:italic;">
         {{ class.prereqs }}
       </p>
       {% endif %}
       </td>
     </tr>
    <tr id="{{ class.id }}_details">
      <td style="width: 50%;" valign="top">
        <strong>Meeting Time{{ class.friendly_times|pluralize }}</strong>
        <br />
	  {% for sec in class.get_sections %}
           {% if not sec.friendly_times|length_is:0 %}Section {{ sec.index }}: {{ sec.friendly_times|join:", "|smartypants }} <br />{% endif %}
          {% endfor %}
        <br />
      </td>
 
      <td style="width: 50%;" colspan="2">
         <strong>Grades:</strong>
           {{ class.grade_min }}-{{ class.grade_max }}
         {% if show_enrollment %} <br />
         <strong>Enrollment</strong><br />
           {% for sec in class.get_sections %}
              {% with sec.isRegClosed as is_closed %}
              {% if is_closed %}<font color="#999999">(Closed) {% endif %}
              {% if not sec.friendly_times|length_is:0 %}Section {{ sec.index }}: {% if sec.isFull or is_closed %}<strong><font color="#990000">Full!</font></strong>{% else %}{{ sec.num_students }}{% if sec.num_apps %} ({{ sec.num_apps }} applied){% endif %}{% endif %} (max {{ sec.capacity }})<br />{% endif %} 
              {% if is_closed %}</font>{% endif %}
              {% endwith %}
           {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% if class.media_count %}
    <tr>
      <th colspan="3" class="materials">
       <b>Materials for this class include:</b> 
	<span class="doclist">
	{% for doc in class.docs_summary %}
	<a href="{{ doc.get_target_file_url}}">{{ doc.friendly_name }}</a>{% if not forloop.last %},{% endif %} 
	{% endfor %}
	</span>
	<br /><b><a href="{{ class.parent_program.get_learn_url }}class_docs/{{ class.id }}">Click here to view all {{ class.media_count }} documents for {{ class.title }}</a></b>
      </th>
     </tr>
    {% endif %}

    {% with class.studentappquestion_set.count as num_questions %}
    {% if num_questions %}
    <tr>
      <th colspan="3" class="materials">
       This class has {{ class.studentappquestion_set.count }} application question{% ifnotequal num_questions 1 %}s{% endifnotequal %}.
      </th>
     </tr>
    {% endif %}
    {% endwith %}

{% if class.isFull %}
<!-- This class is already full; start it off as invisible -->
<script language="JavaScript">
swap_visible('{{ class.id }}_details');
swap_visible('{{ class.id }}_content');
</script>
{% endif %}

