<tr id="cls-{{ cls_id }}-tr">
        <td>
            <a class="tooltip">{{ cls_code }}
            <span><b>Title</b>: {{ cls_title }}<br />
            <b>Requests:</b><br />
            {% for r in cls_requests %}- {{ r }}<br />{% endfor %}
            <b>Prereqs:</b> {{ cls_prereqs }}<br />
	    <b>Checkboxes: </b> <br />
	    {% for c in cls_checkitems %}- {{ c }}<br />{% endfor %}
            <b>Comments:</b> {{ cls_message }}</span>
            </a>
        </td>
        <td colspan="5">
            {% for teacher in cls_teachers %}
            <a class="tooltip">{{ teacher.first_name }} {{ teacher.last_name }}
            <span><b>{{ teacher.first_name }} {{ teacher.last_name }}</b><br />
            <b>Available times:</b><br />
            {% if teacher.available_times|length_is:0 %}None{% else %}
            {% for t in teacher.available_times %}
            - {{ t }} <br />
            {% endfor %}{% endif %}
            </span></a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
	<td>Grades: {% if cls_high_school_only %}<font color="blue">{% endif %}{{ cls.grade_min }}-{{ cls.grade_max }}{% if cls_high_school_only %}</font>{% endif %}</td>
        <td>
            <input type="hidden" id="cls-{{ cls_id }}-dirty" name="cls-{{ cls_id }}-dirty" value="False" />
            <input class="fancybutton" type="submit" value="Alter" />
        </td>
</tr>

{% for sec in cls_sections %}
    {% include "inclusion/program/section_scheduling.html" %}
{% endfor %}

