    <tr>
        <td colspan="5">
            <b>{{ class.emailcode }}: {{ class.title|escape }}</b>
        </td>
    </tr>
    {% for sec in class.get_sections %}
    <tr>
        <td><i>Section {{ sec.index }}</i></td>
        <td>
            {{ sec.friendly_times|join:", " }}
        </td>
        <td>
            {{ class.grade_min }}&ndash;{{ class.grade_max }}
        </td>
        <td>
            {{ sec.num_students }} / {{ sec.capacity }}
        </td>
        <td>
            {% for room in sec.initial_rooms %}
                {{ room.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
