{% extends "main.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/program/modules/extracosts.js"></script>
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
td>ul { list-style-type: none; padding: 0px }
</style>
<h1>Additional Purchases</h1>

{% load render_qsd %}

{% inline_program_qsd_block program "learn:extracosts" %}
<h2>This program contains additional items that you can pay for online.</h2>
<br />

<p>To purchase any of the following items, please check its corresponding checkbox and click "Save".  They will be added to your bill if you pay by credit card.  Otherwise, you will be charged when you arrive for the program.</p>

<p>Food and other additional items can only be changed up until <b>1 week before the program.</b></p>
{% end_inline_program_qsd_block %}

<br /> 
{% if paid_for %}<div class="alert alert-danger"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{ paid_for_text }}</div>{% endif %} 

<br />

{% if error_custom %}<div class="formerror">You selected a choice with a custom amount but did not specify an amount; please do so below. </div>
{% elif errors %}<div class="formerror">There was a problem recording your choices.  Please review the form and make sure that it is filled out completely.</div>{% endif %}

<br />

<div id="program_form">
<form action="" method="post">
<center>
<table width="400" cellpadding="2" cellspacing="0">
<tr><th>Additional Items for {{ program.niceName }}</th></tr>
{% for f in forms %}
<tr>
    <td><b>{{ f.LineItem.text }}</b> {% if f.LineItem.required or f.type == "sibling" %}(required; please make a selection below){% else %}(optional){% endif %}</td>
</tr>
<tr {% if f.type != "sibling" %}style="border-bottom: 1px dashed grey;"{% endif %}>
    <td>
        {% if f.type == "single" %}
            {% if f.form.cost.errors %}<div style="color: red;">{{ f.form.cost.errors|join:", " }}</div>{% endif %}
            {{ f.form.cost }} ${{ f.LineItem.amount_dec|floatformat:2 }}
        {% elif f.type == "multiple" %}
            {% if f.form.count.errors %}<div style="color: red;">{{ f.form.count.errors|join:", " }}</div>{% endif %}
            {{ f.form.count }} ${{ f.LineItem.amount_dec|floatformat:2 }} each
        {% elif f.type == "select" %}
            {% if f.form.option.errors %}<div style="color: red;">{{ f.form.option.errors|join:", " }}</div>{% endif %}
            {{ f.form.option }}
        {% elif f.type == "sibling" %}
            {% if f.form.siblingdiscount.errors %}<div style="color: red;">{{ f.form.siblingdiscount.errors|join:", " }}</div>{% endif %}
            {{ f.form.siblingdiscount }}
    </td>
</tr>
            <tr>
                <td>If you selected that you have a sibling, please enter their name below:</td>
            </tr>
            {% if f.form.siblingname.errors %}
            <tr>
                <td>
                    <div style="color: red;">{{ f.form.siblingname.errors|join:", " }}</div>
                </td>
            </tr>
            {% endif %}
            <tr style="border-bottom: 1px dashed grey;">
                <td>{{ f.form.siblingname }}</td>
            </tr>
        {% endif %}
        
        {# If num_options, radio buttons will be used for the field. In order to  #}
        {# be able to remove a selected item, we need a button. The Javascript    #}
        {# code for the button is in extracosts.js.                               #}

        {% if f.LineItem.num_options and not f.LineItem.required %}
            <button type="button"
                    class="remove-item"
                    name="{{ f.form.prefix }}-option{% if f.type == "select" and f.LineItem.has_custom_options %}_0{% endif %}"
                    onclick="remove_item(this);">
                Remove this item
            </button>
        {% endif %}
    </td>
</tr>
{% endfor %}
<tr>
    <td align="right">
        {% if forms %}
        <p>Total cost of selected items: <span style="font-weight: bold;" id="total_extras"></span></p>
        {% endif %}
        {% if not program.sibling_discount %}
        <p>Program admission: <span style="font-weight: bold;" id="amount_cost" data-total="{{ program.base_cost|floatformat:2 }}">${{ program.base_cost|floatformat:2 }}</span></p>
        {% endif %}
        {% if paid_for %}
        <p>Total amount previously paid: <span style="font-weight: bold;" id="amount_paid" data-total="{{ amount_paid|floatformat:2 }}">-${{ amount_paid|floatformat:2 }}</span></p>
        {% endif %}
        {% if finaid_grant %}
        <p>Total amount of financial aid: <span style="font-weight: bold;" id="amount_finaid" data-percent="{{ finaid_grant.percent|floatformat:2 }}" data-max_dec="{{ finaid_grant.amount_max_dec|floatformat:2 }}"></span></p>
        {% endif %}
        <p id="due_warning">Total amount due: <span style="font-weight: bold;" id="amount_due"></span></p>
        {% if paid_for %}
        <p id="donation_warning" style="color: blue;" hidden></p>
        {% endif %}
    </td>
</tr>
<tr>
    <td align="center">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </td>
</tr>
</table>
</center>
</form>
</div>

{% endblock %}
