4{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% load subsection %}
{% block subsection %}
{{ "Student Registration"|subsection }}{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Additional Purchases</h1>

{% load render_qsd %}
{% render_inline_qsd program.anchor "learn:extracosts" %}

{% if forms %}
<div id="program_form">
<h2>This program contains additional items that you can pay for online.</h2>
<br />

<p>To purchase any of the following items, please check its corresponding checkbox and click "Save".  They will be added to your bill if you pay by credit card.  Otherwise, you will be charged when you arrive for the program.</p>

<p>Food and other additional items can only be changed up until <b>1 week before the program.</b></p>

<br />

<form action="" method="post">
<center>
<table width="400" cellpadding="2" cellspacing="0">
<tr><th colspan="{% if select_qty %}4{% else %}3{% endif %}">Additional Items for {{ program.niceName }}</th></tr>
<tr>    
    <th class="small">Buy</th>
{% if select_qty %}    <th class="small">Qty</th>{% endif %}
    <th class="small">Item</th>
    <th class="small">Cost</th>
</tr>
{% for f in forms %}
<tr>
    <td>{{ f.form.cost }}</td>
{% if select_qty %}    <td>{{ f.form.count }}</td>{% endif %}
    <td>{{ f.LineItem.text }} </td>
    <td><i>${{ f.LineItem.amount|floatformat:2 }}</i></td>
</tr>
{% endfor %}
<tr>
    <td colspan="3" align="center">
        <input type="submit" class="fancybutton" value="Save"/>
    </td>
</tr>
</table>
</center>
</form>

{% endif %}

{% endblock %}
