{% comment %}
Expects:
    "q": a dictionary {
        'question': <Question object>,
        'answers': [iterable of <Answer object>s],
        }
    "num_students": Total count of people who could have answered the question
{% endcomment %}

{% load survey %}
{% load main %}

<table width="100%"> 
<tr>
    <td width="100%" valign="top" colspan="2"><b>{{ q.question.name }}</b> ({{ q.answers|length }}/{{ num_participants }} responses)</td>
</tr>
{% if q.question.question_type.is_countable %}
    <tr>
        <td {% if q.question.question_type.is_numeric %}width="50%"{% else %}colspan="2"{% endif %}>
            {% if not q.answers|length_is:0 %}
                {% with q.question.get_params as params %}
                    {% if q.question.question_type.is_numeric and params.number_of_ratings %}
                        {% comment %}Labeled Numeric Rating and Numeric Rating{% endcomment %}
                        {% with "format=html&max="|concat:params.number_of_ratings as args %}
                            {{ q.answers|unpack_answers|histogram:args|safe }}
                        {% endwith %}
                    {% elif q.question.question_type.name == "Yes-No Response" %}
                        {% with "format=html&opts=Yes|No" as args %}
                            {{ q.answers|unpack_answers|histogram:args|safe }}
                        {% endwith %}
                    {% else %}
                        {% comment %}Checkboxes and Multiple Choice{% endcomment %}
                        {% with params.list|join:"|" as opts %}
                            {% with "format=html&opts="|concat:opts as args %}
                                {{ q.answers|unpack_answers|histogram:args|safe }}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            {% else %} 
                There are no responses to this question.
            {% endif %}
        </td> 

        {% if q.question.question_type.is_numeric %} 
        <!-- An if statement to check if the question type is labeled numeric rating or numeric rating.
            If true, it is assumed to be of labeled numeric rating type/ numeric rating type-->
        <td width = "50%">
            <b>Statistics:</b>
            <ul>
                <li>Average: {{ q.answers|unpack_answers|average }}</li>
                <li>Std. deviation: {{ q.answers|unpack_answers|stdev }}</li>
                {% if q.question.per_class %}
                    <li>Average for all classes: {{ q.question.global_average }}</li>
                {% endif %}
            </ul>
            <!-- Creates a key that provides details about the Histogram Labeling-->
            <b>Response Labels:</b>
                {% with q.question.get_params as params %}
                    {% if not params.list|length_is:0 %}
                    <ul>
                    {% for label in params.list %}
                        <li> <b> {{ forloop.counter }}: </b>{{ label }} </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                        {% if params.lower_text or params.upper_text or params.middle_text %}
                        <ol style = "font-weight: bold;">
                            {% if params.lower_text %}
                            <li><span style="font-weight: normal;"> {{ params.lower_text }} </span></li>
                            {% endif %}
                            {% if params.middle_text %}
                                {% if not params.number_of_ratings|divisibleby:"2" %}
                                <li value = "{{ params.number_of_ratings|midValue }}"> <span style="font-weight: normal;"> {{ params.middle_text }} </span></li>
                                {% endif %}
                            {% endif %}
                            {% if params.upper_text %}
                            <li value = "{{ params.number_of_ratings }}"> <span style="font-weight: normal;"> {{ params.upper_text }} </span></li>
                            {% endif %}
                        </ol>
                        {% endif %}
                {% endwith %}
        </td>
        {% endif %}
    </tr>
{% else %}
    <tr>
        <td width="100%" colspan="2">
        {% ifequal q.question.question_type.name "Favorite Class" %}
            <ol>
            {% for fav in q.answers|unpack_answers|favorite_classes:20 %}
                <li>{{ fav.title }} ({{fav.votes}} votes)</li>
            {% empty %}
                <li>There are no responses to this question.</li>
            {% endfor %}
            </ol>
        {% else %}
            <ul>
            {% for ans in q.answers|drop_empty_answers %}
                <li><a href="/{{ tl }}/{{ program.getUrlBase }}/survey/review_single?{{ ans.survey_response.id }}" title="View this person&quot;s other responses">{{ ans.answer }}</a></li>
            {% empty %}
                <li>There are no responses to this question.</li>
            {% endfor %}
            </ul>
        {% endifequal %}
        </td>
    </tr>
{% endif %}
</tr>
</table>
