{% extends "main.html" %}

{% block title %}Please Select a Survey{% endblock %}

{% block keywords %}{% endblock %}

{% block description %}Please Select a Survey{% endblock %}

{% block content %}

<h1>Please Select a Survey:</h1>

{% if error %}
<font color="red"><p>Error: We lost track of your survey!  Please try again.</p></font>
{% else %}
<p> Several surveys were found for this program:</p>
{% endif %}

<ul>
{% for s in surveys %}
<li><a href="?survey_id={{ s.id }}">{{ s.name }}</a></li>
{% endfor %}
</ul>

{% if student_results %}
<p class="message">Alternatively, you can view the results of the student survey(s) for your class(es) by <a href="{{ request.path }}/review">going here</a>.
{% endif %}

{% endblock %}
