{% extends "main.html" %}

{% block title %}{{ program.niceName }} Survey{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}

<h2>Thank you!</h2>
<br />
<p>Your survey responses for {{ program.niceName }} have been saved.  We appreciate the help.</p>

{% if "teach" in request.path %}
<p><a href="/teach/{{ program.program_type }}/index.html">Click here</a> to return to the program's main page.</p>
{% elif "learn" in request.path %}
<p><a href="/learn/{{ program.program_type }}/index.html">Click here</a> to return to the program's main page.</p>
{% endif %}

{% endblock %}
