{% extends "outlines/series-3.html" %}

{% block title %}{{ program.niceName }} Survey Responses{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% load subsection %}
{% block subsection %}
    {% autoescape off %}{{ "Survey"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}
{% load survey %}

<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Survey Responses for {{ program.niceName }} </h1>

<div id="program_form">
<center>

{% for s in surveys %}
    <table width="600">
    <tr>
        <th>Responses for: {{ s.name }}</th>
    </tr>
    </table>
    {% for q in s.display_data.questions %}
        {% if q.question.question_type.is_countable %}
        <table width="600">
        <tr>
            <td width="35%" valign="top"><b>{{ q.question.name }}</b></td>
            <td>
                {% if not q.answers|length_is:0 %}
                    {{ q.answers|unpack_answers|histogram:"html"|safe }}
                    {% with q.question.get_params as params %}
                        {% if params.lower_text %}
                        <div style="text-align:right; font-weight:bold; font-size:0.8em; width:216px;">
                            <div style="float:left;">{{ params.lower_text }}</div>
                            {{ params.upper_text }}
                        </div>
                        {% endif %}
                    {% endwith %}
                {% else %} 
                    There are no responses to this question.
                {% endif %}
            </td>
            <td>
                <b>Statistics:</b>
                <ul>
                    <li>Number of responses: {{ q.answers|length }}/{{ s.num_participants }}</li>
                    {% if q.question.question_type.is_numeric %}
                    <li>Average: {{ q.answers|unpack_answers|average }}</li>
                    <li>Std. deviation: {{ q.answers|unpack_answers|stdev }}</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        </table>
        {% else %}
            {{ q.question.dump|uselist:q.answers }}
        {% endif %}
    {% endfor %}
{% endfor %}

{% if perclass_data %}
{% for c in perclass_data %}
    <table width="600">
    <tr>
        <th class="small">Responses for {{ c.class.emailcode }}: {{ c.class.title }}</th>
    </tr>
    </table>
    {% for q in c.questions %}
        {% if q.question.question_type.is_countable %}
        <table width="600">
        <tr>
            <td width="35%" valign="top"><b>{{ q.question.name }}</b></td>
            <td>
                {% if not q.answers|length_is:0 %}
                    {{ q.answers|unpack_answers|histogram:"html"|safe }} 
                    {% with q.question.get_params as params %}
                        {% if params.lower_text %}
                        <div style="text-align:right; font-weight:bold; font-size:0.8em; width:216px;">
                            <div style="float:left;">{{ params.lower_text }}</div>
                            {{ params.upper_text }}
                        </div>
                        {% endif %}
                    {% endwith %}
                {% else %} 
                    There are no responses to this question.
                {% endif %}
            </td>
            <td>
                <b>Statistics:</b>
                <ul>
                    <li>Number of responses: {{ q.answers|length }}/{{ c.class.num_students }}</li>
                    {% if q.question.question_type.is_numeric %}
                    <li>Average: {{ q.answers|unpack_answers|average }}</li>
                    <li>Std. deviation: {{ q.answers|unpack_answers|stdev }}</li>
                    <li>Average for all classes: {{ q.question.global_average }}</li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        </table>
        {% else %}
            {{ q.question.dump|uselist:q.answers }}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}

</center>
</div>

{% endblock %}
