{% extends "main.html" %}

{% block title %}{{ program.niceName }} Survey Responses{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% load subsection %}
{% block subsection %}
    {% autoescape off %}{{ "Survey"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}
{% load survey %}

<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Survey Response #{{ response.id }} for {{ response.survey.name }} </h1>

<div id="program_form">
<center>
    
    {% if not classes_only %}
        <table width="600">
        <tr>
            <th>Responses for: {{ response.survey.name }}</th>
        </tr>
        </table>
    {% endif %}
    
    {% for answer in answers %}
        {% ifchanged answer.anchor %}{% if not forloop.first or classes_only %}
            <table width="600">
            <tr>
                <th>Responses for Class {{ answer.anchor.name }}: {{ answer.anchor.friendly_name }}</th>
            </tr>
            </table>
        {% endif %}{% endifchanged %}
        <table width="600">
        <tr>
            <td width="35%" valign="top"><b>{{ answer.question.name }}</b></td>
            <td>{{ answer.answer|list_classes }}</td>
        </tr>
        </table>
    {% endfor %}

</center>
</div>

{% endblock %}
