{% extends "main.html" %}

{% block title %}{{ program.niceName }} Survey{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    <script type="text/javascript">
        <!-- Does anybody still care if javascript isn't in HTML comments?  -ageng 2009-09-19
        
        // This actually returns a function that updates said timeslot
        // The returned function is intended to be used as an event handler
        function updateTimeSlot(id) {
            function _func() {
                var newstyle = 'block';
                formfield = document.getElementById('id_attendance_' + id);
                
                if ( formfield.value == 0 ) {
                    newstyle = 'none';
                }
                
                document.getElementById('perclass_questions_' + id).style.display = newstyle;
            }
            return _func;
        }
        
        // Show/hide per-class questions and attach onchange event handlers
        function setupTimeSlots() {
            if ( ! document.getElementById ) { return true; }
            var timeslot_ids = [{% for ts in timeslots %}{{ ts.id }}{% if not forloop.last %},{% endif %}{% endfor %}];
            var id, func;
            for ( var i = 0; i < timeslot_ids.length; i++ ) {
                id = timeslot_ids[i];
                func = updateTimeSlot( id );
                func()
                document.getElementById('id_attendance_' + id).onchange = func;
            }
        }
        
        // Can't use window.onload=foo since <body onload="foo()"> overrides it.
        if ( window.addEventListener ) {
            window.addEventListener( 'load', setupTimeSlots, false );
        } else if ( window.attachEvent ) {
            window.attachEvent( 'onload', setupTimeSlots );
        }
        
        //-->
    </script>
{% endblock %}

{% load subsection %}
{% block subsection %}
    {% autoescape off %}{{ "Survey"|subsection }}{% endautoescape %}
{% endblock %}

{% block content %}
{% load survey %}

<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br /><br />
<h1>Survey for {{ program.niceName }} </h1>

<div id="program_form">
<form method="post" action="{{ request.path }}">{% csrf_token %}

{% for question in questions %}{{ question.render|uselist:classes }}{% endfor %}

{% if perclass_questions %}
{% if timeslots %}
    {% for ts in timeslots %}
        <table width="600">
        <tr>
            <th>Questions for {{ ts.description }}</th>
        </tr>
        </table>
        <table width="600">
        <tr>
            <td width="35%">
                <label for="id_attendance_{{ ts.id }}"><b>Which class did you attend in this timeblock?</b></label>
            </td>
            <td>
                <select name="attendance_{{ ts.id }}" id="id_attendance_{{ ts.id }}">
                    <option value="0">[None]</option>
                    {% for sec in ts.classsections %}
                        <option value="{{ sec.id }}" {% if sec.selected %}selected="selected"{% endif %}>{{ sec.parent_class.title }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        </table>
        <div id="perclass_questions_{{ ts.id }}">
        {% for question in perclass_questions %}
            {{ question.render|substitute:ts }}
        {% endfor %}
        </div>
    {% endfor %}
{% else %}
    {% for sec in sections %}
        <table width="600">
        <tr>
            <th>Questions for {{ sec.emailcode }}: {{ sec.title }}</th>
        </tr>
        </table>
        {% for question in perclass_questions %}
            {{ question.render|substitute:sec }}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endif %}

<table width="600">
    <tr>
        <th>Submit</th>
    </tr>
    <tr>
        <td align="center">
            Click the button below to finish your survey.  Thank you so much for your time!<br /><br />
            <input type="Submit" class="fancybutton" value="Submit Survey" /><br />
        </td>
    </tr>
</table>
</center>

</form>
</div>

{% endblock %}
