{% extends "main.html" %}

{% block title %}{{ program.niceName }} Survey{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<h1>Survey for {% if section %}{{ section }}{% else %}{{ program.niceName }}{% endif %}</h1>

{% include "survey/survey_form.html" %}

{% endblock %}
