{% extends "elements/html" %}

{% block title %}{{ program.niceName }} Top-Rated Classes{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!--
        function MM_preloadImages() { return 0; } // Does nothing; just makes the body onload function happy.
        function getelems() {
            e = [];
            r = [];
            if (document.getElementsByTagName) { e = document.getElementsByTagName("tbody"); }
            else if (document.all) { e = document.all; }
            for ( i = 0; i < e.length; i++ ) {
                if ( e[i].id.substr(0,6) == "class_" )
                    r[r.length] = e[i];
            }
            return e;
        }
        
        function hidecat(cat) {
            e = getelems();
            for ( i = 0; i < e.length; i++ ) {
                if ( e[i].id.charAt(6) == cat ) {
                    e[i].style.display = "none";
                }
            }
        }
        
        function showcat(cat) {
            e = getelems();
            for ( i = 0; i < e.length; i++ ) {
                if ( e[i].id.charAt(6) == cat ) {
                    e[i].style.display = "";
                }
            }
        }
        
        function togglecat(cat, checked) {
            if (checked) { showcat(cat); }
            else { hidecat(cat); }
        }
    //-->
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    body {
        font-size: small;
        font-family: sans-serif;
    }
    table {
        border: 2px solid #000000;
        border-spacing: 0px;
        clear: both;
        margin: 1em 0.2em;
    }
    th, td {
        text-align: center;
        border-left: 1px solid #000000;
        padding: 0.2em;
        padding-top: 0em;
    }
    tr.newclass td {
        border-top: 1px solid #000000;
        padding-top: 0.2em;
    }
    div#filterform, div#catsform {
        text-align: left;
        float: left;
        margin: 1em;
    }
</style>
{% endblock %}

{% block body %}

<h1>{{ program.niceName }} Top-Rated Classes</h1>

<div>
<center>

<div id="filterform">
<h2>Filter results</h2>
<form action="" method="get">
    <div><input type="text" size="3" name="rating_cut" id="rating_cut" value="{{ rating_cut }}" /><label for="rating_cut"> Minimum rating</label></div>
    <div><input type="text" size="3" name="num_cut" id="num_cut" value="{{ num_cut }}" /><label for="num_cut"> Minimum number of ratings</label></div>
    <div><input type="submit" value="Filter" /></div>
</form>
</div>

<div id="catsform">
<h2>Show categories</h2>
<form action="#" method="get">
    {% for cat in categories %}
        <div><input type="checkbox" name="cat_{{ cat.symbol }}" id="cat_{{ cat.symbol }}" checked="checked" onchange="togglecat(&quot;{{ cat.symbol }}&quot;, this.checked)" /><label for="cat_{{ cat.symbol }}">{{ cat }}</label></div>
    {% endfor %}
</form>
</div>

<table>
    <thead>
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Class Rating</th>
        <th>Num. Ratings</th>
        <th>Teacher First Name</th>
        <th>Teacher Last Name</th>
        <th>Teacher Email</th>
        <th>Teacher ID</th>
    </tr>
    </thead>

{% if perclass_data %}
{% for c in perclass_data|dictsortreversed:"avg" %}
    <tbody id="class_{{c.class.emailcode}}">
        <tr class="newclass">
            <td rowspan="{{ c.numteachers }}">{{ c.class.emailcode }}</td>
            <td rowspan="{{ c.numteachers }}">{{ c.class.title }}</td>
            <td rowspan="{{ c.numteachers }}">{{ c.avg|floatformat:2 }}</td>
            <td rowspan="{{ c.numteachers }}">{{ c.numratings }}</td>
            <td>{{ c.teacher.first_name }}</td>
            <td>{{ c.teacher.last_name }}</td>
            <td>{{ c.teacher.email }}</td>
            <td>{{ c.teacher.id }}</td>
        </tr>
    {% if c.coteachers %}
    {% for teacher in c.coteachers %}
        <tr>
            <td>{{ teacher.first_name }}</td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.id }}</td>
        </tr>
    {% endfor %}
    {% endif %}
    </tbody>
{% endfor %}
{% endif %}

</table>

</center>
</div>

{% endblock %}
