{% extends "main.html" %}

{% block title %}{{ program.niceName }} Top-Rated Classes{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/management.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/top_classes.css" type="text/css" />
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    function getClassBodies() {
        var elems = document.querySelectorAll("tbody[id^='class_']");
        return elems;
    }

    function toggleCategory(cat, checked) {
        var elems = getClassBodies();
        for (var i = 0; i < elems.length; i++) {
            if (elems[i].id.charAt(6) === cat) {
                elems[i].style.display = checked ? "" : "none";
            }
        }
    }
</script>
{% endblock %}

{% block content %}

<h1>{{ program.niceName }} Top-Rated Classes</h1>

{% if perclass_data %}

<div class="top-classes-filters">
    {# ---- Filter Panel ---- #}
    <div class="filter-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-filter"></span> Filter Results</h3>
        </div>
        <div class="panel-body">
            <form action="" method="get" class="form-inline">
                <div class="form-group">
                    <label for="rating_cut">Minimum rating</label>
                    <input type="text" class="form-control input-sm" size="4" name="rating_cut" id="rating_cut" value="{{ rating_cut }}" />
                </div>
                <div class="form-group" style="margin-left:12px;">
                    <label for="num_cut">Min. number of ratings</label>
                    <input type="text" class="form-control input-sm" size="4" name="num_cut" id="num_cut" value="{{ num_cut }}" />
                </div>
                <button type="submit" class="btn btn-primary btn-sm" style="margin-left:12px;">
                    <span class="glyphicon glyphicon-search"></span> Filter
                </button>
            </form>
        </div>
    </div>

    {# ---- Category Panel ---- #}
    <div class="filter-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Show Categories</h3>
        </div>
        <div class="panel-body">
            <div class="category-grid">
                {% for cat in categories %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="cat_{{ cat.symbol }}" checked="checked"
                               onchange="toggleCategory('{{ cat.symbol }}', this.checked)" />
                        {{ cat }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{# ---- Data Table ---- #}
<div class="top-classes-table-wrap table-responsive">
    <table class="table table-striped table-hover table-bordered top-classes-table">
        <thead>
            <tr>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>Rating</th>
                <th>Num. Ratings</th>
                <th>Teacher First Name</th>
                <th>Teacher Last Name</th>
                <th>Teacher Email</th>
                <th>Teacher ID</th>
            </tr>
        </thead>
        {% for c in perclass_data|dictsortreversed:"avg" %}
        <tbody id="class_{{ c.class.emailcode }}">
            <tr>
                <td rowspan="{{ c.numteachers }}">{{ c.class.emailcode }}</td>
                <td rowspan="{{ c.numteachers }}">{{ c.class.title }}</td>
                <td rowspan="{{ c.numteachers }}" class="rating-cell">{{ c.avg|floatformat:2 }}</td>
                <td rowspan="{{ c.numteachers }}">{{ c.numratings }}</td>
                <td>{{ c.teacher.first_name }}</td>
                <td>{{ c.teacher.last_name }}</td>
                <td>{{ c.teacher.email }}</td>
                <td>{{ c.teacher.id }}</td>
            </tr>
            {% if c.coteachers %}
            {% for teacher in c.coteachers %}
            <tr>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.id }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        {% endfor %}
    </table>
</div>

{% else %}

<div class="top-classes-empty">
    <span class="glyphicon glyphicon-info-sign"></span>
    <p>There are no responses for this survey yet.</p>
    <p><small>Once students submit survey responses, top-rated classes will appear here.</small></p>
</div>

{% endif %}

<p>
    <a class="btn btn-primary" href="/manage/{{ program.getUrlBase }}/main">Return to the main program management page</a>
    <a class="btn btn-default" href="/manage/{{ program.getUrlBase }}/surveys" style="margin-left: 8px;">Return to survey management</a>
</p>

{% endblock %}
