<div id="loginbox">
<table align="center" class="loginform" cellspacing="0" cellpadding="5">
<tr><td>

{% if login_result %}
    <div><center><span style="color: #BCCAF5;">{{ login_result }}{% ifequal "Invalid username or password" login_result %}<br /><a href="/myesp/login/">Try again here.</a>{% endifequal %}</span></center><br /></div>
{% else %}
    <div class="not_logged_in hidden">
        <div>Log in here.  If you don't know your username or password, try <a href="/myesp/passwdrecover/">our password reset page</a>.<br /><br /></div>
    </div>
{% endif %}

<div class="logged_in hidden">
<div id="divnav">
  <p align="center">
    {% include "users/loginbox_userinfo.html" %}
    <div class="unmorph hidden">
       <br /><a href="/myesp/switchback/">Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script></a><br /><div id="unmorph_text"></div>
    </div>
    <a href="/myesp/signout/">Logout</a>
  </p>
</div>
</div>

<div class="not_logged_in hidden">
<div id="divnav">
  <form name="loginform" id="loginform" method="post" action="/myesp/login/">
    <input type="hidden" name="next" value="{{ request.path }}" />
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
      <tr>
        <td><div class="divformcol1"><label for="user">User name:</label></div></td>
        <td><div class="divformcol2"><input type="text" name="username" id="user" size="8" value="" maxlength="255" class="inputbox input-small" /></div></td>

        <td><div class="divformcol3"></div></td>
      </tr>
      <tr>
        <td><div class="divformcol1"><label for="pass">Password:</label></div></td>
        <td><div class="divformcol2"><input type="password" name="password" id="pass" size="8" value="" maxlength="255" class="inputbox input-small" /></div></td>
        <td style="vertical-align: top;"><div class="divformcol3"><button class="btn btn-inverse glyphicon glyphicon-log-in" id="gologin" type="submit" style="margin-left:5px;"></button></div></td>
      </tr>
      <tr>

        <td colspan="3"><div class="divformcol1"><a href="/myesp/loginhelp.html">Login Help</a>
        <span style="padding-left: 25px;">
        <a href="/myesp/register">Register</a></span></div></td>
      </tr>
    </table>
  </form>
</div>
</div>

</td></tr>
</table>
</div>

{% comment %} === Admin Toolbar (includes user search) === {% endcomment %}
<div id="adminbar" class="admin hidden" style="position: fixed !important">
  <div class="title" onclick="ESP.toggleDisplay('adminbar_content');">Admin Toolbar</div>
  <div id="adminbar_content"></div>
</div>
<script type="text/javascript">
var currentPrograms = [
{% for current_program in current_programs %}
    {
        urlBase: "{{ current_program.getUrlBase }}",
        name: "{{ current_program.niceName }}",
    },
{% endfor %}
];
</script>
<script type="text/javascript">
ESP = (function(){
  var loaded = false;
  var queued_modules = [];
  var adminbar = document.getElementById('adminbar_content');

  $j(document).ready(function() {
    loaded = true;
    for (var i = 0; i < queued_modules.length; i++)
    {
      ESP.registerAdminModule(queued_modules[i]);
    }
  });

  return {
    toggleDisplay: function(id) {
      var el = document.getElementById(id);
      if (el.style.display == "none") {
        el.style.display = "block";
      } else {
        el.style.display = "none";
      }
    },
    registerAdminModule: function(module) {
      if (loaded) {
        var module_wrap = document.createElement("div");
        var module_class = "adminbar_" + module.name;
        module_wrap.className = module_class;
        module_wrap.innerHTML =
            "<div class='title' onclick='ESP.toggleDisplay(\""+module_class+"_content"+"\");'>" + module.displayName + "</div>";
        var module_content = document.createElement("div");
        module_content.id = module_class+"_content";
        module_content.className = "content";
        if (module.content_html) {
            module_content.innerHTML = module.content_html;
        } else {
            module_content.appendChild(document.getElementById(module.content_target));
        }
        module_wrap.appendChild(module_content);

        adminbar.appendChild(module_wrap);
      } else {
        queued_modules.push(module);
      }
    }
  };
})();

// In Bootstrap 3, replace these with
// http://getbootstrap.com/components/#input-groups-buttons

ESP.registerAdminModule({
content_html:
    '<form id="usersearchform" name="usersearchform" method="get" action="/manage/usersearch">' +
    '<div class="input-append">' +
    '<input type="text" id="user_search_field" name="userstr" placeholder="Find User" />' +
    '<button type="submit" id="user_search_submit" name="search_submit" aria-label="Search" class="btn-admin"><span class="glyphicon glyphicon-search glyphicon-btn-height" aria-hidden="true"></span></button>' +
    '</div>' +
    '</form>',
    name: 'user_search',
    displayName: 'User Search'
});

if (currentPrograms && currentPrograms.forEach) {
    currentPrograms.forEach(function (currentProgram) {
        ESP.registerAdminModule({
            content_html:
                '<form id="class_search_form" name="class_search_form" method="get" action="/manage/' + currentProgram.urlBase + '/classsearch">' +
                '<div class="input-append">' +
                '<input type="text" id="class_search_field" name="namequery" placeholder="Find Class by Title" />' +
                '<button type="submit" id="class_search_submit" name="class_search_submit" aria-label="Search" class="btn-admin"><span class="glyphicon glyphicon-search glyphicon-btn-height" aria-hidden="true"></span></button>' +
                '</div>' +
                '</form>',
            name: 'class_search',
            displayName: 'Class Search' +
                ' <small>(' + currentProgram.name + ')</small>'
        });
        ESP.registerAdminModule({
            content_html: '    <a href="/manage/' + currentProgram.urlBase +'/main">Main Management Page</a><br /><a href="/manage/' + currentProgram.urlBase +'/dashboard">Program Dashboard</a><br /><a href="/onsite/' + currentProgram.urlBase +'/main">Main Onsite Page</a>',
            name: 'Manage',
            displayName: 'Manage ' + currentProgram.name
});
    });
}

ESP.registerAdminModule({
    content_html: '<a href="/manage/programs/">Manage other programs</a><br/><a href="/manage/pages">Manage static pages</a><br /><a href="/admin/">Administration pages</a><br /><a href="/admin/filebrowser/browse/">Manage media files</a><br /><a href="/themes/">Manage theme settings</a>',
    name: 'Other',
    displayName: 'Other Important Links'
});
</script>
{% comment %} === End Admin Toolbar === {% endcomment %}
