<div id="loginbox">
<table align="center" class="loginform" cellspacing="0" cellpadding="5">
<tr><td>

{% if login_result %}
    <div><center><span style="color: #BCCAF5;">{{ login_result }}{% ifequal "Invalid username or password" login_result %}<br /><a href="/myesp/login/">Try again here.</a>{% endifequal %}</span></center><br /></div>
{% else %}
    <div class="not_logged_in hidden">
        <div>Log in here.  If you don't know your username or password, try <a href="/myesp/passwdrecover/">our password reset page</a>.<br /><br /></div>
    </div>
{% endif %}

<div class="logged_in hidden">
<div id="divnav">
  <p align="center">
    {% include "users/loginbox_userinfo.html" %}
    <div class="admin hidden">
        <a href="/admin/">Administration pages</a> <br />
        <a href="/manage/programs/">Manage programs</a> <br />
        <a href="/admin/filebrowser/browse/">Manage static files</a> <br />
        <a href="/themes/">Theme settings</a> <br />
    </div>
    <div class="unmorph hidden">
       <br /><a href="/myesp/switchback/">Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script></a><br /><div id="unmorph_text"></div>
    </div>
    <a href="/myesp/signout/">Logout</a>
  </p>
</div>
</div>

<div class="not_logged_in hidden">
<div id="divnav">
  <form name="loginform" id="loginform" method="post" action="/myesp/login/">
    <input type="hidden" name="next" value="{{ request.path }}" />
    <input type="hidden" name="initiated_login"/>
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
      <tr>
        <td><div class="divformcol1"><label for="user">User name:</label></div></td>
        <td><div class="divformcol2"><input type="text" name="username" id="user" size="8" value="" maxlength="255" class="inputbox input-small" /></div></td>

        <td><div class="divformcol3"></div></td>
      </tr>
      <tr>
        <td><div class="divformcol1"><label for="pass">Password:</label></div></td>
        <td><div class="divformcol2"><input type="password" name="password" id="pass" size="8" value="" maxlength="255" class="inputbox input-small" /></div></td>
        <td><div class="divformcol3"><input type="image" name="gologin" id="gologin" src="/media/images/go.gif" class="gobutton" alt="Go" title="" /></div></td>
      </tr>
      <tr>

        <td colspan="3"><div class="divformcol1"><a href="/myesp/loginhelp.html">Login Help</a>
        <span style="padding-left: 25px;">
        <a href="/myesp/register">Register</a></span></div></td>
      </tr>
    </table>
  </form>
</div>
</div>

</td></tr>
</table>
</div>
