{% load users %}

<div class="classroster">
  <div class="classtitle">Check-in List for {{ item.cls.title }}
</div>

<table align="center" cellspacing="5" cellpadding="0">
  <tr>
   <td>
      <b>Time:</b>  <div class="blocks">{{ item.cls.friendly_times|join:"<br />" }}</div>
   </td>
   <td>
      <b>Room:</b> <div class="classroom">{{ item.cls.prettyrooms|join:"<br />" }}</div>
   </td>
  </tr>
  </table>
  <br />
  <div class="teachername">{% if item.teacher %}<span>Teacher:  {{ item.teacher.name }}</span>{% endif %}</div>

  <table align="center" class="pretty" cellspacing="0" cellpadding="3px">
    <tr>
      <th colspan="6" align="center">Students</th>
      <th colspan="4" align="center">Payments</th>
      <th colspan="2" align="center">Forms</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Here?</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Grade</th>
      <th>Email address</th>
      <th>Credit</th>
      <th>Check</th>
      <th>Cash</th>
      <th>Fin. Aid</th>
      <th>Medical</th>
      <th>Liability</th>
    </tr>{% for student in item.students %}
    <tr>
      <td align="right">{{ forloop.counter }}</td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td>{{ student.user.id }}</td>
      <td>{{ student.user.name }}</td>
      <td>{{ student.user|getGradeForProg:program.id }}</td>
      <td>{{ student.user.getLastProfile.contact_user.e_mail }}</td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;{{ student.paid }}</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
    </tr>
    {% endfor %}
    <tr>
      <td>&nbsp; </td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <th colspan="3">  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <th>  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
    </tr>
    <tr>
      <td>&nbsp; </td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <th colspan="3">  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <th>  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
    </tr>    <tr>
      <td>&nbsp; </td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <th colspan="3">  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <th>  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
    </tr>    <tr>
      <td>&nbsp; </td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <th colspan="3">  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <th>  
          <center><div style="padding: 3px; border: solid black 2px; border-width: 0 0 1px 0; width:80%;">&nbsp;</div></center>
      </th>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
      <td><div style="width: 15px; height: 15px; border: solid black 2px;">&nbsp;</div></td>
    </tr>
  </table>
</div>
