{% load users %}

<div style="page-break-after: always;">&nbsp;</div>
<div class="classroster">
  <div class="classtitle">{{ section }}</div>
  {% autoescape off %}
  <table align="center" cellspacing="0" cellpadding="0">
  <tr>
   <td>
      <div class="blocks">{{ section.friendly_times|join:"<br />" }}</div>
   </td>
   <td>
      <div class="classroom">{{ section.prettyrooms|join:"<br />" }}</div>
   </td>
  </tr>
  </table>
  <br />
  <div class="teachername"><span>{{ item.teacher.name }}</span></div>
  <br />
  <div class="teachername">Class Email: <tt>{{ section.emailcode }}-class@{{ EMAIL_HOST_SENDER }}</tt><br />
Students Email: <tt>{{ section.emailcode }}-students@{{ EMAIL_HOST_SENDER }}</tt>
  </div>
  <br />
  <br />
  <table align="center" class="pretty" cellspacing="0" cellpadding="3px">
    <tr>
      <th colspan="4" align="center">Students</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Grade</th>
    </tr>{% for student in section.students %}
    <tr>
      <td align="right">{{ forloop.counter }}</td>
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>
          {{ student|getGradeForProg:program.id }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endautoescape %}
</div>

<br />
