{% extends "program/modules/programprintables/teacherschedule.html" %}

{% block teacherschedule_title %}{{ program.getModeratorTitle }} Schedule{% endblock %}

{% block teacherschedule_heading %}{{ program.getModeratorTitle }} Schedule{% endblock %}

{% block teacherschedule_instructions %}
<ul>
<li>If there is an emergency, contact the MIT Police at <strong>617-253-1212</strong> (not 911!) After calling them, please call us to let us know of the emergency.</li>
<li>For less urgent issues, contact {{ program.program_type }} HQ at <strong>617-253-4941</strong>.  If you have any questions, need help, need a projector, need an adapter, or anything else, please don't hesitate to call.</li>
<li>Please remember that MIT's Protection of Minors Policy forbids you from being the only adult in a room with students. Therefore, please avoid situations that will leave you alone with students.</li>
<li>We hope you enjoy {{ program.getModeratorGerund|lower }} at {{ program.program_type }}!</li>
</ul>
{% endblock %}
