{% extends "outlines/series-3.html" %}

{% block title %}{{program.niceName}} Printables{% endblock %}

{% block subsection_name %}Printing Options{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Printables for {{program.niceName}}</h1>

<p style="text-align: center">
Using this tool you can generate some printables for your program.<br />
Please select from options below.
</p>

<h3>Schedules</h3>
<ul>
<li><a href="./studentschedules" title="Student Schedules">Student Schedules</a> (by students)</li>
<li><a href="./studentschedules_finaid" title="Student Schedules">Student Schedules with Financial Aid Deducted</a> (by students)</li>
<li><a href="./flatstudentschedules" title="Student Schedules">Flat Student Schedules</a> (by students)</li>
<li><a href="./teacherschedules" title="Teacher Schedules">Teacher Schedules</a> (by teachers)</li>
<li><a href="./roomschedules" title="Room Schedules">Room Schedules</a></li>
</ul>

<h3>Student Lists</h3>
<ul>
<li><a href="./classrosters" title="Class Rosters">Class Rosters</a> (by teachers)</li>
<li><a href="./classrosters/attendance" title="Attendance Sheets">Attendance Sheets</a> (by teachers)</li>
<li><a href="./classchecklists" title="Class Checlists">Class Checklists</a> (all confirmed students)</li>
<li><a href="./studentchecklist" title="Student Checklist">Student Checklist</a> (by students)</li>
</ul>

<h3>Receipts</h3>
<ul>
<li><a href="./satprepreceipt" title="HTML Receipt">HTML Receipt</a> (by students)</li>
<li><a href="./refund_receipt" title="PDF Receipt for mail-in refund">PDF Receipt for mail-in refund</a> (by students)</li>
<li><a href="./certificate" title="Completion Certificate">Completion Certificate</a> (by students)</li>
</ul>

<h3>Other Printables</h3>
<ul>
<li><a href="./satpreplabels" title="SATPrep Diagnostic Labels">SATPrep Diagnostic Labels</a> (by students)</li>
<li><a href="./catalog" title="Course Catalog">Course Catalog</a></li>
<!-- <li><a href="./adminbinder" title="Admin Binder">Admin Binder</a></li> -->
</ul>

<p>
<strong>Guide for happy printables:</strong>

<ol>
<li>Use Firefox ;-) (other browsers will probably work)</li>
<li>Use a workstation that supports Georgia (i.e. not athena)</li>
<li>Go to page->options, remove all margins (0, not 0.1...), remove all headers and footers.</li>
<li>Print! If you need to, you can print to pdf and then send it to copytech or print in athena without worry: <br />
    In windows, print to Acrobat Distiller<br />
    In *nix, go to printer options and set print command to : 'ps2pdf - ~/temppdf.pdf' (assuming you have ps2pdf)</li>

<li>Good luck!</li>
</ol>

{% endblock %}