{% extends "main.html" %}

{% block title %}{{program.niceName}} Printables{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <style type="text/css">
    .nocheckmark { border: 1px solid black; }
    select {
        width: auto;
    }
    table {
        width: 100%;
    }
    </style>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
    $j(function () {
        $j("#class_list_options :input").change(function (){
            // Get user-selected options
            var fields = $j("#class_list_options :input");
            var get = "";
            // Create GET string
            fields.each(function (index, element) {
                var val = $j(this).val();
                if (val != "") {
                    if (get != "" & get.charAt(get.length - 1) != "&") {
                        get += "&";
                    }
                    get += val;
                }
            });
            // Add GET string to all links
            $j("#class_lists a").each(function (){
                var base_url = $j(this).attr('href').split('?')[0];
                $j(this).attr('href', base_url + "?" + get)
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
<h1>Printables for {{program.niceName}}</h1>

<p style="text-align: center">
Using this tool you can generate some printables for your program.<br />
Please select from options below.
</p>

{% include "program/modules/admincore/returnlink.html" %}

<h3>Schedules</h3>
<ul>
<li><a href="./studentschedules" title="Student Schedules">Student Schedules</a> (by students) -- multiple formats available: 
    <a href="./studentschedules/tex/">TEX</a>
    <a href="./studentschedules/ps/">PS</a>
    <a href="./studentschedules/pdf/">PDF</a>
    <a href="./studentschedules/svg/">SVG (1 schedule max)</a> 
    <a href="./studentschedules/png/">PNG (1 schedule max)</a>
</li>
<li><a href="./flatstudentschedules" title="Student Schedules">Flat Student Schedules</a> (by students)</li>
<li><a href="./teacherschedules" title="Teacher Schedules">Teacher Schedules</a> (by teachers)</li>
<li><a href="./volunteerschedules" title="Volunteer Schedules">Volunteer Schedules</a> (by volunteers)</li>
<li><a href="./roomschedules" title="Room Schedules">Room Schedules</a></li>
</ul>

<h3>Nametags</h3>
<ul>
<li><a href="/manage/{{ program.getUrlBase }}/selectidoptions">Nametags</a></li>
</ul>

<h3>Student Lists</h3>
<ul>
<li><a href="./classrosters" title="Class Rosters">Class Rosters</a> (by teachers)</li>
<li><a href="./classrosters/attendance" title="Attendance Sheets">Attendance Sheets</a> (by teachers)</li>
<li><a href="./classchecklists" title="Class Checlists">Class Checklists</a> (all confirmed students)</li>
<li><a href="./studentchecklist" title="Student Checklist">Student Checklist</a> (by students)</li>
<li><a href="./student_financial_spreadsheet">Student Financial Spreadsheet</a> (used by the check-scanning app)</li>
<li><a href="./studentsbyname" title="Student List">Students by Name</a> (by students)</li>
<li><a href="./emergencycontacts" title="Student List">Students' Emergency Contact Info</a> (by students)</li>
{% if not li_types|length_is:0 %}
<li>Students who have ordered/reserved line items:
    <ul>
    {% for li_type in li_types %}
        <li><a href="./students_lineitem?id={{ li_type.id }}">{{ li_type.text }}</a></li>
    {% endfor %}
    </ul>
</li>
{% endif %}
</ul>

<h3>Teacher Lists</h3>
<ul>
<li><a href="./teachersbyname" title="Teacher List">Teacher List</a> (can be sorted by name, class, or start time) (<a href="./teachersbyname/csv">CSV</a>)
<ul><li><a href="./teachersbyname/secondday">Teachers for second day of classes only</a> (<a href="./teachersbyname/seconddaycsv">CSV</a>)</li></ul></li>
</ul>

<h3>Receipts</h3>
<ul>
<li><a href="./certificate" title="Completion Certificate">Completion Certificate</a> (by students)</li>
<li><a href="./paid_list_filter" title="Purchase Lists">Lists of Purchased Items</a></li>
</ul>

<h3>Class and Section Lists</h3>
<form id="class_list_options">
    <table>
        <tr>
            <td width = "50%">
            Class Status:
            <select id="class_status">
                <option value="all">Any</option>
                <option value="accepted">Accepted</option>
                <option value="" selected>Accepted/Unreviewed</option>
                <option value="cancelled">Cancelled</option>
            </select>
            </td>
            <td width = "50%">
            Scheduling Status:
            <select id="sched_status">
                <option value="" selected>Any</option>
                <option value="scheduled">Scheduled</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>
            Grade Min:
            <select id="grade_min">
                {% for grade in program.grades %}
                    <option value="grade_min={{ grade }}"{% if forloop.first %} selected{% endif %}>{{ grade }}</option>
                {% endfor %}
            </select>
            Grade Max:
            <select id="grade_max">
                {% for grade in program.grades %}
                    <option value="grade_max={{ grade }}"{% if forloop.last %} selected{% endif %}>{{ grade }}</option>
                {% endfor %}
            </select>
            </td>
            <td>
            Output as:
            <select id="output_type">
                <option value="" selected>Web page</option>
                <option value="csv">CSV</option>
            </select>
            </td>
        </tr>
    </table>
</form>

<ul id="class_lists">
<li><a href="./classesbytime" title="Classes by Time">Class Sections Sorted by Time</a></li>
<li><a href="./classesbyid" title="Classes by ID">Class Subjects Sorted by ID</a></li>
<li><a href="./classesbytitle" title="Classes by Name">Class Subjects Sorted by Title</a></li>
<li><a href="./classesbyteacher" title="Classes by Teacher">Class Subjects Sorted by Teacher</a></li>
</ul>

<h3>Other Printables</h3>
<ul>
<li><a href="./catalog" title="Course Catalog">Course Catalog</a></li>
<li><a href="./roomsbytime" title="Room List">Open Rooms by Time</a></li>
<li>Meal tickets (by students): <a href="./student_tickets/3" title="Meal Tickets">3 lines</a> <a href="./student_tickets/4" title="Meal Tickets">4 lines</a> <a href="./student_tickets/5" title="Meal Tickets">5 lines</a> <a href="./student_tickets/6" title="Meal Tickets">6 lines</a> <a href="./student_tickets/7" title="Meal Tickets">7 lines</a> </li>
<li><a href="./onsiteregform" title="On-Site Reg Form">On-Site Reg Form</a></li>
<li><a href="./all_classes_spreadsheet" title="All Classes Spreadsheet">All Classes Spreadsheet</a> (CSV format; opens in most spreadsheet programs)</li>
<li><a href="./oktimes_spr" title="Viable Times for Classes">Viable Times for Sections Spreadsheet</a> (CSV format; 'X' indicates a viable time)</li>
<li><a href="./classpopularity" title="Class Popularity">Class Subject Popularity</a></li>
<li><a href="./classflagdetails" title="Class Flags">Class Flags</a> (<a href="./classflagdetails?comments">with comments</a>)</li>
</ul>
<br /><br />
{% load render_qsd %}
{% inline_program_qsd_block program "manage:printables" %}
<strong>Guide for happy printables:</strong>

<ol>
<li>Use Firefox ;-) (other browsers will probably work)</li>
<li>Use a workstation that supports Georgia (i.e. not athena)</li>
<li>Go to page->options, remove all margins (0, not 0.1...), remove all headers and footers.</li>
<li>Print! If you need to, you can print to pdf and then send it to copytech or print in athena without worry: <br />
    In windows, print to Acrobat Distiller<br />
    In *nix, go to printer options and set print command to : 'ps2pdf - ~/temppdf.pdf' (assuming you have ps2pdf)</li>

<li>Good luck!</li>
</ol>
{% end_inline_program_qsd_block %}

{% endblock %}
