<div style="">
{% if onsiteregform %}{% else %}
<table align="center" width="100%">
<tr>
    <td valign="top" align="center" width="25%">
        {% comment %}{% if student.payment_info %}
            {% if student.meals %}
            <ul class="meals">
            {% for item in student.meals %}
                <li>{{ item.li_type.text }}
            {% endfor %}
            </ul>
			{% else %}
			<b>No meals preordered</b>
            {% endif %}
        {% else %}&nbsp;
        {% endif %}{% endcomment %}
    </td>
    <td valign="top" width="40%" align="center">
        <div class="title">Student Schedule for <br />
            <span>{{ student.name }}</span>
        </div>
		<br />
        {% comment %}{% if student.payment_info %}
        <b>Amount owed: </b> 
        <div style="border: 1px solid black; padding: 5px; font-size: 1.2em; font-weight: bold; text-align: center; width: 50%; margin: 0 auto;">
            ${{ student.itemizedcosttotal|floatformat:"-2" }}
        </div>
        {% else %}&nbsp;
        {% endif %}{% endcomment %}
    </td>
    <td valign="top" align="center" width="25%">
        <div style="font-weight:bold; text-align:left; text-indent:-3em;">
            <div>Name: {{ student.name }}</div>
            <div>Username: {{ student.username }}</div>
            <div>User ID: {{ student.id }}</div>
            {% if student.in_parent_program %}
                <div style="font-style:italic;">{{ program.getParentProgram.niceName }} Student</div>
            {% endif %}
        </div>
    </td>
</tr>
</table>

<div class="description">Here is your class schedule!<br />
For help finding your classrooms, please consult the directions and maps in your guidebook.<br />
If you have any questions or would like to switch classes, please go to the program office.
</div>
{% endif %}
{% if onsiteregform %}<h2><center>Please write in your class choices here:</center></h2>{% endif %}
<table align="center" cellspacing="0" cellpadding="4px" class="schedule">
   <tr>
     <th colspan="4">Schedule</th>
   </tr>
   <tr>
{% comment %}
     <th class="day">Day</th>
{% endcomment %}
     <th width="200">Time</th>
     <th>Room{% if onsiteregform %}<br /><small>(For Official Use Only)</small>{% endif %}</th>
     <th>Class</th>
     {% if onsiteregform %}{% else %}<th>Teacher(s)</th>{% endif %}
   </tr>{% for cls in student.classes %}
   {% autoescape off %}
   <tr>
     <td><div class="clip" >{{ cls.friendly_times|join:"<br />" }}</div></td>
     <td><div class="clip" >{% if cls.initial_rooms|length_is:0 %}N/A{% else %}{{ cls.prettyrooms|join:"<br />" }}{% endif %}</div></td>
     <td><div class="clip" >{{ cls.emailcode}}: {{ cls.title }}</div></td>
     {% if onsiteregform %}{% else %}<td><div class="clip">{{ cls.parent_class.getTeacherNames|join:", " }}</div></td>{% endif %}
   </tr>
   {% endautoescape %}
{% endfor %}

</table>
</div>

<table class="perforate" cellpadding="4px">{% comment %}
<tr><td>&nbsp;</td></tr>
 <tr>
  <td width="40%" align="center">
   <image src="http://esp.scripts.mit.edu/barcodegen/html/image.php?code=code39&o=1&t=50&r=1&text={{ student.invoice_id }}&f1=Arial.ttf&f2=8&a1=&a2=&a3=" />
  </td>
  <td width="30%">
   <b>{{ student.name }}<br />{{ student.id }}</b>
  </td>
  <td width="30%">
    <b>Amount owed: ${{ student.itemizedcosttotal|floatformat:"-2" }}</b>
  </td>
 </tr>
{% endcomment %}
