<html>
<head>
<title>Student Tickets</title>
<style media="print,screen" type="text/css">
body { font-family: georgia; margin: 0pt;}
.label { width:3.98in; height: 1.7in; text-align: center; margin: 0px; padding: 0px; border: 1px solid black; border-collapse: collapse; font-size: 26pt; overflow: hidden;}
</style>
</head>
<body>
<table cellspacing="0" cellpadding="0" align="center">
{% for student in pages.0 %}
    {% if forloop.counter0|divisibleby:2 %}
    <tr>
      <td valign="middle">
      <div class="label">Stack {{ forloop.counter }}</div>
      </td>
    {% else %}
      <td valign="middle">
      <div class="label">Stack {{ forloop.counter }}</div>
      </td>
      <td>&nbsp;</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
<div style="page-break-after: always;">&nbsp; </div>
{% for page in pages %}
    <table cellspacing="0" cellpadding="0" align="center">
    {% for student in page %}
        {% if forloop.counter0|divisibleby:2 %}
        <tr>
          <td valign="middle">
          {% include "program/modules/programprintables/student_ticket.html" %}
          </td>
        {% else %}
          <td valign="middle">
          {% include "program/modules/programprintables/student_ticket.html" %}
          </td>
          <td>&nbsp;</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <div style="page-break-after: always;">&nbsp; </div>
{% endfor %}
</body>
</html>
