<html>
<head>
<title>{{ program.niceName }} Teacher Schedule</title>
<link rel='stylesheet' type='text/css' href='/media/styles/teacherschedule.css' />
</head>
<body>
{% if scheditems|length_is:0 %}
<div class="title">It looks like you don't have any classes scheduled yet.</div>
{% endif %}

{% for scheditem in scheditems %}

{% ifchanged scheditem.teacher.id %}
{% if not forloop.first %}
</table>
<div id="pagebreak">&nbsp;</div>
{% endif %}

<div class="title">{{ program.niceName }} Teacher Schedule for <br /><br />
    <span>{{ scheditem.name }}</span>
</div>
<div class="description">
<ul>
<li>If you spent money for your class, get reimbursed by following the instructions at <strong>{{ request.scheme }}://{{ request.get_host }}/teach/{{ program.program_type }}/reimbursements.html</strong>.</li>
<li>If there is an emergency, contact the MIT Police at <strong>617-253-1212</strong> (not 911!) After calling them, please call us to let us know of the emergency.</li>
<li>For less urgent issues, contact {{ program.program_type }} HQ at <strong>617-253-4941</strong>.  If you have any questions, need help, need a projector, need an adapter, or anything else, please don't hesitate to call.</li>
<li>Please remember that MIT's Protection of Minors Policy forbids you from being the only adult in a room with students. Therefore, please avoid situations that will leave you alone with students.</li>
<li>We hope you enjoy teaching at {{ program.program_type }}!</li>
</ul>
</div>

<table align="center" cellspacing="0" cellpadding="2px" class="schedule">
<tr><th colspan="4">Schedule</th></tr>
<tr>
{% if scheditem.day %}
    <th class="day">Day</th>
{% endif %}
    <th>Time</th>
    <th>Room</th>
    <th>Class</th>
</tr>
{% endifchanged %}
{% autoescape off %}
<tr>
  <td>{{ scheditem.cls.friendly_times|join:"<br />" }}</td>
  <td>{% if scheditem.cls.classrooms|length_is:0 %}N/A{% else %}
      {{ scheditem.cls.prettyrooms|join:"<br />" }}{% endif %}</td>
  <td>{% if scheditem.moderating %}<em>({{ program.getModeratorGerund }} class by {% for teacher in scheditem.cls.teachers %}{% if not forloop.first %}, {% endif %}{{ teacher.name }}{% endfor %})</em><br/>{% endif %}{{ scheditem.cls.title }}</td>
</tr>
{% endautoescape %}
{% endfor %}

</body>
</html>
