<html>
<head>
<title>{% if teachers %}Teacher {% if moderators %}and {% endif %}{% endif %}{% if moderators %}{{ program.getModeratorTitle }} {% endif %}Schedules</title>
<link rel='stylesheet' type='text/css' href='/media/styles/teacherschedule.css' />
<script type="text/javascript" src="/media/scripts/nametag_barcodes.js"></script>
</head>
<body>
{% if scheditems|length_is:0 %}
<div class="title">It looks like you don't have any classes scheduled yet.</div>
{% endif %}

{% for scheditem in scheditems %}

{% ifchanged scheditem.teacher.id %}
{% if not forloop.first %}
</table>
<div id="pagebreak">&nbsp;</div>
{% endif %}

<table align="center" class="header">
    <tr>
        <td colspan="3" style="text-align: center;"><h1>{{ program.niceName }}</h1><hr class="hr"></td>
    </tr>
    <tr>
        <td width="35%"></td>
        <td class="title">{% if teachers %}Teacher {% if moderators %}and {% endif %}{% endif %}{% if moderators %}{{ program.getModeratorTitle }} {% endif %}Schedule for<h2>{{ scheditem.name }}</h2></td>
        <td width="35%">
            <div class="barcode">
                <div id="inputdata{{ scheditem.teacher.id }}">{{ scheditem.teacher.id }}</div>
            </div>
            <script type="text/javascript">
            /* <![CDATA[ */
              function get_object(id) {
               var object = null;
               if (document.layers) {
                object = document.layers[id];
               } else if (document.all) {
                object = document.all[id];
               } else if (document.getElementById) {
                object = document.getElementById(id);
               }
               return object;
              }
            get_object("inputdata{{ scheditem.teacher.id }}").innerHTML=DrawHTMLBarcode_Code39(get_object("inputdata{{ scheditem.teacher.id }}").innerHTML,0,"yes","in",0,1.5,.75,2.5,"bottom","center", "","black","white");
            /* ]]> */
            </script>
        </td>
    </tr>
</table>

<div class="description">Here is your schedule.
              Please show up to class on-time.<br />
              If you have any questions, please visit the {{ settings.ORGANIZATION_SHORT_NAME }} help desk.
            </div>
<br />
<br />
<table align="center" cellspacing="0" cellpadding="2px" class="schedule">
<tr><th colspan="4">Schedule</th></tr>
<tr>
{% if scheditem.day %}
    <th class="day">Day</th>
{% endif %}
    <th>Time</th>
    <th>Room</th>
    <th>Class</th>
    {% if moderators and teachers %}<th>Role</th> {% endif %}
</tr>
{% endifchanged %}
{% autoescape off %}
<tr>
  <td>{{ scheditem.cls.friendly_times|join:"<br />" }}</td>
  <td>{% if scheditem.cls.classrooms|length_is:0 %}N/A{% else %}
      {{ scheditem.cls.prettyrooms|join:"<br />" }}{% endif %}</td>
  <td>{{ scheditem.cls.title }}</td>
    {% if moderators and teachers %}<td>{{ scheditem.role }}</td>{% endif %}
</tr>
{% endautoescape %}
{% endfor %}

</body>
</html>
