@navbarBrandFontSize: 24px;
@navbarFontSize: 20px;
@navbarCollapseWidth: 979px;
@jumbotronFallbackColor:    @accent1;
@jumbotronFallbackGradient: linear-gradient(
                              135deg, @accent1 0%, @accent2 100%
                            );

@footerBackground:  @navbarInverseBackground;
@footerText:        @navbarInverseText;
@footerLinkColor:   @navbarInverseLinkColor;