@navbarBrandFontSize: 24px;
@navbarFontSize: 20px;
@navbarCollapseWidth: 979px;
@jumbotronFallbackColor:    #2a3a4a;
@jumbotronFallbackGradient: linear-gradient(135deg,
                              @jumbotronFallbackColor,
                              darken(@jumbotronFallbackColor, 15%));