{% extends "main.html" %}
{% block title %}{{program.niceName}} Teacher Acknowledgement{% endblock %}
{% block content %}
<h2>Teacher Acknowledgement for {{program.niceName}} </h2>
<br />
{% load render_qsd %}
{% inline_program_qsd_block program "teach:acknowledgement_instructions" %}
{{ prog.niceName }} will be on {{ prog.date_range }}! Please acknowledge that you are aware of this and commit to teaching at one of the times you have specified for your availability. You may not cancel your classes after student registration opens. In the case of extenuating circumstances like illness or serious emergency, you must notify the directors ASAP at <a href="mailto:{{ prog.director_email }}">{{ prog.director_email }}</a> and assist in finding a substitute for your classes. If you do not meet these expectations, it is unfair for the students who registered for your class and makes organization difficult for us. Note that not being responsible with respect to your classes will affect your ability to teach for us in the future.
{% end_inline_program_qsd_block %}
<form action="acknowledgement" method="post">
{{ form.acknowledgement.errors }}
{{ form.acknowledgement }}
{{ form.acknowledgement.label_tag }}
<br />
<br />
<input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}
