{% extends "outlines/theme.html" %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }} </h1>

<h2>Instructions for paying by credit card:</h2>
<p>
<ol>
<li><b>Make sure you have selected all items for purchase!</b>  Once you've paid, you've paid; you can't come back and pay again for additional items (like meal tickets, T-shirts, etc).</li>
<li>Fill out the form on the next page completely.</li>
<li>Check your answers for accuracy, and submit.</li>
<li>If the charge fails, you may have to fill out the form again.  If you receive a server error, this probably means that our credit-card provider is very busy; please contact us and we will make sure that your payment went through.</li>
<li>When finished, you will receive an on-screen receipt.</li>

<li>Please print the receipt, and then close this window.<br/>
</ol>
</p>

<p><b>Please note:</b> Paying with a credit card does not confirm your attendance to Splash; it just saves you from needing to pay on-site.  We automatically guarantee admission into any class that you register for online, whether or not you pay in advance, as long as you do ultimately confirm your registration.  (This allows us more flexibility in working with students who need financial aid.)
<p>We ask that students confirm their registration (by returning to the <a href="/learn/{{ program.getUrlBase }}/studentreg/" title="Return to main registration page">main registration page</a> and clicking the "Confirm" button) so that we know that they are done adjusting their schedules and purchasing additional meals and T-shirts, and we can start to print out schedules and other paperwork.</p>

<br />

<h3>What you're currently paying for:</h3>
<p>
<table>
{% for payment in itemizedcosts %}
<tr><td>{{ payment.type.label }}</td><td>{% if payment.transaction %}PAID{% else %}${% if financial_aid %}{{ payment.type.financial_aid_value|floatformat:2}}{% else %}{{ payment.type.value|floatformat:2 }}{% endif %}{% endif %}</td></tr>
{% endfor %}
<tr><td align="right"><b>Total:</b></td><td>${{ itemizedcosttotal|floatformat:2 }}</td></tr>

</table>
</p>

<p>When you are ready, please move on to the <a href="https://{{ current_site.domain }}/{{ tl }}/{{ one }}/{{ two }}/paynow" title="Proceed to payment form.">payment form.</a>

<p>If you would like to cancel at this time, please close this window or <a href="/learn/{{ program.getUrlBase }}/studentreg/" title="Return to main registration page">return to the main registration page</a>.</p>

{% endblock %}

