<div style="position: relative; z-index: 100;">
	<input type="hidden" name="" value="" 
		dojoAttachPoint="comboBoxValue"/>
	<input type="hidden" name="" value="" 
		dojoAttachPoint="comboBoxSelectionValue"/>
        <table class="dojoComboBox" dojoAttachPoint="cbTableNode">
                <tr>
                        <td class="dojoComboBoxTableCell">
                            <input autocomplete="off" size="${this.size}" id="${this.id}"
                                type="text" dojoAttachEvent="keyDown: onKeyDown; keyUp: onKeyUp; keyPress: onKeyPress;" 
                                dojoAttachPoint="textInputNode" />
                            <img class="dojoComboBoxImage" dojoAttachPoint="downArrowNode"
                                dojoAttachEvent="onMouseUp: handleArrowClick; onMouseOver: arrowActive; onMouseOut: arrowInactive;"
                                src="${dojoRoot}../nong/widget/templates/combo-arrowdown.gif">
                        </td>
                </tr>
        </table>

	<div class="dojoOptionsListWrapper" dojoAttachPoint="optionsListWrapper" tabindex="-1">
		<div class="dojoComboBoxOptions" dojoAttachPoint="optionsListNode"
			dojoAttachEvent="onClick: selectOption;  onMouseOver: _onMouseOver; onMouseOut: _onMouseOut;"
			style="display:none;" tabindex="-1">
		</div>
</div>
