.dojoOptionsListWrapper { position:relative; }
.aligned .dojoOptionsListWrapper { position:relative; margin-left:9em; }


.dojoComboBoxOptions {
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	/* font-size: 0.7em; */
	background-color: white;
	border: 1px solid #ccc;
	position: absolute;
	z-index: 1000; 
	overflow: auto;
	-moz-opacity: 0;
	cursor: default;
}

.dojoComboBoxTableCell {
    border:0px;
    padding:0px;
    margin:0px;
    width:100%;
}
.dojoComboBoxImage { vertical-align: middle; border:0px; margin-left:-0.4em; padding:0px; }
.aligned .dojoComboBoxImage { vertical-align: middle; border:0px; margin-left:-0.4em; padding:0px; margin-top: 1px; }

table.dojoComboBox {
	border: 0px;
}

* html table.dojoComboBox { width: 80%; } /* IE hack to stop combobox wrapping to next line */
* html .aligned .dojoOptionsListWrapper { margin-left:9.3em; } /* IE hack to position option list */

.dojoComboBoxItem {
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
}

.dojoComboBoxItemEven {
	background-color: #eee;
}

.dojoComboBoxItemOdd {
	background-color: white;
}

.dojoComboBoxItemHighlight {
	background-color: #63709A;
	color: white;
}
