<!-- Begin Educator Info Portion -->

<h3>Additional Educator Information</h3>

{% if form.position %}
<div class="control-group">
 <label for="id_position" class="control-label">Position: <br /> <small>(e.g. teacher, principal)</small></label>
 <div class="controls">
 {{ form.position }} {% if form.position.errors %}
   <br /><span class="form_error">{{ form.position.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.subject_taught %}
<div class="control-group">
 <label for="id_subject_taught" class="control-label">Subject Taught: <br /> <small>(if applicable)</small></label>
 <div class="controls">
 {{ form.subject_taught }} {% if form.subject_taught.errors %}
   <br /><span class="form_error">{{ form.subject_taught.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.grades_taught %}
<div class="control-group">
 <label for="id_grades_taught" class="control-label">Grades Taught: <br /> <small>(e.g. 9-12)</small></label>
 <div class="controls">
 {{ form.grades_taught }} {% if form.grades_taught.errors %}
   <br /><span class="form_error">{{ form.grades_taught.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.school %}
<div class="control-group">
 <label for="id_school" class="control-label">School Name:</label>
 <div class="controls">
 {{ form.school }} {% if form.school.errors %}
   <br /><span class="form_error">{{ form.school.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

<!-- End Educator Info Portion -->
