<!-- Begin Educator Info Portion -->

<h3>Secondary School Teacher Information</h3>

<div class="control-group">
 <label for="id_position" class="control-label">Position: <br /> <small>(e.g. teacher, head teacher)</small></label>
 <div class="controls">
 {{ form.position }} {% if form.position.errors %}
   <br /><span class="form_error">{{ form.position.errors|join:", " }}</span>
   {% endif %}
</div>
</div>

<div class="control-group">
 <label for="id_subject_taught" class="control-label">Subject Taught: <br /> <small>(if applicable)</small></label>
 <div class="controls">
 {{ form.subject_taught }} {% if form.subject_taught.errors %}
   <br /><span class="form_error">{{ form.subject_taught.errors|join:", " }}</span>
   {% endif %}
</div>
</div>

<div class="control-group">
 <label for="id_grades_taught" class="control-label">School Years Taught: <br /> <small>(e.g. 7-13)</small></label>
 <div class="controls">
 {{ form.grades_taught }} {% if form.grades_taught.errors %}
   <br /><span class="form_error">{{ form.grades_taught.errors|join:", " }}</span>
   {% endif %}
</div>
</div>

<div class="control-group">
 <label for="id_college" class="control-label">School Name:</label>
 <div class="controls">
 {{ form.school }} {% if form.school.errors %}
   <br /><span class="form_error">{{ form.school.errors|join:", " }}</span>
   {% endif %}
</div>
</div>

<!-- End Educator Info Portion -->
