<!-- Begin Emergency Contact -->
<tr>
 <th colspan="2">Emergency Contact</th>
</tr>

<tr style="display: none;" id="id_copy_parent_info">
 <td colspan="2">
  <div class="info">
In the unlikely event of an emergency, we need to know who we should contact first, to let
them know that you're safe (or that you need help).<br />
Often, this is just your parents.  However, if your parents will be out of town or unavailable,
this might be a family friend or nearby relative.<br />
Please either click below to copy your home address and your
parents' contact information into this form, or give contact information for someone else you know and trust.
</div>
  <p><center><input type="button" onclick="javascript:copy_parent_info();" value="Use my parents as my emergency contact" /></center></p>
 </td> 
</tr>

<script language="JavaScript">
if (document.getElementById("id_phone_day") && document.getElementById("id_guard_phone_day")) {
  document.getElementById("id_copy_parent_info").style.display = '';
}
function copy_parent_info() {
  document.getElementById("id_emerg_first_name").value = document.getElementById("id_guard_first_name").value;
  document.getElementById("id_emerg_last_name").value = document.getElementById("id_guard_last_name").value;
  document.getElementById("id_emerg_e_mail").value = document.getElementById("id_guard_e_mail").value;
  document.getElementById("id_emerg_phone_day").value = document.getElementById("id_guard_phone_day").value;
  document.getElementById("id_emerg_phone_cell").value = document.getElementById("id_guard_phone_cell").value;
  document.getElementById("id_emerg_address_street").value = document.getElementById("id_address_street").value;
  document.getElementById("id_emerg_address_city").value = document.getElementById("id_address_city").value;
  document.getElementById("id_emerg_address_state").value = document.getElementById("id_address_state").value;
  document.getElementById("id_emerg_address_zip").value = document.getElementById("id_address_zip").value;
}
</script>

<tr>
 <td><label for="id_emerg_first_name">First Name:</label></td>
 <td>{{ form.emerg_first_name }} {% if form.emerg_first_name.errors %}
   <br /><span class="form_error">{{ form.emerg_first_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_emerg_last_name">Last Name:</label></td>
 <td>{{ form.emerg_last_name }} {% if form.emerg_last_name.errors %}
   <br /><span class="form_error">{{ form.emerg_last_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>


<tr>
 <td><label for="id_emerg_e_mail">Email:</label></td>
 <td>{{ form.emerg_e_mail}} {% if form.emerg_e_mail.errors %}
   <br /><span class="form_error">{{ form.emerg_e_mail.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
  <td colspan="2"><label>Address:</label></td>
</tr>

<tr>
 <td align='right'><label for="id_emerg_address_street">
                       <small><i>street</i></small>
		   </label>
 </td>
 <td>{{ form.emerg_address_street }} {% if form.emerg_address_street.errors %}
   <br /><span class="form_error">{{ form.emerg_address_street.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td align="right"><label for="id_emerg_address_city">
                        <small><i>city</i></small>
                   </label></td>
 <td>
 <table class="plain" border="0" cellspacing="0" cellpadding="0" width="100%">
 <tr>
 
 <td>
  {{ form.emerg_address_city }} {% if form.emerg_address_city.errors %}
   <br /><span class="form_error">{{ form.emerg_address_city.errors|join:", " }}</span>
   {% endif %}
 </td>
 <td style="padding-left: 6px;">{{ form.emerg_address_state }} {% if form.emerg_address_state.errors %}
   <br /><span class="form_error">{{ form.emerg_address_state.errors|join:", " }}</span>
   {% endif %}
 </td>

 <td align="right"><label for="id_emerg_address_zip">
                       <small><i>&nbsp;&nbsp;zip</i></small>
                   </label>
 
 </td>
   <td>
  {{ form.emerg_address_zip }} {% if form.emerg_address_zip.errors %}
   <br /><span class="form_error">{{ form.emerg_address_zip.errors|join:", " }}</span>
   {% endif %}
   </td> 
 </tr>
 </table>
 </td>
</tr>

<tr>
 <td><label>Phone numbers:</label></td>
 <td>&nbsp;</td>
</tr>

<tr>
 <td align='right'><small><i><label for="id_phone_day">home</label></i></small></td>
 <td>{{ form.emerg_phone_day }} {% if form.emerg_phone_day.errors %}
   <br /><span class="form_error">{{ form.emerg_phone_day.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td align='right'><small><i><label for="id_phone_cell">cell</label></i></small></td>
 <td>{{ form.emerg_phone_cell }} {% if form.emerg_phone_cell.errors %}
   <br /><span class="form_error">{{ form.emerg_phone_cell.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
<!-- End Emergency Contact -->
