{% extends "main.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Grade Change Request Form" %}{% endblock %}

{% block content %}
<h1>{% trans "Year Change Request Form" %}</h1>

{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{% if message.SUCCESS %}success{% else %}success{% endif %}"> <strong>{{ message.type }}{{ message }}</strong>
	</div>
	{% endfor %}
{% else %}
<div class="alert" id="id-grade-change-request-info">
	<p>
		{% blocktrans %}
		Send a school year change request if you feel your school year is incorrect. One of our administrators will review your request and you will be notified accordingly.
		{% endblocktrans %}
	</p>
</div>
{% endif %}


<div class="row">
	<div class="span6">
		<p>
		<ul>
			<li><strong>Account: </strong>{{ user.username }} </li>
			<li><strong>Current School Year: </strong>{{ user.getGrade }}</li>
		</ul>
		</p>

		<form id="id-grade-change-request-form" action="{% url 'grade_change_request' %}" method="post" accept-charset="utf-8">
			     {% csrf_token %}
			
			{{ form|bootstrap }}
			
			<div class="form-actions"><input type="submit" class="btn btn-primary" value="{% trans "Send Request" %}" /></div>
		</form>
	</div>
</div>
{% endblock %}
