<!-- Begin Guardian Contact Info -->

<tr>
 <td colspan="2">
<label class="groupheader">Parent/Guardian</label>
 </td>
</tr>

<tr>
 <td><label for="id_guard_first_name">First Name:</label></td>
 <td>{{ form.guard_first_name }} {% if form.guard_first_name.errors %}
   <br /><span class="form_error">{{ form.guard_first_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_guard_last_name">Last Name:</label></td>
 <td>{{ form.guard_last_name }} {% if form.guard_last_name.errors %}
   <br /><span class="form_error">{{ form.guard_last_name.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_guard_e_mail">Email:</label></td>
 <td>{{ form.guard_e_mail }} {% if form.guard_e_mail.errors %}
   <br /><span class="form_error">{{ form.guard_e_mail.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label>Phone:</label></td>
</tr>

<tr>
 <td align='right'><small><i><label for="id_guard_phone_day">day</label></i></small></td>
 <td>{{ form.guard_phone_day }} {% if form.guard_phone_day.errors %}
   <br /><span class="form_error">{{ form.guard_phone_day.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td align='right'><small><i><label for="id_guard_phone_even">evening</label></i></small></td>
 <td>{{ form.guard_phone_even }} {% if form.guard_phone_even.errors %}
   <br /><span class="form_error">{{ form.guard_phone_even.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td align='right'><small><i><label for="id_guard_phone_cell">cell</label></i></small></td>
 <td>{{ form.guard_phone_cell }} {% if form.guard_phone_cell.errors %}
   <br /><span class="form_error">{{ form.guard_phone_cell.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
<!-- End Guardian Contact Info -->