<!-- Begin Guardian Contact Info -->

<h3>Parent/Guardian Contact</h3>

{% if form.guard_first_name %}
<div class="control-group">
 <label class="control-label" for="id_guard_first_name">First Name:</label>
 <div class="controls">
 {{ form.guard_first_name }} {% if form.guard_first_name.errors %}
   <br /><span class="form_error">{{ form.guard_first_name.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.guard_last_name %}
<div class="control-group">
 <label class="control-label" for="id_guard_last_name">Last Name:</label>
 <div class="controls">
 {{ form.guard_last_name }} {% if form.guard_last_name.errors %}
   <br /><span class="form_error">{{ form.guard_last_name.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.guard_e_mail %}
<div class="control-group">
 <label class="control-label" for="id_guard_e_mail">Email address:</label>
 <div class="controls">
 {{ form.guard_e_mail }} {% if form.guard_e_mail.errors %}
   <br /><span class="form_error">{{ form.guard_e_mail.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.guard_phone_day or form.guard_phone_cell %}
<h4>Phone numbers:</h4>
{% endif %}

{% if form.guard_phone_day %}
<div class="control-group">
 <small><i><label class="control-label" for="id_guard_phone_day">home</label></i></small>
 <div class="controls">
 {{ form.guard_phone_day }} {% if form.guard_phone_day.errors %}
   <br /><span class="form_error">{{ form.guard_phone_day.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.guard_phone_cell %}
<div class="control-group">
 <small><i><label class="control-label" for="id_guard_phone_cell">cell</label></i></small>
 <div class="controls">
 {{ form.guard_phone_cell }} {% if form.guard_phone_cell.errors %}
   <br /><span class="form_error">{{ form.guard_phone_cell.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

<!-- End Guardian Contact Info -->
