<!-- Begin Student Info Portion -->
<tr>
 <th colspan="2">Student Information</th> {{ form.errors }}
</tr>

{% if not form.allow_change_grade_level %}
<tr>
<td colspan="2"> 
<div class="info">
PLEASE NOTE: You will only be able to set your age and grade level ONCE. 
After you click "Update Your Information!" below, or if you've already
done so in the past, you will not be able to change your age or grade level. 
<br /> <br />
Please fill out your current age and grade accurately and honestly.
We trust our students to represent themselves honestly, but
students have abused this trust in the past to circumvent grade
requirements for higher-level classes.  Lying about your age is fraud
and is extremely frustrating for our teachers, who set these grade
requirements with full knowledge of the outstanding students in the
program.  Please be honest and support the community. 
<br /> <br />
Your grade level updates automatically every August; if you skip a grade or 
take a year off, please email us and we will fix your grade. For a more 
detailed explanation of our age and grade level policy, please click 
<a href="/learn/parents/agelimit.html">here</a>.
</div>
</td>
</tr>
{% endif %}

<tr>
 <td><label for="id_dob">Date of Birth.:</label></td>
 <td>{{ form.dob }} {% if form.dob.errors %}
   <br /><span class="form_error">{{ form.dob.errors|join:", " }}</span>
   {% endif %}

 </td>
</tr>

<tr>
 <td><label for="id_graduation_year">Grade / Graduation Year:</label></td>
 <td>{{ form.graduation_year }} {% if form.graduation_year.errors %}
   <br /><span class="form_error">{{ form.graduation_year.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_k12school">School:</label>
 <br /><span style="font-size: 0.8em; font-style: italic;">(Begin to type your school's name and select your school if it comes up.)</span></td>
 <td>{{ form.k12school }} {% if form.k12school.errors %}
   <br /><span class="form_error">{{ form.k12school.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_heardofesp">How did you hear of this program?</label></td>
 <td>{{ form.heard_about }} {% if form.heard_about.errors %}
   <br /><span class="form_error">{{ form.heard_about.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

{% if form.fields.studentrep %}<tr>
 <td>
<label for="id_studentrep">I want to be a <a href="/getinvolved/studentreps.html" target="_blank">Student Rep</a>:</label></td>
 <td>
   {{ form.studentrep }} 
{% if form.studentrep.errors %}
   <br /><span class="form_error">{{ form.studentrep.errors|join:", " }}</span>
   {% endif %}
</td></tr>
{% if form.fields.studentrep_expl %}<tr><td><i>For new student reps:</i></td>
<td>Please enter a short explanation of why you would <br />
like to be a student representative and any ideas you <br />
may have for us.  Our membership coordinator will <br />
contact you soon! <br />
{{ form.studentrep_expl }}
{% if form.studentrep_expl.errors %}
   <br /><span class="form_error">{{ form.studentrep_expl.errors|join:", " }}</span>
{% endif %}
 </td>
</tr>{% endif %}{% endif %}

{% if form.food_preference %}
<tr>
 <td><label for="id_food_preference">Food preference: </label></td>
 <td>{{ form.food_preference }} {% if form.food_preference.errors %}
   <br /><span class="form_error">{{ form.food_preference.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
{% endif %}

{% if form.shirt_size %}
<tr>
 <td colspan="2"><p>
    <div class="info">T-shirts are available at some ESP programs. When you reserve a t-shirt, this is the shirt size and type that will be ordered. Note that choosing a shirt size and type here does <b>not</b> reserve a t-shirt for you!</div>
 </p></td>
</tr>

<tr>
 <td><label for="id_shirt_size">Shirt size:</label></td>
 <td>{{ form.shirt_size }} {% if form.shirt_size.errors %}
   <br /><span class="form_error">{{ form.shirt_size.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_shirt_type">Shirt type:</label></td>
 <td>{{ form.shirt_type }} {% if form.shirt_type.errors %}
   <br /><span class="form_error">{{ form.shirt_type.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
{% endif %}

{% if form.post_hs %}
<tr>
 <td><label for="id_post_hs">What are your plans after you graduate from high school?</label></td>
 <td>{{ form.post_hs }} {% if form.post_hs.errors %}
   <br /><span class="form_error">{{ form.post_hs.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
{% endif %}

{% if form.transportation %}
<tr>
 <td><label for="id_transportation">How do you plan to get to/from the program?</label></td>
 <td>{{ form.transportation }} {% if form.transportation.errors %}
   <br /><span class="form_error">{{ form.transportation.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
{% endif %}


<!-- End Student Info Portion -->
