<!-- Begin Student Info Portion -->
<tr>
 <td><label for="id_dob">D.O.B.:</label></td>
 <td>{{ form.dob }} {% if form.dob.errors %}
   <br /><span class="form_error">{{ form.dob.errors|join:", " }}</span>
   {% endif %}

 </td>
</tr>

<tr>
 <td><label for="id_graduation_year">Your Grade:<br />
<em>(As of September 15, 
      <strong>{{request.user.currentSchoolYear}}</strong>)
      </em></label></td>
 <td>{{ form.graduation_year }} {% if form.graduation_year.errors %}
   <br /><span class="form_error">{{ form.graduation_year.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_school">School Name:<br /><small>(or &quot;home-schooled&quot;)</small></label></td>
 <td>{{ form.school }} {% if form.school.errors %}
   <br /><span class="form_error">{{ form.school.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<!-- End Student Info Portion -->