<!-- Begin Teacher Info Portion -->

{% load render_qsd %}

<h3>Additional Teacher Information</h3>

{% if form.affiliation %}
<div class="control-group">
    <label for="id_affiliation" class="control-label">{{ form.affiliation.label }}<font color="red">*</font></label>
    <div class="controls controls-row">
    <span style="font-size: 0.8em; font-style: italic;">(If you select "Other" or "No affiliation," please explain in the lower box.)</span><br />
    {{ form.affiliation }} {% if form.affiliation.errors %}
    <br /><span class="form_error">{{ form.affiliation.errors|join:", " }}</span>
    {% endif %}
    </div>
</div>
{% endif %}

{% if form.graduation_year %}
<div class="control-group">
<label for="id_graduation_year" class="control-label">Graduation Year:</label>
<div class="controls">
 {{ form.graduation_year }} 
 <br /><div style="font-size: 0.8em">(Enter 'G' if you're a graduate student)</div>
 {% if form.graduation_year.errors %}
  <br /><span class="form_error">{{ form.graduation_year.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.major %}
<div class="control-group">
 <label for="id_major" class="control-label">Major/Department:</label>
 <div class="controls">
 {{ form.major }} {% if form.major.errors %}
   <br /><span class="form_error">{{ form.major.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.shirt_size %}

{% inline_program_qsd_block program "teach:teacher_shirt_info" %}
<div class="alert"><b>Shirts for teachers!</b> As a token of our appreciation for your teaching, you will receive a free shirt.  If you would like a shirt, please enter your preferred size {% if form.shirt_type %}and shape {% endif %}below.  This information is optional.</div>
{% end_inline_program_qsd_block %}
 
<div class="control-group">
 <label for="id_shirt_size" class="control-label">Shirt size:</label>
 <div class="controls">
 {{ form.shirt_size }} {% if form.shirt_size.errors %}
   <br /><span class="form_error">{{ form.shirt_size.errors|join:", " }}</span>
   {% endif %}
</div>
</div>

{% endif %}

{% if form.shirt_type %}
<div class="control-group">
 <label for="id_shirt_type" class="control-label">Shirt type:</label>
 <div class="controls">
 {{ form.shirt_type }} {% if form.shirt_type.errors %}
   <br /><span class="form_error">{{ form.shirt_type.errors|join:", " }}</span>
   {% endif %}
</div>
</div> 

{% endif %}

<!-- End Teacher Info Portion -->
