<!-- User ContactInfo -->

<h3>{{ profiletype|capfirst }} Contact Information</h3>

{% if form.first_name %}
 <div class="control-group">
 <label class="control-label" for="id_first_name">First Name:</label>
 <div class="controls">
 {{ form.first_name }} {% if form.first_name.errors %}
   <br /><span class="form_error">{{ form.first_name.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.last_name %}
<div class="control-group">
 <label class="control-label" for="id_last_name">Last Name:</label>
 <div class="controls">
 {{ form.last_name }} {% if form.last_name.errors %}
   <br /><span class="form_error">{{ form.last_name.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.e_mail %}
{% ifequal profiletype "student" %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Students:</strong> Please enter your primary email address.  It is important that you check your email at this address regularly, since it is our only means of contacting you with important information for each program you participate in.  Enter your parents' email address in the parent/guardian section below.
</div>
{% endifequal %}

<div class="control-group">
 <label class="control-label" for="id_e_mail">Email address:</label>
 <div class="controls">
 {{ form.e_mail }} {% if form.e_mail.errors %}
   <br /><span class="form_error">{{ form.e_mail.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.address_street or form.address_city or form.address_state or form.address_zip %}
<h4>Address:</h4>
{% endif %}

{% if form.address_street %}
<div class="control-group">
    <label class="control-label" for="id_address_street">
    <small><i>street</i></small>
    </label>
    <div class="controls">
    {{ form.address_street }} {% if form.address_street.errors %}
    <br /><span class="form_error">{{ form.address_street.errors|join:", " }}</span>
    {% endif %}
    </div>
</div>
{% endif %}

{% if form.address_city or form.address_state or form.address_zip %}
<div class="control-group">
    <label class="control-label" for="id_address_city">
    <small><i>{% if form.address_city %}city/{% endif %}{% if form.address_state %}state/{% endif %}{% if form.address_zip %}zip{% endif %}</i></small>
    </label>
    <div class="controls controls-row">
        {{ form.address_city }} {% if form.address_city.errors %}
        <br /><span class="form_error">{{ form.address_city.errors|join:", " }}</span>
        {% endif %}

        {{ form.address_state }} {% if form.address_state.errors %}
        <br /><span class="form_error">{{ form.address_state.errors|join:", " }}</span>
        {% endif %}
        
        {{ form.address_zip }} {% if form.address_zip.errors %}
        <br /><span class="form_error">{{ form.address_zip.errors|join:", " }}</span>
        {% endif %}
        
        {{ form.address_country }} {% if form.address_country.errors %}
        <br /><span class="form_error">{{ form.address_country.errors|join:", " }}</span>
        {% endif %}
    </div>
</div>
{% endif %}

{{ form.address_postal }}

{% if form.phone_day or form.phone_cell %}
<h4>Phone number{% if form.phone_day and form.phone_cell %}s{% endif %}:{% if profiletype == "teacher" or profiletype == "student" and require_student_phonenum %}<font color="red">*</font>{% endif %}</h4>

{% if profiletype == "student" %}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Students:</strong> Please enter <b>your</b> phone numbers below.{% if not require_student_phonenum %} If you do not have {% if form.phone_day %}a home phone {% endif %}{% if form.phone_day and form.phone_cell %}nor {% endif %}{% if form.phone_cell %}a personal cell phone{% endif %}, please leave this blank.{% endif %} You will enter your guardian and emergency contact phone numbers in the sections below.
</div>
{% endif %}

{% if form.phone_day %}
<div class="control-group">
 <small><i><label class="control-label" for="id_phone_day">home</label></i></small>
 <div class="controls">
 {{ form.phone_day }} {% if form.phone_day.errors %}
   <br /><span class="form_error">{{ form.phone_day.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}

{% if form.phone_cell %}
<div class="control-group">
 <small><i><label class="control-label" for="id_phone_cell">cell</label></i></small>
 <div class="controls">
 {{ form.phone_cell }} {% if form.phone_cell.errors %}
   <br /><span class="form_error">{{ form.phone_cell.errors|join:", " }}</span>
   {% endif %}
</div>
</div>
{% endif %}
{% endif %}

{% if form.receive_txt_message and form.phone_cell %}
 <small><i><label = "id_receive_txt_message">I would like to receive text-message reminders about the program:</label></i></small>
 {{ form.receive_txt_message }} {% if form.receive_txt_message.errors %}
   <br /><span class="form_error">{{ form.receive_txt_message.errors|join:", " }}</span>
   {% endif %}
{% endif %}

<!-- End User ContactInfo -->
