{% extends "main.html" %}

{% block title %}User Records Portal{% endblock %}

{% block content %}

<h1>User Records Portal</h1>

<h2>Step 2:</h2>
<p>You have selected {{ num_users }} users. Use the settings below to set records for them.</p>

<form action="/manage/{{ program.getUrlBase }}/userrecordsfinal?filterid={{ filterid }}" method="post" name="usergroup">
<input type="hidden" name="selected" value="{{selected}}" />
<h3>Choose which record(s) to set for these users:</h3>
{% for rec in records %}
<input type="checkbox" name="records" value="{{ rec.0 }}"/> {{ rec.1 }}<br>
{% endfor %}
<br>
<input type="submit" value="Set Record(s)" />
</form>

{% include "program/modules/admincore/returnlink.html" %}

{% endblock %}
