{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript">
  <!--

      function updateDocs(docs) {
      document.getElementById('adminhelp').innerHTML = docs;
      }
      //-->
</script>

<script type="text/javascript">
function initialize()
{
    $j("div.module_link_large").button();
}

$j(document).ready(initialize);
</script>

{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/management.css" type="text/css" />

    <style type="text/css">
    .nocheckmark { border: 1px solid black; }
    </style>
{% endblock %}

{% block content %}

{% load render_qsd %}

<h1>Admin Portal for {{ program.niceName }} (ID: {{ program.id }})</h1>

{% inline_program_qsd_block program "manage:main_top" %}
Welcome to the administrative home page for {{ program.niceName }}.  This page links to the most common functions needed by program administrators, many of which are documented on <a href="http://wiki.learningu.org/How_to_use_the_website">the LU wiki</a>.  Feel free to edit these directions to add your program-specific links and notes here.
{% end_inline_program_qsd_block %}

<div class="module_group" id="module_group_1">
    <div class="module_group_header">
        Configure Your Program
    </div>
    <div style="display: inline-block;" class="button_wrapper">
        {% if manage_resources %}
        <a href="/manage/{{ program.getUrlBase }}/resources"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Resources</div>
            <div class="module_link_caption">timeslots, classrooms</div>
        </button></a>
        {% endif %}
        {% if manage_deadlines %}
        <a href="/manage/{{ program.getUrlBase }}/deadlines"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Deadlines</div>
            <div class="module_link_caption">open/close registration</div>
        </button></a>
        {% endif %}
    </div>
    <div class="module_group_body">
        <ul>
            {% if manage_teacher_events %}<li><a href="/manage/{{ program.getUrlBase }}/teacher_events">Teacher Training and Interviews</a>: Teachers signed up for each slot</li>{% endif %}
            {% if manage_lunch_constraints %}<li><a href="/manage/{{ program.getUrlBase }}/lunch_constraints">Lunch Constraints</a>: Rules for your students' schedules</li>{% endif %}
            {% if manage_registrationtype_management %}<li><a href="/manage/{{ program.getUrlBase }}/registrationtype_management">Student Registration Types</a>: What students see on their schedule after a lottery</li>{% endif %}
            {% if manage_surveys %}<li><a href="/manage/{{ program.getUrlBase }}/surveys">View and Manage Surveys</a>: Create new surveys, edit existing surveys, and review survey results</li>{% endif %}
            {% if manage_settings %}<li><a href="/manage/{{ program.getUrlBase }}/settings/">Modify Settings for This Program</a>: Emails, program caps and modules, class categories, and flag types</li>{% endif %}
            {% if manage_tags %}<li><a href="/manage/{{ program.getUrlBase }}/tags">Modify Tag Settings for This Program</a>: Generic miscellaneous settings, for experts only</li>{% endif %}
        </ul>
    </div>
</div>

<div class="module_group" id="module_group_2">
    <div class="module_group_header">
        Coordinate with Participants
    </div>
    <div style="display: inline-block;" class="button_wrapper">
        {% if manage_commpanel %}
        <a href="/manage/{{ program.getUrlBase }}/commpanel"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Email</div>
            <div class="module_link_caption">communications panel</div>
        </button></a>
        {% endif %}
        {% if manage_admin_morph %}
        <a href="/manage/{{ program.getUrlBase }}/admin_morph"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Morph into User</div>
            <div class="module_link_caption">&nbsp;</div>
        </button></a>
        {% endif %}
    </div>
</div>

<div class="module_group" id="module_group_3">
    <div class="module_group_header">
        Manage Logistics
    </div>
    <div style="display: inline-block;" class="button_wrapper">
        {% if manage_dashboard %}
        <a href="/manage/{{ program.getUrlBase }}/dashboard"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Dashboard</div>
            <div class="module_link_caption">review classes and stats</div>
        </button></a>
        {% endif %}
        {% if manage_ajax_scheduling %}
        <a href="/manage/{{ program.getUrlBase }}/ajax_scheduling"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Scheduling</div>
            <div class="module_link_caption">assign rooms and times</div>
        </button></a>
        {% endif %}
        {% if manage_get_materials %}
        <a href="/manage/{{ program.getUrlBase }}/get_materials"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Documents</div>
            <div class="module_link_caption">upload and view files</div>
        </button></a>
        {% endif %}
        {% if manage_volunteering %}
        <a href="/manage/{{ program.getUrlBase }}/volunteering"><button type="button" class="module_link_large btn btn-default btn-lg">
            <div class="module_link_main">Volunteers</div>
            <div class="module_link_caption">create shifts, view signups</div>
        </button></a>
        {% endif %}
    </div>
</div>
<table width="100%">
<tr>
<td width="50%">
<div class="module_group" id="module_group_4">
    <div class="module_group_header_half">
        Quick Links
    </div>
    <div class="module_group_body">
    <ul>
        {% if learn_catalog %}<li><a href="/learn/{{ program.getUrlBase }}/catalog">Catalog</a></li>{% endif %}
        {% if learn_studentreg %}<li><a href="/learn/{{ program.getUrlBase }}/studentreg">Student Reg</a></li>{% endif %}
        {% if teach_teacherreg %}<li><a href="/teach/{{ program.getUrlBase }}/teacherreg">Teacher Reg</a></li>{% endif %}
        {% if volunteer_signup %}<li><a href="/volunteer/{{ program.getUrlBase }}/signup">Volunteer Reg</a></li>{% endif %}
        {% if onsite_main %}<li><a href="/onsite/{{ program.getUrlBase }}/main">Onsite</a></li>{% endif %}
    </ul>
    </div>
</div>
</td>
<td width="50%">
<div class="module_group" id="module_group_5">
    <div class="module_group_header_half">
        Generate Printables
    </div>
    <div class="module_group_body">
    <ul>
        {% if manage_catalog %}<li><a href="/manage/{{ program.getUrlBase }}/catalog">PDF Catalog</a></li>{% endif %}
        {% if manage_studentschedules %}<li><a href="/manage/{{ program.getUrlBase }}/studentschedules">Student Schedules</a></li>{% endif %}
        {% if manage_selectidoptions %}<li><a href="/manage/{{ program.getUrlBase }}/selectidoptions">Nametags</a></li>{% endif %}
        {% if manage_selectList %}<li><a href="/manage/{{ program.getUrlBase }}/selectList">Arbitrary User List</a></li>{% endif %}
        {% if manage_printoptions %}<li><a href="/manage/{{ program.getUrlBase }}/printoptions">All Printables</a></li>{% endif %}
    </ul>
    </div>
</div>
</td>
</tr>
</table>

<div class="module_group_header">Additional Modules</div>
<div id="additional_modules" class="module_group_body">
<table border="0" width="100%">
<tr>
 <td width="50%">
<ul>
{% for module in modules %}
{% if module.isStep %}
    {% if not module.isAdminPortalFeatured %}
      {% if not module.useTemplate %}
        <li>{% autoescape off %}{{ module.makeLink }}{% endautoescape %}</li>
      {% endif %}
    {% endif %}
{% endif %}
{% endfor %}
</ul>
</td>
<td style="vertical-align: top;">
<div class="helpbox">
<h4><span>Help</span></h4>
<div id="adminhelp">
Please select an option to the left to continue, or look down below to select further options.
</div> <!-- div#adminhelp -->
</div> <!-- div#helpbox -->
</td>
</tr>
</table>
</div> <!-- div#additional_modules -->

<td colspan="2">
{% render_inline_program_qsd program "manage:main_bottom" %}
</td>

{% endblock %}
