{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block xtrajs %}
{{block.super }}
<script type="text/javascript">
<!--

function updateDocs(docs) {
   document.getElementById('adminhelp').innerHTML = docs;
}
//-->
</script>

<script type="text/javascript"> var base_url = "{{ program.getUrlBase }}" </script>
<script type="text/javascript"> var program_base_url = "/json/"+base_url+"/"; </script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>
<script type="text/javascript" src="/media/scripts/sorttable.js"></script>
<script type="text/javascript" src="/media/scripts/program/modules/admincore.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/styles/management.css" />
{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Admin Dashboard for {{program.niceName}} </h1>

{% include "program/modules/admincore/returnlink.html" %}

{% for module in modules %}
{% if module.useTemplate %}
<br />
 {% include module.getTemplate %}

{% endif %}
{% endfor %}



{% endblock %}
