{% extends "main.html" %}

{% block title %}{{program.niceName}}{% endblock %}

{% block xtrajs %}
{{ block.super }}

<script type="text/javascript">
<!--
function swap_visible(div_id) {
    // We don't actually want to swap visibility
}
//-->
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
{% endblock %}

{% block content %}
<br />

<h1>
    Catalog Preview for {{ class.emailcode }}
</h1>

<div id="catalog">
{% load class_render %}
{% render_class class %}
</div>

{% endblock %}
