{% if handouts or prog.documents.count > 0 %}
<section class="card teacher-preview-panel">
  <div class="card-header text-bg-primary">
    <h2>Handouts</h2>
  </div>
  <div class="card-body">
    {% if prog.documents.count > 0 %}
    <h3>Informational documents for {{ prog.program_type }}</h3>
    <ul class="teacher-preview-handouts">
      {% for doc in prog.getDocuments %}
      <li><a href="{{ doc.download_path }}">{{ doc.friendly_name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if handouts %}
    <h3>Information specific to your classes</h3>
    <ul class="teacher-preview-handouts">
      {% for h in handouts %}
      <li><a href="/teach/{{ program.url }}/{{ h.url }}">{{ h.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endif %}
