
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
    <link rel="stylesheet" href="/media/styles/expand_display.css" type="text/css" />
{% endblock %}

{% block xtrajs %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/expand_display.js"></script>
{% endblock %}

{% load class_render %}

<div id="catalog">
  <table align="center" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <th align="center">Classes Already Registered</th>
    </tr>

    
    {% for cat in categories %}
    <tr><td>
        <p class="dspsection">
        <a href="javascript:void(0)" class="dsphead_small" onclick="expand_disp(this)">
        <span class="dspchar">+</span> <b>Category: {{ cat.category }}</b> (click to expand/contract)
        </a>
        
        <div class="dspcont">
        <table cellpadding="2" cellspacing="0" width="100%">
            <tr>
                <th class="materials">Class</th>
                <th class="materials">Teachers</th>
                <th class="materials">Description</th>
                <th class="materials">Grades</th>
            </tr>
                {% for class in cat.classes %}
                    {% render_class_preview class %}
                {% endfor %}
        </td></tr>
        </table>
        </div>
        </p>
    </td></tr>
    {% endfor %}
    
</table>
</div>

{% include "program/modules/teacherpreviewmodule/handouts.html" %}
