
<link rel="stylesheet" href="/media/styles/catalog.css" type="text/css" />
<link rel="stylesheet" href="/media/styles/expand_display.css" type="text/css" />

{% load class_render %}

{% load render_qsd %}
{% render_inline_program_qsd program "teach:teacherpreview" %}

<div id="catalog">
  <table align="center" cellpadding="0" cellspacing="0" class="fullwidth" style="text-align: center">
    <tr>
        <th align="center"><h2>Classes Already Registered</h2></th>
    </tr>

    
    {% for cat in categories %}
    <tr><td>
        <button class="dsphead small">
            <b>Category: {{ cat.category }}</b> (click to expand/contract)
        </button>

        <div class="dspcont">
            <table cellpadding="2" cellspacing="0" width="100%">
                <tr>
                    <th class="materials">Class</th>
                    <th class="materials">Teachers</th>
                    <th class="materials">Description</th>
                    <th class="materials">Grades</th>
                </tr>
                    {% for class in cat.classes %}
                        {% render_class_preview class %}
                    {% endfor %}
            </table>
        </div>
    </td></tr>
    {% endfor %}
    
</table>
</div>

<script type="text/javascript" src="/media/scripts/expand_display.js"></script>

{% include "program/modules/teacherpreviewmodule/handouts.html" %}
