<h2>Comments</h2>
{% if not entry.comment_set.all %}
<em>There are no comments for this post.</em><br />

{% else %}

{% for comment in entry.comment_set.all %}
<div class="blog_comment">
<h3>{{ comment.subject }}</h3>

{{ comment.content }}
<a name="comment_{{ comment.id }}"></a>
<p class="blog_attribution">
Comment by {{ comment.author.first_name }} {{ comment.author.last_name }} &mdash; {{ comment.post_ts|date:"n/d/Y\, h:i a" }}
</p>
</div>
{% endfor %}

{% endif %}
{% if user.is_authenticated %}
<div id="form_spacing">&nbsp;</div>

<form action="{{ path }}" method="post" name="comments">
<table>
<thead>
<tr>
  <th colspan="2">
    Post a comment
  </th>
</tr>
</thead>
<tbody>
{% if form.errors %}
<tr>
<td colspan="2">
<div class="errors">
There 
{% if form.errors|length_is:1 %}is an error{% else %}
are errors{% endif %} in the below form. Please fix and resubmit.<br />
Note: If you are experiencing difficulties, please <a href="/contact/contact/esp-web/"
title="Contact Form">contact us</a>.
</div>
</td>
</tr>
{% endif %}
{{ form }}
<tr>
  <th colspan="2" class="submit">
    <input type="submit" value="Post comment" name="comment" />
  </th>
</tr>
</tbody>
</table>
</form>
{% endif %}
