{% extends "main.html" %}
{% block title %}{{program.niceName}} Code of Conduct{% endblock %}
{% block content %}
<h2>Teacher Code of Conduct for {{program.niceName}} </h2>
<br />
{% load render_qsd %}
{% inline_program_qsd_block program "teach:waiver_instructions" %}
Before attending {{ prog.niceName }}, please fill out the code of conduct at the following link: <a href="/" target="_blank">LINK GOES HERE</a>. Once you have completed this code of conduct (with email confirmation), check the box below and proceed with registration. Please email us at <a href="mailto:{{ prog.director_email }}">{{ prog.director_email }}</a> if you have any questions.
{% end_inline_program_qsd_block %}
<br />
<form action="waiver" method="post">
{{ form.as_p }}
<input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}
