{% extends "main.html" %}
{% block title %}{{program.niceName}} Code of Conduct{% endblock %}
{% block content %}
<h2>Teacher Code of Conduct for {{program.niceName}} </h2>
<br />
{% load render_qsd %}
{% inline_program_qsd_block program "teach:waiver_instructions" %}
Before attending {{ prog.niceName }}, please complete the <a href="/nowaiver.html" target="_blank">[FIXME] Minors Code of Conduct Form</a>&nbsp;AND&nbsp;the <a href="/nowaiver.html" target="_blank">[FIXME] liability waiver</a>.&nbsp;<strong>If you do not complete the code of conduct form&nbsp;prior to {{ prog.niceName }}, you will not be allowed to teach.</strong> Check the box below to confirm that you have read and understand this, and proceed
to teacher registration.&nbsp;Please email us at <a href="mailto:{{ prog.director_email }}">{{ prog.director_email }}</a> if you have any questions.

<b>You must fill out the linked forms above. Only clicking the checkbox is not sufficient.</b>
{% end_inline_program_qsd_block %}
<br />
<form action="waiver" method="post">
{{ form.as_p }}
<input type="submit" value="Submit" class="btn btn-primary" />
</form>
{% endblock %}
