{% extends "elements/html" %}

{% block fulltitle %}{{ theme.titlebar_prefix }} - {% block title %}{% endblock %}{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="/media/scripts/theme/main.js"></script>
{% endblock %}

{% block body %}

{% block main %}
<div id="page" style="margin:0 auto; width:920px;">
<div id="top_area">
<div id="logo_area">
    <div id="main_logo"><a href="/"><img src="/media/images/theme/logo.png?v={{ current_logo_version }}"/></a></div>
    <div id="lu_logo"><a href="http://www.learningu.org/"><img src="/media/images/theme/lu_logo_mini.png"/></a></div>
    <div id="logo_blurb">
        Supported by <br /><a href="http://www.learningu.org/">Learning Unlimited</a>
    </div>
</div>

<div id="nav_area">
    {% comment %} === Admin Toolbar (includes user search) === {% endcomment %}
    {% load modules %}
    <style>
        #content_area h2, h3, p, form {
	        padding-left: 0px;
	        padding-right: 0px;
}
    </style>
    <link rel="stylesheet" type="text/css" href="/media/default_styles/admin_bar.css">
        <div id="adminbar" class="admin hidden" style="position: fixed !important">
            <div class="title" onclick="ESP.toggleDisplay('adminbar_content');">Admin Toolbar</div>
            <div id="adminbar_content"></div>
        </div>
    <script type="text/javascript">
    var currentPrograms = [
    {% for current_program in current_programs %}
        {
            urlBase: "{{ current_program.getUrlBase }}",
            name: "{{ current_program.niceName }}",
            class_search: {% if current_program|hasModule:"ClassSearchModule" %}true{% else %}false{% endif %}
        },
    {% endfor %}
    ];
    var debug = {{ settings.DEBUG|yesno:"true,false" }};
    </script>
    <script type="text/javascript" src="/media/scripts/admin_bar.js"> </script>
    {% comment %} === Ends Admin Toolbar (includes user search) === {% endcomment %}

    <div id="nav_buffer">
        <div id="nav_buffer_background">{{ theme.title_text }}</div>
        <div id="nav_buffer_foreground">{{ theme.subtitle_text }}</div>
    </div>
    
    <div id="primary_nav">
        {% for category in theme.nav_structure %}
        <div class="toplevel_link{% if request.path|slice:":5" == category.header_link|slice:":5" %} toplevel_focus{% endif %}">
            <a href="{{ category.header_link }}">{{ category.header }}</a>
        </div>
        {% endfor %}
    </div>

    <br />

    <div id="secondary_nav">
        {% for category in theme.nav_structure %}
        <div class="sublink">
        {% for item in category.links %}
        <a href="{{ item.link }}">{{ item.text }}</a>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
</div>

<div id="bottom_area">
<div id="boxes_area">
    <!-- Login -->
    <div class="box" style="text-align: right;">
    {% include "users/loginbox_content.html" %}
        <li class="unmorph hidden"><a href="/myesp/switchback/">Unmorph to <script type="text/javascript">document.write(esp_user.cur_retTitle);</script></a></li>
    </div>
    
    <!-- Announcements -->
    {% load preview %}
    {% if request.path == "/teach/index.html" %}
        {% miniblog_for_user AnonymousUser as announcements teach 3 %}
    {% else %}
        {% miniblog_for_user AnonymousUser as announcements learn 3 %}
    {% endif %}

    {% if not announcements.announcementList|length_is:0 %}
    {% for announce in announcements.announcementList %}
    <div class="box">
        {% if announce.makeUrl %}
        <div class="box_header"><a href="{{ announce.makeUrl }}">{{ announce.makeTitle }}</a></div>
        {% else %}
        <div class="box_header">{{ announce.makeTitle }}</div>{{ announce.content }}
        {% endif %}
    </div>
    {% endfor %}
    {% if announcements.overflowed %}
    <div class="box" id="divannouncemore">
        <div class="box_header"><a href="/myesp/home/">More Notices...</a></div>
    </div>
    {% endif %}
    {% endif %}

    <!-- Onsite -->
    <div class="box onsite hidden">
    <div class="box_header"><a href="/myesp/onsite/">Onsite registration</a></div>
    </div>

</div>

<div id="content_area">
    {% if request.mod_required %}
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        This page is <b>required</b> for {% if request.tl == "teach" %}teacher{% elif request.tl == "learn" %}student{% elif request.tl == "volunteer" %}volunteer{% endif %} registration. You must complete it to proceed.
    </div>
    {% endif %}
    {% if request.show_perm_info %}
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <a href="/manage/{{ request.one }}/{{ request.two }}/deadline_management/">Permission/deadline</a> required to view this page: {{ request.perm_names|join:", " }}
        <br />
        {% if request.roles_with_perm %}
            Roles with permission to view this page: {{ request.roles_with_perm|join:", " }}
        {% else %}
            <strong>No (non-admin) roles have permission to view this page!</strong>
        {% endif %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}

    <div id="footer">
        <span class="normal">Copyright {{ theme.mtime.year }}, {{ settings.ORGANIZATION_SHORT_NAME }} at {{ settings.INSTITUTION_NAME }}</span><br>
        {% if theme.show_email or theme.contact_links %}
        <span class="normal">
          {% if theme.show_email %}<a href="mailto:{{ settings.DEFAULT_EMAIL_ADDRESSES.default }}">email us</a>{% if theme.contact_links %} | {% endif %}{% endif %}
          {% for link in theme.contact_links %}
          <a href="{{ link.link }}">{{ link.text }}</a>
          {% if not forloop.last %} | {% endif %}
          {% endfor %}
        </span><br>
        {% endif %}
        {% if theme.faq_link or theme.facebook_link %}
        <span class="normal">
          {% if theme.faq_link %}
            <a href="{{ theme.faq_link }}">FAQ</a>
          {% endif %}
          {% if theme.faq_link and theme.facebook_link %} | {% endif %}
          {% if theme.facebook_link %}
            <a href="{{ theme.facebook_link }}">facebook</a>
          {% endif %}
        </span>
        {% endif %}
    </div>
</div>

</div>
</div>
{% endblock %} {# endblock main #}

{% endblock %} {# endblock body #}
