{% extends "outlines/theme.html" %}

{% block title %}{{program.niceName}} Survey Administration{% endblock %}

{% block subsection_name %}Administration{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Surveys for {{ program.niceName }}</h1>

<p>
Surveys for students and teachers can be associated with {{ program.anchor.parent.name }} or with individual classes.  Use this page to create, edit, and review surveys.  Follow the links below for individual functions.
</p>

<h3>Possibilities</h3>
<ul>
<li><a href="/manage/{{ program.getUrlBase }}/surveys/create" title="Create">Create a new survey</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/surveys/review" title="Review">Review survey results</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/surveys/review_pdf" title="Review PDF">Review survey results (PDF format)</a></li>
<li><a href="/manage/{{ program.getUrlBase }}/surveys/top_classes" title="Top Classes">List the favorite classes</a></li>
</ul>

<h3>Existing Surveys</h3>
<ul>
{% for s in program.getSurveys %}
    <li><a href="/manage/{{ program.getUrlBase }}/surveys/edit?id={{ s.id }}">{{ s.name }}</a> (click to edit)
{% endfor %}
</ul>

{% include "program/modules/admincore/returnlink.html" %}

{% endblock %}