<div class="assignment-detail" id="assignment-detail-{{ assignment.id }}">
    <div style="background: {% if assignment.returned %}green{% else %}red{% endif %};" onclick="$j('#assignment-detail-{{ assignment.id }}').toggle('blink');">{{ assignment.resource.name }}</div>
    <form method="post" class="assignment-form" action="/manage/{{program.getUrlBase}}/editassignment/{{ assignment.id }}/">{% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th> Returned: </th>
                    <td class="returned">
                        <input name="returned" type="checkbox"{% if assignment.returned %} checked{% endif %}>
                        <input type="submit" id="assignment-submit-{{ assignment.id }}" class="btn btn-default" value="Update">
                        <button type="button" class="btn btn-default" onclick="removeAssignment('/manage/{{program.getUrlBase}}/deleteassignment/',{{ assignment.id }});">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>