{% extends "main.html" %}

{% block title %}Manage Resources for {{ prog.niceName }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block xtrajs %}
<script>
function toggle(source) {
  $j('input[name=to_import]').prop('checked', source.checked);
}
</script>
{% endblock %}

{% block content %}

<h1>Manage Resources for {{ prog.niceName }}</h1>

<h2>Confirm Classroom Import</h2>

{% load render_qsd %}
{% inline_program_qsd_block program "classroom_import_instructions" %}
<p>
You have chosen to import the classrooms from {{ past_program.niceName }} to {{ prog.niceName }}.  Please review the table below carefully before clicking "Submit" to complete the import.  In particular, check that each room is associated with the appropriate timeslots{% if import_furnishings %} and that each room has the correct furnishings{% endif %}.  If any of this data is not correct, please GO BACK; add the rooms manually or contact <a href="mailto:{{ DEFAULT_EMAIL_ADDRESSES.support }}">technical support</a> for assistance in automating the process.
</p>
{% end_inline_program_qsd_block %}

<div id="program_form">
<form method="post" action="{{ request.path }}">
<input type="hidden" name="import_confirm" value="yes" />
<input type="hidden" name="program" value="{{ past_program.id }}" />
<input type="hidden" name="complete_availability" value="{{ complete_availability }}" />
<input type="hidden" name="import_furnishings" value="{{ import_furnishings }}" />
<table align="center" cellpadding="0" cellspacing="0" width="550">
    <tr><th colspan="5">Proposed classrooms for {{ prog.niceName }}</th></tr>
    <tr><td colspan="5"><table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="underline"><b>Room</b></td>
        <td class="underline"><b>Capacity</b></td>
        <td class="underline"><b>Timeslots</b></td>
        {% if import_furnishings %}
        <td class="underline"><b>Furnishings</b></td>
        {% endif %}
        <td class="underline"><b>Import? <input type="checkbox" onclick=toggle(this) checked></b></td>
    </tr>
    {% for c in new_rooms %}
    <tr>
        <td class="underline">
            {{ c.name }}
        </td>
        <td class="underline">{{ c.num_students }}</td>
        <td class="underline">{% for t in c.timeslots %}{{ t }}<br />{% endfor %}</td>
        {% if import_furnishings %}
        <td class="underline">
            <ol>
            {% for f in c.furnishings %}
            <li>{{ f }}</li>
            {% endfor %}
            </ol>
        </td>
        {% endif %}
        <td class="underline"><input type="checkbox" name="to_import" value="{{c.old_id}}" checked></td>
    </tr>
    {% endfor %}
    </table></td></tr>
    <tr><td colspan="5" align="center"><input class="fancybutton" type="submit" value="Complete Import" /></td></tr>
</table>
</form>
</div>

{% endblock %}
