{% ifequal open_section "equipment" %}
<!-- Not in a dspcont div. The section below always shows -->
<h2>Step 4: Floating Resources</h2>
<br />
{% else %}
<p class="dspsection">
<a href="javascript:void(0)" class="dsphead" onclick="expand_disp(this)">
   <span class="dspchar">+</span> <b>Step 4: Floating Resources</b> (click to expand/contract)
</a>

<div class="dspcont">
{% endifequal %}

<p>The following are resources that ESP administrators or teachers can carry from room to room (LCD projectors, art supplies, etc).</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/resources/equipment">{% csrf_token %}
<input type="hidden" name="command" value="addedit" />
<table align="center" cellpadding="0" cellspacing="0" width="450">
    <tr><th colspan="2">Floating Resources for {{ prog.niceName }}</th></tr>
    <tr><td colspan="2"><table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td class="underline"><b>Name</b></td>
        <td class="underline"><b>Type</b></td>
        <td class="underline"><b>Available Times</b></td>
    </tr>
    {% for r in prog.getFloatingResources %}
        <tr>
            <td class="underline">{{ r.name }}
            <br />
                <a href="/manage/{{ prog.url }}/resources/equipment?op=edit&id={{ r.id }}">[Edit]</a>
                <a href="/manage/{{ prog.url }}/resources/equipment?op=delete&id={{ r.id }}">[Delete]</a>
            </td>
            <td class="underline">{{ r.res_type.name }}</td>
            <td class="underline">{% for t in r.timegroup %}{{ t }}<br />{% endfor %}</td>
        </tr>
    {% endfor %}
    </table></td></tr>

    <tr><th colspan="2" class="small">Add/modify a floating resource</th></tr>
    {{ equipment_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Resource" /></td></tr>
</table>
</form>
</div>

{% ifequal open_section "equipment" %}
<!-- Not in a dspcont div. -->
{% else %}
</div>
</p>
{% endifequal %}

<br />
