{% ifequal open_section "restype" %}
<!-- Not in a dspcont div. The section below always shows -->
<h2>Step 2: Resource Types</h2>
<br />
{% else %}
<p class="dspsection">
<a href="javascript:void(0)" class="dsphead" onclick="expand_disp(this)">
   <span class="dspchar">+</span> <b>Step 2: Resource Types</b> (click to expand/contract)
</a>

<div class="dspcont">
{% endifequal %}

<p>The following types of resources will be available for teachers to select on the teacher registration page.</p>

<p>Teachers are also asked to make special requests in the "Message for Directors" that gets e-mailed to you.  However, covering the most commonly needed things with these resource types would be a good idea.</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/resources/restype_import">
<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" class="small">Import resource types from a previous program</th></tr>
    {{ import_restype_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Start" /></td></tr>
</table>
</form>
<form method="post" action="/manage/{{ prog.url }}/resources/restype">
<input type="hidden" name="command" value="addedit" />
<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" class="small">Add/modify a resource type</th></tr>
    {{ restype_form }}
    
    <tr><th><label>Choices:<br>(optional)</label></th>
    <td>
    {{ reschoice_formset.management_form }}
    {% for choice_form in reschoice_formset %}
        <div class="choice-formset">
            {{ choice_form.choice }}
        </div>
    {% endfor %}
    </td></tr>
    
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Resource" /></td></tr>
</table>
</form>

<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2">Resource Types for {{ prog.niceName }}</th></tr>
    <tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="15%"><b>Type</b></td>
        <td width="30%"><b>Description</b></td>
        <td width="10%"><b>Priority</b></td>
        <td width="5%"><b>Only<br/>One</b></td>
        <td width="30%"><b>Choices</b></td>
        <td width="10%"></td>
    </tr>
    {% for h in resource_types %}
    {% ifchanged h.hidden %}{% if h.hidden %}
    <tr><th colspan="6">Resource Types Hidden During Teacher Registration</th></tr>
    {% endif %}{% endifchanged %}
        <tr>
            <td><div id="restype-{{ h.id }}">{{ h.name }}</div>{% if h.is_global %} (global){% endif %}</td>
            <td>{{ h.description }}</td>
            <td>{{ h.priority_default }}</td>
            <td>{% if h.only_one %}&#10003;{% endif %}</td>
            <td>
                <ol>
                {% for choice in h.choices %}
                <li>{{ choice }}</li>
                {% endfor %}
                </ol>
            </td>
            <td>
            <a href="/manage/{{ prog.url }}/resources/restype?op=edit&id={{ h.id }}">[Edit]</a>
            <a href="/manage/{{ prog.url }}/resources/restype?op=delete&id={{ h.id }}">[Delete]</a>
            </td>
        </tr>
    {% endfor %}
    </table></td></tr>
</table>
</div>

{% ifequal open_section "restype" %}
<!-- Not in a dspcont div. -->
{% else %}
</div>
</p>
{% endifequal %}

<br />
