{% ifequal open_section "restype" %}
<button class="dsphead active">
   <b>Step 2: Resource Types</b> (click to expand/contract)
</button>

<div class="dspcont active">
{% else %}
<button class="dsphead">
   <b>Step 2: Resource Types</b> (click to expand/contract)
</button>

<div class="dspcont">
{% endifequal %}

<p>The following types of resources will be available for teachers to select on the teacher registration page.</p>

<p>Teachers are also asked to make special requests in the "Message for Directors" that gets emailed to you.  However, covering the most commonly needed things with these resource types would be a good idea.</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/resources/restype_import">
<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" class="small">Import resource types from a previous program</th></tr>
    {{ import_restype_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Start" /></td></tr>
</table>
</form>
<form method="post" action="/manage/{{ prog.url }}/resources/restype">
<input type="hidden" name="command" value="addedit" />
<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" class="small">Add/modify a resource type</th></tr>
    {{ restype_form }}
    
    <tr><th><label>Choices:<br>(optional)</label></th>
    <td>
    {{ reschoice_formset.management_form }}
    {% for choice_form in reschoice_formset %}
        <div class="choice-formset">
            {{ choice_form.choice }}
        </div>
    {% endfor %}
    </td></tr>
    
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Resource" /></td></tr>
</table>
</form>

<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2">Resource Types for {{ prog.niceName }}</th></tr>
    <tr><td colspan="2"><table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="15%" class="underline"><b>Type</b></td>
        <td width="30%" class="underline"><b>Description</b></td>
        <td width="10%" class="underline"><b>Priority</b></td>
        <td width="5%" class="underline"><b>Only<br/>One</b></td>
        <td width="30%" class="underline"><b>Choices</b></td>
        <td width="10%" class="underline"></td>
    </tr>
    {% for h in resource_types %}
    {% ifchanged h.hidden %}{% if h.hidden %}
    <tr><th colspan="6">Resource Types Hidden During Teacher Registration</th></tr>
    {% endif %}{% endifchanged %}
        <tr>
            <td class="underline"><div id="restype-{{ h.id }}">{{ h.name }}</div>{% if h.is_global %} (global){% endif %}</td>
            <td class="underline">{{ h.description }}</td>
            <td class="underline">{{ h.priority_default }}</td>
            <td class="underline">{% if h.only_one %}&#10003;{% endif %}</td>
            <td class="underline">
                <ol>
                {% for choice in h.choices %}
                <li>{{ choice }}</li>
                {% endfor %}
                </ol>
            </td>
            <td class="underline">
            <a href="/manage/{{ prog.url }}/resources/restype?op=edit&id={{ h.id }}">[Edit]</a>
            <a href="/manage/{{ prog.url }}/resources/restype?op=delete&id={{ h.id }}">[Delete]</a>
            </td>
        </tr>
    {% endfor %}
    </table></td></tr>
</table>
</div>
</div>
