{% ifequal open_section "restype" %}
<!-- Not in a dspcont div. The section below always shows -->
<h2>Step 2: Resource Types</h2>
<br />
{% else %}
<p class="dspsection">
<a href="javascript:void(0)" class="dsphead" onclick="expand_disp(this)">
   <span class="dspchar">+</span> <b>Step 2: Resource Types</b> (click to expand/contract)
</a>

<div class="dspcont">
{% endifequal %}

<p>The following types of resources will be available for teachers to select on the teacher registration page.  Don't feel obligated to give them every possible option - we do ask teachers to make special requests in the "Message for Directors" that gets e-mailed to you.  However, covering the most commonly needed things would be a good idea.</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/resources/restype">{% csrf_token %}
<input type="hidden" name="command" value="addedit" />
<table align="center" cellpadding="0" cellspacing="0" width="550">
    <tr><th colspan="2">Resource Types for {{ prog.niceName }}</th></tr>
    <tr><td colspan="2"><table cellpadding="0" cellspacing="0">
    <tr>
        <td><b>Type</b></td>
        <td width="50%"><b>Description</b></td>
        <td><b>Priority</b></td>
    </tr>
    {% for h in resource_types %}
        <tr>
            <td>{{ h.name }} {% if h.is_global %}(global){% endif %}
            <br />
                <a href="/manage/{{ prog.url }}/resources/restype?op=edit&id={{ h.id }}">[Edit]</a>
                <a href="/manage/{{ prog.url }}/resources/restype?op=delete&id={{ h.id }}">[Delete]</a>
            </td>
            <td>{{ h.description }}</td>
            <td>{{ h.priority_default }}</td>
        </tr>
    {% endfor %}
    </table></td></tr>

    <tr><th colspan="2" class="small">Add/modify a resource type</th></tr>
    {{ restype_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Update Resource" /></td></tr>
</table>
</form>
</div>

{% ifequal open_section "restype" %}
<!-- Not in a dspcont div. -->
{% else %}
</div>
</p>
{% endifequal %}

<br />
