{% ifequal open_section "timeslot" %}
<button class="dsphead active">
   <b>Step 1: Create Timeslots</b> (click to expand/contract)
</button>

<div class="dspcont active">
{% else %}
<button class="dsphead">
   <b>Step 1: Create Timeslots</b> (click to expand/contract)
</button>

<div class="dspcont">
{% endifequal %}

<p>Timeslots represent each of the class periods for your program, at the finest scale if overlapping classes will be allowed (e.g., 1 hour).  Each resource is available for a particular range of times (resources will not become available until you select a set of times).  Please add all necessary timeslots below.</p>

<p>Keep in mind that classes generally end early to allow for travel time between classes.  So, for example, a 9 - 10 AM timeslot might only be 50 minutes long with a 10 minute gap before the next class. You should put the approximate time in the 'name' field (e.g., 9 - 10 AM) and the exact times in the 'description' field (e.g., 9:00 - 9:50 AM).</p>

<div id="program_form">
<form method="post" action="/manage/{{ prog.url }}/resources/timeslot_import">
<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" class="small">Import timeslots from a previous program</th></tr>
    {{ import_timeslot_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Start" /></td></tr>
</table>
</form>
<form method="post" action="/manage/{{ prog.url }}/resources/timeslot">
<input type="hidden" name="command" value="addedit" />
<table align="center" cellpadding="0" cellspacing="0" width="100%"> 
    <tr><th colspan="2" class="small">Add/modify a timeslot</th></tr>
    {{ timeslot_form }}
    <tr><td colspan="2" align="center"><input class="fancybutton" type="submit" value="Submit Timeslot" /></td></tr>
</table>
</form>

<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="5">Timeslots for {{ prog.niceName }}</th></tr>
    <tr>
        <td><b>Name</b></td>
        <td><b>Type</b></td>
        <td><b>Start Time</b></td>
        <td><b>Duration</b></td>
        <td><b>Options</b></td>
    </tr>
    {% for h in timeslots %}
    <tr>
        <th colspan="5" align="center"><b>{% if h.selections.0.group %}Group {{ h.selections.0.group }}{% else %}Unnumbered Group{% endif %}</b></th>
    </tr>
        {% for t in h.selections %}
        {% ifchanged t.start.date %}
        <tr>
            <th colspan="5" align="center">{{ t.pretty_date }}</th>
        </tr>
        {% endifchanged %}
        <tr>
            <td>{{ t.short_description }}</td>
            <td>{{ t.event_type|cut:" Time Block" }}</td>
            <td>{{ t.start.time }}</td>
            <td>{{ t.duration_str }}</td>
            <td>
                <a href="/manage/{{ prog.url }}/resources/timeslot?op=edit&id={{ t.id }}">[Edit]</a>
                <a href="/manage/{{ prog.url }}/resources/timeslot?op=delete&id={{ t.id }}">[Delete]</a>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>
</div>
</div>
