{% extends "main.html" %}

{% block title %}Manage Resources for {{ prog.niceName }}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>Manage Resources for {{ prog.niceName }}</h1>

<h2>Confirm Timeslot Deletion</h2>

<p>
You have chosen to delete the timeslot: {{ timeslot }}.  Please confirm this below.
</p>

<div id="program_form">
<form method="post" action="{{ request.path }}">
<input type="hidden" name="command" value="reallyremove" />
<input type="hidden" name="id" value="{{ timeslot.id }}" />
<table align="center" width="550" cellpadding="4" cellspacing="0">
    <tr><th colspan="2">
        Information
    </th></tr>
    <tr><th class="small">Name:</th><td>{{ timeslot.short_description }}</td></tr>
    <tr><th class="small">Description:</th><td> {{ timeslot.description }}</td></tr>
    <tr><th class="small">Start Time:</th><td> {{ timeslot.start }} </td></tr>
    <tr><th class="small">End Time:</th><td> {{ timeslot.end }} </td></tr>
    <tr><th class="small">Options:</th>
        <td align="center"><a href="/manage/{{ prog.getUrlBase }}/resources">Return to resoure editor</a>, or click here:
        <input class="fancybutton" value="Delete" type="submit" /></td>
    </tr>
</table>
</form>
</div>

{% endblock %}
