Listen 127.0.0.1:{{ PORTS['apache'] }}
NameVirtualHost 127.0.0.1:{{ PORTS['apache'] }}
<VirtualHost 127.0.0.1:{{ PORTS['apache'] }}>
    ServerName {{ SERVER_NAME }}
    ServerAlias www.{{ SERVER_NAME }}
    ServerAdmin {{ SERVER_ADMIN }}

    WSGIDaemonProcess {{ INSTANCE_NAME }} user={{ USER }} group={{ USER }} processes={{ PROCESSES }} threads={{ THREADS }}
    WSGIProcessGroup {{ INSTANCE_NAME }}

    WSGIScriptAlias / {{ CURRENT_BACKEND.get_wsgi_full_file_name() }}
    <Directory {{ CURRENT_BACKEND.get_wsgi_dir() }}>
        Order deny,allow
        allow from all
    </Directory>

    ErrorLog /var/log/apache2/{{ INSTANCE_NAME }}-error.log
    ErrorDocument 500 {{ PROJECT_DIR }}/templates/500.html

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg
    LogLevel error
</VirtualHost>
