server {
    listen 80;
    server_name {{ SERVER_NAME }};
    access_log /var/log/nginx/{{ INSTANCE_NAME }}.access.log;
    charset utf-8;
    client_max_body_size 8m;

    gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

    location / {
        proxy_pass http://localhost:{{ PORTS['apache'] }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # change /static to your STATIC_URL
    location /static {

        # change this path to your STATIC_ROOT
        alias {{ PROJECT_DIR }}/files/collected_static;

        autoindex off;
        expires 1M;
    }

    # change /uploads to your MEDIA_URL
    location /uploads {

        # change this path to your MEDIA_ROOT
        alias {{ PROJECT_DIR }}/files/user_uploads;

        autoindex off;
        expires 1d;
    }

    #error_page  404  /404.html;

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /var/www/nginx-default;
    }
}

server {
    listen 80;
    server_name www.{{ SERVER_NAME }};
    rewrite ^(.*)$ http://{{ SERVER_NAME }}$1 permanent;
}

# uncomment the following in order to deny all requests with unmatched server_name;
# for nginx >= 0.8.21 replace 'default' with 'default_server'

# server {
#     listen       80  default;
#     server_name  _;
#     return       444;
# }
