{% extends "main.html" %}

{% block title %}{{program.niceName}} Payment Failure{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block xtrajs %}
{% endblock %}

{% block content %}
<h1>Credit Card Payment for {{ program.niceName }}</h1>

{% load render_qsd %}

{% inline_qsd_block program.anchor "payment_failure" request.user %}

<h3>Failure</h3>

<p>Your credit card transaction was not successful.  More information about this is shown below.
</p>

<p>
If you believe this to be due to a mistake on your part, you may return to the <a href="/learn/{{ prog.getUrlBase }}/payonline">payment page</a> and try paying again.
</p>

<p>Otherwise, there may have been a problem with our Web site or with the credit card processor.  We apologize -- it happens once in a while.  Please contact our <a href="mailto:{{ support_email }}">technical support folks</a> and we'll try to remedy the situation.</p>

<p><a href="/learn/{{ prog.getUrlBase }}/studentreg">Click here</a> to return to the main student registration page.</p>

{% end_inline_qsd_block %}

<p>Received data:
<ul>
{% for key, value in postdata.items %}
<li><b>{{ key }}</b> = {{ value }}</li>
{% endfor %}
</ul>
</p>

{% endblock %}

