<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link navbar-item-label" data-toggle="dropdown">About Us</a>
    <a class="nav-link dropdown-toggle caret-wrapper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="About Us menu"><b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% if theme.contact_info %}
      <li><div class="dropdown-item-text">{{ theme.contact_info|linebreaksbr }}</div></li>
      {% endif %}
      {% if theme.show_email %}
      <li><a class="dropdown-item" href="mailto:{{ settings.DEFAULT_EMAIL_ADDRESSES.default }}">Email: {{ settings.DEFAULT_EMAIL_ADDRESSES.default }}</a></li>
      {% endif %}
      {% if theme.contact_links %}
      {% for link in theme.contact_links %}
      <li><a class="dropdown-item" href="{{ link.link }}">{{ link.text }}</a></li>
      {% endfor %}
      {% endif %}
      {% if theme.faq_link %}
      <li><a class="dropdown-item" href="{{ theme.faq_link }}">FAQ</a></li>
      {% endif %}
      {% if theme.facebook_link %}
      <li><a class="dropdown-item" href="{{ theme.facebook_link }}" target="_blank">Facebook</a></li>
      {% endif %}
    </ul>
  </li>
</ul>
