<ul class="navbar-nav">
{% for category in theme.nav_structure reversed %}
  <li class="nav-item dropdown{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% else %} active{% endif %}">
    <div class="nav-link dropdown-split">
      <a href="{{ category.header_link }}" class="navbar-item-label">{{ category.header }}</a>
      <a class="dropdown-toggle caret-wrapper" data-toggle="dropdown" aria-label="{{ category.header }} menu"><b class="caret"></b></a>
    </div>
    <ul class="dropdown-menu">
      {% for item in category.links %}
      <li><a class="dropdown-item" href="{{ item.link }}">
        {% if item.icon %}
        <i class="bi bi-{{item.icon}}"></i>
        {% endif %}
        {{ item.text }}
      </a></li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
