{% extends "outlines/series-3.html" %}

{% block title %}Profile Editor{% endblock %}

{% block subsection_name %}Student Profile Editor{% endblock %}

{% block content %}

<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

</style>
<br /><br />
<h1>SAT Prep-Specific Information </h1>
<br />
<p> Please fill out the following short form to give us SATPrep-specific information. <br />
</p>

{% if form.has_errors %}
<h2 style="color:red">Please fix the error{{ form.error_dict|pluralize }} in the form.<h2>
{% endif %}


<form action="{{request.path}}" method="post">
<table cellpadding="2" align="center" border="0">

<tr>
 <td><label for="id_sat_math">SAT Math Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.sat_math }} {% if form.sat_math.errors %}
   <br /><span class="form_error">{{ form.sat_math.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_sat_verb">SAT Verbal Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.sat_verb }} {% if form.sat_verb.errors %}
   <br /><span class="form_error">{{ form.sat_verb.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_sat_writ">SAT Writing Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.sat_writ }} {% if form.sat_writ.errors %}
   <br /><span class="form_error">{{ form.sat_writ.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_subject">Subject:</label></td>
 <td>{{ form.subject }} {% if form.subject.errors %}
   <br /><span class="form_error">{{ form.subject.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
</table>

<br />
<center><input type='submit' value='Save SAT Prep Information'></center>

<br />
</form>

</div>

{% endblock %}