{% extends "dataviews/forms/wizard.html" %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/jquery-ui.js"></script>
<script type="text/javascript">
function initTabs() {
    // Set up the tabbing
    var form_div = $j("#id_{{ step0 }}-form_div");
    form_div.prepend("<ul/>");
    form_div.tabs();
    var labels = $j(".pathgroup > label");
    labels.each(function(index, label) {
        var $label = $j(label);
        // Store the label text for later
        var label_text = $label.text();

        // Add the pathgroup as a tab
        form_div.tabs("add", "#label_"+index, label_text);
        var pathgroup = $label.parent();
        $j("#label_"+index).append(pathgroup)
            .css('height', '300px')
            .css('overflow', 'auto');
    });

    // Set up the links
    var anchors = $j("a.pathlink");
    for (var i = 0; i < labels.length; ++i) {
        var label = labels[i].innerHTML;
        var s = label.split('/');
        var base_model = s[0];
        var model_and_field_and_query_term = s[1];
        var model = model_and_field_and_query_term.split('.')[0];
        anchors[i].href = "/dataviews/" + base_model + "/" + model + "/";
    }
}

$j(document).ready(function() {
    initTabs();
});

</script>
{% endblock %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/jquery-ui/jquery-ui.css" />
<style type="text/css">
div.pathgroup>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
div.pathgroup>ul>li {
    padding-bottom: 10px;
}
</style>
{% endblock %}
{% block form_begin %}
{% if not form.visible_fields|length %}
All your data is from the same table; nothing to do here.  Just click 'Submit' to continue.
{% endif %}
{% if form.errors|length %}
Invalid selection! (Please make sure to pick at least one thing on <b>each tab</b>!)
{% endif %}
{% endblock %}
{% block form_div %}
<div id="id_{{ step0 }}-form_div" style="width: 100%;">
{% endblock %}
{% block form_as %}{{ form.as_div }}{% endblock %}
{% block form_end %}
{% endblock %}
