{% extends "main.html" %}

{% block title %}Group Text Portal{% endblock %}

{% block subsection_name %}Group Text Portal{% endblock %}

{% block xtrajs %}
{{block.super}}
<script type="text/javascript">
<!--

//-->
</script>
{% endblock %}
{% block stylesheets %}
{{block.super}}
<style type="text/css">
.listtable, .listtable th, .listtable td{ border: 1px solid #999; border-collapse: collapse;}
#divmaintext .unchosen { background-color: #CCC; }
#divmaintext .chosen { background-color: #FFF; }
#divmaintext td.notchooser { cursor: pointer }
#finalsentence { border: 1px solid black; width: 550px; }
</style>
{% endblock %}

{% block content %}


<h1>Group Text Portal</h1>
<br />
<h2>Step 2:</h2>

<br />
<p>
There are <strong>{{listcount}}</strong> distinct users in your query. If you feel this to be off, please
<a href="javascript:history.go(-1);">go back</a> now.<br />
<br />
Please write your message now.

<form action="/manage/{{program.getUrlBase}}/grouptextfinal" method="post" name="comm2">
<table border="0" cellspacing="0" width="100%">
<tr>
  <td>
  <strong>Message:</strong>
  </label> <br />
  <textarea cols="80" rows="20" name="message" id="emailbody">{{message}}</textarea>
  <br />

  </td>
</tr>
</table>

<input type="submit" value="Send Message" name="submitform" />
<input type="hidden" name="listcount" value="{{listcount}}" />
<input type="hidden" name="filterid" value="{{filterid}}" />
</form>
{% endblock %}
