{% extends "main.html" %}

{% block title %}Specify Application Questions{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css"/>
{% endblock %}

{% block content %}
<h2>Your Application Questions</h2>

<p>
The directors would like you to specify up to {{ clrmi.num_teacher_questions }} question[s] per subject for your students to answer on their applications to {{ prog.niceName }}.  You will read the students' responses to these questions when scoring their applications.  Please enter the questions below and click "Submit Questions" when finished.
</p>
<p><b>
<a href="{{prog.get_teach_url}}teacherreg">If you do not want to fill out application questions, click here to return to the main teacher reg page.</a></b>
</p>

<div id="program_form">
<form method="post" action="{{ request.path }}">
<table align="center" width="500">
{% for f in forms %}
    <th colspan="2">App Question for {{ f.app_question.subject }}</th>
    {{ f }}
{% endfor %}
<tr>
    <td colspan="2" align="center"><input type="submit" class="fancybutton" value="Submit Questions" /></td>
</tr>
</table>
</form>
</div>

{% endblock %}
