{% extends "main.html" %}
{% load users %}

{% block title %}Review Student {{ student.name }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/forms.css" type="text/css"/>
{% endblock %}

{% block content %}

<h1>{{ program.niceName }} application for {{ student.name }}</h1>

<p>
Please review the student's biographical information and responses to our questions.  Then fill out and submit the review form below.  When you are done, you can <a href="/teach/{{ program.getUrlBase }}/review_students/{{class.id}}/">review the other students.</a>
</p>

<div id="program_form">
<form action="{{ request.path }}" method="post" name="review">
<table class="application" class="fullwidth">
<tr>
  <th colspan="2">Student Application for {{ student.name }}</th>
</tr>
<tr>
    <td width="25%">Grade:</td>
    <td>{{ student|getGradeForProg:program.id }}</td>
</tr>
<tr>
    <td>DOB:</td>
    <td>{{ student.getLastProfile.student_info.dob|date:"M d, Y" }}</td>
</tr>
<tr>
    <td>Added your class: </td>
    <td>{{ student.added_class|date:"m/d/Y @ h:i:s" }}</td>
</tr>
<tr>
  <td>Existing reviews:</td>
  <td>
    <ul>
    {% for rev in reviews %}
    <li><b>Comments:</b> {{ rev.comments }}<br />
        <b>Score:</b> {{ rev.score }} <br />
    {% endfor %}
    </ul>
    </td>
</tr>
{% for response in student.app.responses.all %}
{% ifequal class response.question.subject %}
<tr>
  <th><label>{{ response.question.question }}</label></th>
  <td>{{ response.response }}</td>
</tr>
{% endifequal %}
{% endfor %}
</table>
<br />

<input type="hidden" name="student" value="{{student.id}}" />
<table>
  <tr>
    <th colspan="2">Application review for {{ student.name }}</th>
  </tr>
{{ form }}
<tr>
 <th colspan="2" class="submit"> 
  <input type="submit" class="fancybutton" value="Submit, and stay on page" name="submit" />
  <input type="submit" class="fancybutton" value="Submit, and review next student" name="submit_next" />
  <input type="submit" class="fancybutton" value="Submit, and return to roster" name="submit_return" />
 </th>
</tr>

</table>
</form>
</div>

<p>
If you have no changes to save, <a href="/teach/{{ program.getUrlBase }}/review_students/{{class.id}}/">click here</a> to review the other students.
</p>
<p>
To return to the main teacher page, <a href="/teach/{{ program.getUrlBase }}/teacherreg/">click here</a>. 
</p>

{% endblock %}
