{% extends "users/usersearch/support.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
#recipient_filter_done, #recipient_list_done { display: none }
</style>
<br />
<br />

{% include "program/modules/admincore/returnlink.html" %}

<br /><br />
<h1>Generate Nametags for {{program.niceName}} </h1>

{% load render_qsd %}
{% inline_program_qsd_block program "manage:nametags" %}
<p style="text-align: center">
Using this tool you can generate nametags for your program.<br />
Please select from options below.
</p>

<br />
<h2>Axiak's Guide to happy IDs</h2>

To have good quality IDs:<br />
<ol>
  <li>Use Firefox ;-) (it'll probably look good in another browser...probably)</li>
  <li>Use a computer that has Georgia font installed (i.e. NOT athena)</li>
  <li>If the beaver graphics look weird in the browser, don't worry (they're at a higher resolution than the screen)</li>
  <li>In firefox, go to File-&gt;page options. Then set all the margins to 0 and remove all headers and footers.</li>
  <li>You probably want copytech to print this. Thus you need to make a pdf:<br />
     <ol>
        <li>In windows click print->adobe pdf (on a computer with distiller) and save to pdf</li>
        <li>In linux select the postscript printer and select options and set the print command to <tt>`ps2pdf - ~/ids_tmp.pdf`</tt></li>
        <li>You *may* have to split it up into 40-page chunks and put them together with <a href="http://www.accesspdf.com/pdftk/">pdftk</a></li>
        <li>After that, just send to copytech! Use the online form, and be specific:<br />
     e.g.:<div style="width: 300px"><tt>I am bringing my own blue cardstock paper, please wait until I bring that. Once it is printed, please cut the paper into IDs by making six cuts along the places that make most sense. In addition, please maintain the order (by giving us the piles you cut out as-is). Thank you!</tt></div>
        </li>
       </ol>
   </li>
   <li>That's all!</li>
</ol>
{% end_inline_program_qsd_block %}

<br />
<form action="./generatetags" method="post">
<fieldset>
<strong>ID Type:</strong>
<br />
<br />
<ul>
  <li><input type="radio" name="type" value="students" id="students" checked="checked" />
      <label for="students">Students</label>
  </li>
  <li><input type="radio" name="type" value="teacher" id="teachers" />
      <label for="teachers">Teachers</label>
  </li>
  <li><input type="radio" name="type" value="other" id="other" />
      <label for="other">Other Group</label>&nbsp;&nbsp;&nbsp;
      <select name="group" id="group" disabled>
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
        <option value="" selected hidden></option>
      </select>
  </li>
  <li><input type="radio" name="type" value="volunteers" id="volunt" />
      <label for="volunt">Volunteers</label>
  </li>
  <li><input type="radio" name="type" value="aul" id="aul" />
      <label for="aul">Arbitrary User List (select users below)</label>
  </li>
  <li><input type="radio" name="type" value="misc" id="misc" />
      <label for="misc">Miscellaneous (enter info below)</label>
  </li>
  <li><input type="radio" name="type" value="blank" id="blank" />
      <label for="blank">Blank (specify number below)</label>
  </li>
</ul>
<br />
<div id="aul_wrapper" hidden>
<label for="aul"><strong>Arbitrary User List:</strong></label>
<br />
{% include "users/usersearch/list_selector.html" %}
<br />
<br />
</div>
<div id="misc_wrapper" hidden>
<label for="misc_info"><strong>Miscellaneous:</strong></label>
<br />
(&quot;Name, Title&quot; on each line, without quotes.)<br />
<textarea name="misc_info" id="misc_info" rows="25" cols="40"></textarea>
<br />
<br />
</div>
<div id="num_wrapper" hidden>
<label for="number"><strong>Number of IDs:</strong></label>
<br />
<input type="text" id="number" name="number" value="20" size="5" />
<br />
</div>
<div id="title_wrapper" hidden>
<label for="blanktitle"><strong>Title of IDs:</strong></label>
<br />
<input type="text" id="blanktitle" name="blanktitle" value="Student" size="15" />
<br />
<br />
</div>
<label for="programname"><strong>Program Name for IDs:</strong></label>
<br />
<input type="text" id="programname" size="40" name="progname" value="{{ program.niceName }}" />
<br />
<br />
<div id="barcode_wrapper">
<strong>Barcodes:</strong>
<br />
<br />
<input type="checkbox" name="barcodes" id="barcodes" />
<label for="barcodes"> Display barcodes for user ID numbers on back of nametags</label>
<br />
<br />
</div>

<input type="submit" value="Generate IDs!" />
</fieldset>
</form>

<script type="text/javascript">
var $old_this = $j('#students');
$j('input:radio[name="type"]').change( function(e){
    var option = $j(this).val();
    if (option == "other") {
        $j('#group').prop('disabled', function(i, v) { return !v; });
        $j('#title_wrapper').toggle();
    } else if (option == "aul") {
        $j('#aul_wrapper').toggle();
        $j('#title_wrapper').toggle();
    } else if (option == "blank") {
        $j('#num_wrapper').toggle();
        $j('#title_wrapper').toggle();
        $j('#barcodes').prop("checked", false);
        $j('#barcode_wrapper').toggle();
    } else if (option == "misc") {
        $j('#misc_wrapper').toggle();
        $j('#barcodes').prop("checked", false);
        $j('#barcode_wrapper').toggle();
    }

    // trigger "change" for the old radio button
    if (e.hasOwnProperty('originalEvent')) {
        $old_this.trigger("change");
        // set current radio button as old
        $old_this = $j(this);
    }
});
</script>


{% endblock %}
