<div class="singleid">
<div class="marginator">
  <div class="bottomdiv">
  <table class="bottom">
  <tr>
     <td class="left">
        <!-- INSERT LOGO IMAGE HERE.  Example:
            <img src="/media/images/my-logo-small.png" class="logo" />
        -->
     </td>
     <td class="right url">{% if user.id %}
      <span class="studentid">{{ user.username }} (ID: {{ user.id }})</span> <br />
      {% endif  %} http://{{ request.META.HTTP_HOST }}
     </td>
  </tr>
  </table>
  </div>
  <div class="restdiv">
    <table class="top">
    <tr>
      <td class="left company">
        {{ group_name }}
      </td>
      <td class="right phone"> {% if phone_number %}{{ phone_number }}{% endif %}</td>
    </tr>
    </table>
    <div class="firstspace">&nbsp;</div>
    <span class="programtitle">{{ programname }}</span>
    <div class="title">{{ user.title }}</div>
    <hr />
    {% if user.name %}
        <div class="name">{{ user.name }}</div>
    {% endif %}
  </div>
</div>
</div>
<!-- End ID //-->
