{% extends "elements/html" %}
{% block fulltitle %}{{type}} Registration Summary for {{program.niceName}}{% endblock %}

{% block meta %}
  {{ block.super }}
  <meta http-equiv="refresh" content="120">
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/media/styles/bigboard.css" />
{% endblock %}

{% block xtrajs %}
  <script type="text/javascript" src="//code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/highcharts-more.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/modules/no-data-to-display.js"></script>
  <script type="text/javascript" src="//code.highcharts.com/modules/solid-gauge.js"></script>
{% endblock xtrajs %}


{% block body %}

{% if left_axis_data or right_axis_data %}
  {% include "program/modules/bigboardmodule/bigboard_graph.html" %}
  {% if type == "Teacher" %}
  <script type="text/javascript">
    function showSeries(btn, filter) {
      $j("#series-filters .btn").removeClass('active');
      chart.series.forEach(function(series){
        if (filter && series.name.indexOf(filter) == -1) {
          series.hide()
        } else {
          series.show()
        }
      })
      $j(btn).addClass('active');
    }
  </script>
    <div id="series-filters" style="text-align: center;">
      <button class="btn active" onclick="showSeries(this);">All Series</button>
      <button class="btn" onclick="showSeries(this, 'registered');">Registered Only</button>
      <button class="btn" onclick="showSeries(this, 'approved');">Approved Only</button>
    </div>
  {% endif %}
{% endif %}

<div class="bigboard-numbers">
  {% for description, number in numbers %}
    <div class="bigboard-number-block">
      <div class="bigboard-number">{{number}}</div>
      <div class="bigboard-number-description bigboard-description">{{description}}</div>
    </div>
  {% endfor %}
</div>

<div class="load-averages">
  {% for t, load_avg in loads %}
  <div class="load-average">
    <div class="load-average-gauge" id="load-average-gauge-{{t}}"></div>
    <div class="load-average-title bigboard-description">{{t}}-minute load average</div>
  </div>
  <script type="text/javascript">
    $j(function () {
      $j('#load-average-gauge-{{t}}').highcharts({
        // mostly grabbed from http://www.highcharts.com/demo/gauge-solid
        chart: {
            type: 'solidgauge'
        },
        credits: {
            enabled: false
        },
        pane: {
          center: ['50%', '85%'],
          size: '140%',
          startAngle: -90,
          endAngle: 90,
          background: {
            backgroundColor: '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
          }
        },
        plotOptions: {
          solidgauge: {
            dataLabels: {
              y: 5,
              borderWidth: 0,
              useHTML: true
            },
            wrap: false,
          }
        },
        title: {
          text: null,
        },
        tooltip: {
          enabled: false,
        },
        yAxis: {
          min: 0,
          max: 32,
          stops: [
            [0, '#55BF3B'], // green
            [0.2, '#DDDF0D'], // yellow
            [0.5, '#DF5353'] // red
          ],
          lineWidth: 0,
          minorTickInterval: null,
          tickInterval: 32,
          tickWidth: 0,
          title: {text: null},
          labels: {y: 16},
        },
        series: [
          {
            data: [{{load_avg}}],
            dataLabels: {format: '<span class="load-title">{y}</span>'},
          },
        ],
      });
    });
  </script>
  {% endfor %}
</div>

{% if popular_classes %}
    <div class="popular-classeses">
      {% for description, classes in popular_classes %}
        <div class="popular-classes-block">
          <div class="popular-classes-heading">
            {{description}}
          </div>
          <table class="popular-classes bigboard-description">
            {% for class in classes %}
              <tr>
                <td class="popular-class-num">{{class.points}}</td>
                <td class="popular-class-title">
                  {{class.category__symbol}}{{class.id}}: {{class.title}}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
{% endif %}

{% endblock %}
