<h4 class="any"><a href="#">User ID</a></h4>
<div>Enter ID number: <input type="text" size="6" name="userid" id="userid" /> <br />
<small>(Can be a comma-separated list)</small></div>

<h4 class="any"><a href="#">User name</a></h4>
<div>Enter a username: <input type="text" size="30" name="username" id="username" autocomplete="new-username" /> <br />
<small>(Supports regular expressions)</small></div>

<h4 class="any"><a href="#">Last name</a></h4>
<div>Enter a portion of the last name: <input type="text" size="30" name="last_name" id="last_name" /> <br />
<small>(Supports regular expressions)</small></div>

<h4 class="any"><a href="#">First name</a></h4>
<div>Enter a portion of the first name: <input type="text" size="30" name="first_name" id="first_name" /> <br />
<small>(Supports regular expressions)</small></div>

<h4 class="any"><a href="#">Email address</a></h4>
<div>Enter a portion of the email address: <input type="text" size="30" name="email" id="email" /> <br />
<small>(Supports regular expressions)</small></div>

<h4 class="any"><a href="#">Zip code</a></h4>
<div>
    Center of region: <input type="text" size="5" name="zipcode" value="02139" /> <br />
    Minimum distance: <input type="text" size="4" name="zipdistance_exclude" value="" /> miles <br />
    Maximum distance: <input type="text" size="4" name="zipdistance" value="" /> miles
</div>

<h4 class="any"><a href="#">States</a></h4>
<div>Enter a list of states: <input type="text" size="18" name="states" value="" /> <br />
<small>Example: MA,CT,NY</small></div>

<h4 class="student"><a href="#">School</a></h4>
<div>Enter a portion of the school name: <input type="text" size="30" name="school" value="" /></div>

<h4 class="student"><a href="#">Grade</a></h4>
<div>
Min Grade: <input type="text" size="3" name="grade_min" value="" /><br />
Max Grade: <input type="text" size="3" name="grade_max" value="" />
</div>

<h4 class="teacher"><a href="#">Graduation year</a></h4>
<div>
Min: <input type="text" size="3" name="gradyear_min" value="" /> <br />
Max: <input type="text" size="3" name="gradyear_max" value="" />
</div>

<h4 class="any"><a href="#">User groups</a></h4>
<div>Select group(s) to include: <select name="groups_include" id="user-search-groups-include" multiple>
    {% for group in groups %}
    <option value="{{ group.id }}">{{ group.name }}</option>
    {% endfor %}
</select><br /><br />
Select group(s) to exclude: <select name="groups_exclude" id="user-search-groups-exclude" multiple>
    {% for group in groups %}
    <option value="{{ group.id }}">{{ group.name }}</option>
    {% endfor %}
</select></div>

<h4 class="student"><a href="#">Class registrations</a></h4>
<div>Enter class ID number: <input type="text" size="6" name="clsid" id="clsid" /> <br />
<small>(Can be a comma-separated list)</small> <br /><br />
Select class time(s): <select name="class_times" id="class_times" multiple>
    {% for class_time in class_times %}
    <option value="{{ class_time.id }}">{{ class_time }}</option>
    {% endfor %}
</select><br /><br />
<small>(Can enter either class ID(s) or class time(s) or both)</small><br /><br />
Select registration type(s): <select name="regtypes" id="regtypes" multiple>
    {% for regtype in regtypes %}
    <option {% if regtype.description %}title="{{ regtype.description }}" {% endif %}value="{{ regtype.name }}"{% if regtype.name == "Enrolled" %} selected{% endif %}>{{ regtype }}</option>
    {% endfor %}
</select></div>

<h4 class="teacher"><a href="#">Teaching times</a></h4>
<div>Select timeslot(s): <select name="teaching_times" id="teaching_times" multiple>
    {% for teaching_time in class_times %}
    <option  value="{{ teaching_time.id }}">{{ teaching_time }}</option>
    {% endfor %}
</select></div>

<h4 class="teacher"><a href="#">Teacher events</a></h4>
<div>Select timeslot(s): <select name="teacher_events" id="teacher_events" multiple>
    {% for event in teacher_events %}
    <option value="{{ event.id }}">{{ event }}</option>
    {% endfor %}
</select></div>

<h4 class="student"><a href="#">Number of enrolled class blocks</a></h4>
<div>
Min number: <input type="text" size="3" name="hours_min" value="" /><br />
Max number: <input type="text" size="3" name="hours_max" value="" />
</div>

<h4 class="teacher"><a href="#">Teachers of a student</a></h4>
<div>
<form id="student_in_class" name="student_in_class" method="POST" action="{{ request.path }}">
    {{ student_search_form }}
</form>
</div>