<script>
$j(document).ready(function() {
    $j("#id_target_user").removeClass("span6");
});
</script>

<div id="list_descriptions" class="commpanel_hidden">
{% for kv in lists.items %}{% for item in kv.1 %}
<div id="list_description_{{ item.name }}">{{ item.description }}</div>
{% endfor %}{% endfor %}
</div>

<div id="tabs">
    <ul>
        <li><a id="tab_select_basic" href="#tab_basic">Basic list</a></li>
        <li><a id="tab_select_combo" href="#tab_combo">Combination list</a></li>
        {% if include_prev_list %}
        <li><a id="tab_select_previous" href="#tab_previous">Previous emails</a></li>
        {% endif %}
    </ul>
    <div id="tab_basic">
        <form id="form_basic_list" method="POST" action="{{ action_path }}" autocomplete="off">

        <div id="basic_step_container">

        <div id="recipient_type_select">
            <div class="step_header"><span class="step_label">Step 1:</span> <span class="step_text"> Who would you like to select?</span></div>
            <div id="recipient_type_options">
                <select id="recipient_type" name="recipient_type">
                    {% for user_type in user_types %}
                    <option value="{{ user_type }}" id="{{ "recipient_type_"|add:user_type }}">{{ user_type|capfirst|add:"s" }}</option>
                    {% endfor %}
                    <option value="emaillist" id="recipient_type_emaillist">Mailing list</option>
                </select>
                {% if include_prev_list %}
                <div class="sendto_fn_select Student">
                    <div>
                        <input type="checkbox" name="student_sendto_self" value="1" checked="checked" />
                        <label for="student_sendto_self">Email the students</label>
                    </div>
                    <div>
                        <input type="checkbox" name="student_sendto_guardian" value="1" />
                        <label for="student_sendto_guardian">Email the students' guardians</label>
                    </div>
                    <div>
                        <input type="checkbox" name="student_sendto_emergency" value="1" />
                        <label for="student_sendto_emergency">Email the students' emergency contacts</label>
                    </div>
                </div>
                {% endif %}
                <p>&nbsp;</p>
                <button type="button" class="btn btn-primary recipient_step_button" id="recipient_type_next">Continue to select set of users</button>
            </div>
        </div>

        <div id="recipient_list_select" class="commpanel_hidden">
            <div class="step_header"><span class="step_label">Step 2:</span> <span id="recipient_type_name" class="step_text">Which set of users would you like to select?</span></div>
            {% for kv in lists.items %}
            <div id="recipient_list_options_{{ kv.0 }}" class="recipient_list_options commpanel_hidden">
                <ul>
                {% for item in kv.1 %}
                <li id="list_entry_{{ item.name }}" class="commpanel_list_entry {% if item.preferred %}commpanel_list_preferred{% else %}commpanel_hidden{% endif %}">
                    <input type="radio" name="base_list" id="list_{{ item.name }}" value="{{ item.name }}" />
                    <label id="label_{{ item.name }}" for="list_{{ item.name }}">{{ item.description }}</label>
                </li>
                {% endfor %}
                <li><button type="button" class="btn btn-info commpanel_show_all">Show more list options</button><button type="button" class="btn btn-info commpanel_show_preferred commpanel_hidden">Show fewer list options</button></li></ul>
            </div>
            {% endfor %}
            <button type="button" class="btn btn-default recipient_step_button" id="recipient_list_back">Go back</button>
            <button type="button" class="btn btn-default recipient_step_button" id="recipient_list_next">Add filters</button>
            <button type="button" class="btn btn-primary recipient_step_button" id="recipient_list_done">Continue</button>
        </div>

        <div id="recipient_filter_select" class="commpanel_hidden">
            <div class="step_header"><span class="step_label">Step 3:</span> <span class="step_text">Do you need to filter this list down?</span></div>
            <div class="step_instructions">(For any criteria you don't need, just leave them blank.)</div>
            <div class="step_instructions step_highlight">Currently selected: <span id="filter_current_list"></span></div>
            <div id="filter_accordion">
                {% include "users/usersearch/filter_accordion.html" %}
            </div>

            <button type="button" class="btn btn-default recipient_step_button" id="recipient_filter_back">Go back</button>
            <input type="hidden" name="use_checklist" value="0" />
            {% if include_checklist %}
            <button type="button" class="btn btn-info recipient_step_button" id="recipient_filter_checklist">Recipient checklist</button>
            {% endif %}
            <button type="button" class="btn btn-primary recipient_step_button" id="recipient_filter_done">Continue</button>
        </div>


        </div>

        </form>
    </div>

    <div id="tab_combo">
        <form id="form_combo_list" method="POST" action="{{ action_path }}" autocomplete="off">
        <div id="combo_step_container">

        <div id="starting_list_select">
            <div class="step_header"><span class="step_label">Step 1:</span> <span class="step_text">Select a starting list</span></div>
            <div class="step_instructions">You may combine this with other lists in the next step.</div>
            <select name="combo_base_list">
            {% for kv in lists.items %}{% for item in kv.1 %}
            <option value="{{ kv.0 }}:{{ item.name }}">{{ item.description }}</option>
            {% endfor %}{% endfor %}
            </select>
            <div class="sendto_fn_select Student">
                <div>
                    <input type="checkbox" name="student_sendto_self" value="1" checked="checked" />
                    <label for="student_sendto_self">Email the students</label>
                </div>
                <div>
                    <input type="checkbox" name="student_sendto_guardian" value="1" />
                    <label for="student_sendto_guardian">Email the students' guardians</label>
                </div>
                <div>
                    <input type="checkbox" name="student_sendto_emergency" value="1" />
                    <label for="student_sendto_emergency">Email the students' emergency contacts</label>
                </div>
            </div>
            <p>&nbsp;</p>
            <button type="button" class="btn btn-primary recipient_step_button" id="combo_base_next">Continue to combine with other lists</button>
        </div>

        <div id="combo_list_select" class="commpanel_hidden">
            <div class="step_header"><span class="step_label">Step 2:</span> <span class="step_text">Combine with other lists</span></div>
            <div class="step_instructions">For each of the lists below, choose whether you would like to combine it with the starting list, and whether you would like to negate it (NOT).  All of the lists selected with AND will be intersected with the starting list, and the result will be unioned with all of the lists marked OR.</div><br />
            <div class="step_instructions step_highlight">Starting list: <span id="combo_starting_list"></span></div>
            <div id="combo_list_form" class="recipient_list_options">
            <ul>
            {% for kv in lists.items %}
            {% for item in kv.1 %}{% if not item.all_flag %}
            {% ifchanged kv.0 %}<li><div class="combo_list_separator">Category: {{ kv.0 }}</div></li>{% endifchanged %}
            <li>
                <span id="bool_options_{{ item.name }}">
                <input type="checkbox" id="checkbox_and_{{ item.name }}" name="checkbox_and_{{ item.name }}" /><label for="checkbox_and_{{ item.name }}">AND</label>
                <input type="checkbox" id="checkbox_or_{{ item.name }}" name="checkbox_or_{{ item.name }}" /><label for="checkbox_or_{{ item.name }}">OR</label>
                <input type="checkbox" id="checkbox_not_{{ item.name }}"  name="checkbox_not_{{ item.name }}"/><label for="checkbox_not_{{ item.name }}">NOT</label>
                </span>
                {{ item.description }}
            </li>
            {% endif %}{% endfor %}{% endfor %}
            </ul>
            </div>
            <p>&nbsp;</p>
            <button type="button" class="btn btn-default recipient_step_button" id="combo_options_back">Go back</button>
            <button type="button" class="btn btn-default recipient_step_button" id="combo_options_next">Add filters</button>
            <button type="button" class="btn btn-primary recipient_step_button" id="combo_options_done">Continue</button>
        </div>

        <div id="combo_filter_select" class="commpanel_hidden">
            <div class="step_header"><span class="step_label">Step 3:</span> <span class="step_text">Do you need to filter this list down?</span></div>
            <div class="step_instructions">(For any criteria you don't need, just leave them blank.)</div>
            <div id="combo_filter_accordion">
                {% include "users/usersearch/filter_accordion.html" %}
            </div>

            <button type="button" class="btn btn-default recipient_step_button" id="combo_filter_back">Go back</button>
            <input type="hidden" name="use_checklist" value="0" />
            {% if include_checklist %}
            <button type="button" class="btn btn-default recipient_step_button" id="combo_filter_checklist">Recipient checklist</button>
            {% endif %}
            <button type="button" class="btn btn-primary recipient_step_button" id="combo_filter_done">Continue</button>
        </div>

        </div>
        </form>
    </div>

    {% if include_prev_list %}
    <div id="tab_previous">

        <form id="form_previous" method="POST" action="{{ action_path }}" autocomplete="off">
        <div id="previous_step_container">

        <div id="msgreq_selector_area" class="ui-widget">Begin typing an email title to find a previous message:
        <input type="text" size="60" name="msgreq_id" id="msgreq_selector"/>
        <div class="step_instructions">Once you have selected a message, you can view information about it below.  If you would like to use the same list of recipients and edit the message text and settings before sending, click "Continue to compose email" below.</div>
        </div>

        <div id="msgreq_info_area">

        </div>

        <button type="button" class="btn btn-primary recipient_step_button" id="prev_select_done">Continue to edit email</button>

        </div>
        </form>
    </div>
    {% endif %}
</div>
