{% extends "main.html" %}

{% block title %}Manage Class Flags for {{ prog.niceName}}{% endblock %}

{% block subsection_name %}Class Flag Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/flags.css"/>
{% endblock %}

{% block xtrajs %}
    <script type="text/javascript" src="/media/scripts/flag-query-builder.js"></script>
{% endblock %}

{% block content %}

<h1>Manage Class Flags for {{ prog.niceName }}</h1>

<p>
If you don't see the flag you're looking for, <a href="/admin/program/classflagtype/">add it</a> and enable it for <a href="/admin/program/program/{{prog.id}}/#add_id_flag_types">this program</a> from the admin panel.
</p>

<div class="flag-query-builder">
    <div class="fqb-initial-line">
        List all classes with...<br/>
        {% include "program/modules/classflagmodule/flag_line_choices.html" %}
    </div>

    <div class="fqb-extra" style="display: none;">
        <ul>
            <li class="fqb-line">
                {% include "program/modules/classflagmodule/flag_line_choices.html" %}
                <button class="fqb-delete" type="submit">-</button>
            </li>
            <li class="fqb-add-line">
                <button class="fqb-add" type="submit">+</button>
            </li>
        </ul>
    </div>

    <div class="fqb-form">
        <form method="get" action="">
            <input type="hidden" class="query-json" value="" name="query"></input>
            <button type="submit" class="btn btn-primary">Find classes</button>
        </form>
    </div>

</div>

{% endblock %}
