<span class="flag-header active{% if flag.comment %} flag-has-comment{% endif %}{% if flag.resolved %} flag-resolved{% endif %}"
      id="fqr-flag-header-{{flag.id}}"
      style="background: {{flag.flag_type.getColor}};{% if flag.resolved %} opacity: 0.5;{% endif %}">
    <span class="flag-name"
          title="Click to toggle flag details"
          onclick="$j('#flag-detail-{{flag.id}}').toggle('blink');$j('#fqr-flag-header-{{flag.id}}').toggleClass('active');">
        {{flag.flag_type.name}}{% if flag.resolved %} (Resolved){% endif %}
    </span>
    <span class="flag-remove"
          title="Click to remove flag"
          onclick="removeFlag('/manage/{{program.getUrlBase}}/deleteflag/',{{flag.id}});">
    </span>
</span>
