<div class="flag-detail{% if flag.comment %} flag-has-comment{% endif %}{% if flag.resolved %} flag-resolved{% endif %}" id="flag-detail-{{flag.id}}">
    <div style="background: {{flag.flag_type.getColor}};" title="Click to toggle flag details" onclick="$j('#flag-detail-{{flag.id}}').toggle('blink');$j('#fqr-flag-header-{{flag.id}}').toggleClass('active');">{{flag.flag_type.name}}{% if flag.resolved %} (Resolved){% endif %}</div>
    <form method="post" class="flag-form" action="/manage/{{program.getUrlBase}}/editflag/{{flag.id}}/">{% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th> Created: </th>
                    <td> {% if flag.created_by %}{{flag.created_by.name}}{% else %}Deleted User{% endif %} on {{flag.created_time.date}} at {{flag.created_time.time}} </td>
                </tr>
                <tr>
                    <th> Last modified: </th>
                    <td class="lastmod"> {% if flag.modified_by %}{{flag.modified_by.name}}{% else %}Deleted User{% endif %} on {{flag.modified_time.date}} at {{flag.modified_time.time}} </td>
                </tr>
                {% if flag.resolved %}
                <tr>
                    <th> Resolved: </th>
                    <td> {% if flag.resolved_by %}{{ flag.resolved_by.name }}{% else %}Deleted User{% endif %} on {{flag.resolved_time.date}} at {{flag.resolved_time.time}} </td>
                </tr>
                {% endif %}
                <tr>
                    <th>
                        Comment:<br/>
                        <input type="submit" id="flag-submit-{{flag.id}}" class="btn btn-default" value="Update"></input> <br/>
                        <button type="button" class="btn btn-default" onclick="resolveFlag('/manage/{{program.getUrlBase}}/resolveflag/', {{flag.id}}, this, '{% if flag.resolved %}unresolve{% else %}resolve{% endif %}');">{% if flag.resolved %}Unresolve{% else %}Resolve{% endif %}</button>
                        <button type="button" class="btn btn-default" onclick="removeFlag('/manage/{{program.getUrlBase}}/deleteflag/',{{flag.id}});">Remove</button>
                    </th>
                    <td>
                        <textarea id="flag-comment-{{flag.id}}" name="comment" rows="4" cols="60">{{flag.comment}}</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
