<h1><a name="survey{{ s.id }}"></a>Responses for: {{ s.name }}<span style="float:right;font-weight: normal;"><a href="#top">[to top]</a></span></h1>
{% for q in s.display_data.questions %}
    {% if forloop.first %}
        <h2><a name="survey{{ s.id }}-individual"></a>Individual Questions<span style="float:right;font-weight: normal;"><a href="#top">[to top]</a></span></h2>
        <table class="fullwidth bordered">
    {% endif %}
    {% with s.num_participants as num_participants %}
        <tr><td>{% include "survey/answers.html" %}</td></tr>
    {% endwith %}
{% endfor %}
</table></br></br>
{% for c in s.perclass_data %}
    {% if forloop.first %}
    <h2><a name="survey{{ s.id }}-perclass"></a>Per Class Questions<span style="float:right;font-weight: normal;"><a href="#top">[to top]</a></span></h2>
    {% endif %}
    {% ifchanged c.class.parent_class %}
    {% if not forloop.first %}
    </table></br></br>
    {% endif %}
    <table class="fullwidth bordered">
    <tr><th><h2><a name="class{{ c.class.parent_class.id }}"></a>Responses for {{ c.class.parent_class.emailcode }}: {{ c.class.title }}<span style="float:right;font-weight: normal;"><a href="#top">[to top]</a></span></h2></th></tr>
    {% endifchanged %}
    <tr style="border-top: 1px dashed black;"><th><h3><a name="class{{ c.class.parent_class.id }}-{{ c.class.index }}"></a>Responses for Section {{ c.class.index }}<span style="float:right;font-weight: normal;"><a href="#top">[to top]</a></span></h3></th></tr>
    {% for q in c.questions %}
        {% with c.class.num_students as num_participants %}
            <tr><td>{% include "survey/answers.html" %}</td></tr>
        {% endwith %}
    {% endfor %}
    {% if forloop.last %}
    </table></br></br>
    {% endif %}
{% endfor %}