{% extends "main.html" %}

{% block title %}Approve Financial Aid Requests for {{program.niceName}}{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
    <style>
    #program_form {
      overflow: auto;
      max-height: 500px;
      max-width: 800px;
      margin: 0px 10px 15px 10px;
    }
    #approve_blanks_checkbox {
      margin-left: 10px;
    }
    #finaid_table {
      width: 100% !important;
      margin: 0px !important;
    }
    </style>
{% endblock %}

{% block xtrajs %}
<script type="text/javascript" language="javascript">
function toggle(source) {
  $j('input[name=user]').prop('checked', source.checked);
}
</script>
{% endblock %}

{% block content %}
<div style="padding-bottom: 1.1em;">
  <h1>Financial Aid Requests for {{ program.niceName }}</h1>
  <p>Below is a list of users that have requested financial aid.</p>
  <p>Please select the requests that you would like to approve.</p>

  <form action="/manage/{{ program.getUrlBase }}/finaidapprove/" method="post">
    <div id="program_form">
      <table align="center" id="finaid_table">
        <tr>
          <th><input type="checkbox" onClick="toggle(this)" /></th>
          <th>Approved?</th>
          <th style="width:5.3em">Name</th>
          <th>Free/Reduced Lunch?</th>
          <th style="width:5.3em">Household Income</th>
          <th>Financial Situation</th>
          <th>Filled Out Only by Student?</th>
        </tr>
        {% for req in requests %}
        <tr>
          <td><input type="checkbox" name="user" value={{ req.user.id }}></td>
          <td align="center">
            {% if req.approved %}
            <i align="center" class="glyphicon glyphicon-ok-sign" style="color:green; width:100%; font-size:1.5em;" />
            {% else %}
            <i align="center" class="glyphicon glyphicon-minus-sign" style="color:firebrick; width:100%; font-size:1.5em;" />
            {% endif %}
          </td>
          <td align="center" style="max-width: 70px; overflow-wrap:break-word;">{{ req.user.name }}</td>
          <td align="center">
            {% if req.reduced_lunch %}
            <i align="center" class="glyphicon glyphicon-ok-sign" style="color:green; width:100%; font-size:1.5em;" />
            {% else %}
            <i align="center" class="glyphicon glyphicon-minus-sign" style="color:firebrick; width:100%; font-size:1.5em;" />
            {% endif %}
          </td>
          <td align="center">${{ req.household_income }}</td>
          <td>{{ req.extra_explaination }}</td>
          <td align="center">
            {% if not req.student_prepare %}
            <i align="center" class="glyphicon glyphicon-ok-sign" style="color:green; width:100%; font-size:1.5em;" />
            {% else %}
            <i align="center" class="glyphicon glyphicon-minus-sign" style="color:firebrick; width:100%; font-size:1.5em;" />
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <label for="amount_max_dec">{{ amount_max_dec_help_text }}</label>
    <input name="amount_max_dec" type="number" min="0.00" step="0.01" max="2500" value="0.00" required>
    <br />
    <label for="amount_max_dec">{{ percent_help_text }}</label>
    <input name="percent" type="number" min="0" step="1" max="100" value="100" required>
    <br />
    <input type="submit" value="Approve Requests" class="btn btn-primary" >
    <input type="checkbox" id="approve_blanks_checkbox" name="approve_blanks" checked> Approve blank requests?
  </form>

  {% if error %}
  <h3 style="padding-top: 10px;">{{ error }}</h3>
  {% endif %}

  {% if users_approved %}
  <h3 style="padding-top: 10px;"> {{ users_approved|length }} New Approvals</h3>
  <h4>
    {{ users_approved|join:", " }}
  </h4>
  {% elif POST %}
  <h3 style="padding-top: 10px;"> 0 New Approvals </h3>
  {% endif %}

  {% if users_error %}
  <h3 style="padding-top: 10px; color: firebrick"> {{ users_error|length }} Errors</h3>
  <h4>
    {{ users_error|join:", " }}
  </h4>
  {% endif %}
</div>

{% endblock %}
