<div id="divfooter">
  <table border="0" cellpadding="0" cellspacing="0" summary=" ">
    <tr>
      <td><!-- mit logo -->
        <div id="divfootercol1" style="text-align: center" align="center">
          <a href="http://www.stanford.edu/" accesskey="m">
            <img src="/media/images/SU_altSigSeal_2col_pos.gif" border="0" alt="Stanford home" title="Stanford home" />
          </a>
        </div>
      </td>
      <td>
        <div id="divfootercol2" style="text-align: center; padding-top: 15px" align="center">
          <div style="float: left; border: 0px; margin: 0px; padding: 0px">
            <a href="http://assu.stanford.edu/">
              <img src="/media/images/assulogosm.gif" border="0" alt="Associated Students of Stanford University" title="ASSU Home" />
            </a>
          </div>
          <div style="float: left; border: 0px; margin: 0px; padding: 0px">
            <a href="http://gsc.stanford.edu/">
              <img src="/media/images/gsclogosm.gif" border="0" alt="Stanford Graduate Student Council" title="GSC Home" />
            </a>
            <br/>
            <p>Funded by GSC</p>
          </div>
        </div>
      </td>
      <td><!-- address -->
        <div id="divfootercol3">
        <p>Educational Studies Program <br />
        c/o Haas Center for Public Service <br />
        562 Salvatierra Walk <br />
        Stanford, CA 94305-8620 <br />
        <a href="mailto:stanfordesp@gmail.com">ESP's E-mail</a>

        </p>
        </div>
      </td>
    </tr>
  </table>
</div>
