{% extends "outlines/series-3.html" %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/myesp2.css" type="text/css" media="screen" />
{% endblock %}

{% block banner_nav %}

<div id="main_banner">
<div id="divnavh">
  <a href="/" onmouseover="MM_swapImage('home','','/media/images/level3/nav/home_ro.gif',1)"
   onmouseout="MM_swapImgRestore()">
      <img src="/media/images/level3/nav/home.gif" border="0" alt="Home"
           title="" id="home" />
  </a>
</div>
<div id="divnav0">
<a href="/about/index.html" onmouseover="MM_swapImage('discoveresp','','/media/images/lev2/nav/discoveresp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/discoveresp.gif" border="0" alt="Take a Class" title="" name="discoveresp" id="discoveresp" />
</a>
</div>

<div id="divnav1">
<a href="/learn/index.html" onmouseover="MM_swapImage('takeaclass','','/media/images/lev2/nav/takeaclass_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/takeaclass.gif" border="0" alt="Take a Class" title="" name="takeaclass" id="takeaclass" />
</a>
</div>

<div id="divnav2">
<a href="/teach/index.html" onmouseover="MM_swapImage('volunteertoteach','','/media/images/lev2/nav/volunteertoteach_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/volunteertoteach.gif" border="0" alt="Volunteer To Teach" title="" name="volunteertoteach" id="volunteertoteach" />
</a>
</div>


<div id="divnav3">
<a href="/getinvolved/index.html" onmouseover="MM_swapImage('getinvolved','','/media/images/lev2/nav/getinvolved_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/getinvolved.gif" border="0" alt="Get Involved" title="" name="getinvolved" id="getinvolved" />
</a>
</div>

<div id="divnav4">
<a href="/archives/index.html" onmouseover="MM_swapImage('archivesresources','','/media/images/lev2/nav/archivesresources_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/archivesresources.gif" border="0" alt="Archives / Resources" title="" name="archivesresources" id="archivesresources" />
</a>
</div>


<div id="divnav5">
<a href="/myesp/home/" onmouseover="MM_swapImage('myesp','','/media/images/lev2/nav/myesp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/myesp.gif" border="0" alt="myESP" title="" name="myesp" id="myesp" />
</a>
</div>



<div id="divnav6">


<a href="/about/contact.html" onmouseover="MM_swapImage('contactinfo','','/media/images/lev2/nav/contactinfo_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/lev2/nav/contactinfo.gif" border="0" alt="Contact Info" title="" name="contactinfo" id="contactinfo" />
</a>

</div>
{% endblock %}