{% extends "elements/html" %}

{% block stylesheets %}
<link rel="stylesheet" href="/media/styles/level3.css" type="text/css" />
<link rel="stylesheet" href="/media/styles/series-3.css" type="text/css" />
{% endblock %}

{% block body %}

<!-- skip link -->
<div class="offscreen">
{% block skiplinks %}
<a href="#startcontent" accesskey="x"><img src="/media/images/spacer.gif" width="1" height="1" border="0" alt="Skip to content" /></a>
{% endblock %}
</div>

<!-- backgrounds  at top of page -->
{% block banner_backgrounds %}
<div id="divbkg1">
  <img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div>
<div id="divbkg2">
  <img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div>
<div id="divbkg3">
  <img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div>
<div id="divbkg4">
  <img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div>
{% endblock %}

<!-- site title -->
<div id="divtitle">
{% block section_title %}<img src="/media/images/series-3/sitetitle.gif" border="0" alt="Educational Studies Program" title="" />{% endblock %}
</div>
<!-- image size may vary -->

{% block banner_nav %}
<div id="divnavh">
<a href="/" onmouseover="MM_swapImage('home','','/media/images/level3/nav/home_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/home.gif" border="0" alt="Home" title="" name="home" id="home" /></a></div>

<div id="divnav0">


<a href="/about/index.html" onmouseover="MM_swapImage('discoveresp','','/media/images/level3/nav/discoveresp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/discoveresp.gif" border="0" alt="Discover ESP" title="" name="discoveresp" id="discoveresp" />
</a>
</div>

</div>
<div id="divnav1">


<a href="/learn/index.html" onmouseover="MM_swapImage('takeaclass','','/media/images/level3/nav/takeaclass_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/takeaclass.gif" border="0" alt="Take a Class" title="" name="takeaclass" id="takeaclass" />
</a>
</div>

</div>
<div id="divnav2">


<a href="/teach/index.html" onmouseover="MM_swapImage('volunteertoteach','','/media/images/level3/nav/volunteertoteach_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/volunteertoteach.gif" border="0" alt="Volunteer To Teach" title="" name="volunteertoteach" id="volunteertoteach" />
</a>
</div>

</div>
<div id="divnav3">


<a href="/web/getinvolved/index.html" onmouseover="MM_swapImage('getinvolved','','/media/images/level3/nav/getinvolved_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/getinvolved.gif" border="0" alt="Get Involved" title="" name="getinvolved" id="getinvolved" />
</a>
</div>

</div>
<div id="divnav4">


<a href="/web/archivesresources/index.html" onmouseover="MM_swapImage('archivesresources','','/media/images/level3/nav/archivesresources_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/archivesresources.gif" border="0" alt="Archives / Resources" title="" name="archivesresources" id="archivesresources" />
</a>
</div>

</div>
<div id="divnav5">


<a href="/myesp/home/" onmouseover="MM_swapImage('myesp','','/media/images/level3/nav/myesp_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/myesp.gif" border="0" alt="myESP" title="" name="myesp" id="myesp" />
</a>
</div>

</div>
<div id="divnav6">


<a href="/web/contactinfo/index.html" onmouseover="MM_swapImage('contactinfo','','/media/images/level3/nav/contactinfo_ro.gif',1)" onmouseout="MM_swapImgRestore()">
<img src="/media/images/level3/nav/contactinfo.gif" border="0" alt="Contact Info" title="" name="contactinfo" id="contactinfo" />
</a>
</div>

</div>

{% endblock %}

<!-- section name -->
<div id="divsectionname">
{% block section_name %}{% endblock %}
</div>
<!-- image sizes may vary -->


{% block secondary_nav %}
<!-- secondary nav -->
<div id="divsecondarynav">
{% for nav_entry in navbar_list %}
{% if nav_entry.indent %}
  <div class="divtertiarynavlink">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="bullet">- </span>
{% else %}
  <div class="divsecondarynavlink">
    <p><span class="bullet">- </span>
{% endif %}
      <a href="{{ nav_entry.link }}">{{ nav_entry.text }}</a>
    </p>
  </div>
{% endfor %}
  <div class="divsecondarynavlink"><!-- final dashed line -->
    <p>&nbsp;</p>
  </div>
</div>
{% endblock %}

{% block search %}
<!-- search -->
<div id="divsearch">
  <form name="searchform" id="searchform" method="get" action="http://gb-server.mit.edu/search">
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
	 <input type='hidden' name='site' value='mit' />
	 <input type='hidden' name='client' value='mit' />
	 <input type='hidden' name='proxystylesheet' value='http://web.mit.edu/xsl/google-mit.xsl' />
	 <input type='hidden' name='output' value='xml_no_dtd' />
	 <input type='hidden' name='as_dt' value='i' />
	 <input type='hidden' name='as_sitesearch' value='esp.mit.edu' />
      <tr>
						<td width="100%"><div class="divformcol1">&nbsp;</div></td>
				<td class="rightalign"><div class="divformcol3"><label for="q">Search:</label></div></td>
				<td><div class="divformcol4"><input type="text" name="q" id="q" size="8" value="" maxlength="255" class="inputbox" accesskey="s" /></div></td>
				<td><div class="divformcol5"><input type="image" name="gosearch" id="gosearch" src="/media/images/go1.gif" class="gobutton" alt="Go" title="" /></div></td>
	          </tr>
    </table>
  </form></div>	
{% endblock %}
{% block login %}
<div id="divlogin">
<form name="loginform" id="loginform" method="post" action="/myesp/logfin/">
<input type="hidden" name="op" value="login" />
<table border="0" cellpadding="0" cellspacing="0" summary=" ">
<tr>
  {% if not logged_in %}
<tr>
  <td width="100%"><div class="divformcol1">&nbsp;</div></td>
  <td class="rightalign"><div class="divformcol1"><label for="user">Login:</label></div></td>
  <td><div class="divformcol2"><input type="text" name="username" id="username" size="8" value="" maxlength="255" class="inputbox" /></div></td>
  <td class="rightalign"><div class="divformcol3">&nbsp;&nbsp;<label for="pass">Password:</label></div></td>
  <td><div class="divformcol4"><input type="password" name="password" id="pass" size="8" value="" maxlength="255" class="inputbox" /></div></td>
  <td><div class="divformcol5"><input type="image" name="gologin" id="gologin" src="/media/images/go2.gif" class="gobutton" alt="Go" title="" /></div></td>
</tr>
{% endif %}
<tr>
  <td width="100%"><div class="divformcol1">&nbsp;</div></td>
  <td style="text-align:left">
  {% if logged_in %}
		<div class="divformcol1" style="text-align:left"><a href="/myesp/manage/">Manage Subscriptions</a></div>
  {% else %}
		<div class="divformcol1" style="text-align:left"><a href="/myesp/register/">Join ESP!</a></div>
  {% endif %}
	</td>
	<td style="text-align:right">
  {% if logged_in %}
	    <div class="divformcol2" style="text-align:right"><a href="/myesp/signout/">Sign Out</a></div>	
  {% else %}
		<div class="divformcol1" style="text-align:left"><a href="/myesp/emaillist/">Join our mailing list</a></div>

    {% endif %}					  
	</td>
	<td colspan="3"> </td>
</tr>

</table>
</form>
</div>
{% endblock %}

<!-- subsection name -->
<div id="divsubsectionname">
{% block subsection_name %}{% endblock %}
</div>
<!-- image sizes may vary -->

<!-- content, quote, and footer -->
<div id="divmain">
  <a name="startcontent" id="startcontent"></a>
  <table border="0" cellpadding="0" cellspacing="0" summary=" " id="maintable">
    <!-- skip row 1 - no longer needed -->
    <tr><!-- alignment and space -->
      <td><div class="row2 col1"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col2"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col3"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col4"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col5"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr>
    <tr><!-- content -->
      <td align="right" valign="bottom"><img src="/media/images/bandaid1.gif" width="28" height="46" alt="" /></td>
      <td align="left" valign="bottom" class="paper"><img src="/media/images/bandaid2.gif" width="43" height="35" alt="" /></td>
      <td align="left" valign="top" class="paper">
        <div id="divmaintext">
{% block content %}{% endblock %}
        </div>
      </td>
      <td align="left" valign="bottom" class="paper">
        <div id="divquotenone"><!-- table required for bottom vertical alignment of text -->
          <table border="0" cellpadding="0" cellspacing="0" summary=" "><tr><td>
          <div id="divquotetext">
            &nbsp;
          </div>
          </td></tr></table>
        </div>
      </td>
      <td class="paper"><div class="row3 col5"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr>
    <tr><!-- footer -->
      <td colspan="3" align="left" valign="top">
		<!-- footer -->
<div id="divfooter">
  <table border="0" cellpadding="0" cellspacing="0" summary=" ">
    <tr>
      <td><!-- mit logo -->
        <div id="divfootercol1">
          <a href="http://web.mit.edu/" accesskey="m"><img src="/media/images/mit.gif" width="42" height="24" border="0" alt="MIT home" title="MIT home" /></a></div>
      </td>
      <td><!-- mit -->
        <div id="divfootercol2">
          <p>Massachusetts<br />Institute<br />of Technology</p></div>
      </td>
      <td><!-- address -->
        <div id="divfootercol3">
          <p>84 Massachusetts Avenue,<br />
          Room W20-467, Cambridge, MA 02139<br />
          Tel: 617-253-4882</p></div>
      </td>
      <td><!-- email -->
        <div id="divfootercol4">
          <p><a href="mailto:esp@mit.edu">ESP's Email</a></p></div>
      </td>
      <td><!-- email bubble -->
        <div id="divfootercol5">
          <img src="/media/images/emailbubble.gif" width="25" height="21" border="0" alt="" /></div>
      </td>
    </tr>
  </table>
</div>      </td>
      <td><div id="divquotenonebot"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td><div class="row4 col5"><img src="/media/images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr>
  </table>
</div>
{% endblock %}
