{% extends "elements/html" %}

{% block javascript %}
{{ block.super }}
{% if request.user.is_authenticated %}
<script type="text/javascript" src="/media/scripts/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/event/event-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/dom/dom-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/connection/connection-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/logger/logger-min.js"></script>
<script type="text/javascript" src="/media/scripts/yui/dragdrop/dragdrop-debug.js"></script>
<script type="text/javascript" src="/media/scripts/yui/animation/animation-min.js"></script>
<script type="text/javascript" src="/media/scripts/ddlist.js"></script>
{% endif %}
{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="/media/styles/print_basic.css" type="text/css" media="print" />
<link rel="stylesheet" href="/media/styles/level3.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/styles/uchicago_main.css" type="text/css" />
{% endblock %}

{% block body %}
<style type="text/css">
body {
  background: {% block content_color %}#FFFFFF{% endblock %};
}
</style>

<div id="content">
<div id="topleft"><a href="/"><img src="/media/images/splogo.gif" alt="Splash! Chicago" /></a></div>

<div id="nav_buttons"><a href="/learn/index.html"><img src="/media/images/linkf_01.gif" onmouseover="this.src='/media/images/linkr_01.gif'" onmouseout="this.src='/media/images/linkf_01.gif'" id="btn1" /></a><a href="/teach/index.html"><img src="/media/images/linkf_02.gif" onmouseover="this.src='/media/images/linkr_02.gif'" onmouseout="this.src='/media/images/linkf_02.gif'" id="btn2" /></a><a href="/volunteer/index.html"><img src="/media/images/linkf_03.gif" onmouseover="this.src='/media/images/linkr_03.gif'" onmouseout="this.src='/media/images/linkf_03.gif'" id="btn3" /></a><a href="/more_info/index.html"><img src="/media/images/linkf_04.gif" onmouseover="this.src='/media/images/linkr_04.gif'" onmouseout="this.src='/media/images/linkf_04.gif'" id="btn4" /></a></div>

<div id="navbar_header"><img src="/media/images/news.gif" alt="RECENT NEWS" /></div>

<div id="main_header">{% block welcome_message %}<!-- CSS2 doesn't allow vertical alignment without a table.  So, give it a table. --><table width="600px" height="30px"><tr><td valign="middle">Welcome to Splash! Chicago, a student-run organization at the University of Chicago</td></tr></table>{% endblock %}</div>

<div id="navbar">
<div id="navbar_content">

{% if request.user.is_staff %}
<a href="/admin/miniblog/entry/">Edit Links</a>
{% endif %}

{% load preview %}
{% miniblog_for_user request.user as announcements 6 %}

{% load smartypants %}
{% load markdown %}
{% for announce in announcements.announcementList %}
<p>
<span class="announcementlink_title{% if announce.section %} {{ announce.section }}{% endif %}">{{ announce.makeTitle }}</span><br />
<span class="announcementlink">{% autoescape off %}{{ announce.content|markdown|smartypants }}{% endautoescape %}</span>
</p>
{% endfor %}

<!-- more announcements -->
{% if announcements.overflowed %}
<div id="divannouncemore">
  <a href="/myesp/home/">More Notices...</a>
</div>
{% endif %}

</div>
</div>

<div id="main"><div id="main_content">{% block content %}{% endblock %}</div></div>

</div>
{% endblock %}
