{% extends "elements/html" %}

{% block javascript %}
    {{ block.super }}
    {% if request.user.is_authenticated %}
        <script type="text/javascript" src="/media/scripts/yui/yahoo-dom-event/yahoo-dom-event.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/animation/animation-min.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/autocomplete/autocomplete-min.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/calendar/calendar-min.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/dragdrop/dragdrop-min.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/container/container-min.js"></script> 
        <script type="text/javascript" src="/media/scripts/yui/menu/menu-min.js"></script>

        <script type="text/javascript" src="/media/scripts/json.js"></script>
        <script type="text/javascript" src="/media/scripts/ddlist.js"></script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ media_url }}styles/print_basic.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{ media_url }}styles/level3.css" type="text/css" media="screen" />
{% endblock %}

{% block body %}

<!-- skip link -->
<div class="offscreen">
{% block skiplinks %}
<a href="#startcontent" accesskey="x"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="Skip to content" /></a>
{% endblock %}
</div>

<!-- backgrounds  at top of page -->
{% block banner_backgrounds %}
<div id="top_banner">
<div id="divbkg1">
  <img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" />
</div>
<div id="divbkg2">
  <img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" />
</div>
<div id="divbkg3">
  <img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" />
</div>
<div id="divbkg4">
  <img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" />
</div>
</div>
{% endblock %}

<!-- site title -->
<div id="divtitle">
{% block section_title %}<img src="{{ media_url }}images/series-3/sitetitle.gif" border="0" alt="Educational Studies Program" title="" />{% endblock %}
</div>

<!-- image size may vary -->
{% block banner_nav %}

<div id="divnavh">
  <a href="/" onmouseover="MM_swapImage('home','','{{ media_url }}images/level3/nav/home_ro.gif',1)"
   onmouseout="MM_swapImgRestore()">
      <img src="{{ media_url }}images/level3/nav/home.gif" border="0" alt="Home"
           title="" id="home" />
  </a>
</div>

{% load topbar %}
{% get_primary_nav %}
{% endblock %}

 
<!-- image sizes may vary -->

{% block secondary_nav %}
{% load navbar %}
{% navbar_gen %}
{% endblock %}

{% block search %}
<!-- search -->
<div id="divsearch">
  <form id="searchform" method="get" action="http://search.mit.edu/search">
    <table border="0" cellpadding="0" cellspacing="0" summary=" ">
      <tr>
	<td width="100%"><div class="divformcol1">&nbsp;</div></td>
	<td class="rightalign">
	 <input type='hidden' name='site' value='mit' />
	 <input type='hidden' name='client' value='mit' />
	 <input type='hidden' name='proxystylesheet' value='mit' />
	 <input type='hidden' name='output' value='xml_no_dtd' />
	 <input type='hidden' name='as_dt' value='i' />
	 <input type='hidden' name='as_sitesearch' value='esp.mit.edu' />
         <div class="divformcol3"><label for="q">Search:</label></div>
        </td>
				<td><div class="divformcol4"><input style="border: 2px solid black;" type="text" name="q" id="q" size="8" value="" maxlength="255" class="inputbox" accesskey="s" /></div></td>
				<td><div class="divformcol5"><input type="image" name="gosearch" id="gosearch" src="{{ media_url }}images/go1.gif" class="gobutton" alt="Go" title="" /></div></td>
	          </tr>
    </table>
  </form></div>	
{% endblock %}
{% block login %}
<div id="divlogin">
<form name="loginform" id="loginform" method="post" action="/myesp/login/">
<input type="hidden" name="op" value="login" />
<table border="0" cellpadding="0" cellspacing="0" summary=" ">
  {% if not request.user.is_authenticated %}
<tr>
  <td width="100%"><div class="divformcol1">&nbsp;</div></td>
  <td class="rightalign"><div class="divformcol1"><label for="id__top_username">Username:</label></div></td>
  <td><div class="divformcol2">
   <input style="border: 2px solid black;" type="text" id="id__top_username" class="vTextField required inputbox" name="username" size="15" value="" maxlength="30" /></div></td>
  <td class="rightalign"><div class="divformcol3">&nbsp;&nbsp;<label for="id__top_password">Password:</label></div></td>
  <td><div class="divformcol4"><input style="border: 2px solid black;" type="password" id="id__top_password" class="vPasswordField required inputbox" name="password" size="15" value="" maxlength="30" /></div></td>
  <td><div class="divformcol5"><input type="image" name="gologin" id="gologin" src="{{ media_url }}images/go2.gif" class="gobutton" alt="Go" title="" /><input type="hidden" name="next" value="{{ request.path }}" /></div></td>
</tr>
{% endif %}
<tr>
  <td width="100%"><div class="divformcol1">&nbsp;</div></td>
  <td style="text-align:left">
  {% if request.user.is_authenticated %}
     {% if request.user.other_user %}
         <div class="divformcol1" style="text-align:left">
         <a href="/myesp/switchback/">Go back to {{ request.session.user_morph.retTitle }}</a>
         </div>
     {% else %}
<div class="divformcol1" style="text-align:left">
Welcome, {{ request.user.first_name }}!
<!-- <a href="/myesp/manage/">Manage Subscriptions</a> -->
</div>
     {% endif %}
  {% else %}
<div class="divformcol1" style="text-align:left">
  <a href="/myesp/loginhelp.html">Login Help</a>
</div>
  {% endif %}
	</td>
	<td colspan="2">
  {% if request.user.is_authenticated %}
	    <div class="divformcol2" style="text-align:right"><a href="/myesp/signout/">Sign Out</a> | {% if request.program %}<a href="http://esp.mit.edu/wiki/index.php?title=Help:{{ request.tl }}/PerProgram/{{ request.module }}">WikiHelp</a>{% else %}<a href="http://esp.mit.edu/wiki/index.php?title=Help:{{ request.path }}">WikiHelp</a>{% endif %}</div>
  {% else %}
<div class="divformcol1" style="text-align:center">
  <a href="/myesp/register/" title="Join ESP!">Create Account</a> | {% if request.program %}<a href="http://esp.mit.edu/wiki/index.php?title=Help:{{ request.tl }}/PerProgram/{{ request.module }}">WikiHelp</a>{% else %}<a href="http://esp.mit.edu/wiki/index.php?title=Help:{{ request.path }}">WikiHelp</a>{% endif %}
</div>
    {% endif %}					  

	</td>
    <td colspan="2">
{% if not request.user.is_authenticated %}
<div class="divformcol1" style="text-align:right;">
  <a href="/myesp/emaillist/">Join our mailing list</a>
</div>
{% endif %}
</tr>

</table>
</form>
</div>
{% endblock %}

<!-- subsection name -->
<div id="divsubsectionname">
{% block subsection %}
{% endblock %}
</div>
<!-- image sizes may vary -->

<!-- content, quote, and footer -->
<div id="divmain">
  <a name="startcontent" id="startcontent"></a>
  <table border="0" cellpadding="0" cellspacing="0" summary=" " id="maintable">
    <!-- skip row 1 - no longer needed -->
    <tr id="tableheader"><!-- alignment and space -->
      <td><div class="row2 col1"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col2"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col3"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col4"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td class="paper"><div class="row2 col5"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr> 
    <tr><!-- content -->
      <td align="right" class="notmaintd" valign="bottom"><img src="{{ media_url }}images/bandaid1.gif" width="28" height="46" alt="" /></td>
      <td align="left" valign="bottom" class="paper notmaintd"><img src="{{ media_url }}images/bandaid2.gif" width="43" height="35" alt="" /></td>
      <td align="left" valign="top" class="paper">
        <div id="divmaintext">
{% block breadcrumbs %}{% endblock %}
{% block content %}{% endblock %}
        </div>
      </td>
      <td align="left" valign="bottom" class="paper notmaintd">
        <div id="divquote{% if randquote %}large{% else %}none{% endif %}"><!-- table required for bottom vertical alignment of text -->
          <table border="0" cellpadding="0" cellspacing="0" summary=" "><tr><td>
          <div id="divquotetext"> 
          {% if randquote %}
	  {{ randquote.content|truncatewords:28 }}<br />
          <span class="quoteauthor">-{{ randquote.author }}</span>
          {% endif %}
          </div>
          </td></tr></table>
        </div>
      </td> 
      <td class="paper"><div class="row3 col5"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr>
    <tr><!-- footer -->
      <td colspan="3" align="left" valign="top">
		<!-- footer -->

<div id="divfooter">
  <table border="0" cellpadding="0" cellspacing="0" summary=" ">
    <tr>
      <td><!-- mit logo -->
        <div id="divfootercol1">
          <a href="http://web.mit.edu/" accesskey="m"><img src="{{ media_url }}images/mit.gif" width="42" height="24" border="0" alt="MIT home" title="MIT home" /></a></div>
      </td>
      <td><!-- mit -->
        <div id="divfootercol2">
          <p>Massachusetts<br />Institute<br />of Technology</p></div>
      </td>
      <td><!-- address -->
        <div id="divfootercol3">
          <p>84 Massachusetts Avenue,<br />
          Room W20-467, Cambridge, MA 02139<br />
          Tel: 617-253-4882</p></div>
      </td>
      <td><!-- email -->
        <div id="divfootercol4">
          <p><a href="/contact/contact/">Contact ESP</a></p></div>
      </td>
      <td><!-- email bubble -->
        <div id="divfootercol5">
          <img src="{{ media_url }}images/emailbubble.gif" width="25" height="21" border="0" alt="" /></div>
      </td>
    </tr>
  </table>
</div>      </td>
      <td><div id="divquote{% if randquote %}large{% else %}none{% endif %}bot"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
      <td><div class="row4 col5"><img src="{{ media_url }}images/spacer.gif" width="1" height="1" alt="" /></div></td>
    </tr>
    <tr>
      <td colspan="3">
<div class="statistics">
<!-- STATS: Page served in %(totTime).2fs%(dbInfo)s. -->
</div>
      </td>
     </tr>
  </table>
</div>
{% endblock %}
