{% extends 'main.html' %}
{% block xtrajs %}
<script src="/media/theme_editor/spectrum.js" type="text/javascript"></script>
<script src="/media/theme_editor/palette.js" type="text/javascript"></script>
<script src="/media/theme_editor/theme_editor.js" type="text/javascript"></script>
<link href="/media/theme_editor/spectrum.css" rel="stylesheet" />
<script src="/media/theme_editor/css_auto-reload.js" rel="text/javascript"></script>
<script type="text/javascript">
  document.styleSheets.reload()
</script>
<style>
  form.centered-form div.control-group {
      margin-left:20%;
  }
  div.form-actions {
      border-top:None;
  }
  h5 {
  margin-left:3%;
  }
</style>
{% endblock %}
{% block title %}Theme Editor{% endblock %}
{% block content %} 
<div class="row" style="text-align:center;"> {# figure out why this isn't aligning properly #}

  <div class="span7 offset1">
    <h2>Theme Editor <small style="color:black;">alpha</small></h2><br />
    <p style="font-size:20px; text-align:center;">abcdefghijklmnopqrstuvwxyz 1234567890</p>

    <p>Sometimes, after loading, saving, or applying a theme, the changes may not take effect. Try refreshing the page.</p>
  </div>
</div>

<br />
<div class="row">
  <div class="span7 offset1">
    <form class="well form-horizontal centered-form" method="post" action="/theme/submit/">
      {% csrf_token %} 
      <div class="accordion">

	<div class="accordion-group">
	  <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#theme_palette">Theme Palette</h3></div>

	  <div class="collapse" id="theme_palette">

	    <div class="control-group">
	      <div id="palette_div">
		{% for color in palette %}
		<input type="text" name="palette" class="palette" value="{{color}}" />
		{% endfor %}
	      </div>
	    </div>
	    <div class="controls">
	      <button type="button" class="btn" id="addToPalette">Add Another Color</button>
	      <button type="button" class="btn" id="removeFromPalette">Remove Last Color</button>
	      <button type="submit" class="btn btn-primary" name="save" value="save">Save Theme</button> 
	    </div>
	  </div>
	</div>

	<div class="accordion-group">
	  <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#scaffolding">Scaffolding</h3></div>

	  <div class="collapse" id="scaffolding">

	    <div class="control-group">
	      <label class="control-label" for="bodybg">Background :  </label>
	      <div class="controls">
		<input type="text" id="bodybg" name="bodyBackground" class="color" value="{{bodyBackground}}" />
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="wellbg">Hero Unit Background:  </label>
	      <div class="controls">
		<input type="text" id="wellbg" name="wellBackground" class="color" value="{{wellBackground}}" />
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="heroUnitBackground">Well Background:  </label>
	      <div class="controls">
		<input type="text" id="heroUnitBackground" name="heroUnitBackground" class="color" value="{{heroUnitBackground}}" />
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="textColor">Text :  </label>
	      <div class="controls">
		<input type="text" class="color" id="textColor" name="textColor" value="{{ textColor }}"/>
	      </div>
	    </div>

	  </div>
	</div>
      
	
	<div class="accordion-group">
	  <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#links">Links</h3></div>
	  <div class="collapse" id="links">
	    <div class="control-group">
	      <label class="control-label" for="linkColor">Links :  </label>
	      <div class="controls">
		<input type="text" class="color" id="linkColor" name="linkColor" value="{{ linkColor }}"/>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="linkColorHover">Link Hover Effect:  </label>
	      <div class="controls">
		<input type="text" class="color" id="linkColorHover" name="linkColorHover" value="{{ linkColorHover }}"/>
	      </div>
	    </div>
	  </div>
	</div>
	

	<div class="accordion-group">
	  <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#typography">Typography</h3></div>
	  <div class="collapse" id="typography">
	    <div class="control-group">
	      <label class="control-label" for="baseFontSize">Base Font Size:  </label>
	      <div class="controls">
		<select id="baseFontSize" name="baseFontSize">
		  <option value="">Current: {{ baseFontSize }}</option>
		  <option value="10px">10</option>
		  <option value="11px">11</option>
		  <option value="12px">12</option>
		  <option value="13px">13</option>
		  <option value="14px">14</option>
		  <option value="15px">15</option>
		  <option value="16px">16</option>
		  <option value="17px">17</option>
		  <option value="18px">18</option>
		</select>
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="baseLineHeight">Base Line Height:  </label>
	      <div class="controls">
		<select id="baseLineHeight" name="baseLineHeight">
		  <option value="">Current: {{ baseLineHeight }}</option>
		  <option value="10px">10</option>
		  <option value="12px">12</option>
		  <option value="14px">14</option>
		  <option value="16px">16</option>
		  <option value="18px">18</option>
		  <option value="20px">20</option>
		  <option value="22px">22</option>
		  <option value="24px">24</option>
		  <option value="26px">26</option>
		</select>
	      </div>
	    </div>


	    <div class="control-group">
	      <label class="control-label" for="sansFontFamily">Font Family:  </label>
	      <div class="controls">
		<select id="sansFontFamily" name="sansFontFamily" type="text">
		  <option value="{{ sansFontFamily }}">Current: {{sansFontFamily}}</option>
		  {% for family_name, family in sans_fonts %}
		  <option value="{{family}}">{{family_name}}</option>
		  {% endfor %}
		</select>
	      </div>
	    </div>
	  </div>
	  </div>

	  <div class="accordion-group">
	    <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#navbar">Navbar</h3></div>
	    <div class="collapse" id="navbar">



	      <div class="control-group">
		<label class="control-label" for="navbarBackground">Background :  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarBackground" name="navbarBackground" value="{{ navbarBackground }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="navbarBackgroundHighlight">Highlight :  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarBackgroundHighlight" name="navbarBackgroundHighlight" value="{{ navbarBackgroundHighlight }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="navbarText">Text :  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarText" name="navbarText" value="{{ navbarText }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="navbarLinkColor">Links :  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarLinkColor" name="navbarLinkColor" value="{{ navbarLinkColor }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="navbarLinkColorHover">Link Hover:  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarLinkColorHover" name="navbarLinkColorHover" value="{{ navbarLinkColorHover }}"/>
		</div>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-group">
	    <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#sidebar_theme">Sidebar</h3></div>
	    <div class="collapse" id="sidebar_theme">




	      <div class="control-group">
		<label class="control-label" for="sidebarLink">Links:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarLink" name="sidebarLink" value="{{ sidebarLink }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="sidebarHeader">Headers:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarHeader" name="sidebarHeader" value="{{ sidebarHeader }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="sidebarBackground">Background :  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarBackground" name="sidebarBackground" value="{{ sidebarBackground }}"/>
		</div>
	      </div>

	      <h5>Hover</h5>

	      <div class="control-group">
		<label class="control-label" for="sidebarLinkHover">Links:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarLinkHover" name="sidebarLinkHover" value="{{ sidebarLinkHover }}"/>
		</div>
	      </div>
	      
	      <div class="control-group">
		<label class="control-label" for="sidebarHover">Background:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarHover" name="sidebarHover" value="{{ sidebarHover }}"/>
		</div>
	      </div>



	      <h5>Active</h5>
	      
	      <div class="control-group">
		<label class="control-label" for="sidebarActive">Links:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarActive" name="sidebarActive" value="{{ sidebarActive }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="sidebarActiveBackground">Background:  </label>
		<div class="controls">
		  <input type="text" class="color" id="sidebarActiveBackground" name="sidebarActiveBackground" value="{{ sidebarActiveBackground }}"/>
		</div>
	      </div>



{% comment %}
	      <div class="control-group">
		<label class="control-label" for="navbarLinkColor">Links :  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarLinkColor" name="navbarLinkColor" value="{{ navbarLinkColor }}"/>
		</div>
	      </div>

	      <div class="control-group">
		<label class="control-label" for="navbarLinkColorHover">Link Hover:  </label>
		<div class="controls">
		  <input type="text" class="color" id="navbarLinkColorHover" name="navbarLinkColorHover" value="{{ navbarLinkColorHover }}"/>
		</div>
	      </div>
{% endcomment %}
	    </div>
	  </div>

	  <div class="accordion-group">
	      <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#buttons">Buttons</h3></div>
	      <div class="collapse" id="buttons">


		<div class="control-group">
		  <label class="control-label" for="btnBackground">Buttons:  </label>
		  <div class="controls">
		    <input type="text" class="color" id="btnBackground" name="btnBackground" value="{{ btnBackground }}"/>
		  </div>
		</div>

		<div class="control-group">
		  <label class="control-label" for="btnPrimaryBackground">Primary Buttons:  </label>
		  <div class="controls">
		    <input type="text" class="color" id="btnPrimaryBackground" name="btnPrimaryBackground" value="{{ btnPrimaryBackground }}"/>
		  </div>
		</div>

		<div class="control-group">
		  <label class="control-label" for="btnInverseBackground">Inverse Buttons:  </label>
		  <div class="controls">
		    <input type="text" class="color" id="btnInverseBackground" name="btnInverseBackground" value="{{ btnInverseBackground }}"/>
		  </div>
		</div>
	      </div>
	    </div>


	    <div class="accordion-group">
	      <div class="accordion-heading"><h3 class="accordion-toggle" data-toggle="collapse" href="#theme-properties">Theme Properties</h3></div>
	      <div class="in collapse" id="theme-properties">

		<br />
		<div class="control-group">
		  <input id="save" type="text" value="" name="saveThemeName" placeholder="Current: {{theme_name}}" />
		  <button type="submit" class="btn btn-primary" name="save" value="save"> Save and Apply </button> 

		  <br />
		  <br />

		  <select name="loadThemeName" >
		    <option value="">Select a theme...</option> 
		    <optgroup label="---------">
		      {% for theme in available_themes %}
		      <option value="{{theme}}"> {{theme}} </option>
		      {% endfor %}
		    </optgroup>
		    <optgroup>
		      <option value="{{last_used_settings}}"> Last used settings... </option>
		    </optgroup>
		  </select>
		  <button type="submit" class="btn" name="load" value="load"> Load Theme </button> 
		  <button type="submit" class="btn" name="delete" value="delete"> Delete Theme </button> 
		</div>
	      </div>
	    </div>


      <div class="form-actions" style="text-align:center;">
	<button type="submit" class="btn btn-primary" name="apply" value="apply"> Test </button>

	<button type="submit" class="btn" name="reset" value="reset"> Reset Without Saving </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}  
