{% extends 'main.html' %}
{% block xtrajs %}
<script src="/media/theme_editor/spectrum.js" type="text/javascript"></script>
<link href="/media/theme_editor/spectrum.css" rel="stylesheet" />
{% endblock %}
{% block title %}Theme Editor{% endblock %}
{% block content %} 
<div class="row-fluid"> {# figure out why this isn't aligning properly #}
  <div class="span4 offset2">
    <h2>Theme Editor <small style="color:purple;">alpha</small></h2><br />
  </div>
</div>

<div class="row-fluid">
  <div class="span8 offset4" style="font-size:20px;">
    abcdefghijklmnopqrstuvwxyz 1234567890
  </div>
</div>

<div class="row-fluid">
  <div class="span6 offset3">
    <form class="well form-horizontal" method="get" action="/theme/apply/"> {# Change this to post eventually #}
      {#      {% csrf_token %} #}
      <div class="control-group">
	<label class="control-label" for="bodybg">Background Color:  </label>
	<div class="controls">
	  <input type="color" id="bodybg" name="bodyBackground" value="{{ bodyBackground }}"/>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label" for="textColor">Text Color:  </label>
	<div class="controls">
	  <input type="color" id="textColor" name="textColor" value="{{ textColor }}"/>
	</div>
      </div>

      <div class="control-group">
	<label class="control-label" for="sansFontFamily">Sans-serif Font:  </label>
	<div class="controls">
	  <input id="sansFontFamily" name="sansFontFamily" type="text" value="{{ sansFontFamily }}"/>
	</div>
      </div>


      <div class="form-actions">
	<button type="submit" class="btn btn-primary"> Submit </button>
	<button type="reset" class="btn"> Reset </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}  
