{% extends "main.html" %}
{% load render_qsd %}

{% block title %}{{program.niceName}} Registration{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block stylesheets %}
{{ block.super }}

<style type="text/css">
#donation_choices {
    width: 50%;
}

#donation_choices_wrapper {
    align: center;
}
</style>
{% endblock %}

{% block xtrajs %}
<script type="text/javascript">
<!--
// allow adding a donation
var donationAmount = parseFloat({{ amount_donation }});
var donationSet = {{ has_donation|lower }};

function updateDonationOnPage() {
    //  Tell the server about our change in preferences
    $j.ajax("/json/{{ program.url }}/set_donation_amount", {
        async: false,
        data: {"amount": (donationSet ? donationAmount : 0.0)},
        type: "GET",
		dataType: "json",
    });
}

function toggleDonation() {
    donationSet = !donationSet;

    if (donationSet) {
        donationAmount = parseFloat($j("input:radio[name='amount_donation']:checked").val());
    }
    $j("#donation_choices").toggle();
    updateDonationOnPage();
}
function updateDonationAmount() {
    donation_amount = parseFloat($j("input:radio[name='amount_donation']:checked").val());
    updateDonationOnPage();
}

$j(document).ready(function () {
    $j("input:radio[name='amount_donation']").click(updateDonationAmount);
});
-->
</script>
{% endblock %}

{% block content %}
<h1>Optional Donation for {{ program.niceName }}</h1>

<form action="/learn/{{ program.url }}/charge_payment" method="POST">
<input type="checkbox" name="select_donation" onclick="toggleDonation();" {% if has_donation %}checked {% endif %}/>
{% inline_program_qsd_block program "learningu_donation" %}
Check here to support <a href="http://www.learningu.org/about" target="_blank">Learning Unlimited</a> with an additional donation. Learning Unlimited supports {{ institution }} and dozens of other Splashes with mentoring and maintains this website. Your gift helps start new Splashes and provide support to existing ones across the country.
{% end_inline_program_qsd_block %}
<div id="donation_choices_wrapper">
	<div id="donation_choices">
		<b>Donation amount:</b>
		{% for option in module.settings.donation_options %}
		<label class="radio">
		    <input type="radio" name="amount_donation" id="amount_donation_{{ forloop.counter }}" value="{{ option }}" {% if option == amount_donation or forloop.first and not has_donation %}checked {% endif %}/>${{ option }}
		</label>
		{% endfor %}
	</div>
</div>

</form>

<br />
<p>If you would like to cancel at this time, you can <a href="/learn/{{ program.getUrlBase }}/studentreg" title="Return to main registration page">return to the main registration page</a>.</p>

{% endif %}

{% endblock %}

