{% extends "outlines/series-3.html" %}

{% block title %}Manage Resources for {{ prog.niceName }}{% endblock %}

{% block subsection_name %}Resource Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>Manage Resources for {{ prog.niceName }}</h1>

<p>Your diagnostic sections have been created.  See below.</p>

<div id="program_form">
{% for section in sections %}
<table align="center" width="350">
<tr>
    <th colspan="2">Section {{ section.index }}: {{ section.fln }} - {{ section.lln }}</th>
</tr>
<tr>
    <th class="smaller">Timeslot: {{ section.timeslot }}</th>
    <th class="smaller">Room: {{ section.room }}
</tr>
{% for s in section.students %}
<tr>
    <td>{{ s.id }}</td>
    <td>{{ s.first_name }} {{ s.last_name }}</td>
</tr>
{% endfor %}
<tr>
    <td colspan="2" align="center"><a href="/manage/{{ prog.getUrlBase }}/main">Back to the main program management page</a></td>
</tr>
</table>
<br />
{% endfor %}
</div>

{% endblock %}
