
{% extends "outlines/theme.html" %}

{% block title %}{{program.niceName}} Schedule{% endblock %}

{% block subsection_name %}Scheduling Options{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/media/styles/forms.css" type="text/css" />
{% endblock %}

{% block content %}

<h1>
    Scheduling {{ program.niceName }}
</h1>

<br />
<h2>Set Teacher Sections</h2>

<br />

<p>
Please assign each teacher to the appropriate section below:
</p>

<div id="program_form">
<form action="{{ request.path }}" method="post" name="teachersections">{% csrf_token %}
<table cellspacing="0" cellpadding="2" width="300" >
<thead>
<tr>
  <th>#</th>
  <th>Teacher Name</th>
  <th>Section</th>
</tr>
</thead>
<tbody>
{% for user in users %}
{% ifchanged %}
<tr>
  <th colspan="3">
   Teachers for {{ user.satprepmodule.get_subject_display }}
  </th>
</tr>
{% endifchanged %}
<tr>
  <td>{{forloop.counter}}</td>
  <td>{{user.user.name}}</td>
  <td><select name="section__{{user.user.id}}">
       <option value=""></option>
      {% for section in sections %}
       <option value="{{section}}" {% ifequal section user.satprepmodule.section %} selected="selected" {% endifequal %}>{{section}}</option>{% endfor %}
      </td>
</tr>
{% endfor %}
<tr>
  <th colspan="3"><input class="fancybutton" type="submit" value="Save Teacher Sections" /></th>
</tr>
</tbody>

</table>

<input type="hidden" name="teacher_section_form" value="true" />

</form>
</div>

<br />
<h3>Next Steps</h3>
<ol>
    <li><a href="/manage/{{ program.getUrlBase }}/satprep_classgen" title="Generate Classes">Generate the Classes</a></li>
    <li><a href="/manage/{{ program.getUrlBase }}/schedule_options" title="Schedule Options">Back to SAT Prep Administration</a></li>
    <li><a href="/manage/{{ program.getUrlBase }}/main">Back to main program management page</a></li>
</ol>

{% endblock %}
