{% for category in theme.nav_structure %}
<ul class="nav pull-right">
  <li class="dropdown{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% else %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{ category.header }}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu pull-right">
      {% for item in category.links %}
      <li><a href="{{ item.link }}">
        {% if item.icon %}
        <i class="glyphicon glyphicon-{{item.icon}}"></i>
        {% endif %}
        {{ item.text }}
      </a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
{% endfor %}
