{% extends "users/usersearch/support.html" %}

{% block title %}Communications Portal{% endblock %}

{% block content %}

<h2>Email a list of users</h2>
<p>This page will help you email a set of users in your database, with filtering options specific to {{ program.niceName }}.  Choose from three different approaches to select your users:
    <ul>
        <li><b>Basic list</b>: A set of users that all have something in common.</li>
        <li><b>Combination list</b>: A Boolean combination of basic lists.</li>
        <li><b>Previous emails</b>: Start from the settings that were used for a previous email message.</li>
    </ul>
</p>

{% with include_prev_list="True" include_checklist="True" %}
{% include "users/usersearch/list_selector.html" %}
{% endwith %}

{% endblock %}

