{% extends "main.html" %}

{% block title %}Communications Portal{% endblock %}

{% block xtrajs %}
{{block.super}}
<script type="text/javascript">
<!--

//-->
</script>
{% endblock %}
{% block stylesheets %}
{{block.super}}
<style type="text/css">
.listtable, .listtable th, .listtable td{ border: 1px solid #999; border-collapse: collapse;}
#divmaintext .unchosen { background-color: #CCC; }
#divmaintext .chosen { background-color: #FFF; }
#divmaintext td.notchooser { cursor: pointer }
#finalsentence { border: 1px solid black; width: 550px; }
</style>
{% endblock %}

{% block content %}


<h1>Communications Portal</h1>
<br />
<h2>Preview</h2>

<br />
<p>
Here is a preview of what the email you sent will look like for the first user in the list of
users to whom you are sending this email.
<br />
</p>
<br />

<p>
<strong>From:</strong> {{ from }}
<br />
</p>

<p>
<strong>Reply-To:</strong> {{ replyto }}
<br />
</p>

<p>
<strong>Subject:</strong> {{ subject }}
<br />
</p>

<p>
<strong>Public:</strong> {% if public_view %}Yes{% else %}No{% endif %}
<br />
</p>

<br />
<p>
<strong>Email body:</strong>
<br />
{% autoescape off %}
    {{ renderedtext }}
{% endautoescape %}
<br />
</p>

<br />
<br />
<form action="/manage/{{program.getUrlBase}}/maincomm2" method="post" name="mainback">
<input type="hidden" name="filterid" value="{{filterid}}" />
<input type="hidden" name="sendto_fn_name" value="{{sendto_fn_name}}" />
<input type="hidden" name="from" value="{{from}}" />
<input type="hidden" name="replyto" value="{{replyto}}" />
<input type="hidden" name="subject" value="{{subject}}" />
<input type="hidden" name="body" value="{{body}}" />
{% if public_view %}
<input type="hidden" name="public_view" value="on" />
{% endif %}
<input type="hidden" name="listcount" value="{{listcount}}" />
<input type="hidden" name="selected" value="{{selected}}" />
<input type="submit" value="Edit Your Email" id="submitform" class="btn btn-default" />
</form>
<form action="/manage/{{program.getUrlBase}}/commfinal" method="post" name="mainback">
<input type="hidden" name="filterid" value="{{filterid}}" />
<input type="hidden" name="sendto_fn_name" value="{{sendto_fn_name}}" />
<input type="hidden" name="from" value="{{from}}" />
<input type="hidden" name="replyto" value="{{replyto}}" />
<input type="hidden" name="subject" value="{{subject}}" />
<input type="hidden" name="body" value="{{body}}" />
{% if public_view %}
<input type="hidden" name="public_view" value="on" />
{% endif %}
<input type="submit" value="Send Message!" id="submitform" class="btn btn-primary" />
</form>

{% endblock %}
