{% extends "main.html" %}

{% block title %}Communications Portal{% endblock %}

{% block xtrajs %}
{{block.super}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.36/jodit.min.js"></script>
<script type="text/javascript">
function insertText(newText) {
  var sl = document.getSelection()
  var node = sl.baseNode
  if ($j(node).closest("div").hasClass("jodit_wysiwyg")) {
    var range = sl.getRangeAt(0);
    var nnode = document.createElement("span");
    range.surroundContents(nnode);
    nnode.innerHTML = newText;
  }
}
</script>
{% endblock %}
{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.36/jodit.min.css">
<style type="text/css">
.listtable, .listtable th, .listtable td{ border: 1px solid #999; border-collapse: collapse;}
#divmaintext .unchosen { background-color: #CCC; }
#divmaintext .chosen { background-color: #FFF; }
#divmaintext td.notchooser { cursor: pointer }
#finalsentence { border: 1px solid black; width: 550px; }
</style>
{% endblock %}

{% block content %}


<h1>Communications Portal</h1>
<br />
<h2>Step 2:</h2>

<br />
<p>
There are <strong>{{listcount}}</strong> distinct users in your query{% if selected %} of <strong>{{ selected }}</strong>{% endif %}. If you feel this to be off, please
<a href="javascript:history.go(-1);">go back</a> now.<br />
<br />
Please write your email/message now. Note that you can use <tt>{{ parameter }}</tt> to enter a parameter
into the text of the message&mdash;the parameters are listed below.

<p><b>Tip:</b> If you would like to send your message in HTML format, wrap your entire message body in &lt;html&gt; and &lt;/html&gt; tags.</p>

<form action="/manage/{{program.getUrlBase}}/commprev" method="post" name="comm2">
<table border="0" cellspacing="0" width="100%">
<tr>
  <td>
  <label for="from">
  <strong>From:</strong>
  <small>(If blank: your email)</small>
  </label><br />
  <input type="text" size="30" name="from" id="from" value="{{from}}" />
  <br />
  <label for="replyto">
  <strong>Reply-To:</strong>
  <small>(If blank: same as "From")</small>
  </label><br />
  <input type="text" size="30" name="replyto" id="replyto" value="{{replyto}}" />
  <br />
  <label for="subject">
  <strong>Subject:</strong>
  </label><br />
  <input type="text" size="30" name="subject" id="subject" value="{{subject}}" />
  <br /><br />
  <label for="emailbody">
  <strong>Body:</strong>
  </label> <br />
  <textarea cols="80" rows="20" name="body" id="emailbody">{{body}}</textarea>
  <br />
  <select id="tag_insert" style="width:auto">
    <option value="" disabled selected>Insert a template tag at cursor</option>
    <option value="{% templatetag openvariable %}user.name{% templatetag closevariable %}">User's Full Name</option>
    <option value="{% templatetag openvariable %}user.username{% templatetag closevariable %}">User's ESP Web Site Username</option>
    <option value="{% templatetag openvariable %}user.first_name{% templatetag closevariable %}">User's First Name</option>
    <option value="{% templatetag openvariable %}user.last_name{% templatetag closevariable %}">User's Last Name</option>
    <option value="{% templatetag openvariable %}program.student_schedule{% templatetag closevariable %}">Student's schedule for Program</option>
    <option value="{% templatetag openvariable %}program.student_schedule_norooms{% templatetag closevariable %}">Student's schedule without room numbers</option>
    <option value="{% templatetag openvariable %}program.teacher_schedule{% templatetag closevariable %}">Teacher's schedule for Program</option>
    <option value="{% templatetag openvariable %}program.teacher_schedule_dates{% templatetag closevariable %}">Teacher's schedule with dates</option>
    <option value="{% templatetag openvariable %}program.volunteer_schedule{% templatetag closevariable %}">Volunteer's schedule for Program</option>
    <option value="{% templatetag openvariable %}program.volunteer_schedule_dates{% templatetag closevariable %}">Volunteer's schedule with dates</option>
    <option value="{% templatetag openvariable %}program.optionanscript{% templatetag closevariable %}">optionanscript (classes and descriptions) for Program</option>
    <option value="{% templatetag openvariable %}program.receipt{% templatetag closevariable %}">Confirmation receipt for Program</option>
    <option value="{% templatetag openvariable %}program.full_classes{% templatetag closevariable %}">Newline-separated list of user's classes that have full or nearly-full sections</option>
    <option value="{% templatetag openvariable %}program.diag_sat_scores{% templatetag closevariable %}">User's Diagnostic SAT Scores</option>
    <option value="{% templatetag openvariable %}program.prac_sat_scores{% templatetag closevariable %}">User's Practice SAT Scores</option>
  </select>
  <br />
  </td>
</tr>
</table>

<input type="submit" value="Go To Preview" name="submitform" class="btn btn-primary" />
<input type="hidden" name="listcount" value="{{listcount}}" />
<input type="hidden" name="selected" value="{{selected}}" />
<input type="hidden" name="filterid" value="{{filterid}}" />
<input type="hidden" name="sendto_fn_name" value="{{sendto_fn_name}}" />
</form>

<script type="text/javascript">
var editor = new Jodit("#emailbody", {
  "enter": "BR",
  "buttons": "source,|,bold,strikethrough,underline,italic,|,superscript,subscript,|,ul,ol,|,outdent,indent,|,font,fontsize,brush,paragraph,|,image,file,video,table,link,|,align,undo,redo,\n,cut,hr,eraser,copyformat,|,symbol,fullsize,selectall",
  "toolbarAdaptive": false,
  "saveModeInStorage": true
});

$j('#tag_insert').on('change', function() {
  insertText($j(this).val())
  $j(this).val("");
});
</script>
{% endblock %}
