{% extends "main.html" %}

{% block title %}Communications Portal{% endblock %}

{% block xtrajs %}
{{block.super}}
<script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.36/jodit.min.js"></script>
{% endblock %}
{% block stylesheets %}
{{block.super}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.2.36/jodit.min.css">
<style type="text/css">
.listtable, .listtable th, .listtable td{ border: 1px solid #999; border-collapse: collapse;}
#divmaintext .unchosen { background-color: #CCC; }
#divmaintext .chosen { background-color: #FFF; }
#divmaintext td.notchooser { cursor: pointer }
#finalsentence { border: 1px solid black; width: 550px; }
/*Fix css for template tag button*/
.jodit_icon_insertDate { width: 16px; height: 16px}
.jodit_toolbar_list>.jodit_toolbar { max-height: 150px; }
</style>
{% endblock %}

{% block content %}


<h1>Communications Portal</h1>
<br />
<h2>Step 2:</h2>

<br />
<p>
There are <strong>{{listcount}}</strong> distinct users in your query{% if selected %} of <strong>{{ selected }}</strong>{% endif %}. If you feel this to be off, please
<a href="javascript:history.go(-1);">go back</a> now.<br />
<br />
Please write your email message now. Note that you can use <tt>{% templatetag openvariable %} parameter {% templatetag closevariable %}</tt> to enter a parameter
into the text of the message. You can use the {% templatetag openvariable %}{% templatetag closevariable %} button to choose from the possible parameters.

<form action="/manage/{{program.getUrlBase}}/commprev" method="post" name="comm2">

<table border="0" cellspacing="0" width="100%">
  <tr>
  <td>
  <label for="from">
  <strong>From:</strong>
  <small>(If blank: your email)</small>
  </label><br />
  <input type="text" size="30" name="from" id="from" value="{{from}}" />
  <br />
  <label for="replyto">
  <strong>Reply-To:</strong>
  <small>(If blank: same as "From")</small>
  </label><br />
  <input type="text" size="30" name="replyto" id="replyto" value="{{replyto}}" />
  <br />
  <label for="subject">
  <strong>Subject:</strong>
  </label><br />
  <input type="text" size="30" name="subject" id="subject" value="{{subject}}" />
  <br /><br />
  <input type="checkbox" name="public_view" id="public_view" {% if public_view %}checked{% endif %}/> Should the email be public? (makes the non-user specific text viewable by anyone)
  <br /><br />
  <label for="emailbody">
  <strong>Body:</strong>
  </label> <br />
  <textarea cols="80" rows="20" name="body" id="emailbody">{{body}}</textarea>
  <br />
  </td>
</tr>
</table>

<input type="submit" value="Go To Preview" name="submitform" class="btn btn-primary" />
<input type="hidden" name="listcount" value="{{listcount}}" />
<input type="hidden" name="selected" value="{{selected}}" />
<input type="hidden" name="filterid" value="{{filterid}}" />
<input type="hidden" name="sendto_fn_name" value="{{sendto_fn_name}}" />
</form>

<script type="text/javascript">
var editor = new Jodit("#emailbody", {
  "enter": "BR",
  "buttons": "source,|,bold,strikethrough,underline,italic,|,superscript,subscript,|,ul,ol,outdent,indent,align,|,font,fontsize,brush,paragraph,|,image,video,table,link,hr,|,undo,redo,cut,eraser,copyformat,|,symbol,fullsize,selectall,|",
  "toolbarAdaptive": false,
  "saveModeInStorage": true,
  extraButtons: [
    {
      name: 'insertDate',
      iconURL: '/media/default_images/template_tag.svg',
      mode: 3,
      list: {
        '{% templatetag openvariable %}user.name{% templatetag closevariable %}': 'User\'s Full Name',
        '{% templatetag openvariable %}user.username{% templatetag closevariable %}': 'User\'s ESP Web Site Username',
        '{% templatetag openvariable %}user.first_name{% templatetag closevariable %}': 'User\'s First Name',
        '{% templatetag openvariable %}user.last_name{% templatetag closevariable %}': 'User\'s Last Name',
        '{% templatetag openvariable %}program.student_schedule{% templatetag closevariable %}': 'Student\'s schedule for Program',
        '{% templatetag openvariable %}program.student_schedule_norooms{% templatetag closevariable %}': 'Student\'s schedule without room numbers',
        '{% templatetag openvariable %}program.teacher_schedule{% templatetag closevariable %}': 'Teacher\'s schedule for Program',
        '{% templatetag openvariable %}program.teacher_schedule_dates{% templatetag closevariable %}': 'Teacher\'s schedule with dates',
        '{% templatetag openvariable %}program.volunteer_schedule{% templatetag closevariable %}': 'Volunteer\'s schedule for Program',
        '{% templatetag openvariable %}program.volunteer_schedule_dates{% templatetag closevariable %}': 'Volunteer\'s schedule with dates',
        '{% templatetag openvariable %}program.transcript{% templatetag closevariable %}': 'Transcript (classes and descriptions) for Program',
        '{% templatetag openvariable %}program.receipt{% templatetag closevariable %}': 'Confirmation receipt for Program',
        '{% templatetag openvariable %}program.full_classes{% templatetag closevariable %}': 'Newline-separated list of user\'s classes that have full or nearly-full sections',
        '{% templatetag openvariable %}request.public_url{% templatetag closevariable %}': 'Public url for email (only works if email is set to public)',
      },
      exec: function(editor, current, control) {
        var key = control['name'];
        editor.selection.insertHTML(key);
    },
      tooltip: "Insert a template tag",
    }
  ],
});
</script>
{% endblock %}
