
{% if waitlisted %}
<input type="submit" class="addbutton_added" name="action" value="{{ label }}" id="submitbutton{{ sec.id }}" disabled />
<input type="hidden" name="waitlist_action" value="leave" />
<input type="submit" class="addbutton" name="leave_waitlist" value="Leave Waitlist" onclick="return submit_prereg({{ sec.id }});" id="leavewaitlist{{ sec.id }}" />
{% else %}
<input type="submit" class="addbutton{% if label %}_added{% endif %}" name="action" value="{% if label %}{{ label }}{% else %}Register for section {{ sec.index }}{% endif %}" onclick="return submit_prereg({{ sec.id }});" id="submitbutton{{ sec.id }}"  {% if disabled %}disabled{% endif %} />
{% endif %}