
{% extends "main.html" %}
{% load getTag %}

{% block title %}{{program.niceName}}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
<style>
a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
</style>
{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/ajax_tools.js"></script>
<!-- Include Prototype for its document.getElementsByClassName reimplementation; it's many times faster than the version below, at least on IE 6. -->
<script type="text/javascript" src="/media/scripts/ajaxschedulingmodule/prototype.js"></script>

<script type="text/javascript">
{% include "program/modules/studentclassregmodule/common-js.html.js" %}
// set some variables for catalog.js
const INJECTED_DIFFICULTIES = "{{ "teacherreg_difficulty_choices"|getTag|escapejs }}";
const register_from_catalog = {{ register_from_catalog|yesno:"true,false" }};
const hide_empty_cats = {{ "hide_empty_categories"|getBooleanTag|yesno:"true,false" }};
</script>


{% endblock %}

{% block content %}
<br />

<h1>
    {{ program.niceName }} <br /> 
        Course Catalog
</h1>

{% if timeslot %}
<h2 style="text-align: center;">
Viewing classes for: {{ timeslot.friendly_name }}
</h2>
{% endif %}

<div id="catalog">
<div style="display: flex;justify-content: space-between">
    <div>
        <b>Filter by Grade:</b><br>
        <select id = "grade_filter" style="width:auto !important">
        <option value="all" selected="selected">Any Grades</option>
        {% for grade in program.grades %}
            <option value="{{ grade }}">Grade {{ grade }}</option>
        {% endfor %}
        </select>
    </div>
    <div>
        <b>Filter by Class Length:</b><br>
        <select id = "duration_filter" style="width:auto !important">
            <option value="all" selected="selected">Any Durations</option>
        </select>
    </div>
    <div>
        <b>Filter by Difficulty:</b><br>
        <select id = "difficulty_filter" style="width:auto !important">
            <option value="all" selected="selected">Any Difficulties</option>
        </select>
    </div>
    <div>
        <b>Filter by Open/Closed Status:</b><br>
        <select id = "status_filter" style="width:auto !important">
            <option value="all" selected="selected">Any Statuses</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
        </select>
    </div>
</div>
<br>

{% if categories %}
<table align="center" style="text-align: center; margin: auto;" width="60%" border="0">
 <tr>
  <th colspan="2">
   <a name="top"></a>Jump to Categories
  </th>
 </tr>

{% for category in categories %}
{% if forloop.counter0|divisibleby:2 %}
<tr>{% endif %}
  <td style="width: 50%; vertical-align: top;" valign="top" align="center">
    <a href="#cat{{ category.id }}" data-category="{{ category.id }}" title="Click to skip down to `{{ category.category }}'">{{category.category}}</a>
  </td>
 {% if forloop.counter|divisibleby:2 %}
</tr>{% endif %} 
{% endfor %}
{% if not categories|length|divisibleby:2 %}
</tr>
{% endif %}
</table>
{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:catalog" %}

<script type="text/javascript">
<!--
if (document.getElementById("student_schedule")) {
   register_fragment({id: "student_schedule_html", url: "/learn/{{ program.getUrlBase }}/ajax_schedule"});
}
-->
</script>

{% autoescape off %}{{ class_descs }}{% endautoescape %}
</div>

<script type="text/javascript" src="/media/scripts/program/modules/catalog.js"></script>

<button onclick="topFunction()" id="topBtn" title="Go to top"><i class="material-icons">arrow_upward</i></button>

{% endblock %}
