
{% extends "main.html" %}

{% block title %}{{program.niceName}}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
{% endblock %}

{% block xtrajs %}
{{ block.super }}
<script type="text/javascript" src="/media/scripts/ajax_tools.js"></script>
<!-- Include Prototype for its document.getElementsByClassName reimplementation; it's many times faster than the version below, at least on IE 6. -->
<script type="text/javascript" src="/media/scripts/ajaxschedulingmodule/prototype.js"></script>

<script type="text/javascript">
{% include "program/modules/studentclassregmodule/common-js.html.js" %}
</script>
{% endblock %}

{% block content %}
<br />

<h1>
    {{ program.niceName }} <br /> 
        Course Catalog
</h1>

{% if timeslot %}
<h2 style="text-align: center;">
Viewing classes for: {{ timeslot.friendly_name }}
</h2>
{% endif %}

<div id="catalog">

<br>
<div align="right">
<b>Filter Catalog by Grade:</b><br>
<select id = "grade_filter" style="width:auto !important">
  <option value="all" selected="selected">All Grades</option>
  {% for grade in program.grades %}
    <option value="{{ grade }}">Grade {{ grade }}</option>
  {% endfor %}
</select>
</div>
<br>

{% if categories %}
<table align="center" style="text-align: center; margin: auto;" width="60%" border="0">
 <tr>
  <th colspan="2">
   <a name="top"></a>Jump to Categories
  </th>
 </tr>

{% for category in categories %}
{% if forloop.counter0|divisibleby:2 %}
<tr>{% endif %}
  <td style="width: 50%; vertical-align: top;" valign="top" align="center">

    <a href="#cat{{ category.id }}" title="Click to skip down to `{{ category.category }}'">
              {{category.category}}
    </a>
  </td>
 {% if forloop.counter|divisibleby:2 %}
</tr>{% endif %} 
{% endfor %}
{% if not categories|length|divisibleby:2 %}
</tr>
{% endif %}
</table>
{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:catalog" %}

<script type="text/javascript">
<!--
if (document.getElementById("student_schedule")) {
   register_fragment({id: "student_schedule_html", url: "/learn/{{ program.getUrlBase }}/ajax_schedule"});
}
-->
</script>

{% autoescape off %}{{ class_descs }}{% endautoescape %}
</div>

<script type="text/javascript">
function hideOtherGrades(grade){
    if(grade == "all"){
        $j('.show_class').show();
        //Show all line breaks
        $j('.show_class').next().next().show();
    }else{
    	$j('.show_class').hide();
        //Hide all line breaks
        $j('.show_class').next().next().hide();
        $j('.grade_' + grade).show();
        //Show the line breaks associated with the classes we are showing
        $j('.grade_' + grade).next().next().show();
    }
}

$j(document).ready(function() {
    var student_grade = esp_user.cur_grade;
    if (student_grade != "" && student_grade != null) {
        student_grade = parseInt(student_grade);
        if($j("#grade_filter").find('option[value="'+student_grade +'"]').length > 0){
            $j("#grade_filter").val(student_grade);
        }
    }
    hideOtherGrades($j("#grade_filter").find('option:selected').val());
});

$j("#grade_filter").change(function(){
	hideOtherGrades($j(this).find('option:selected').val());
});
</script>


<script type="text/javascript">
function configure_addbuttons()
{
    {% if register_from_catalog %}
    //  Registration from the catalog is allowed
    $j("input.addbutton").show();
    {% endif %}
}
$j(document).ready(configure_addbuttons);
</script>

{% endblock %}
