
<hr><br />

<p style="font-family: arial; font-size:130%; margin-left:10px; text-align: center"><b>Select Your {{one}} Classes</p></b></center>
<br />
{% if request.user.onsite_local %}
         <div class="divformcol1" style="text-align:center; font-size: 16pt;">
         <a href="{{ request.session.user_morph.retUrl }}">Go back to {{ request.session.user_morph.retTitle }}</a>

</div>
{% endif %}

<br />

{% include "users/student_schedule.html" %}
{% if request.user.onsite_local %}
<center>
<a href="/onsite/{{program.getUrlBase}}/studentschedule">Get Student Schedule</a>

<div class="errormsg">
  WARNING: Your browser's back button will NOT work! (Please use the On-Site button to the (top)right!
</div>
</div>
{% endif %}