
{% extends "main.html" %}

{% block title %}{{program.niceName}}{% endblock %}

{% block xtrajs %}
<script type="text/javascript">
<!--
{% include "program/modules/studentclassregmodule/common-js.html.js" %}
//-->
</script>
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
<style type="text/css">
input.addbutton {
  visibility: visible;
  display: inline;
}
</style>
{% endblock %}

{% block content %}
<br />
<h1>
    {{ program.niceName }} 
</h1>
<h3>Pick a class for {{ timeslot.short_description }}</h3>

{% if timeslot.priority %}
<center><div class="info">{{ timeslot.description }}</div><br /></center>
{% endif %}

{% if request.user.onsite_local %}

{% if not request.GET.filter %}
<h2 style="text-align: center;">
<a href="{{request.path}}?filter=True">Filter out invalid classes</a>
</h2>
{% else %}
<h2 style="text-align: center;">
<a href="{{request.path}}">Show all classes</a>
</h2>
{% endif %}
{% endif %}

{% if categories %}
<div class="row-fluid">
<table class="table table-bordered table-condensed span6">
<tbody>
 <tr class="info">
  <td colspan="2">
   <a name="top"></a>Jump to Categories
  </td>
 </tr>
{% for category in categories %}
{% if forloop.counter0|divisibleby:2 %}
<tr>{% endif %}
  <td style="width: 50%; vertical-align: top;" valign="top" align="center">

    <a href="#cat{{ category.id }}" title="Click to skip down to `{{ category.category }}'">
              {{category.category}}
    </a>
  </td>
 {% if forloop.counter|divisibleby:2 %}
</tr>{% endif %} 
{% endfor %}
{% if not categories|length|divisibleby:2 %}
<td>&nbsp;</td>
</tr>
{% endif %}
</tbody>
</table>
</div>
{% endif %}

{% load render_qsd %}
{% render_inline_program_qsd program "learn:fillslot" %}

{% load class_render %}

{% if classes|length_is:0 %}
There are no available classes during this time block for students of your grade level!
<ul>
<li>Did you update your profile? Make sure you <a href="../profile">update your profile</a> before trying to sign up for classes.
<li>It could be that all classes at this time have filled.
</ul>
{% endif %}

{# If the line below gives you a TemplateSyntaxError, try replacing it with a 'with' tag. #}
{% for class in classes %}

{% if categories %}
{% ifchanged class.category_id %}<hr size="1"/>

    <a name="cat{{class.category_id}}"></a>
      <p style="font-size: 1.2em;" class="category">
         {{ class.category.category }}
      </p>
{% if request.user.onsite_local %}
{% if not request.GET.filter %}
<h2 style="text-align: center;">
<a href="{{request.path}}?filter=True">Filter out invalid classes</a>
</h2>
{% else %}
<h2 style="text-align: center;">
<a href="{{request.path}}">Show all classes</a>
</h2>
{% endif %}
{% endif %}
      <p class="linktop">
         <a href="#top">[ Return to Category List ]</a>
      </p> {% endifchanged %}
{% endif %}

{% render_class class request.user request.GET.filter timeslot %}

<br />
{% endfor %}

<p><a href="../studentreg">Back to Registration Form</a> (skip this block)</p>

{% endblock %}
