{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />

<style type="text/css">
.nocheckmark { border: 1px solid black; }
table {
    table-layout: fixed;
    width: 100%;
}
#id_target_user {
    width: calc(100% - 10px);
}
</style>
{% endblock %}

{% block content %}
<br />
<br />

<br /><br />
<h1>Rapid Checkin &mdash; For {{ program.niceName }}</h1>

<div id='program_form'>

<p style="margin: 10px">
Welcome to student check-in for {{program.niceName}}.  Make sure that the students have handed in all necessary forms and payments.

{% if message %}
<p align="center">{{ message }}</p>
{% endif %}

<form id="checkinform" name="checkinform" method="POST" action="{{ request.path }}">
<table>
    <col width="85%">
    <col width="15%">
    <tr>
        <th colspan="2">
            Choose Students to Check In
        </th>
    </tr>
    <tr>
        <td>
            <table>
                <col width="20%">
                <col width="80%">
                {{ form }}
            </table>
        </td>
        <td align="center">
            <input class="button" type="submit" value="Check-In" />
        </td>
    </tr>
</table>

</form>

<br />
{% load render_qsd %}
{% render_inline_program_qsd program "onsite:status" %}

<h1>Advanced Checkin &mdash; For {{ program.niceName }}</h1>
<p style="margin: 10px;">
  <a href="/onsite/{{ program.url }}/checkin">Click here to view and edit the check-in of a user</a>
</p>

<h1>Barcode Checkin &mdash; For {{ program.niceName }}</h1>
<p style="margin: 10px;">
  <a href="/onsite/{{ program.url }}/barcodecheckin">Click here to check in many users at once by ID</a>
</p>

</div>

{% include "program/modules/onsitecore/returnlink.html" %}

{% endblock %}
