{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />

<style type="text/css">
.nocheckmark { border: 1px solid black; }
table {
    table-layout: fixed;
    width: 100%;
}
#id_target_user {
    width: calc(100% - 10px);
}
</style>
{% endblock %}

{% block content %}
<br />
<br />

<br /><br />
<h1>Rapid Checkin &mdash; For {{ program.niceName }}</h1>

<div id='program_form'>

<p style="margin: 10px">
Welcome to student check-in for {{program.niceName}}.  Make sure that the students have handed in all necessary forms and payments.
</p>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Filters</b></div>
            <div class="panel-body">
                <div class="form-group row">
                    <label for="grade_filter" class="col-sm-4 control-label">Grade:</label>
                    <div class="col-sm-8">
                        <select id="grade_filter" class="form-control">
                            <option value="">All Grades</option>
                            <option value="7">7th Grade</option>
                            <option value="8">8th Grade</option>
                            <option value="9">9th Grade</option>
                            <option value="10">10th Grade</option>
                            <option value="11">11th Grade</option>
                            <option value="12">12th Grade</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name_filter" class="col-sm-4 control-label">Last Name:</label>
                    <div class="col-sm-8">
                        <select id="last_name_filter" class="form-control">
                            <option value="">All</option>
                            <option value="A-G">A - G</option>
                            <option value="H-N">H - N</option>
                            <option value="O-Z">O - Z</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" align="right">
        <a href="/onsite/{{ program.url }}/barcodecheckin" class="button btn-lg" style="text-decoration: none; display: inline-block;">
            <span class="glyphicon glyphicon-barcode"></span> Barcode Checkin
        </a>
    </div>
</div>

{% if message %}
<div align="center" class="alert alert-info">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  {{ message }}
</div>
{% endif %}

<form id="checkinform" name="checkinform" method="POST" action="{{ request.path }}">
<table>
    <col width="85%">
    <col width="15%">
    <tr>
        <th colspan="2">
            Choose Students to Check In
        </th>
    </tr>
    <tr>
        <td>
            <table>
                <col width="20%">
                <col width="80%">
                {{ form }}
            </table>
        </td>
        <td align="center">
            <input class="button" type="submit" value="Check-In" />
        </td>
    </tr>
</table>

</form>

<br />
{% load render_qsd %}
{% render_inline_program_qsd program "onsite:status" %}

<h1>Advanced Checkin &mdash; For {{ program.niceName }}</h1>
<p style="margin: 10px;">
  <a href="/onsite/{{ program.url }}/checkin">Click here to view and edit the check-in of a user</a>
</p>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
$j(function() {
    // Override the autocomplete source to add filters
    var $searchField = $j("#id_target_user");
    if ($searchField.length > 0) {
        var originalSource = $searchField.autocomplete("option", "source");
        $searchField.autocomplete("option", "source", function(request, response) {
            $j.ajax({
                url: "/admin/ajax_autocomplete/",
                dataType: "json",
                data: {
                    model_module: "esp.users.models",
                    model_name: "ESPUser",
                    ajax_func: "ajax_autocomplete_student",
                    ajax_data: request.term,
                    prog: "{{ program.id }}",
                    grade: $j("#grade_filter").val(),
                    last_name_range: $j("#last_name_filter").val()
                },
                success: function(data) {
                    var output = $j.map(data.result, function(item) {
                        return {
                            label: item.ajax_str,
                            value: item.ajax_str,
                            id: item.id
                        };
                    });
                    response(output);
                }
            });
        });
    }
});
</script>
{% endblock %}

</div>

{% include "program/modules/onsitecore/returnlink.html" %}

{% endblock %}
