{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='/media/styles/forms.css' />
    <link rel='stylesheet' type='text/css' href='/media/styles/barcodescanner.css' />
    <link rel="stylesheet" type='text/css' href="https://use.fontawesome.com/releases/v5.0.9/css/all.css">
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/serratus/quaggaJS@e96eb9f7888507689cf33f1e6ce325959dde314e/dist/quagga.min.js" type="text/javascript"></script>
    <script src="/media/scripts/barcodescanner.js" type="text/javascript"></script>
    <script>
        Quagga.onDetected(function(result) {
            var code = result.codeResult.code;
            var autocheckin = document.getElementById("autocheckinbox");

            if (App.lastResult !== code) {
                App.lastResult = code;
                beep();
                if (autocheckin.checked){
                    var data = {code: code, csrfmiddlewaretoken: csrf_token()};
                    $j.post('ajaxbarcodecheckin', data, function(result) {
                        if (result.hasOwnProperty('message')) {
                            var message = result.message;
                            $j('#scaninfo').show();
                            $j('#scaninfo').html(message);
                            setTimeout("$j('#scaninfo').fadeOut(); ", 4000);
                        }
                    }, "json");
                } else {
                    var results = document.querySelector('#checkinform > p > textarea')
                    results.value += "\n" + code
                }
            }
        });
    </script>
{% endblock %}

{% block content %}

<h1>Barcode Checkin &mdash; For {{ program.niceName }}</h1>

<div id='program_form'>
    <p>
    Welcome to barcode check-in for {{ program.niceName }}.  Please enter a list of user IDs.
    </p>

    {% if results %}
    <p>
    Checked in {{ results.new|length }} students.  {{ results.not_found|length }} students were not found, {{ results.existing|length }} students were already checked in, and {{ results.not_student|length }} IDs did not correspond to students.
    </p>
    {% if results.not_found %}
    <p>
    Students not found:
    {% for id in results.not_found %}
    {{ id }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    </p>
    {% endif %}
    {% if results.not_student %}
    <p>
    IDs not corresponding to students:
    {% for id in results.not_student %}
    {{ id }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    </p>
    {% endif %}
    {% comment %}
    {% if results.existing %}
    <p>
    IDs already checked in:
    {% for id in results.existing %}
    {{ id }}{% if not forloop.last %},{% endif %}
    {% endfor %}
    </p>
    {% endif %}
    {% endcomment %}
    {% endif %}

    <form id="checkinform" name="checkinform" method="POST" action="{{ request.path }}">
                        {{ form.as_p }}
                        <p class="ids">
                    <input type="submit" value="Submit" />
                    </p>
    </form>

    <br><br>

    <div class="controls">
        <button type="button" class="scan"><i class="fas fa-barcode"></i>&ensp;Scan barcodes with your device</button>
        <br><br>
        <select>
            <option selected value="code_39_reader">Code 39</option>
            <option value="codabar_reader">Codabar</option>
            <option value="code_128_reader">Code 128</option>
            <option value="i2of5_reader">Interleaved 2 of 5</option>
        </select>
        <br><br>
        <input type="checkbox" id="autocheckinbox" value="autocheckin" checked> Auto-checkin scanned barcodes<br>
    </div>
    <div class="overlay overlay--inline">
        <div class="overlay__content viewport" id="interactive">
            <div id="scaninfo" class="scan_popup"></div>
            <div class="overlay__close">X</div>
        </div>
    </div>
</div>

{% include "program/modules/onsitecore/returnlink.html" %}

{% endblock %}
