{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block subsection_name %}Register for {{program.niceName}}{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

{{ program.mainteacherreg }}

<br /><br />
<h1>Checkin &mdash; For &quot;{{module.student.name}}&quot;</h1>

<p style="text-align: center">
Welcome to student check-in for {{module.student.name}}.  Make sure that the student has:
<ul>
<li> handed in Medical and Liability Form
<li> paid
</ul>
<br />
<br />
<form name="checkin" method="POST" action="{{request.path}}">{% csrf_token %}
<input type="hidden" name="Attended" id="attended" value="True">
<input type="hidden" name="MedicalFiled" id="medical" value="True">
<input type="hidden" name="LiabilityFiled" id="liability" value="True">
<input type="hidden" name="Paid" id="paid" value="True">


{% comment %} old checkin form: changed for Spark '09 for simplicity --rye
Welcome to the student check-in for {{module.student.name}}. Please checkoff that the following has been completed:
</p>
<br />
<form name="checkin" method="POST" action="{{request.path}}">{% csrf_token %}
<label for="attended"><strong>Attending? (i.e. here right now?)</strong></label> &nbsp;&nbsp;
   <input type="checkbox" name="Attended" id="attended" {% if module.hasAttended %}checked="checked"{% endif %} />
  <br />

<label for="liability"><strong>Liability Form?</strong></label> &nbsp;&nbsp;
   <input type="checkbox" name="LiabilityFiled" id="liability" {% if module.hasLiability %}checked="checked"{% endif %} />
  <br />

<label for="paid"><strong>Paid or Financial Aid?</strong></label> &nbsp;&nbsp;
   <input type="checkbox" name="Paid" id="paid" {% if module.hasPaid %}checked="checked"{% endif %} />
  <br />
<br />{% endcomment %}
<input type="hidden" name="userid" value="{{module.student.id}}" />
<input type="submit" value="Check-In Student" />
</form>
<br />



{% endblock %}
