{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block content %}
<style type="text/css">
  .nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>Advanced Checkin &mdash; For &quot;{{module.student.name}}&quot;</h1>

{% if not module.hasAttended %}
<div style="margin:10px">
  <p>
    Welcome to student check-in for {{module.student.name}}.  Make sure that the student has:
    <ul>
      <li> handed in Medical and Liability Form
      <li> paid
    </ul>
  </p>
  <br />
  <br />
  <form name="checkin" method="POST" action="{{request.path}}">
    <table>
      <tr>
	<td><label for="attended"><strong>Attending? (i.e. here right now?)</strong></label></td>
	<td><input type="checkbox" name="attended" id="attended" checked="checked" /></td>
      </tr>
      <tr>
	<td><label for="medical"><strong>Medical Form?</strong></label></td>
	<td><input type="checkbox" name="med" id="medical" checked="checked" /></td>
      </tr>
      <tr>
	<td><label for="liability"><strong>Liability Form?</strong></label></td>
	<td><input type="checkbox" name="liab" id="liability" checked="checked" /></td>
      </tr>
      <tr>
	<td><label for="paid"><strong>Paid?</strong></label></td>
	<td><input type="checkbox" name="paid" id="paid" checked="checked" /></td>
      </tr>
    </table>
    <input type="hidden" name="userid" value="{{module.student.id}}" />
    <input type="submit" value="Check In Student" />
  </form>
</div>
{% else %}
<div style="margin:10px">
  <p>
    <b>Student checked in during the following times:</b></br>
    {% for pair in module.checkinPairs %}
        {{ pair.0.time }} to {% if pair.1 %}{{ pair.1.time }}{% else %}<i>present</i>{% endif %}</br>
    {% endfor %}
  </p>
  <form name="checkin" method="POST" action="{{request.path}}">
    <table>
      <tr>
	<td><label for="attended"><strong>Attending? (i.e. here right now?)</strong></label></td>
	<td><input type="checkbox" name="attended" id="attended" {% if module.isAttending %}checked="checked"{% endif %} /></td>
      </tr>
      {% if module.isAttending %}
      <tr>
	<td><label for="attended"><strong>Undo Last Checkin</strong></label></td>
	<td><input type="checkbox" name="undocheckin" id="undocheckin"/></td>
      </tr>
      {% endif %}
      {% if module.hasAttended and not module.isAttending %}
      <tr>
	<td><label for="attended"><strong>Undo Last Checkout</strong></label></td>
	<td><input type="checkbox" name="undocheckout" id="undocheckout"/></td>
      </tr>
      {% endif %}
      <tr>
	<td><label for="medical"><strong>Medical Form?</strong></label></td>
	<td><input type="checkbox" name="med" id="medical" {% if module.hasMedical %}checked="checked"{% endif %} /></td>
      </tr>
      <tr>
	<td><label for="liability"><strong>Liability Form?</strong></label></td>
	<td><input type="checkbox" name="liab" id="liability" {% if module.hasLiability %}checked="checked"{% endif %} /></td>
      </tr>
      <tr>
	<td><label for="paid"><strong>Paid?</strong></label></td>
	<td><input type="checkbox" name="paid" id="paid" {% if module.hasPaid %}checked="checked"{% endif %} /></td>
      </tr>
    </table>
    <input type="hidden" name="userid" value="{{module.student.id}}" />
    <input type="submit" value="Modify Student Check-In" />
  </form>
</div>
{% endif %}
<br />

{% comment %} old checkin form: changed for Spark '09 for simplicity --rye
Welcome to the student check-in for {{module.student.name}}. Please checkoff that the following has been completed:
<br />
<form name="checkin" method="POST" action="{{request.path}}">
  <label for="attended"><strong>Attending? (i.e. here right now?)</strong></label> &nbsp;&nbsp;
  <input type="checkbox" name="Attended" id="attended" {% if module.hasAttended %}checked="checked"{% endif %} />
  <br />
  <label for="medical"><strong>Medical Form?</strong></label> &nbsp;&nbsp;
  <input type="checkbox" name="MedicalFiled" id="medical" {% if module.hasMedical %}checked="checked"{% endif %} />
  <br />

  <label for="liability"><strong>Liability Form?</strong></label> &nbsp;&nbsp;
  <input type="checkbox" name="LiabilityFiled" id="liability" {% if module.hasLiability %}checked="checked"{% endif %} />
  <br />

  <label for="paid"><strong>Paid?</strong></label> &nbsp;&nbsp;
  <input type="checkbox" name="Paid" id="paid" {% if module.hasPaid %}checked="checked"{% endif %} />
  <br />
  <br />
{% endcomment %}

{% include "program/modules/onsitecore/returnlink.html" %}
{% endblock %}
