{% extends "main.html" %}

{% block title %}{{program.niceName}} Management{% endblock %}

{% block content %}
<style type="text/css">
.nocheckmark { border: 1px solid black; }
</style>
<br />
<br />

<br /><br />
<h1>View Puchased Items for {{student.name}}</h1>

<p>
Here is a list of the items that were reserved online for {{student.name}}:
</p>

<table border="1">
<tr>
<td><b>Required Item</b></td>
<td><b>Cost of Item</b></td>
</tr>
{% for item in requireditems %}
<tr>
<td>{{ item.line_item.text }}</td>
<td>${{ item.amount_dec }}</td>
</tr>
{% endfor %}
<tr>
<td><b>Reserved Item</b></td>
<td><b>Cost of Item</b></td>
</tr>
{% for item in reserveditems %}
<tr>
<td>{{ item.line_item.text }}</td>
<td>${{ item.amount_dec }}</td>
</tr>
{% endfor %}
<tr>
<td colspan="2"><b>Summary</b></td>
</tr>
<tr>
<td>Total:</td>
<td>${{ amount_requested|floatformat:2 }}</td>
</tr>
<tr>
<td>Financial aid:</td>
<td>${{ amount_finaid|floatformat:2 }}</td>
</tr>
<tr>
<td>Amount due:</td>
<td>${{ amount_due|floatformat:2 }}</td>
</tr>
</table>

<br />
{% include "program/modules/onsitecore/returnlink.html" %}

{% endblock %}
