{% extends "outlines/series-3.html" %}

{% block title %}Profile Editor{% endblock %}

{% block subsection_name %}Student Profile Editor{% endblock %}

{% block content %}

<style type="text/css">

.required { border: 2px solid black; }

.form_error { font-size: 80%; font-style: italic; color: #C00; }

label { font-family: Arial, Lucida, Helvetica, sans-serif; font-size: 0.8em; font-weight: normal;}
label.groupheader { font-size: 1.2em; font-weight: bold; }
#divmaintext table td { vertical-align: top; }

</style>
<br /><br />
<h1>SAT Prep - Specific Information </h1>
<br />
<p> Please fill out the following short form to give us SATPrep-specific information. <br />
While none of this information is required, it will greatly enhance our ability to help you.</p>

{% if form.has_errors %}
<h2 style="color:red">Please fix the error{{ form.error_dict|pluralize }} in the form.<h2>
{% endif %}


<form action="{{request.path}}" method="post">
<table cellpadding="2" align="center" border="0">

<tr>
 <td><label for="id_old_math_score">Current SAT Math Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_math_score }} {% if form.old_math_score.errors %}
   <br /><span class="form_error">{{ form.old_math_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_old_verb_score">Current SAT Verbal Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_verb_score }} {% if form.old_verb_score.errors %}
   <br /><span class="form_error">{{ form.old_verb_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_old_writ_score">Current SAT Writing Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_writ_score }} {% if form.old_writ_score.errors %}
   <br /><span class="form_error">{{ form.old_writ_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_heard_by">How did you hear about SATPrep?</label></td>
 <td>{{ form.heard_by }} {% if form.heard_by.errors %}
   <br /><span class="form_error">{{ form.heard_by.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
</table>

<br />
<center><input type='submit' value='Save SAT Prep Information'></center>

<br />
</form>

</div>

{% endblock %}