{% extends "main.html" %}
{% load render_qsd %}

{% block title %} Class Lottery Registration for {{prog.niceName}} {% endblock %}

{% block xtrajs %}
<script type="text/javascript">    var base_url = "{{ program.getUrlBase }}";  </script>
<script type="text/javascript">    var program_base_url = "/json/"+base_url+"/";
var support = "{{ support }}";
var open_class_registration = {{ open_class_registration }};
</script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/splash_timeslot.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/student_reg.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/class_popups.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/preferences.js"></script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>
<!--
<script type="text/javascript">
  $j.getScript("/media/scripts/jquery-ui-1.8.17.custom.min.js", function(){
    console.log(create_class_info_dialog);
    console.log($j("<div></div>").accordion);
    create_class_info_dialog();
    jquery_ui_init(); 
  });
</script>
-->
<script type="text/javascript">
/**$j(document).ready(function() { 
    
});**/              
</script>

{% endblock %}                      


{% block content %} 
    {% inline_program_qsd_block prog "lsr_title" request.user %}Class Lottery for {{prog.niceName}}{% end_inline_program_qsd_block %}

    <div id="lsr_content">
        <h3 class="header"><a href="#">Instructions</a></h3>
        <div id="instructions">
            {% inline_program_qsd_block prog "lsr_instructions" request.user %}Write instructions here!{% end_inline_program_qsd_block %}
	</div>

	<br/>

	<div id="timeslots_anchor" style="display:none;"></div>

	<br/>

	<h3 class="header"><a href="#">View and Save Preferences</a></h3>
	<div id="preferences"></div>
    </div>

{% endblock %}
