{% extends "main.html" %}
{% load render_qsd %}

{% block title %} Class Lottery Registration for {{prog.niceName}} {% endblock %}

{% load subsection %}
{% block subsection %}
{% autoescape off %}{{ "Student Registration"|subsection }}{% endautoescape %}{% endblock %}

{% block xtrajs %}
<script type="text/javascript">    var program_base_url = "/json/{{ program.getUrlBase }}/";  </script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/studentreg_new.js"></script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>
<script type="text/javascript">
/**$j(document).ready(function() { 
    
});**/              
</script>

{% endblock %}                      


{% block content %} 
    
    {% inline_qsd_block prog.anchor "lsr_title" request.user %}Class Lottery for {{prog.niceName}}{% end_inline_qsd_block %}

    <table id="timeslot_list" style="text-align: center" align="center" width="400"></table>
    <div id=lsr_content>
        <div id=instructions>
            {% inline_qsd_block prog.anchor "lsr_instructions" request.user %}Write instructions here!{% end_inline_qsd_block %}
	</div>
    </div>

{% endblock %}
