{% extends "program/modules/module_base.html" %}
{% load render_qsd %}

{% block title %} Class Lottery Registration for {{prog.niceName}} {% endblock %}

{% block xtrajs %}
<script type="text/javascript">    var base_url = "{{ program.getUrlBase }}";  </script>
<script type="text/javascript">    var program_base_url = "/json/"+base_url+"/";
var support = "{{ support }}";
var open_class_registration = {{ open_class_registration }};
</script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/splash_timeslot.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/student_reg.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/class_popups.js"></script>
<script type="text/javascript" src="/media/scripts/lottery_student_reg/preferences.js"></script>
<script type="text/javascript" src="/media/scripts/json_fetch.js"></script>
<!--
<script type="text/javascript">
  $j.getScript("/media/scripts/jquery-ui-1.8.17.custom.min.js", function(){
    create_class_info_dialog();
    jquery_ui_init(); 
  });
</script>
-->
<script type="text/javascript">
/**$j(document).ready(function() { 
    
});**/              
</script>

{% endblock %}                      


{% block module_content %}
    {% inline_program_qsd_block prog "lsr_title" %}Class Lottery for {{prog.niceName}}{% end_inline_program_qsd_block %}

    <div id="lsr_content">
        <h3 class="header"><a href="#">Instructions</a></h3>
        <div id="instructions">
            {% inline_program_qsd_block prog "lsr_instructions" %}Write instructions here!{% end_inline_program_qsd_block %}
	</div>

	<br/>

	<div id="timeslots_anchor" style="display:none;"></div>

	<br/>

	<h3 class="header"><a href="#">View and Save Preferences</a></h3>
	<div id="preferences"></div>
    </div>

    {# Class description popup, filled in by class_popups.js #}
    <div class="modal fade" id="class-desc-modal" tabindex="-1"
         aria-labelledby="class-desc-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="class-desc-modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
