
{% extends "main.html" %}

{% block title %}Archives: Viewing {{ selection|capfirst }} by {{ sortorder.0|capfirst }} {% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="/media/styles/battlescreen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/media/styles/archives.css" type="text/css" media="screen" />

<link rel="stylesheet" href="/media/styles/archives_print.css" type="text/css" media="print" />
{% endblock %}

{% block content %}
<h1>{{ settings.ORGANIZATION_SHORT_NAME }} Archives: Past Classes</h1>

<div id="battlescreen">
Found {{ num_results }} results.

{% if sortparams %}
Showing {{ num_results_shown }} (#{{ results_range.start }} to #{{ results_range.end }}) results sorted by {{ sortorder.0 }}. 
{% else %}
These {{ num_results_shown }} results (#{{ results_range.start }} to #{{ results_range.end }}) are not sorted in any particular order.
{% endif %}
<br />
<!--
Debug information:
<p>
{{ debug_str }}
</p>
-->
<br />
<!--
{% if old_sortparams %}
Old sort params:
{% for sp in old_sortparams %}
{{ sp }}, 
{% endfor %}
{% endif %}
-->

<br />

<a name="top"></a>
<form method="post" action="{{request.path}}">

<table cellspacing="0" cellpadding="4" class="fullwidth" align="center">
<tr><th colspan="2">
Archive Viewing Options
</th></tr>
<tr><td colspan="2">
<h3>Filter results</h3>
</td></tr>

{% for p in sortparams %}
	<tr><td>
		<input type="hidden" name="sortparam{{ forloop.counter }}" value = "{{ p.name }}" />
		{{ p.name|capfirst }}: </td><td>
		{% if p.options|length_is:1 %}
		<input class="text" type="text" size="40" name="filter_{{ p.name }}" value="{{ p.options.0.default_value }}" />
		{% else %}
		<select name="filter_{{ p.name }}"> 
		<option value="">Any</option>
		{% for h in p.options %}
			<option value="{{ h.value }}"
			{% if h.selected %} selected{% endif %}
			>{{ h.name }}</option>
		{% endfor %}
		</select>
		{% endif %}
		<br />
	</td></tr>
{% endfor %}

<tr><td>

<h3>Sort results by:</h3></td><td>
<select name="newparam">
{% for p in sortorder %}
<option value="{{ p }}">{{ p|capfirst }}</option>
{% endfor %}
</select>
</td></tr>

<tr><td>
<h3>Maximum number of results per page: </h3>
</td><td>
<select name="max_num_results">
{% for f in num_results_list %}
<option value="{{ f }}"{% ifequal f max_num_results %}selected{% endifequal %}>{{ f }}</option>
{% endfor %}
</select>
</td></tr>
<tr><td colspan="2" align="center">
<input class="button" type="submit" value="Reload" />
<br />
<br />
</td></tr>
</table>
</form>

<table cellspacing="0" cellpadding="4" class="fullwidth" align="center">
<tr><th align="center" colspan="2">Navigation Options</th></tr>
<tr><td colspan="2">
<h3>Jump to {{ sortorder.0 }} (on this page)</h3>
{% for l in headings %}
&nbsp; &nbsp; &nbsp; <a href="#{{ l|slugify }}">{{ l|capfirst }}</a>
{% endfor %}
</td></tr>

{% ifnotequal max_num_results "Show all" %}
<tr><td>
<h3>Browse current set of results</h3></td>
<td>
<form method="post" action="{{request.path}}">
<input type="hidden" name="max_num_results" value="{{ max_num_results }}" />
<input type="hidden" name="results_end" value="{{ results_range.start }}" />
<input type="hidden" name="newparam" value="{{ sortorder.0 }}" />
{% for p in sortparams %}
{% for h in p.options %}
{% if h.selected %}<input type="hidden" name="filter_{{ p.name }}" value="{{ h.value }}" />{% endif %}
{% endfor %}
{% endfor %}
<input class="button" type="submit" value="Previous {{ max_num_results }}"
{% ifequal results_range.start 1 %}
disabled 
{% endifequal %}
/>
</form>
<form method="post" action="{{request.path}}">
<input type="hidden" name="max_num_results" value="{{ max_num_results }}" />
<input type="hidden" name="results_start" value="{{ results_range.end }}" />
<input type="hidden" name="newparam" value="{{ sortorder.0 }}" />
{% for p in sortparams %}
{% for h in p.options %}
{% if h.selected %}<input type="hidden" name="filter_{{ p.name }}" value="{{ h.value }}" />{% endif %}
{% endfor %}
{% endfor %}
<input class="button" type="submit" value="Next {{ max_num_results }}"
{% ifequal results_range.end num_results %}
disabled 
{% endifequal %}
/>
</form>
</td></tr>
{% endifnotequal %}

</table>
</div> <!-- div#battlescreen -->

<br />
<br />
<div id="archives">
<center>
<table width="600" cellspacing="4" cellpadding="2">
{% for entry in results %}
<tr><td>

{% ifequal sortorder.0 "category" %}
{% ifchanged %}
<a name="{{ entry.category|slugify }}"></a><br /><h2 align="center">Category: {{ entry.category }}</h2>
<center><a class="returntotop" href="#top">Return to top of page</a></center>
<hr size="1" width="75%" />
</td></tr>
<tr><td>
{% endifchanged %}
{% endifequal %}

{% ifequal sortorder.0 "title" %}
{% ifchanged %}
<a name="{{ entry.title.0|slugify }}"></a><br /><h2 align="center">Title starts with: {{ entry.title.0 }}</h2>
<center><a class="returntotop" href="#top">Return to top of page</a></center>
<hr size="1" width="75%" />
</td></tr>
<tr><td>
{% endifchanged %}
{% endifequal %}

{% ifequal sortorder.0 "program" %}
{% ifchanged %}
<a name="{{ entry.program|slugify }}"></a><br /><h2 align="center">Program: {{ entry.program }}</h2>
<center><a class="returntotop" href="#top">Return to top of page</a></center>
<hr size="1" width="75%" />
</td></tr>
<tr><td>
{% endifchanged %}
{% endifequal %}

{% ifequal sortorder.0 "year" %}
{% ifchanged %}
<a name="{{ entry.year }}"></a><br /><h2 align="center">Year: {{ entry.year }}</h2>
<center><a class="returntotop" href="#top">Return to top of page</a></center>
<hr size="1" width="75%" />
</td></tr>
<tr><td>
{% endifchanged %}
{% endifequal %}

{% ifequal sortorder.0 "teacher" %}
{% ifchanged %}
<a name="{{ entry.teacher|slugify }}"></a><br /><h2 align="center">Teacher: {{ entry.teacher }}</h2>
<center><a class="returntotop" href="#top">Return to top of page</a></center>
<hr size="1" width="75%" />
</td></tr>
<tr><td>
{% endifchanged %}
{% endifequal %}

<table width="100%" cellspacing="0" cellpadding="3" class="innertable">

<tr><td bgcolor="#a6cedf">
<h3>{{ entry.title }}</h3>
</td>
<td align="right" class="classheading" bgcolor="#a6cedf">
<a href="#top">Return to top of page</a>
</td>
</tr>
<tr><td colspan="2" class="classheading" bgcolor="#a6cedf">
	{% for item in entry.heading %}
	<b>{{ item.label }}:</b> {{ item.value }}
	<br />
	{% endfor %}
</td></tr>
<tr><td colspan="2" class="classdesc">
<p>
{{ entry.content|default:"No description available." }}
</p>
</td></tr>
{% if entry.num_students %}
<tr><td colspan="2" class="classdesc" bgcolor="#cccccc">
Estimated attendance: <b>{{ entry.num_students }}</b> students (including other sections of the same class).
</td></tr>
{% endif %}
</table></td></tr>
{% endfor %}
</table></center>
</div> <!-- div#archives -->
{% endblock %}
