<p>You have successfully completed your pre-registration for {{ program.title }}!  Please carefully read the following instructions:
</p>

<ol>
<li>You should now send a $10 check to: Hudson High School, 69 Brigham St., Hudson, MA 01749.
<!--: {{ program.address }} -->
<li>You MUST fill out <a href="/media/uploaded/07_01/medical___.pdf">medical</a> and <a href="/media/uploaded/07_01/liabilities__.pdf">liabilities</a> forms and BRING THEM TO THE PROGRAM. Your parents need to sign them, and if you do not have them you CANNOT PARTICIPATE. This is VERY IMPORTANT. These will be available online soon.
 <li>You should BRING A LUNCH. You may also want to bring a snack for after the first class.

{% for inst in program.instructions %}
 <li>{{ inst }}
  </li>
{% endfor %}
</ol>

<p>Thanks for registering. We're looking forward to seeing you on Saturday, Jan. 27!
<!-- on {{ program.date }} -->

</p>
