{% extends "main.html" %}
{% load render_qsd %}

{% block title %}Manage a Programme{% endblock %}

{% block content %}

<h2>Manage a Programme</h2>

<table class="table" width="100%" align="center">
<thead>
  <tr>
    <th align="center">
        Welcome, {{ user.first_name }}!
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
        {% render_inline_qsd "manage/programs" %}
    </td>
  </tr>
  <tr>
    <td>
Select a programme to manage it.
    </td>
  </tr>
</tbody>
</table>

<table class="table table-striped table-condensed" align="center">
<thead>
  <tr>
    <th align="center">Programmes you are an Administrator of:</th>
  </tr>
</thead>
<tbody>
{% for program in admPrograms %}
    <tr><td><a href="/manage/{{program.getUrlBase}}/main"
  title="Manage {{program.niceName}}">
  {{program.niceName}}
</a></td></tr>
{% endfor %}
</tbody>
<thead>
  <tr>
    <th align="center"><b><a href="/manage/newprogram" title="Create a New Program">
   Create a New Programme...
</a></b></th>
  </tr>
</thead>
</table>

</div> <!-- div#battlescreen -->

{% endblock %}
