{% extends "main.html" %}

{% block title %}Make Program Happen{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/admin.css" /> <!-- to render checkbox list -->
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="/media/scripts/program/modules/modulequestions.js"></script>
{% endblock %}

{% block content %}
<h1>Program Creation Form</h1>

<p>
Please fill in the information below and click the magic button.
</p>

<p>
After creating the program template using this form, you will still need to set up the classrooms and timeslots.  Please do this using the classroom management page, which is linked to from the top of the main program management page.  (You will be taken there shortly.)
</p>

<p>
Please enter the date ranges (bottom 3 rows) in one of the following formats:
<ul>
<li><tt><font style="background-color:lightgray;">9/1/2007</font></tt> (for September 1<sup>st</sup>, 2007 at midnight)</li>
<li><tt><font style="background-color:lightgray;">9/1/2007 17:30</font></tt> (for September 1<sup>st</sup>, 2007 5:30 pm)</li>
</ul>
</p>

<p>
Use a past program as a template:
<select name="program_choose" id="id_program_choose" onchange="window.location='?template_prog='+document.getElementById('id_program_choose').value">
<option value = '0'> None </option>
{% for program in programs %}
{% if program.id == template_prog_id %}
<option value="{{ program.id }}" selected = "selected">{{ program.niceName }}</option>
{% else %}
<option value="{{ program.id }}">{{ program.niceName }}</option>
{% endif %}
{% endfor %}
</select>
<br />
<font color="#4CC417">If you use a program as a template, make sure to carefully look through and update all fields below!</font>
</p>

<div id="alumni_form">
  <form action="{{ request.path }}" method="post">
  {% autoescape off %}
  {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

{% for fieldset in form.fieldsets %}

  <br /><br />
  <fieldset class="fieldset_{{ fieldset.name }}">
  {% if fieldset.legend %}
    <legend>{{ fieldset.legend }}</legend>
  {% endif %}
  {% if fieldset.description %}
    <p class="description">{{ fieldset.description }}</p>
  {% endif %}
  <table class="contact" align="center" width="550">
  {% for field in fieldset %}

   <tr>
    {% if field.is_hidden %}
     <td> {{ field }} </td>
     {% else %}
    {% if field.label  %}
    <td style="vertical-align:text-top;">{{ field.label }} </td>
    {% endif %}
     {% if field %}
      <td>  {{ field }}
    {% endif %}
      <br />
    {% if field.help_text %}
      <span>{{ field.help_text }}</span>
      <br />
    {% endif %}
    {% for error in  field.errors %}
     <span class='form_error'> {{ error }} </span>
     <br />
    {% endfor %}
    <br />
     </td>
     </tr>

    {% endif %}
  {% endfor %}
  </table>

  </fieldset>
{% endfor %}

  {% endautoescape %}
  <table align="center">
    <tr> 
      <td colspan="2" class="submit">
        <br /><br /><br />
        <center><input class="fancybutton" type="submit" value="Make Program Happen!" onclick="questionsToModules();" /></center>
      </td>
    </tr>
  </table>
</form>
</div>
{% endblock %}
