{% extends "main.html" %}

{% block title %}Make Program Happen{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
<link rel="stylesheet" type="text/css" href="/media/styles/catalog.css" />
{% endblock %}

{% block content %}
<div id="divmaintext">
<h2>Program Creation Review</h2>

<p>
So, that wasn't actually your magic button.  Please find someone else to go over all of this information, verifying that it is correct before clicking the REAL magic button.
</p>

<p>
The program you are trying to create is: <b>{{ prog }}</b>
</p>

<p>
<div id="catalog">
<table align="center">
<tr>
<th colspan="4">The following permissions will be created:</th>
</tr>
<tr><th class="materials">Type</th><th class="materials">User ID</th><th class="materials">Start Date</th><th class="materials">End Date</th></tr>
{% for item in perms %}
    <tr><td>{{ item.0 }}</td><td>{% if item.1 %}{{ item.1 }}{% else %}(all){% endif %}</td><td>{{ item.2 }}</td><td>{{ item.3 }}</td></tr>
{% endfor %}
</table>
</div>
</p>

<p>
<div id="catalog">
<table align="center">
<tr>
<th colspan="2" class="materials">The following program modules will be added:</th>
</tr>
{% comment %}
This loop puts the modules in two columns (so the list isn't too long)
and alternates in such a way that there isn't an unclosed tag if there's an
odd number of modules
{% endcomment %}
{% for item in modules %}
    {% if forloop.counter0|divisibleby:"2" %}<tr><td style="text-align:center">
    {% else %} <td style="text-align:center">{% endif %}
    {{ item.0 }}</td>
    {% if forloop.last or not forloop.counter0|divisibleby:"2" %}</tr>{%endif %}
{% endfor %}
</table>
</div>
</p>

<center>
<div class="info"><b>If you would like to change anything, please <a href="javascript:history.go(-1);" title="Go back">go back</a> and re-submit.</div>

<div id="program_form">
<form method="POST" action="{{ request.path }}?checked=1">

<input type="submit" class="button" value="Make Program Happen">
</form>
</div>
</center>

</div>
{% endblock %}
