{% extends "main.html" %}

{% block title %}
    Statistics Queries
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
#statistics_form_contents ul
{
    list-style-type: none;
    padding-left: 0px;
}
#statistics_form_contents select[multiple]
{
    border: 1px solid #999999;
    font-size: 0.9em;
}
#statistics_form_contents input[type=submit]
{
    border: 1px solid #999999;
    background-color: #99CCFF;
    font-size: 1.5em;
    padding: 3px 15px 3px 15px;
}
#statistics_form_contents input[type=submit]:hover
{
    background-color: #999999;
}
</style>
{% endblock %}

{% block content %}

<h2>
    Common Statistics Queries
</h2>

{% comment %}
The default form rendering takes care of this, but the below might be a starting point if the template gets customized.
{% if form.errors %}
<p>
    We need more information to answer your query:
    {{ form.errors }}
</p>
{% endif %}
{% endcomment %}

<form id="statistics_form" method="POST" action="/manage/statistics/">

<div id="statistics_form_contents">
{% include "program/statistics/form.html" %}
</div>
</form>

<script type="text/javascript" src="/media/scripts/ajax_tools.js"></script>
<script type="text/javascript">

function setup_update(field_name)
{
    $j("#id_" + field_name).change(function() {
        var multi_select_data = [];
        ajax_data = {
            form: 'statistics_form',
            csrfmiddlewaretoken: csrf_token(),
        };
        $j("#statistics_form :input").each(function() {
             if ($j(this).is('select') && $j(this).attr("multiple") == "multiple") {
                 var multArray = [];
                 $j.each($j(this).serializeArray(), function(index, val) {
                     multArray.push(val.value);
                 });
                 ajax_data[$j(this).attr("name")] = multArray;
             }
             else {
                 $j.each($j(this).serializeArray(), function(index, val) {
                     ajax_data[val.name] = val.value;
                 });
             }
        });

        $j.ajax({
            url: "/manage/statistics/?update_form",
            data: ajax_data,
            traditional: true,
            success: function(data) {
                // Recreate the form with additional fields
                apply_fragment_changes(data);
                // Reload the form data for multiple selects
                $j("#statistics_form :input").each(function() {
                    if ($j(this).is('select') && $j(this).attr("multiple") == "multiple") {
                        $j(this).val(ajax_data[$j(this).attr("name")]);
                    }
                });
            },
            dataType: "json",
            type: "post"
        });
    });
}

function setup_callbacks()
{
    {% include "program/statistics/script.js" %}
}

$j(document).ready(setup_callbacks);
</script>

<p>
<div id="result">
    {{ result }}
</div>
</p>

{% endblock %}
