{% extends "main.html" %}

{% block title %}
    Statistics Queries
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<style type="text/css">
#statistics_form_contents ul
{
    list-style-type: none;
    padding-left: 0px;
}
#statistics_form_contents select[multiple]
{
    border: 1px solid #999999;
    font-size: 0.9em;
}
#statistics_form_contents input[type=submit]
{
    border: 1px solid #999999;
    background-color: #99CCFF;
    font-size: 1.5em;
    padding: 3px 15px 3px 15px;
}
#statistics_form_contents input[type=submit]:hover
{
    background-color: #999999;
}
</style>
{% endblock %}

{% block content %}

<h2>
    Common Statistics Queries
</h2>

{% comment %}
The default form rendering takes care of this, but the below might be a starting point if the template gets customized.
{% if form.errors %}
<p>
    We need more information to answer your query:
    {{ form.errors }}
</p>
{% endif %}
{% endcomment %}

<form id="statistics_form" method="POST" action="/manage/statistics/">

<div id="statistics_form_contents">
{% include "program/statistics/form.html" %}
</div>
</form>

<script type="text/javascript" src="/media/scripts/ajax_tools.js"></script>
<script type="text/javascript">

dojo.require("dijit.dijit");
dojo.require("dojo.parser");

dojo.require("dijit.form.Form");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.RadioButton");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.form.Select");
dojo.require("dijit.form.MultiSelect");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.NumberTextBox");

function clear_widget(field_name)
{
    if (savedVals[field_name]) {
        delete savedVals[field_name];
    }
    /*
    if (dijit.byId)
        if (dijit.byId("id_" + field_name)) 
        {
            dijit.byId("id_" + field_name).destroy();
        }
    */
}

function setup_update(field_name)
{
//if (handles[field_name])
//dojo.disconnect(handles[field_name]);
    $j("#id_" + field_name).change(function() {
        serializedFormData = $j("#statistics_form").serializeArray();
        console.log(field_name + " changed");
        $j.post("/manage/statistics/?update_form",
            {
                form: 'statistics_form',
                csrfmiddlewaretoken: csrf_token(),
            },
            function() {
                // Recreate the form with additional fields
                apply_fragment_changes();
                // Reload the form data
                for (var i in serializedFormData) {
                    field_object = serializedFormData[i];
                    j_field_object = $j("#id_" + field_object.name);
                    // If this is a checkbox, it must be checked, because not checked is not saved
                    if(j_field_object.type == 'checkbox') {
                        j_field_object.checked = true;
                    }
                    else {
                        j_field_object.val(field_object.value);
                    }
                }
            },
            "json");
    });
    
    /*        
    handles[field_name] = dojo.connect(dojo.byId("id_" + field_name), "onchange", function () {
        xhrArgs={
            url:'/manage/statistics/?update_form',
            handleAs:'json',
            load: apply_fragment_changes,
            form: 'statistics_form',
		};
        var deferred=dojo.xhrPost(xhrArgs);
        //  console.log(field_name + " changed");
    });
    */
}

var serializedFormData;

function setup_callbacks()
{
    {% include "program/statistics/script.js" %}
}

$j(document).ready(setup_callbacks);
</script>

<p>
<div id="result">
    {{ result }}
</div>
</p>

{% endblock %}
