{% load render_qsd %}

<div class="row-fluid">
<div class="span10 offset1">
<table class="table table-condensed" align="center" width="400">
<tr class="well"><th>Steps for Registration</th><th>Done?</th></tr>
{% for module in modules %}
{% if module.isStep %}
<tr>
<td>{% if module.useTemplate %}
<a href="#module-{{ module.id }}" title="{{ module.module.link_title }}">
    {{ module.module.link_title }} 
    </a> <i>(below)</i>
{% else %}
    {% autoescape off %}{{ module.makeLink }}{% endautoescape %}
{% endif %}
{% if module.required_label %}<i>{{ module.required_label }}</i>{% else %}
    {% if not module.required %}{% if not module.hideNotRequired %} <i>(not required)</i> {% endif %}{% endif %}
{% endif %}
</td>
<td>{% if not module.useTemplate %}
<a href="{{ module.get_full_path }}">
{% else %}
<a href="#module-{{ module.id }}">
{% endif %}
{% if module.isCompleted %}
    <i class="glyphicon glyphicon-ok done-sign" aria-label="Done"></i>
{% else %}
    <i class="glyphicon glyphicon-remove not-done-sign" aria-label="Not done"></i>
{% endif %}
</a>

</td>
</tr>
{% endif %}
{% endfor %}

</table>

</div>
</div>

{% render_inline_program_qsd program extra_steps %}

