{% block stylesheets %}
    <link rel="stylesheet" href="/media/styles/progressbar.css" type="text/css" />
{% endblock %}

<table class="progressbar" align="center" width="400">
<tr>
<td><img src="/media/images/progress/left_fill.gif" /></td>
{% for module in modules %}
{% if module.isStep %}
{% with module.fillProgressBar as moduleCompleted %}
<td class="progress{% if moduleCompleted %}_fill{% endif %}">
{% if module.useTemplate %}
<a href="#module-{{ module.id }}">
{% else %}
<a href="{{ module.get_full_path }}">
{% endif %}
<img src="/media/images/progress/bar{% if moduleCompleted %}_fill{% endif %}.gif" 
    {% if moduleCompleted %}title="Done!" alt="Done!"{% else %}
    title="Not Done" alt="Not Done"{% endif %} /><br />
</a>
{% if module.useTemplate %}
<a href="#module-{{ module.id }}" title="{{ module.module.link_title }}">
    {{ module.module.link_title }} 
    </a> <em>(below)</em>
{% else %}
    {% autoescape off %}{{ module.makeLink }}{% endautoescape %}
{% endif %}
{% if module.required_label %}<em>{{ module.required_label }}</em>{% else %}
    {% if not module.module.required %}{% if not module.hideNotRequired %} <em>(not required)</em> {% endif %}{% endif %}
{% endif %}
</td>
{% endwith %}
{% endif %}
{% endfor %}
<td><img src="/media/images/progress/right{% if completedAll %}_fill{% endif %}.gif" /></td>
</tr>
</table>
