{% extends "outlines/theme.html" %}

{% block title %}Profile Editor{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/styles/forms.css" />
{% endblock %}

{% block subsection_name %}Student Profile Editor{% endblock %}

{% block content %}
<br /><br />
<h1>SAT Prep - Specific Information </h1>
<br />
<p> Please fill out the following short form to give us SATPrep-specific information. <br />
While none of this information is required, it will greatly enhance our ability to help you.</p>

<div id="program_form">
{% if form.errors %}
<h2 style="color:red">Please fix the error{{ form.errors|pluralize }} in the form.<h2>
{% endif %}


<form action="{{request.path}}" method="post">{% csrf_token %}
<table cellpadding="2" align="center" border="0">

<tr>
 <td><label for="id_old_math_score">Current SAT Math Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_math_score }} {% if form.old_math_score.errors %}
   <br /><span class="form_error">{{ form.old_math_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_old_verb_score">Current SAT Verbal Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_verb_score }} {% if form.old_verb_score.errors %}
   <br /><span class="form_error">{{ form.old_verb_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_old_writ_score">Current SAT Writing Score:<br />
       <small>(if available)</small></label></td>
 <td>{{ form.old_writ_score }} {% if form.old_writ_score.errors %}
   <br /><span class="form_error">{{ form.old_writ_score.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>

<tr>
 <td><label for="id_heard_by">How did you hear about SATPrep?</label></td>
 <td>{{ form.heard_by }} {% if form.heard_by.errors %}
   <br /><span class="form_error">{{ form.heard_by.errors|join:", " }}</span>
   {% endif %}
 </td>
</tr>
<tr>
<td colspan="2">
<center><input type="submit" class="fancybutton" value="Save SAT Prep Information"></center>
</td>
</tr>
</table>
</form>

</div>

{% endblock %}
